Repository sktime/sktime, pull requests merged in 2021-11, with the labels that each got.

#1562 Update release script
  build_tools/make_release.py
Labels: documentation, maintenance

#1548 Deprecate various
  .appveyor.yml
  .binder/prelim_requirements.txt
  build_tools/requirements.txt
  setup.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/shapelet_based/mrseql/mrseql.pyx
  sktime/classification/shapelet_based/tests/test_mrseql.py
  sktime/distances/elastic_cython.pyx
  sktime/transformations/panel/shapelets.py
  sktime/utils/__init__.py
  sktime/utils/data_io.py
Labels: module:classification

#1584 Distance based classification package refactor
  sktime/classification/dictionary_based/__init__.py
  sktime/classification/distance_based/__init__.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/distance_based/_proximity_forest_utils.py
  sktime/classification/distance_based/_shape_dtw.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/distance_based/tests/__init__.py
  sktime/classification/distance_based/tests/test_elastic_ensemble.py
  sktime/classification/distance_based/tests/test_proximity_forest.py
  sktime/classification/distance_based/tests/test_shape_dtw.py
Labels: module:classification

#1583 Interval based classification package refactor
  sktime/benchmarking/experiments.py
  sktime/classification/all/__init__.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/tests/test_hivecote_v1.py
  sktime/classification/interval_based/__init__.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/classification/interval_based/tests/test_rise.py
  sktime/classification/interval_based/tests/test_stsf.py
  sktime/classification/interval_based/tests/test_tsf.py
  sktime/contrib/classification_checklist.xlsx
  sktime/contrib/diagram_code/temporal_importance_diagram.py
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
  sktime/tests/_config.py
Labels: module:classification

#1588 TimeSeriesForest Classifier Fix
  .all-contributorsrc
  examples/02_classification_univariate.ipynb
  sktime/classification/base.py
  sktime/classification/compose/_ensemble.py
  sktime/series_as_features/base/estimators/_ensemble.py
Labels: module:classification

#1599 Classifier test speed ups
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/classification/feature_based/tests/test_catch22_classifier.py
Labels: module:classification

#1561 Delete release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: maintenance

#1619 Experiments tidy
  sktime/benchmarking/experiments.py
  sktime/contrib/classification_experiments.py
  sktime/contrib/clustering_experiments.py
  sktime/contrib/set_classifier.py
  sktime/contrib/set_clusterer.py
Labels: module:classification

#1264 Dynamic time warping - aligners and distances
  .binder/prelim_requirements.txt
  build_tools/azure/check_soft_dependencies.py
  build_tools/requirements.txt
  setup.py
  sktime/alignment/__init__.py
  sktime/alignment/base.py
  sktime/alignment/dtw_python.py
  sktime/alignment/tests/test_all_aligners.py
  sktime/alignment/utils/__init__.py
  sktime/alignment/utils/utils_align.py
  sktime/datatypes/_alignment/__init__.py
  sktime/datatypes/_alignment/_check.py
  sktime/datatypes/_alignment/_registry.py
  sktime/datatypes/_check.py
  sktime/datatypes/_registry.py
  sktime/dists_kernels/_base.py
  sktime/dists_kernels/compose_from_align.py
  sktime/dists_kernels/compose_tab_to_panel.py
  sktime/dists_kernels/tests/test_all_dist_kernels.py
  sktime/registry/_base_classes.py
  sktime/registry/_tags.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/estimator_checks.py
Labels: API design, module:transformations

#1633 Updated classification base class typing.
  sktime/classification/base.py
Labels: module:classification

#1567 Integrate multi rocket
  .all-contributorsrc
  CODEOWNERS
  sktime/classification/kernel_based/__init__.py
  sktime/transformations/panel/rocket/__init__.py
  sktime/transformations/panel/rocket/_multirocket.py
  sktime/transformations/panel/rocket/_multirocket_multivariate.py
  sktime/transformations/panel/tests/test_MultiRocket.py
  sktime/transformations/panel/tests/test_MultiRocketMultivariate.py
Labels: module:classification, module:transformations

#1574 Numba distance module
  examples/distances.ipynb
  sktime/distances/__init__.py
  sktime/distances/_ddtw.py
  sktime/distances/_distance.py
  sktime/distances/_dtw.py
  sktime/distances/_edr.py
  sktime/distances/_erp.py
  sktime/distances/_euclidean.py
  sktime/distances/_lcss.py
  sktime/distances/_numba_utils.py
  sktime/distances/_resolve_metric.py
  sktime/distances/_squared.py
  sktime/distances/_wddtw.py
  sktime/distances/_wdtw.py
  sktime/distances/base/__init__.py
  sktime/distances/base/_base.py
  sktime/distances/base/_types.py
  sktime/distances/lower_bounding.py
  sktime/distances/tests/_expected_results.py
  sktime/distances/tests/_shared_tests.py
  sktime/distances/tests/_utils.py
  sktime/distances/tests/test_lower_bounding.py
  sktime/distances/tests/test_numba_distances.py
  sktime/distances/tests/test_pairwise_distances.py
Labels: module:clustering, module:classification

#1595 fix issue with update_y_X when we refit forecaster
  sktime/forecasting/base/_base.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting

#1365 Transformers refactor
  README.md
  extension_templates/transformer.py
  sktime/datatypes/_check.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_registry.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/_series_as_panel/__init__.py
  sktime/datatypes/_series_as_panel/_convert.py
  sktime/forecasting/compose/_pipeline.py
  sktime/registry/_tags.py
  sktime/transformations/base.py
  sktime/transformations/panel/signature_based/_augmentations.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/signature_based/_signature_method.py
  sktime/transformations/series/boxcox.py
  sktime/transformations/series/tests/test_date.py
Labels: implementing framework, module:transformations

#1640 Windows installation guide for sktime development with Anaconda and PyCharm
  sktime/contrib/notebooks/img/windows_installation/03_pycharm_start.png
  sktime/contrib/notebooks/img/windows_installation/04_pycharm_no_github_no_git.png
  sktime/contrib/notebooks/img/windows_installation/05_login_with_github.png
  sktime/contrib/notebooks/img/windows_installation/06_install_git_within_pycharm.png
  sktime/contrib/notebooks/img/windows_installation/07_git_installed_enter_sktime_url.png
  sktime/contrib/notebooks/img/windows_installation/08_sktime_in_pycharm_no_interpreter.png
  sktime/contrib/notebooks/img/windows_installation/09_create_conda_env.png
  sktime/contrib/notebooks/img/windows_installation/10_activate_navigate_install.png
  sktime/contrib/notebooks/img/windows_installation/11_expected_fbprophet_output.png
  sktime/contrib/notebooks/img/windows_installation/12_install_pytest_esig.png
  sktime/contrib/notebooks/img/windows_installation/13_conda_install_fbprohpet.png
  sktime/contrib/notebooks/img/windows_installation/14_reinstall_cipy_downgrade_numpy.png
  sktime/contrib/notebooks/img/windows_installation/15_pycharm_interpreter_settings.png
  sktime/contrib/notebooks/img/windows_installation/16_add_new_env.png
  sktime/contrib/notebooks/img/windows_installation/17_add_new_conda_env.png
  sktime/contrib/notebooks/img/windows_installation/18_run_tests_to_verify.png
  sktime/contrib/notebooks/img/windows_installation/19_test_success.png
  sktime/contrib/notebooks/img/windows_installation/20_install_pre-commit.png
  sktime/contrib/notebooks/img/windows_installation/21_pre-commit_examples.png
  sktime/contrib/notebooks/img/windows_installation/22_create_new_commit.png
  sktime/contrib/notebooks/img/windows_installation/23_ensure_check_hooks_ticket.png
  sktime/contrib/notebooks/img/windows_installation/24_failed_commit_with_errors_and_automatic_correction.png
  sktime/contrib/notebooks/windows_installation.ipynb
Labels: documentation

#1470 [DOC] fix docstring in Feature Union
  sktime/series_as_features/compose/_pipeline.py
Labels: documentation

#1637 MiniRocket and MultiRocket as options for RocketClassifier
  sktime/classification/all/__init__.py
  sktime/classification/kernel_based/__init__.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/kernel_based/_rocket_classifier.py
  sktime/classification/kernel_based/tests/test_rocket_classifier.py
  sktime/contrib/set_classifier.py
  sktime/tests/_config.py
  sktime/transformations/panel/rocket/_minirocket.py
  sktime/transformations/panel/rocket/_minirocket_multivariate.py
  sktime/transformations/panel/rocket/tests/__init__.py
  sktime/transformations/panel/rocket/tests/test_MiniRocket.py
  sktime/transformations/panel/rocket/tests/test_MiniRocketMultivariate.py
  sktime/transformations/panel/rocket/tests/test_MultiRocket.py
  sktime/transformations/panel/rocket/tests/test_MultiRocketMultivariate.py
  sktime/transformations/panel/rocket/tests/test_Rocket.py
Labels: module:classification, module:transformations
