Repository sktime/sktime, pull requests merged in 2021-10, with the labels that each got.

#1409 Fix bug frequency issue alan-turing-institute#866 with test file
  sktime/utils/datetime.py
  sktime/utils/tests/test_datetime.py
Labels: module:forecasting

#1461 Multivariate imputer
  sktime/transformations/series/impute.py
Labels: module:transformations

#1465 [MNT] Added pre-commit hook to sort imports
  .pre-commit-config.yaml
  docs/source/api_reference/transformations.rst
  setup.cfg
  sktime/forecasting/ets.py
Labels: maintenance

#1573 Governance: eligibility and end of tenure clarification
  docs/source/governance.rst
Labels: governance
