Repository sktime/sktime, pull requests merged in 2021-08, with the labels that each got.

#1193 removed format check from index test
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, module:tests

#1195 prediction interval NotImplementedError moved to BaseForecaster
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/croston.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/theta.py
  sktime/registry/_tags.py
Labels: module:forecasting, module:tests

#1221 Clustering experiments
  sktime/benchmarking/experiments.py
  sktime/benchmarking/tests/test_experiments.py
  sktime/clustering/partitioning/_lloyds_partitioning.py
  sktime/contrib/basic_benchmarking.py
  sktime/contrib/classification_experiments.py
  sktime/contrib/clustering_experiments.py
  sktime/contrib/distance_based/elastic_ensemble_from_file.py
  sktime/contrib/tests/test_experiments.py
  sktime/datasets/base.py
  sktime/utils/data_io.py
  sktime/utils/sampling.py
Labels: module:clustering

#1253 Fix appveyor CI
  .appveyor.yml
Labels: maintenance

#1248 Data io
  docs/source/developer_guide/add_dataset.rst
  examples/dictionary_based_classification.ipynb
  examples/interval_based_classification.ipynb
  examples/minirocket.ipynb
  examples/rocket.ipynb
  sktime/classification/dictionary_based/tests/test_muse.py
  sktime/classification/distance_based/tests/test_time_series_neighbors.py
  sktime/contrib/tests/test_experiments.py
  sktime/datasets/__init__.py
  sktime/datasets/_data_io.py
  sktime/datasets/data/UnitTest/UnitTest_TEST.ts
  sktime/datasets/data/UnitTest/UnitTest_TRAIN.ts
  sktime/datasets/setup.py
  sktime/transformations/panel/tests/test_Padder.py
  sktime/transformations/panel/tests/test_Truncate.py
Labels: module:classification

#1226 [DOC] add conda-forge max dependency recipe to installation and readme
  README.md
  docs/source/installation.rst
Labels: documentation, maintenance

#1243 Update contributors
  .all-contributorsrc
  CONTRIBUTORS.md
Labels: documentation

#1140 bug fix in tutorial documentation of univariate time series classification.
  examples/02_classification_univariate.ipynb
Labels: module:classification

#1139 Added n_best_forecasters to grid searches
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/model_selection/_tune.py
Labels: module:forecasting

#1260 Classification experiments
  build_tools/azure/check_soft_dependencies.py
  sktime/benchmarking/experiments.py
  sktime/benchmarking/tests/test_experiments.py
  sktime/contrib/basic_benchmarking.py
  sktime/contrib/classification_experiments.py
Labels: module:classification

#1209 Adding TrendForecaster in forecasting/trend.py
  sktime/forecasting/all/__init__.py
  sktime/forecasting/trend.py
Labels: implementing algorithms, module:forecasting

#1256 [DOC] docstring fix for distances/series extension templates
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
Labels: documentation, module:distances

#1285 Add binder badge to README
  README.md
Labels: documentation

#845 Fix minor silent issues in TransformedTargetForecaster
  sktime/forecasting/compose/_pipeline.py
Labels: module:forecasting

#1044 Add ColumnwiseTransformer (multivariate compositor for series-to-series transformer)
  .all-contributorsrc
  docs/source/api_reference/transformations.rst
  sktime/tests/_config.py
  sktime/transformations/series/compose.py
Labels: module:transformations

#1239 Time series classifiers refactor/rocket classifier
  .all-contributorsrc
  sktime/classification/base.py
  sktime/classification/kernel_based/_rocket_classifier.py
  sktime/registry/_tags.py
Labels: module:classification

#1190 Extend aggregation functionality in EnsembleForecaster
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/tests/test_ensemble.py
Labels: feature request, module:forecasting

#1295 Tsc_Refactoring _cboss
  sktime/classification/dictionary_based/_cboss.py
Labels: module:classification

#1324 Typo in transformations.rst fixed
  docs/source/api_reference/transformations.rst
Labels: documentation

#1343 bugfix - broken binder and test_examples check
  .binder/prelim_requirements.txt
Labels: maintenance

#1340 [DOC] updated extension templates - object tags
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
Labels: documentation

#1349 Updates ColumnEnsembleForecaster with "copy forecaster for all columns" functionality
  sktime/forecasting/compose/_column_ensemble.py
  sktime/tests/_config.py
Labels: module:forecasting

#1220 Added AutoEnsembleForecaster and refactor/doc of StackingForecaster
  CODEOWNERS
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_stack.py
  sktime/tests/_config.py
  sktime/transformations/series/compose.py
Labels: implementing algorithms, module:forecasting

#1311 forecasting: input checks in update_predict
  sktime/forecasting/base/_base.py
Labels: module:forecasting

#1357 TDE additions and documentation for HC2
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/dictionary_based/tests/test_tde.py
  sktime/contrib/classification_checklist.xlsx
Labels: module:classification

#1091 Grid/random search forecaster using dynamic tags to check for fh
  sktime/forecasting/base/_base.py
  sktime/forecasting/model_selection/_tune.py
Labels: module:forecasting
