Repository sktime/sktime, pull requests merged in 2021-06, with the labels that each got.

#889 Fix minor typos in docstrings
  sktime/transformations/series/boxcox.py
Labels: documentation

#972 Forecasting tutorial rework
  .all-contributorsrc
  docs/source/tutorials.rst
  examples/01_forecasting.ipynb
  examples/01a_forecasting_sklearn.ipynb
Labels: documentation

#1035 fixing soft dependencies link
  CONTRIBUTING.md
Labels: documentation, maintenance

#1049 Clustering
  build_tools/azure/check_soft_dependencies.py
  examples/dictionary_based_classification.ipynb
  examples/partition_based_clustering.ipynb
  sktime/clustering/__init__.py
  sktime/clustering/_k_means.py
  sktime/clustering/_k_medoids.py
  sktime/clustering/base/__init__.py
  sktime/clustering/base/_typing.py
  sktime/clustering/base/base.py
  sktime/clustering/base/clustering_utils.py
  sktime/clustering/evaluation/__init__.py
  sktime/clustering/evaluation/_plot_clustering.py
  sktime/clustering/partitioning/__init__.py
  sktime/clustering/partitioning/_averaging_metrics.py
  sktime/clustering/partitioning/_center_initializers.py
  sktime/clustering/partitioning/_cluster_approximations.py
  sktime/clustering/partitioning/_lloyds_partitioning.py
  sktime/clustering/tests/__init__.py
  sktime/clustering/tests/_clustering_tests.py
  sktime/clustering/tests/test_center_initializers.py
  sktime/clustering/tests/test_cluster_averaging.py
  sktime/clustering/tests/test_time_series_k_means.py
  sktime/clustering/tests/test_time_series_k_medians.py
  sktime/contrib/basic_benchmarking.py
  sktime/contrib/classification_experiments.py
  sktime/contrib/clustering/clustering_examples.py
  sktime/contrib/clustering_experiments.py
  sktime/contrib/distance_based/elastic_ensemble_from_file.py
  sktime/contrib/tale_of_two_toolkits.py
  sktime/contrib/tests/test_experiments.py
  sktime/tests/_config.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/panel.py
Labels: API design, implementing algorithms, implementing framework, module:clustering

#923 Add ThetaLines transformer
  CODEOWNERS
  docs/source/api_reference/transformations.rst
  examples/theta_transform.ipynb
  sktime/transformations/series/tests/test_theta.py
  sktime/transformations/series/theta.py
  sktime/transformations/tests/test_all_transformers.py
Labels: module:forecasting, module:transformations

#1069 minor clarifications in forecasting extension template preamble
  extension_templates/forecasting.py
Labels: documentation, module:forecasting

#1067 sktime-registry - without moving all_estimators
  sktime/registry/README.md
  sktime/registry/__init__.py
  sktime/registry/_base_classes.py
  sktime/registry/_tags.py
  sktime/tests/_config.py
Labels: implementing framework, maintenance

#1034 Forecasters re-factoring: BaseGridSearch, ForecastingGridSearchCV, ForecastingRandomizedSearchCV
  sktime/forecasting/base/_base.py
  sktime/forecasting/model_selection/_tune.py
Labels: module:forecasting
