Repository sktime/sktime, pull requests merged in 2022-02, with the labels that each got.

#1973 [DOC] Fix wrong conda command to install packages.
  docs/source/installation.rst
Labels: documentation

#1980 [MNT] Rename classification notebooks
  examples/02_classification.ipynb
Labels: maintenance

#1997 [ENH] replace deprecated `np.str` and `np.float`
  sktime/datasets/_data_io.py
  sktime/datasets/_single_problem_loaders.py
  sktime/distances/_numba_utils.py
  sktime/dists_kernels/tests/test_all_dist_kernels.py
  sktime/transformations/panel/catch22.py
  sktime/transformations/panel/padder.py
Labels: maintenance

#1977 [ENH] Convert store reset/freeze behaviour & fix of bug 1976
  sktime/datatypes/_convert.py
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: module:forecasting, module:transformations

#2004 [MNT] Remove `pytest-xdist` from CI-CD, un-skip `test_multiprocessing_idempotent`
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  Makefile
  pyproject.toml
  sktime/tests/test_all_estimators.py
Labels: bug, maintenance

#1981 [BUG] Fix a bug in PeriodIndex arithmetic
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/utils/datetime.py
Labels: bugfix

#1934 Added .tsf loader to data_io.py
  .all-contributorsrc
  MANIFEST.in
  sktime/datasets/__init__.py
  sktime/datasets/_data_io.py
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_data_io.py
Labels: enhancement

#2047 [BUG] naive forecaster window error
  sktime/forecasting/naive.py
Labels: module:forecasting

#2045 [ENH] verbose output for `linux` and `mac` tests
  .all-contributorsrc
  Makefile
Labels: module:tests

#2050 Added merlion as related software
  docs/source/related_software.rst
Labels: documentation

#2014 [ENH] Changing function names in datatypes check to lower_snake_case
  sktime/datatypes/_alignment/_check.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_table/_check.py
Labels: maintenance

#1963 [ENH] Added STLForecaster
  docs/source/api_reference/forecasting.rst
  sktime/datasets/_single_problem_loaders.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/trend.py
  sktime/tests/_config.py
  sktime/transformations/series/detrend/_deseasonalize.py
Labels: implementing algorithms, interfacing algorithms, module:forecasting

#1924 [ENH] Lagged window summarizer transformation
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/tests/test_window_summarizer.py
  sktime/transformations/series/window_summarizer.py
Labels: module:transformations

#1902 [ENH] moving forecaster test params from `_config` into classes - all forecasters excluding reduction
  sktime/forecasting/arima.py
  sktime/forecasting/bats.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/fbprophet.py
  sktime/forecasting/hcrystalball.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/online_learning/_online_ensemble.py
  sktime/forecasting/tbats.py
  sktime/tests/_config.py
Labels: module:forecasting

#2000 [BUG] fix conversion of nested to multiindex if series have names
  sktime/datatypes/_panel/_convert.py
Labels: bug, module:datatypes

#2027 [BUG] MiniRocket to comply with sklearn init specification, fix `random_state` modification in `__init__`
  sktime/transformations/panel/rocket/_minirocket.py
Labels: bug, module:transformations

#2076 [ENH] new table mtypes: `pd.Series` based, `list` of `dict` (as used in bag of words transformers)
  sktime/datatypes/_table/_check.py
  sktime/datatypes/_table/_convert.py
  sktime/datatypes/_table/_examples.py
  sktime/datatypes/_table/_registry.py
Labels: module:datatypes

#2083 [BUG] Fix silent bug in _predict ColumnsEnsembleForecaster
  sktime/forecasting/compose/_column_ensemble.py
Labels: bug, module:forecasting

#2096 [MNT] Update release drafter
  .github/release-drafter.yml
Labels: maintenance

#1929 [ENH] update convert_to to allow multiple scitypes among target mtypes
  sktime/datatypes/_convert.py
  sktime/datatypes/_registry.py
  sktime/datatypes/tests/test_convert_to.py
Labels: implementing framework

#2060 [BUG] Fixed crash of kmeans, medoids when empty clusters are generated
  examples/partition_based_clustering.ipynb
  sktime/clustering/_base.py
  sktime/clustering/_k_means.py
  sktime/clustering/_k_medoids.py
  sktime/clustering/metrics/averaging/_averaging.py
  sktime/clustering/metrics/medoids.py
  sktime/clustering/partitioning/_lloyds.py
  sktime/clustering/tests/test_k_means.py
  sktime/clustering/tests/test_k_medoids.py
Labels: module:clustering

#2119 [ENH] minor changes to Lcss distance
  sktime/distances/_ddtw.py
  sktime/distances/_edr.py
  sktime/distances/_lcss.py
Labels: module:clustering

#2124 speed up EE tests and ColumnEnsemble example
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/tests/test_elastic_ensemble.py
Labels: module:classification, module:tests

#1931 [ENH] make _fit and _predict abstract in BaseClassifier
  sktime/classification/base.py
Labels: module:classification, refactor

#1968 Generalize CutoffSplitter to accept non-integer cutoffs and forecasting horizons
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/model_selection/_split.py
  sktime/forecasting/model_selection/tests/test_split.py
  sktime/forecasting/tests/_config.py
  sktime/utils/validation/__init__.py
  sktime/utils/validation/forecasting.py
  sktime/utils/validation/series.py
  sktime/utils/validation/tests/test_forecasting.py
Labels: module:forecasting

#2142 [ENH] test framework: test classes (general & forecasters) plus pytest xdist
  .github/workflows/test.yml
  Makefile
  pyproject.toml
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/_conditional_fixtures.py
Labels: maintenance, module:tests

#1854 [ENH] Transformers module full refactor - part II, `panel` module (1st half)
  sktime/classification/distance_based/_shape_dtw.py
  sktime/datatypes/_panel/_convert.py
  sktime/registry/_tags.py
  sktime/series_as_features/compose/_pipeline.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/base.py
  sktime/transformations/panel/dictionary_based/_sax.py
  sktime/transformations/panel/dictionary_based/_sfa.py
  sktime/transformations/panel/dwt.py
  sktime/transformations/panel/padder.py
  sktime/transformations/panel/pca.py
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/signature_based/_signature_method.py
  sktime/transformations/panel/slope.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/panel/tests/test_PCATransformer.py
  sktime/transformations/panel/tests/test_tsfresh.py
  sktime/transformations/panel/truncation.py
  sktime/transformations/panel/tsfresh.py
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/exponent.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/utils/_testing/_conditional_fixtures.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:transformations

#2147 [MNT] add skips to entirety of `test_plotting` until #2066 is resolved
  sktime/utils/tests/test_plotting.py
Labels: maintenance
