Repository sktime/sktime, pull requests merged in 2022-05, with the labels that each got.

#2596 [ENH] components retrieval utility and default `BaseForecaster._update(update_params=False)` for composites
  sktime/base/_base.py
  sktime/base/tests/test_base.py
  sktime/forecasting/base/_base.py
Labels: module:forecasting

#2597 [ENH] fix side effects in `check_estimator` utility
  sktime/tests/test_all_estimators.py
Labels: module:tests

#2613 [ENH] `BaseObject.reset` to return `self`
  sktime/base/_base.py
Labels: implementing framework

#2412 [ENH] Refactor fit/update data memory to `datatypes`
  sktime/datatypes/__init__.py
  sktime/datatypes/_utilities.py
  sktime/forecasting/base/_base.py
Labels: module:forecasting, refactor

#2616 [BUG] typo fix in tag deprecation message
  sktime/base/_base.py
Labels: bugfix

#2632 [MNT] bound sklearn to <1.1.0 as a temporary fix for #2631
  pyproject.toml
Labels: maintenance

#2633 [MNT] Fix compatibility failures after sklearn 1.1.0 update, bump sklearn version bound to 1.2.0
  pyproject.toml
  sktime/forecasting/model_selection/_tune.py
  sktime/transformations/panel/dictionary_based/_sfa.py
Labels: maintenance

#2627 [ENH] _check_dl_dependencies warning option
  sktime/utils/validation/_dependencies.py
Labels: maintenance

#2619 [BUG] Forecasting pipeline get/set params fixed for dunder generated pipelines
  sktime/forecasting/compose/_pipeline.py
Labels: module:forecasting, bugfix

#2558 [BUG] fixing side effects between test runs of the same test in the test suite
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/_conditional_fixtures.py
Labels: module:tests, bugfix

#2642 [BUG] fix typo in author variable for boxcox module
  sktime/transformations/series/boxcox.py
Labels: bug, module:transformations

#2562 [ENH] add `reset` at the start of all `fit`
  sktime/alignment/base.py
  sktime/base/tests/test_base.py
  sktime/classification/base.py
  sktime/clustering/base.py
  sktime/dists_kernels/_base.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/tests/test_base.py
  sktime/transformations/base.py
Labels: implementing framework, bugfix

#2565 [ENH] move `clone` to `BaseObject`
  sktime/alignment/dtw_python.py
  sktime/annotation/adapters/_pyod.py
  sktime/base/_base.py
  sktime/base/_meta.py
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/dists_kernels/compose_from_align.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_multiplex.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/forecasting/naive.py
  sktime/forecasting/stream/_update.py
  sktime/forecasting/trend.py
  sktime/series_as_features/base/estimators/_ensemble.py
  sktime/series_as_features/base/estimators/tests/test_feature_importances_.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/base.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/series/compose.py
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/impute.py
Labels: refactor

#2575 [ENH] refactored dunder concatenation logic
  sktime/base/_meta.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/tests/test_multiplex.py
  sktime/transformations/compose.py
Labels: implementing framework, refactor

#2545 [ENH] allow different import and package names in soft dependency check
  sktime/alignment/dtw_python.py
  sktime/utils/validation/_dependencies.py
Labels: maintenance

#2518 [ENH] Proximity forest, removal of legacy conversion
  sktime/classification/distance_based/_proximity_forest.py
Labels: module:classification, refactor

#2620 [ENH][DOC] Forecasting notebook update
  examples/01_forecasting.ipynb
Labels: documentation, module:forecasting

#2607 [BUG] fix `pd.Series` to `pd.DataFrame` mtype conversion in case series has a name
  sktime/datatypes/_series/_convert.py
Labels: module:datatypes, bugfix

#2546 [ENH] early fit for NaiveVariance
  sktime/forecasting/naive.py
Labels: module:forecasting

#2599 [ENH] BaseSplitter extension: hierarchical data, direct splitting of series
  sktime/forecasting/model_selection/_split.py
  sktime/forecasting/model_selection/tests/test_split.py
Labels: module:forecasting

#2666 [BUG] `ignores-exogeneous-X` tag correction for `UnobservedComponents`
  sktime/forecasting/structural.py
Labels: module:forecasting, bugfix

#2699 [ENH] transformer adaptor for `pandas` native methods
  sktime/transformations/series/adapt.py
  sktime/transformations/series/tests/test_adapt.py
Labels: module:transformations

#2542 [ENH] empirical and conformal probabilistic forecast intervals (Stankeviciute et al, 2021)
  sktime/forecasting/conformal.py
Labels: implementing algorithms, module:forecasting

#2644 [ENH][BUG] `TransformerPipeline` fix for vectorization edge cases and sklearn transformers
  sktime/transformations/base.py
  sktime/transformations/compose.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations, bugfix

#2647 [ENH] update TSR base class, kNN time series regression
  sktime/forecasting/compose/tests/test_reduce.py
  sktime/regression/base.py
  sktime/regression/compose/_ensemble.py
  sktime/regression/distance_based/__init__.py
  sktime/regression/distance_based/_time_series_neighbors.py
  sktime/regression/interval_based/_tsf.py
  sktime/regression/tests/__init__.py
  sktime/regression/tests/test_all_regressors.py
  sktime/utils/estimator_checks.py
Labels: implementing framework, module:regression

#2535 [MNT] Added pytest flags to setup.cfg
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  Makefile
  build_tools/azure/build_wheels.sh
  setup.cfg
Labels: maintenance

#2500 [ENH] metrics rework part II - metrics internal interface refactor
  sktime/performance_metrics/base/_base.py
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/tests/test_metrics_classes.py
Labels: refactor, module:metrics&benchmarking

#2673 [BUG] fixing pmdarima interface index handling if `X` index set is strictly larger than `y` index set
  sktime/forecasting/base/adapters/_pmdarima.py
Labels: module:forecasting, bugfix

#2382 [BUG] Fixed fit method of Imputer
  sktime/forecasting/model_selection/_tune.py
  sktime/transformations/series/impute.py
Labels: bug, module:transformations

#2675 [MNT] Added deprecation warning for HCrystalBallForecaster
  sktime/forecasting/hcrystalball.py
Labels: maintenance, module:forecasting

#2723 [MNT] Replace `pandas.DataFrame.append` with `pandas.concat` to address future deprecation
  docs/source/conf.py
  sktime/benchmarking/evaluation.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_sktime.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/model_evaluation/_functions.py
Labels: maintenance
