Repository sktime/sktime, pull requests merged in 2022-06, with the labels that each got.

#2682 [DOC] updating allcontributors contribution key of fkiraly
  .all-contributorsrc
Labels: documentation

#2671 [ENH] Update predict docstrings corrected
  sktime/forecasting/base/_base.py
Labels: documentation, module:forecasting

#2725 [MNT] Address various future warnings from pandas and numpy
  sktime/_contrib/classifier_capabilities_table.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/compose/tests/test_multiplex.py
  sktime/forecasting/model_selection/_split.py
  sktime/forecasting/tests/test_naive.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
Labels: maintenance

#2703 [DOC] updated utility API docs
  docs/source/api_reference/utils.rst
Labels: documentation

#2667 [BUG] fixing `StackingForecaster` for exogeneous data
  sktime/forecasting/compose/_stack.py
Labels: module:forecasting, bugfix

#2684 [DOC] core dev & gsoc mentor contributions badges
  .all-contributorsrc
Labels: documentation, governance

#2708 [DOC] Added list of interns to website
  docs/source/about/funding.rst
  docs/source/images/gsoc.png
Labels: documentation

#2502 [ENH] metrics rework part III - folding metric mixins into intermediate class, interface consolidation
  sktime/performance_metrics/base/_base.py
  sktime/performance_metrics/forecasting/_classes.py
Labels: refactor, module:metrics&benchmarking

#2749 [MNT] upper bound `holidays` to 0.13 in soft dependencies
  pyproject.toml
Labels: maintenance

#2720 [ENH] SummaryTransformer multivariate output fix and tests for series-to-primitives transform output
  sktime/datatypes/_check.py
  sktime/datatypes/_table/_check.py
  sktime/datatypes/_table/_examples.py
  sktime/transformations/compose.py
  sktime/transformations/series/summarize.py
  sktime/transformations/series/tests/test_summarize.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/transformations/tests/test_compose.py
  sktime/utils/multiindex.py
Labels: module:transformations, module:tests

#2706 [ENH] Conformal intervals additions
  .all-contributorsrc
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
  sktime/forecasting/conformal.py
Labels: module:forecasting

#2736 [BUG] fixing constructor non-compliance with sklearn: `AutoETS`
  sktime/forecasting/ets.py
Labels: module:forecasting, bugfix

#2737 [BUG] fixing constructor non-compliance with sklearn: `KNeighborsRegressor`
  sktime/regression/distance_based/_time_series_neighbors.py
Labels: module:regression, bugfix

#2755 [ENH] `get_test_params` refactor for `PyODAnnotator`
  sktime/annotation/adapters/_pyod.py
  sktime/tests/_config.py
Labels: module:annotation, refactor

#2756 [ENH] option to exclude tests/fixtures in `check_estimator`
  sktime/tests/test_all_estimators.py
  sktime/utils/estimator_checks.py
  sktime/utils/tests/test_check_estimator.py
Labels: module:tests

#2734 [BUG] fixing constructor non-compliance with sklearn: `PCATransformer`
  sktime/transformations/panel/pca.py
Labels: module:transformations, bugfix

#2731 [BUG] Fix for `sarimax_kwargs` in `ARIMA` being incompliant with scikit-learn interface
  sktime/forecasting/arima.py
Labels: module:forecasting, bugfix

#2709 [ENH] add int handling to prophet
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/fbprophet.py
Labels: module:forecasting

#2718 [ENH] pipeline for time series classification from sktime transformers and sklearn classifiers
  sktime/classification/compose/__init__.py
  sktime/classification/compose/_pipeline.py
  sktime/transformations/base.py
  sktime/transformations/compose.py
Labels: implementing framework, module:classification

#2747 [MNT] deprecation actions scheduled for 0.12.0 release
  docs/source/api_reference/series_as_features.rst
  extension_templates/forecasting_simple.py
  sktime/base/_base.py
  sktime/classification/compose/tests/test_ensemble.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/tests/test_panel_converters.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/naive.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/_functions.py
  sktime/registry/_tags.py
  sktime/series_as_features/compose/__init__.py
  sktime/series_as_features/compose/_pipeline.py
  sktime/series_as_features/compose/tests/__init__.py
  sktime/tests/_config.py
  sktime/transformations/compose.py
  sktime/transformations/panel/summarize/tests/test_RandomIntervalFeatureExtractor.py
  sktime/transformations/series/window_summarizer.py
  sktime/transformations/tests/test_pipeline.py
  sktime/utils/estimators/_forecasters.py
Labels: maintenance

#2719 [MNT] testing sktime without softdeps
  .github/workflows/test.yml
  Makefile
Labels: maintenance

#2782 [MNT] remove accidental codecov overwrite from nosoftdeps
  .github/workflows/test.yml
Labels: maintenance

#2780 [ENH] Add MultiplexTransformer - reverted & restored to fix remaining CI/CD issue
  .gitignore
  CODEOWNERS
  docs/source/api_reference/transformations.rst
  sktime/transformations/multiplexer.py
  sktime/transformations/tests/test_multiplexer.py
Labels: module:transformations

#2721 [ENH] testing hierarchical input to transformers
  sktime/transformations/tests/test_all_transformers.py
Labels: module:transformations, module:tests

#2784 [MNT] experimental removal of upper bound `holidays` to 0.13 in soft dependencies
  pyproject.toml
Labels: maintenance

#2641 [DOC] Classification notebook clean-up, added new pipelines
  examples/02_classification.ipynb
Labels: documentation, module:classification

#2769 [DOC] reserved variables listed in extension templates
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: documentation

#2779 [MNT] `check_estimators` to run without soft dependencies
  Makefile
  sktime/tests/test_all_estimators.py
  sktime/utils/validation/_dependencies.py
Labels: maintenance

#2638 [BUG] corrected Series-Panel conversion for numpy formats
  sktime/datatypes/_series_as_panel/_convert.py
  sktime/datatypes/tests/test_series_to_panel_converters.py
Labels: module:datatypes, bugfix

#2773 [BUG] fixing multiple instances of constructor non-compliance with sklearn specifications
  sktime/classification/distance_based/_shape_dtw.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/clustering/k_means.py
  sktime/forecasting/arima.py
  sktime/forecasting/structural.py
Labels: module:clustering, module:classification, module:forecasting, bugfix

#2781 [ENH] Refactor estimator method iteration in `TestAllEstimators` as test fixture
  sktime/tests/test_all_estimators.py
Labels: module:tests, refactor

#2793 [BUG] add patch to ensure column/name preservation in `NaiveForecaster`
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/forecasting/naive.py
Labels: module:forecasting, bugfix

#2797 [ENH] Move `MultiplexTransformer` to `transformations.compose` and clean up API ref
  docs/source/api_reference/transformations.rst
  docs/source/changelog.rst
  sktime/transformations/compose.py
  sktime/transformations/multiplexer.py
  sktime/transformations/tests/test_multiplexer.py
Labels: documentation, maintenance

#2798 [DOC] cleaning up forecasting API reference
  docs/source/api_reference/forecasting.rst
Labels: documentation, module:forecasting

#2771 [ENH] fixes clash in `MultiplexForecaster` between attributes `forecasters_`
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/tests/test_multiplex.py
Labels: module:forecasting, bugfix

#2776 release 0.12.0
  README.md
  docs/source/changelog.rst
  sktime/__init__.py
Labels: maintenance

#2677 [MNT] Remove hcrystalball dependency
  examples/forecasting_with_hcrystalball.ipynb
  sktime/forecasting/hcrystalball.py
Labels: maintenance, module:forecasting

#2815 [BUG] Fixing type conversion for proba interval wrappers - option 2, convert for computing residuals logic
  sktime/forecasting/conformal.py
  sktime/forecasting/naive.py
  sktime/forecasting/tests/test_interval_wrappers.py
Labels: module:forecasting, bugfix

#2800 [DOC] add missing Sajay references
  docs/source/about/team.rst
  sktime/benchmarking/strategies.py
Labels: documentation

#2803 [DOC] add missing TonyBagnall to contributors of 0.12.0 in changelog
  docs/source/changelog.rst
Labels: documentation

#2786 [DOC] adds solution to "no matches found" to troubleshoot section of install guide
  .gitignore
  docs/source/installation.rst
Labels: documentation

#2818 [DOC] cleaning up transformer API reference
  docs/source/api_reference/transformations.rst
Labels: documentation, module:transformations

#2783 [ENH] Lagging transformer
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/lag.py
  sktime/transformations/series/tests/test_lag.py
Labels: implementing algorithms, module:transformations

#2844 [BUG] Vectorization in transformers overwrote y with X
  sktime/transformations/base.py
Labels: module:transformations, bugfix

#2794 [DOC] team update: remove Tony from CC
  CODEOWNERS
  docs/source/about/team.rst
  pyproject.toml
Labels: documentation, governance

#2824 [EHH] more informative error messages on input format
  docs/source/developer_guide/documentation.rst
  sktime/datatypes/_vectorize.py
  sktime/dists_kernels/_base.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/model_selection/_split.py
  sktime/transformations/base.py
  sktime/transformations/series/scaledlogit.py
Labels: documentation, module:forecasting, module:transformations

#2832 [ENG] fix `Lag` for numpy int
  sktime/transformations/series/lag.py
Labels: module:transformations, bugfix

#2831 [ENH] subsetting transforms
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/subset.py
  sktime/transformations/series/tests/test_subset.py
Labels: module:transformations, enhancement

#2873 [DOC] Added diviner by Databricks and statsforecast by Nixtla to related software
  docs/source/related_software.rst
Labels: documentation

#2830 [ENH] A new `ReconcilerForecaster` estimator for reconciling forecasts using base model residuals
  .all-contributorsrc
  sktime/forecasting/reconcile.py
  sktime/forecasting/tests/test_reconcile.py
Labels: implementing algorithms, module:forecasting, enhancement

#2866 [ENH] fix `get_window` utility when `window_length` was `None`
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
Labels: module:datatypes, bugfix

#2843 [BUG] transformers: output type check fix for ambiguous return types
  sktime/transformations/base.py
Labels: module:transformations, bugfix

#2870 [ENH] make `get_cutoff` compatible with all time series formats, fix bug for VectorizedDF input
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
  sktime/forecasting/base/tests/test_base.py
Labels: module:datatypes, bugfix, enhancement

#2835 [ENH] `set_params` to call `reset`, to comply with `sklearn` parameter interface assumptions
  sktime/base/_base.py
  sktime/tests/test_all_estimators.py
Labels: implementing framework, module:tests

#2842 [BUG] loosen index check related tags and fix incorrect pipeline tag inference
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/transformations/compose.py
Labels: module:forecasting, module:transformations, bugfix

#2845 [ENH] upgrade the "all" modules to automatic retrieval
  sktime/classification/all/__init__.py
  sktime/forecasting/all/__init__.py
  sktime/transformations/all/__init__.py
Labels: maintenance, module:classification, module:forecasting, module:transformations, enhancement

#2887 [MNT] Upgrade prophet to >=1.1 and remove pystan from all_extras dependencies
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  docs/source/installation.rst
  pyproject.toml
Labels: maintenance

#2752 [BUG] remove non-standard `score` function in `BaseGridSearch`
  sktime/forecasting/model_selection/_tune.py
  sktime/tests/_config.py
Labels: module:forecasting, bugfix

#2900 [MNT] Remove `cmdstanpy` from `all_extras`
  pyproject.toml
Labels: maintenance
