Repository sktime/sktime, pull requests merged in 2022-08, with the labels that each got.

#3135 [ENH] Added error_score to evaluate and grid searches
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/utils/_testing/deep_equals.py
Labels: module:forecasting

#3085 [BUG] fixes to inverse transform pipeline logic
  sktime/transformations/base.py
  sktime/transformations/compose.py
  sktime/transformations/hierarchical/aggregate.py
  sktime/transformations/series/impute.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations, bugfix

#3092 [MNT] reduce expected test time by making tests conditional on nosoftdeps
  .github/workflows/test.yml
Labels: maintenance

#3123 [ENH] complete refactor all test params
  examples/01_forecasting.ipynb
  sktime/annotation/clasp.py
  sktime/base/_base.py
  sktime/forecasting/structural.py
  sktime/regression/compose/_ensemble.py
  sktime/tests/_config.py
  sktime/transformations/panel/compose.py
  sktime/transformations/panel/random_intervals.py
  sktime/transformations/panel/shapelet_transform.py
  sktime/transformations/panel/summarize/_extract.py
Labels: module:tests, refactor

#3168 [MNT] Restrict changelog generator to changes to main branch
  build_tools/changelog.py
Labels: maintenance

#3112 [ENH] Refactor `Catch22Classifier` to pipeline delegate
  sktime/classification/feature_based/_catch22_classifier.py
Labels: module:classification, enhancement

#3076 [ENH] classifier runtime profiling utility
  sktime/utils/profiling.py
Labels: module:classification, enhancement

#3126 [ENH] Rocket regressor and regressor pipelines, regressor delegators
  sktime/regression/_delegate.py
  sktime/regression/base.py
  sktime/regression/compose/__init__.py
  sktime/regression/compose/_pipeline.py
  sktime/regression/kernel_based/__init__.py
  sktime/regression/kernel_based/_rocket_regressor.py
  sktime/transformations/base.py
  sktime/transformations/compose.py
Labels: implementing framework, implementing algorithms, module:regression, enhancement

#3087 [ENH] increase stateless scope of `FunctionTransformer` and `TabularToSeriesAdaptor`
  sktime/transformations/base.py
  sktime/transformations/series/adapt.py
  sktime/transformations/series/func_transform.py
Labels: module:transformations, enhancement

#3170 [DOC] Fix references
  sktime/_contrib/datasets/_single_problem_loaders.py
  sktime/_contrib/distance_based/elastic_ensemble_from_file.py
  sktime/classification/deep_learning/cnn.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/distance_based/_shape_dtw.py
  sktime/distances/_distance.py
  sktime/distances/_dtw.py
  sktime/distances/_edr.py
  sktime/distances/_twe.py
  sktime/distances/_wdtw.py
  sktime/exceptions.py
  sktime/forecasting/model_selection/_split.py
  sktime/regression/deep_learning/cnn.py
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/tsfresh.py
  sktime/utils/seasonality.py
Labels: documentation

#3178 [MNT] skip known failure case for `VARMAX`
  sktime/tests/_config.py
Labels: maintenance

#3141 Revert "[BUG] Fix HIVE-COTE2 sporadic test failure"
  sktime/classification/interval_based/_drcif.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/sklearn/_rotation_forest.py
Labels: module:classification

#3140 [ENH] classifier single class handling
  sktime/classification/base.py
  sktime/classification/early_classification/base.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/sklearn/_rotation_forest.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
  sktime/regression/base.py
Labels: module:classification, bugfix

#3187 [MNT] Added pytest-randomly
  pyproject.toml
Labels: maintenance

#3116 [BUG] address shadowing of `object` in `_check_soft_dependencies`
  sktime/alignment/dtw_python.py
  sktime/transformations/series/kalman_filter.py
  sktime/utils/validation/_dependencies.py
Labels: module:tests, bugfix

#3122 [ENH] test all `BaseObject` descendants for sklearn compatibility
  sktime/forecasting/model_selection/_split.py
  sktime/networks/cnn.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/registry/_base_classes.py
  sktime/registry/_scitype.py
  sktime/registry/_tags.py
  sktime/registry/tests/test_lookup.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/estimator_checks.py
Labels: module:tests

#3195 [MNT] Updated social links and badges, added LinkedIn
  README.md
  docs/source/conf.py
Labels: maintenance

#3174 [DOC] Added docstring examples and cleaning
  ESTIMATOR_OVERVIEW.md
  docs/source/api_reference/classification.rst
  docs/source/api_reference/transformations.rst
  sktime/classification/kernel_based/_arsenal.py
  sktime/forecasting/base/_fh.py
  sktime/transformations/series/summarize.py
Labels: documentation

#3136 [ENH] refactor/move simple `ShapeletTransform` from `_contrib` to `transformations` module
  docs/source/api_reference/transformations.rst
  sktime/classification/compose/_pipeline.py
  sktime/transformations/panel/shapelet_transform.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:classification, module:transformations, refactor

#3137 [ENH] partition design for test matrix to reduce test time to a third
  conftest.py
  setup.cfg
  sktime/tests/test_all_estimators.py
  sktime/utils/sampling.py
  sktime/utils/tests/test_sampling.py
Labels: maintenance, module:tests

#3196 [MNT] reactivate tests for `TSFreshRelevantFeatureExtractor`
  sktime/tests/_config.py
Labels: maintenance, module:tests

#2991 [ENH] Changes to CNN Classifier
  sktime/classification/deep_learning/base.py
  sktime/classification/deep_learning/cnn.py
Labels: module:classification

#3133 [ENH] Deprecate ProbabilityThresholdEarlyClassifier
  sktime/classification/early_classification/_probability_threshold.py
  sktime/registry/_tags.py
Labels: module:classification

#3204 [BUG] allowing single class case in sklearn classifiers (trees/forests)
  sktime/classification/sklearn/_continuous_interval_tree.py
  sktime/classification/sklearn/_rotation_forest.py
Labels: module:classification, bugfix

#3198 [BUG] prevent circular imports in `all_estimators`
  sktime/registry/_lookup.py
Labels: maintenance

#3208 [BUG] Fix `AutoEnsembleForecaster` inverse variance bug
  .all-contributorsrc
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/tests/test_autoensemble.py
Labels: module:forecasting

#3207 [BUG] skip check for no. estimators in contracted classifiers
  sktime/classification/dictionary_based/tests/test_tde.py
  sktime/classification/interval_based/tests/test_drcif.py
  sktime/classification/shapelet_based/tests/test_stc.py
Labels: bug, module:classification

#3041 [ENH] Parameter estimators and "plug in parameter" compositors
  sktime/param_est/__init__.py
  sktime/param_est/base.py
  sktime/param_est/compose.py
  sktime/param_est/plugin.py
  sktime/param_est/seasonality.py
  sktime/param_est/tests/__init__.py
  sktime/param_est/tests/test_all_param_est.py
  sktime/registry/_base_classes.py
  sktime/registry/_tags.py
  sktime/utils/_testing/scenarios_getter.py
  sktime/utils/_testing/scenarios_param_est.py
Labels: API design, implementing framework

#2855 [ENH] HMM annotation estimator
  sktime/annotation/base/_base.py
  sktime/annotation/hmm.py
  sktime/annotation/tests/test_all_annotators.py
  sktime/annotation/tests/test_hmm.py
  sktime/utils/validation/annotation.py
Labels: module:annotation, enhancement

#3067 [ENH] filter transformer from `sktime-neuro`
  pyproject.toml
  sktime/transformations/series/filter.py
Labels: module:transformations

#3203 [DOC] improved `STLForecaster` docstring
  sktime/forecasting/trend.py
Labels: documentation, module:forecasting

#3152 [ENH] remove `_required_parameters` interface point from `BaseObject`
  docs/source/developer_guide/add_estimators.rst
  sktime/base/_base.py
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/conformal.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/naive.py
  sktime/forecasting/online_learning/_online_ensemble.py
  sktime/forecasting/reconcile.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/compose.py
  sktime/transformations/panel/compose.py
  sktime/transformations/panel/interpolate.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/series/adapt.py
  sktime/transformations/series/compose.py
  sktime/transformations/series/detrend/_detrend.py
Labels: module:tests

#3160 [BUG] `check_equal_time_index` fix
  sktime/forecasting/base/_base.py
  sktime/utils/validation/series.py
Labels: module:forecasting, bugfix

#3215 [DOC] Added notebook cell output for notebooks shown in website
  examples/01_forecasting.ipynb
  examples/04_benchmarking.ipynb
Labels: documentation

#3227 [ENH] hierarchical forecasting notebook from pydata London 2022
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/global_fc/X.pkl
  examples/global_fc/y.pkl
  examples/img/hierarchytree.png
  examples/img/hierarchytree_grouped.png
Labels: documentation, enhancement

#3236 [ENH] better `ForecastingHorizon` construction error message
  sktime/forecasting/base/_fh.py
Labels: documentation, module:forecasting

#2833 [ENH] Reducer prototype rework - experimental
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/trend.py
Labels: module:forecasting, refactor, enhancement

#3157 [DOC] clarifications in the `Deseasonalizer` docstring
  sktime/transformations/series/detrend/_deseasonalize.py
Labels: documentation, module:transformations

#3225 [BUG] fixing bugs in metrics base classes and custom performance metric
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/_functions.py
  sktime/performance_metrics/tests/test_metrics_classes.py
  sktime/utils/estimator_checks.py
Labels: bugfix, module:metrics&benchmarking

#3239 [BUG] fix stray args in one `from_multi_index_to_3d_numpy` call
  sktime/datatypes/_panel/_convert.py
Labels: module:datatypes, bugfix

#3240 [ENH] Cleaned up user docs - direct video links
  .gitignore
  .pre-commit-config.yaml
  docs/source/examples/01a_forecasting_sklearn.ipynb
  docs/source/examples/01b_forecasting_proba.ipynb
  docs/source/examples/02_classification.ipynb
  docs/source/examples/AA_datatypes_and_datasets.ipynb
  docs/source/examples/feature_extraction_with_tsfresh.ipynb
  docs/source/examples/loading_data.ipynb
  docs/source/examples/plateau_finder.ipynb
  docs/source/examples/rocket.ipynb
  docs/source/examples/shapelet_transform.ipynb
  docs/source/tutorials.rst
  docs/source/user_guide.rst
  docs/source/user_guide/annotation.rst
  docs/source/user_guide/classification.rst
  docs/source/user_guide/clustering.rst
  docs/source/user_guide/forecasting.rst
  docs/source/user_guide/learning_tasks.rst
  docs/source/user_guide/performance_metrics.rst
  docs/source/user_guide/regression.rst
  docs/source/user_guide/resources.rst
  docs/source/user_guide/transformations.rst
  pyproject.toml
Labels: documentation

#3229 Release v0.13.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance

#3245 & achieveordie [BUG] fix recurring instances of forgotten list comprehension brackets inside `np.all`
  sktime/datatypes/_convert.py
  sktime/datatypes/_table/_check.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/_conditional_fixtures.py
  sktime/utils/_testing/scenarios.py
Labels: module:datatypes, bugfix

#3257 [BUG] Fix tag in DirectReductionForecaster
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, bugfix

#3261 [ENH] in `Lag`, make column naming consistent between single-lag and multi-lag case
  sktime/transformations/series/lag.py
  sktime/transformations/series/tests/test_featureizer.py
  sktime/transformations/series/tests/test_lag.py
Labels: module:transformations

#3276 [ENH] Added test for OptionalPassthrough
  sktime/transformations/series/tests/test_optional_passthrough.py
Labels: module:transformations

#3226 [ENH] robustify `BaseObject.set_tags` against forgotten `__init__`
  sktime/base/_base.py
Labels: enhancement

#3243 [ENH] `**` dunder for applying transformers to exogeneous data in forecasters
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
Labels: module:forecasting, enhancement

#3209 [ENH] statsmodels ARDL interface
  sktime/forecasting/ardl.py
  sktime/forecasting/tests/test_ardl.py
Labels: module:forecasting, enhancement

#3252 [MNT] add soft dependency tag to `CNNClassifier`
  sktime/classification/deep_learning/cnn.py
Labels: maintenance

#3254 [ENH] test class integration for pairwise transformers
  sktime/dists_kernels/tests/test_all_dist_kernels.py
  sktime/param_est/tests/test_all_param_est.py
  sktime/utils/_testing/scenarios_transformers_pairwise.py
  sktime/utils/estimator_checks.py
Labels: module:tests, refactor, module:dists_and_kerns

#3251 [ENH] expose edit distances as sklearn compatible objects
  sktime/dists_kernels/__init__.py
  sktime/dists_kernels/edit_dist.py
Labels: module:distances, enhancement

#3250 [ENH] treat non nested cols in conversion `nested_univ` to `pd-multiindex`
  sktime/datatypes/_panel/_convert.py
Labels: module:datatypes

#3260 [ENH] set default `ignores-exogeneous-X` to `False`
  sktime/forecasting/base/_base.py
Labels: module:forecasting, enhancement

#3301 [BUG] bound `pmdarima < 2.0.0`
  pyproject.toml
Labels: maintenance, module:forecasting

#3262 [BUG] fixed concat dunder for `ParamFitterPipeline`
  sktime/param_est/compose.py
Labels: bugfix

#3263 [ENH] pipeline composition for pairwise panel transformers
  sktime/dists_kernels/_base.py
  sktime/dists_kernels/compose.py
  sktime/registry/_tags.py
Labels: implementing framework, module:distances, enhancement

#3249 [ENH] panel distance from flattened tabular distance
  sktime/dists_kernels/__init__.py
  sktime/dists_kernels/compose_tab_to_panel.py
Labels: module:distances

#3304 [BUG] fix merge accident that deleted `DtwDist` export
  sktime/dists_kernels/__init__.py
Labels: maintenance, module:distances

#3271 [ENH] deprecate `transformations.series.compose` in favour of `transformations.compose`
  sktime/transformations/compose.py
  sktime/transformations/series/compose.py
Labels: module:transformations, refactor

#3273 [ENH] `OptionalPassthrough` wrapping via `neg` dunder
  sktime/transformations/base.py
  sktime/transformations/tests/test_compose.py
Labels: implementing framework, module:transformations, enhancement

#3303 [BUG] Fix `write_ndarray_to_tsfile` for `classLabel = False`
  sktime/datasets/_data_io.py
Labels: bugfix, module:datasets&loaders

#3272 [ENH] refactor of `OptionalPassthrough` as a delegator
  sktime/transformations/series/compose.py
Labels: module:transformations, enhancement

#3310 [ENH] move transformers to `transformations.compose`
  sktime/transformations/compose.py
  sktime/transformations/series/compose.py
Labels: maintenance, module:transformations

#3268 [BUG] fix `Deseasonalizer._update`
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/tests/test_deseasonalise.py
Labels: module:transformations, bugfix

#3266 [ENH] constant distance dummy
  sktime/dists_kernels/_base.py
  sktime/dists_kernels/dummy.py
Labels: module:distances, enhancement

#3155 [GOV] `sktime` as a "library", not a "curated selection"
  docs/source/get_involved/governance.rst
Labels: governance

#3274 [ENH] inversion of transformer wrapper and dunder
  docs/source/api_reference/transformations.rst
  sktime/transformations/base.py
  sktime/transformations/compose.py
  sktime/transformations/tests/test_compose.py
Labels: implementing framework, module:transformations

#2964 [ENH] Msm distance cleanup
  sktime/classification/distance_based/tests/test_time_series_neighbors.py
  sktime/distances/_distance.py
  sktime/distances/_msm.py
  sktime/distances/tests/_expected_results.py
Labels: module:distances

#3290 [BUG] ensure that forecasters do not add `pd.Series.name` attribute
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/tests/test_structural.py
  sktime/utils/_testing/forecasting.py
Labels: module:forecasting, module:tests, bugfix

#3297 [ENH] test `pd.Series` with name attribute in forecasters
  sktime/utils/_testing/scenarios_forecasting.py
Labels: module:forecasting, module:tests

#3287 [ENH] fix `_enforce_infer_freq` private utility for short time series
  sktime/datatypes/_vectorize.py
Labels: module:datatypes, bugfix

#3309 [ENH] test `super.__init__` call in objects and estimators
  sktime/classification/compose/_ensemble.py
  sktime/classification/interval_based/_tsf.py
  sktime/forecasting/model_selection/_split.py
  sktime/networks/cnn.py
  sktime/regression/interval_based/_tsf.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/panel/compose.py
Labels: module:tests

#3317 [BUG] removes superfluous `UserWarning` in `AutoETS.fit` if `auto=True` and `additive_only=True` #3311
  sktime/forecasting/ets.py
Labels: module:forecasting, bugfix

#3323 [ENH] test `pd.Series` with name attribute in forecasters
  sktime/utils/_testing/scenarios_forecasting.py
Labels: module:forecasting, module:tests

#3325 [BUG] fix bug where default forecaster `_update` empties converter store
  sktime/forecasting/base/_base.py
Labels: module:forecasting, bugfix

#3326 [ENH] remove hierarchical datatypes from recursive reduction forecasters
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, bugfix

#2370 [ENH] Deprecation of row transformers
  sktime/classification/compose/tests/test_ensemble.py
  sktime/series_as_features/base/estimators/tests/test_feature_importances_.py
  sktime/transformations/panel/compose.py
  sktime/transformations/panel/summarize/tests/test_RandomIntervalFeatureExtractor.py
  sktime/transformations/panel/tests/test_compose.py
  sktime/transformations/tests/test_pipeline.py
Labels: module:transformations, refactor

#3330 Release v0.13.2
  README.md
  docs/source/changelog.rst
  sktime/__init__.py
Labels: maintenance

#3334 [DOC] updated extension templates - tags explained, soft dependencies
  extension_templates/classification.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  sktime/forecasting/base/_base.py
Labels: documentation

#3312 [DOC] API reference for `dists_kernels` module
  docs/source/api_reference.rst
  docs/source/api_reference/dists_kernels.rst
Labels: documentation, module:distances

#3350 [BUG] fixes missing `super.__init__` call in `MLPNetwork`
  sktime/networks/mlp.py
Labels: maintenance, bugfix

#3255 [ENH] support for `xarray` `DataArray` & mtypes
  pyproject.toml
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/_series/_examples.py
  sktime/datatypes/_series/_registry.py
  sktime/utils/_testing/deep_equals.py
Labels: module:datatypes

#3305 [MNT] skip `CNNClassifier` doctest
  sktime/classification/deep_learning/cnn.py
Labels: maintenance, module:classification

#1940 [ENG] Weights in scipy distance
  sktime/dists_kernels/scipy_dist.py
Labels: enhancement

#3242 [ENH] Retry url request after HTTPError
  pyproject.toml
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_data_io.py
Labels: maintenance

#3308 [ENH] refactor inheritance of `PAA`, `SAX`, `SFA`
  sktime/tests/_config.py
  sktime/transformations/base.py
  sktime/transformations/panel/dictionary_based/_paa.py
  sktime/transformations/panel/dictionary_based/_sax.py
  sktime/transformations/panel/dictionary_based/_sfa.py
  sktime/transformations/panel/signature_based/_augmentations.py
Labels: module:transformations, refactor

#3216 [ENH] Dictionary classifiers speedup
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_weasel.py
Labels: module:classification

#3158 [ENH] Add Hidalgo annotation
  examples/hidalgo_segmentation.ipynb
  sktime/transformations/series/hidalgo.py
  sktime/transformations/series/tests/test_hidalgo.py
Labels: module:annotation
