Repository sktime/sktime, pull requests merged in 2022-11, with the labels that each got.

#3684 [GOV] Lazy consensus on GOV PRs
  docs/source/get_involved/governance.rst
Labels: governance

#3652 [ENH] Option to fit `Clearsky` transformer in parallel
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/data/solar/solar.csv
  sktime/datasets/tests/test_data_io.py
  sktime/transformations/series/clear_sky.py
  sktime/transformations/series/tests/test_clear_sky.py
Labels: module:transformations, enhancement

#3676 [GOV] clarifications on algorithm maintainers
  docs/source/get_involved/governance.rst
Labels: governance

#3635 [ENH] Add important information about `get_test_params()` in the extension template
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: documentation

#3643 [BUG] Fix `PluginParamsForecaster` docstring and add dict use example
  sktime/param_est/plugin.py
Labels: documentation, bugfix

#3632 [MNT] isolate `statsmodels`, part 3: replace dependent estimators in test parameters
  sktime/base/_base.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/reconcile.py
  sktime/forecasting/squaring_residuals.py
  sktime/param_est/compose.py
  sktime/param_est/plugin.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/impute.py
Labels: maintenance

#3636 [ENH] `TSFreshFeatureExtractor` cleanup, tests, and docstring
  sktime/transformations/panel/tests/test_tsfresh.py
  sktime/transformations/panel/tsfresh.py
Labels: documentation, module:transformations, bugfix

#3654 [ENH/BUG] knn estimators for unequal length distances
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/distance_based/tests/test_time_series_neighbors.py
  sktime/dists_kernels/compose_from_align.py
  sktime/registry/_tags.py
  sktime/regression/distance_based/_time_series_neighbors.py
Labels: module:classification, module:distances, module:regression, bugfix, enhancement

#3622 [ENH] SupervisedIntervals transformer and cleaned numba functions
  sktime/classification/tests/_classification_test_reproduction.py
  sktime/transformations/panel/random_intervals.py
  sktime/transformations/panel/supervised_intervals.py
  sktime/transformations/panel/tests/test_intervals.py
  sktime/transformations/panel/tests/test_random_intervals.py
  sktime/utils/numba/general.py
  sktime/utils/numba/stats.py
Labels: module:transformations, enhancement

#1300 [ENH] modular/configurable Theta forecaster
  CODEOWNERS
  sktime/forecasting/tests/test_theta.py
  sktime/forecasting/theta.py
Labels: implementing algorithms, module:forecasting

#3677 [MNT] 0.14.0 deprecation actions
  sktime/forecasting/base/_fh.py
  sktime/utils/datetime.py
Labels: maintenance

#3706 [BUG] Small classification bugfixes
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/sklearn/_continuous_interval_tree.py
  sktime/classification/sklearn/_rotation_forest.py
  sktime/classification/sklearn/tests/test_all_classifiers.py
  sktime/classification/sklearn/tests/test_continuous_interval_tree.py
  sktime/tests/_config.py
  sktime/transformations/panel/dictionary_based/_sfa_fast.py
  sktime/transformations/panel/rocket/tests/test_MiniRocket.py
  sktime/transformations/panel/rocket/tests/test_MiniRocketMultivariate.py
  sktime/transformations/panel/rocket/tests/test_MultiRocket.py
  sktime/transformations/panel/rocket/tests/test_MultiRocketMultivariate.py
  sktime/transformations/panel/rocket/tests/test_Rocket.py
Labels: module:classification, bugfix

#3699 [DOC] `tsfresh` reference in `TSFreshFeatureExtractor` docstring
  sktime/transformations/panel/tsfresh.py
Labels: documentation

#3709 [DOC] Document `evaluate` output DataFrame schema
  sktime/forecasting/model_evaluation/_functions.py
Labels: documentation, module:forecasting

#3679 Release v0.14.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance

#3713 [ENH] release v0.14.0 - missing deprecations in changelog
  docs/source/changelog.rst
Labels: documentation, maintenance

#3718 [MNT] addressing failed v0.14.0 pypi upload
  docs/source/developer_guide/release.rst
  pyproject.toml
  setup.py
Labels: maintenance

#3410 [ENH] forecast default update warning to point to stream forecasting wrappers
  sktime/forecasting/base/_base.py
Labels: module:forecasting, enhancement

#3735 [DOC] Add missing estimators to classification API page
  docs/source/api_reference/classification.rst
Labels: documentation, module:classification

#3741 Revert "[DOC] Add missing estimators to classification API page"
  docs/source/api_reference/classification.rst
Labels: documentation

#3746 Revert "[DOCS] Adding invite to fall dev days to website landing page."
  docs/source/conf.py
  docs/source/index.rst
Labels: documentation

#3759 Fixed doc typo in Rocket Classifier
  sktime/classification/kernel_based/_rocket_classifier.py
Labels: documentation, module:classification

#3736 [MNT] update CODEOWNERS
  CODEOWNERS
Labels: maintenance

#3756 [DOC] Compose and deep learning classifier doc tidy
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_ensemble.py
  sktime/classification/deep_learning/cnn.py
  sktime/classification/deep_learning/fcn.py
  sktime/classification/deep_learning/mlp.py
  sktime/classification/deep_learning/tapnet.py
Labels: documentation, module:classification

#3747 [DOC] added new slack link
  docs/source/get_involved/contributing.rst
Labels: bug, documentation

#3762 [ENH] slightly speed up the tests for ComposableTimeSeriesForestClassifier
  sktime/classification/compose/_ensemble.py
  sktime/classification/compose/tests/test_ensemble.py
Labels: module:classification, module:tests

#3767 [ENH] Warning rather than error for TDE small series
  sktime/classification/dictionary_based/_tde.py
Labels: module:classification

#3771 [BUG] remove test and add warning to load solar
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_data_io.py
Labels: bugfix, module:datasets&loaders

#3770 [DOC] Updates documentation for channel selection
  docs/source/api_reference/transformations.rst
Labels: documentation

#3768 & RikStarmans [BUG] fix `ColumnEnsembleForecaster` for hierarchical `X`
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/tests/test_column_ensemble.py
Labels: module:forecasting, bugfix

#3382 [ENH] direct reducer prototype rework based on feedback
  sktime/forecasting/compose/_reduce.py
  sktime/transformations/compose.py
  sktime/transformations/series/lag.py
Labels: implementing algorithms, module:forecasting

#3724 [ENH] better error message on transform output check fail
  sktime/transformations/base.py
Labels: module:transformations, enhancement

#3653 [DOC] Examples webpage
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/examples/annotation/segmentation_with_clasp.ipynb
  docs/source/examples/classification/02a_classification_multivariate_cnn.ipynb
  docs/source/examples/classification/channel_selection.ipynb
  docs/source/examples/classification/dictionary_based_classification.ipynb
  docs/source/examples/classification/early_classification.ipynb
  docs/source/examples/classification/interval_based_classification.ipynb
  docs/source/examples/clustering/partition_based_clustering.ipynb
  docs/source/examples/data/loading_data.ipynb
  docs/source/examples/forecasting/01c_forecasting_hierarchical_global.ipynb
  docs/source/examples/forecasting/window_splitters.ipynb
  docs/source/examples/other/distances.ipynb
  docs/source/examples/transformation/catch22.ipynb
  docs/source/examples/transformation/feature_extraction_with_tsfresh.ipynb
  docs/source/examples/transformation/hidalgo_segmentation.ipynb
  docs/source/examples/transformation/interpolation.ipynb
  docs/source/examples/transformation/minirocket.ipynb
  docs/source/examples/transformation/plateau_finder.ipynb
  docs/source/examples/transformation/rocket.ipynb
  docs/source/examples/transformation/signature_method.ipynb
  docs/source/examples/transformation/theta_transform.ipynb
  docs/source/index.rst
  examples/02_classification.ipynb
  examples/img/tsc.png
Labels: documentation

#3727 [BUG] SupervisedIntervals bugfixes and clean up
  sktime/transformations/panel/supervised_intervals.py
Labels: module:transformations, bugfix

#3737 [DOC] Improve ShapeletTransformClassifier docstring
  sktime/classification/shapelet_based/_stc.py
Labels: documentation, module:classification

#3742 by matthewmiddlehurst [DOC] Add missing estimators to classification API page
  docs/source/api_reference/classification.rst
Labels: documentation, module:classification

#3761 [ENH] Add get_test_params to deep learning classifiers and regressors
  sktime/classification/deep_learning/cnn.py
  sktime/classification/deep_learning/fcn.py
  sktime/classification/deep_learning/mlp.py
  sktime/classification/deep_learning/tapnet.py
  sktime/regression/deep_learning/cnn.py
  sktime/regression/deep_learning/tapnet.py
  sktime/tests/_config.py
Labels: module:classification, module:tests, module:regression

#3799 [BUG] decouple forecasting pipeline module from registry
  sktime/forecasting/compose/_pipeline.py
Labels: maintenance, bugfix

#3817 [MNT] temporary skip of new failure `test_deep_estimator_full[keras-adamax]`
  sktime/classification/tests/test_base.py
Labels: maintenance

#3760 [MNT] isolate soft dependencies in tests
  sktime/classification/deep_learning/fcn.py
  sktime/classification/tests/test_base.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/utils/plotting.py
Labels: maintenance

#3812 [BUG] exclude TapNet from tests
  sktime/tests/_config.py
Labels: maintenance

#3708 [ENH] default `get_params`/`set_params` for `_HeterogenousMetaEstimator` & [BUG] fix infinite loop in `get_params` for `FeatureUnion`, with hoesler
  sktime/base/_meta.py
  sktime/classification/_delegate.py
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_ensemble.py
  sktime/classification/compose/_pipeline.py
  sktime/dists_kernels/algebra.py
  sktime/dists_kernels/compose.py
  sktime/forecasting/base/_delegate.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_grouped.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/stream/_update.py
  sktime/param_est/compose.py
  sktime/regression/_delegate.py
  sktime/regression/compose/_pipeline.py
  sktime/transformations/_delegate.py
  sktime/transformations/compose.py
Labels: implementing framework, refactor, bugfix

#3740 [ENH] getitem / square brackets dunder for forecasting
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/transformations/base.py
Labels: module:forecasting, enhancement

#3792 [ENH] second test case for `FeatureUnion`, construction without names
  sktime/transformations/compose.py
Labels: module:transformations, enhancement

#3751 [DOC] Regression api
  docs/source/api_reference/regression.rst
  sktime/regression/deep_learning/cnn.py
  sktime/regression/deep_learning/tapnet.py
Labels: documentation, module:regression

#3809 [DOC] Include section on unequal length data in classification notebook
  examples/02_classification.ipynb
Labels: documentation, module:classification

#3813 [BUG] Reduce size of MultiRocket example to avoid MemoryError in testing
  sktime/transformations/panel/rocket/_multirocket.py
  sktime/transformations/panel/rocket/_multirocket_multivariate.py
Labels: module:transformations, module:tests

#3808 [BUG] set Parallel prefer="threads" for TemporalDictionaryEnsemble, fixes #3788
  sktime/classification/dictionary_based/_tde.py
Labels: bug, module:classification

#3689 [ENH] permutation pipeline prototype, delegator design
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_pipeline.py
Labels: implementing algorithms, module:forecasting, enhancement

#3805 [DOC] documentation on workflow of adding a new dataset loader
  .all-contributorsrc
  docs/source/developer_guide/add_dataset.rst
Labels: documentation, module:datasets&loaders

#3821 [MNT] isolate `statsmodels`, part 4: isolating `statsmodels` in non-suite tests
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_loaders.py
  sktime/forecasting/ardl.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_bagging.py
  sktime/forecasting/compose/tests/test_column_ensemble.py
  sktime/forecasting/compose/tests/test_ensemble.py
  sktime/forecasting/compose/tests/test_multiplex.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/ets.py
  sktime/forecasting/exp_smoothing.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/online_learning/tests/test_online_learning.py
  sktime/forecasting/reconcile.py
  sktime/forecasting/sarimax.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/structural.py
  sktime/forecasting/tests/test_ets.py
  sktime/forecasting/tests/test_exp_smoothing.py
  sktime/forecasting/tests/test_reconcile.py
  sktime/forecasting/tests/test_structural.py
  sktime/forecasting/tests/test_theta.py
  sktime/forecasting/theta.py
  sktime/forecasting/trend.py
  sktime/forecasting/var.py
  sktime/forecasting/varmax.py
  sktime/forecasting/vecm.py
  sktime/param_est/compose.py
  sktime/param_est/fixed.py
  sktime/param_est/plugin.py
  sktime/param_est/seasonality.py
  sktime/param_est/tests/test_plugin.py
  sktime/param_est/tests/test_seasonality.py
  sktime/performance_metrics/forecasting/probabilistic/tests/test_probabilistic_metrics.py
  sktime/pipeline/_make_pipeline.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/bootstrap/tests/test_mbb.py
  sktime/transformations/compose.py
  sktime/transformations/hierarchical/reconcile.py
  sktime/transformations/hierarchical/tests/test_reconcile.py
  sktime/transformations/panel/summarize/tests/test_FittedParamExtractor.py
  sktime/transformations/series/acf.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/tests/test_deseasonalise.py
  sktime/transformations/series/scaledlogit.py
  sktime/transformations/series/tests/test_clear_sky.py
  sktime/transformations/series/tests/test_imputer.py
  sktime/transformations/tests/test_optionalpassthrough.py
  sktime/utils/estimator_checks.py
Labels: maintenance

#3785 [ENH] Docstring and fit_transform for TSFreshRelevantFeatureExtractor
  sktime/transformations/panel/tsfresh.py
Labels: module:transformations, enhancement

#3845 [ENH] add defaults in `ScaledLogitTransformer` docstring
  sktime/transformations/series/scaledlogit.py
Labels: documentation

#3839 [ENH] fix return index for transformers' `Primitives` output in row vectorization case
  sktime/transformations/base.py
  sktime/transformations/tests/test_base.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations, bugfix

#1705 [DOC] Transformers tutorial
  examples/03_transformers.ipynb
  sktime/datatypes/_series/_examples.py
Labels: documentation, module:transformations

#3858 [BUG] in `DummyClassifier`, fix incorrectly set `capability:multivariate` tag
  sktime/classification/dummy/_dummy.py
Labels: module:classification, bugfix

#3855 Release v0.14.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance
