Repository sktime/sktime, pull requests merged in 2022-03, with the labels that each got.

#2122 [DOC] enhance distance doc strings
  sktime/distances/_ddtw.py
  sktime/distances/_dtw.py
  sktime/distances/_wddtw.py
  sktime/distances/_wdtw.py
Labels: module:clustering

#2048 [ENH] Tslearn added as soft dependency and used to add new clusterers.
  build_tools/azure/check_soft_dependencies.py
  docs/source/get_started.rst
  examples/partition_based_clustering.ipynb
  pyproject.toml
  sktime/benchmarking/tests/test_experiments.py
  sktime/clustering/__init__.py
  sktime/clustering/base.py
  sktime/clustering/k_means.py
  sktime/clustering/k_medoids.py
  sktime/clustering/k_shapes.py
  sktime/clustering/kernel_k_means.py
  sktime/clustering/metrics/__init__.py
  sktime/clustering/metrics/averaging/__init__.py
  sktime/clustering/metrics/averaging/_averaging.py
  sktime/clustering/partitioning/__init__.py
  sktime/clustering/partitioning/_lloyds.py
  sktime/clustering/tests/test_k_means.py
  sktime/clustering/tests/test_k_medoids.py
  sktime/clustering/tests/test_k_shapes.py
  sktime/clustering/tests/test_kernel_k_means.py
  sktime/clustering/utils/plotting/_plot_partitions.py
  sktime/contrib/clustering/clustering_examples.py
  sktime/contrib/clustering_experiments.py
  sktime/contrib/set_clusterer.py
  sktime/registry/_base_classes.py
  sktime/utils/_testing/estimator_checks.py
Labels: module:clustering, enhancement

#2094 [ENH] _predict_fixed_cutoff for Hierarchical Data
  sktime/forecasting/base/_sktime.py
Labels: module:forecasting

#2139 [ENH] Add user option to determine return type in single problem clustering/classification problems
  sktime/contrib/datasets/__init__.py
  sktime/contrib/datasets/_data_io.py
  sktime/contrib/datasets/_single_problem_loaders.py
  sktime/contrib/datasets/tests/test_single_problem_loaders.py
Labels: module:datasets&loaders

#2115 [ENH] cutoff getter for Series, Panel, and Hierarchical mtypes
  sktime/datatypes/__init__.py
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
  sktime/forecasting/base/_base.py
Labels: module:forecasting

#2108 [BUG] fixed state change caused by `ThetaForecaster.predict_quantiles`
  sktime/forecasting/theta.py
Labels: bug

#2107 [ENH] improved `deep_equals` return message if `dict`s are discrepant
  sktime/utils/_testing/deep_equals.py
Labels: module:tests

#2065 [ENH] Univariate time series bootstrapping
  docs/source/api_reference/transformations.rst
  sktime/transformations/bootstrap/__init__.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/bootstrap/tests/__init__.py
  sktime/transformations/bootstrap/tests/test_mbb.py
Labels: implementing algorithms, module:transformations, enhancement

#1818 [ENH] Forecaster base class - extension to hierarchical forecasting
  sktime/forecasting/base/_base.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/utils/validation/series.py
Labels: implementing framework, module:forecasting

#2170 [BUG] Addressing doc build issue due to failed soft dependency imports
  sktime/alignment/dtw_python.py
  sktime/clustering/k_shapes.py
  sktime/clustering/kernel_k_means.py
  sktime/clustering/metrics/averaging/_averaging.py
  sktime/forecasting/arima.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/bats.py
  sktime/forecasting/fbprophet.py
  sktime/forecasting/hcrystalball.py
  sktime/forecasting/tbats.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/tsfresh.py
  sktime/transformations/series/matrix_profile.py
  sktime/utils/validation/_dependencies.py
Labels: documentation, maintenance

#2093 [ENH] hierarchical mtype generator
  sktime/utils/_testing/hierarchical.py
Labels: module:datatypes, module:datasets&loaders

#2090 [ENH] Transformer pipeline and dunder method
  sktime/transformations/base.py
  sktime/transformations/compose.py
  sktime/transformations/tests/test_compose.py
Labels: implementing framework, module:transformations

#2180 [ENH] sklearn model selection tests for classification
  sktime/classification/base.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
  sktime/classification/tests/test_sklearn_compatability.py
  sktime/tests/_config.py
  sktime/utils/_testing/estimator_checks.py
Labels: module:classification

#2168 [DOC] Fix minor doc issues
  docs/source/developer_guide/documentation.rst
  sktime/forecasting/fbprophet.py
Labels: bug, documentation

#2164 [ENH] Classifier pipeline and dunder method
  sktime/base/_meta.py
  sktime/classification/base.py
  sktime/classification/compose/__init__.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/compose/tests/test_pipeline.py
Labels: implementing framework, module:classification, module:transformations

#2165 [ENH] Introduce classifier_type tag
  sktime/classification/base.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_matrix_profile_classifier.py
  sktime/classification/feature_based/_random_interval_classifier.py
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/feature_based/_summary_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/kernel_based/_rocket_classifier.py
  sktime/classification/shapelet_based/_stc.py
  sktime/registry/_tags.py
Labels: module:classification

#2130 [ENH] datatypes support for interval and quantile based probabilistic predictions
  sktime/datatypes/__init__.py
  sktime/datatypes/_check.py
  sktime/datatypes/_convert.py
  sktime/datatypes/_examples.py
  sktime/datatypes/_proba/__init__.py
  sktime/datatypes/_proba/_check.py
  sktime/datatypes/_proba/_convert.py
  sktime/datatypes/_proba/_examples.py
  sktime/datatypes/_proba/_registry.py
  sktime/datatypes/_registry.py
  sktime/datatypes/tests/test_convert.py
  sktime/forecasting/base/_base.py
Labels: module:forecasting, module:datatypes

#2205 [ENH] changed `FunctionTransformer._fit` to common signature
  sktime/transformations/series/func_transform.py
Labels: module:transformations

#2191 [DOC] Replaced youtube link with recent PyData Global
  README.md
  docs/source/api_reference/forecasting.rst
Labels: documentation

#2220 [ENH] replace `np.isnan` by `pd.isnull` in `datatypes`
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_table/_check.py
Labels: module:datatypes

#2217 [BUG] fix wrong output type of `PaddingTransformer._transform`
  sktime/transformations/panel/padder.py
Labels: bug, module:transformations

#2216 [BUG] fixing nested_dataframe_has_nans
  sktime/datatypes/_panel/_check.py
Labels: bug

#2188 [ENH][BUG] Testing vectorization for forecasters, plus various bugfixes
  sktime/datatypes/_hierarchical/_examples.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_convert.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/tests/test_base.py
Labels: bug, module:forecasting

#2230 [BUG] fixed ignores-exogeneous-X tag for forecasting reducers
  sktime/forecasting/compose/_reduce.py
Labels: bug

#2226 [ENH] unit tests for `deep_equals` utility
  sktime/utils/_testing/tests/test_deep_equals.py
Labels: module:tests

#2189 [DOC] extended & cleaned docs on dependency handling
  docs/source/developer_guide.rst
  docs/source/developer_guide/coding_standards.rst
  docs/source/developer_guide/dependencies.rst
  docs/source/developer_guide/release.rst
Labels: documentation

#2227 [DOC] contributing page: concrete initial steps
  docs/source/get_involved/contributing.rst
Labels: documentation

#2229 [MNT] Faster docstring examples - `ForecastingGridSearchCV`, `MultiplexForecaster`
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/model_selection/_tune.py
Labels: maintenance

#1771 [ENH] Sequential augmenter (as panel transformer) for easy TS data-augmentation
  .all-contributorsrc
  CODEOWNERS
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/augmenter.py
  sktime/transformations/series/tests/test_augmenter.py
Labels: module:transformations, enhancement

#2162 [ENH] TEASER early classification implementation
  CODEOWNERS
  examples/early_classification.ipynb
  sktime/classification/base.py
  sktime/classification/early_classification/__init__.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/classification/early_classification/_teaser.py
  sktime/classification/early_classification/tests/_test_probability_threshold.py
  sktime/classification/early_classification/tests/_test_teaser.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/contrib/_classification_test_reproduction.py
  sktime/tests/_config.py
Labels: module:classification

#2222 [DOC] migrating mentoring form to sktime google docs
  docs/source/get_involved/mentoring.rst
Labels: documentation

#2160 [DOC] add scitype/mtype register pointers to docstrings in datatypes
  sktime/datatypes/_convert.py
  sktime/datatypes/_examples.py
  sktime/datatypes/_registry.py
Labels: documentation, module:datatypes

#2186 [DOC] New estimator implementation guide
  docs/source/developer_guide/add_estimators.rst
Labels: documentation

#2241 [DOC] typo fix and minor clarification in estimator implementation guide
  docs/source/developer_guide/add_estimators.rst
Labels: documentation

#2246 [ENH] Classifier type hints
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/distance_based/_shape_dtw.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/classification/early_classification/_teaser.py
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_matrix_profile_classifier.py
  sktime/classification/feature_based/_random_interval_classifier.py
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/feature_based/_summary_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/kernel_based/_rocket_classifier.py
  sktime/classification/shapelet_based/_stc.py
Labels: module:classification

#2250 [ENH] renamed `fit-in-transform` and `fit-in-predict` to `fit_is_empty`
  extension_templates/transformer.py
  sktime/annotation/clasp.py
  sktime/dists_kernels/_base.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/base.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/compose.py
  sktime/transformations/panel/compose.py
  sktime/transformations/panel/dictionary_based/_sax.py
  sktime/transformations/panel/dwt.py
  sktime/transformations/panel/matrix_profile.py
  sktime/transformations/panel/padder.py
  sktime/transformations/panel/pca.py
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/signature_based/_signature_method.py
  sktime/transformations/panel/slope.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/panel/truncation.py
  sktime/transformations/panel/tsfresh.py
  sktime/transformations/series/acf.py
  sktime/transformations/series/adapt.py
  sktime/transformations/series/augmenter.py
  sktime/transformations/series/boxcox.py
  sktime/transformations/series/clasp.py
  sktime/transformations/series/compose.py
  sktime/transformations/series/cos.py
  sktime/transformations/series/date.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/difference.py
  sktime/transformations/series/exponent.py
  sktime/transformations/series/feature_selection.py
  sktime/transformations/series/func_transform.py
  sktime/transformations/series/impute.py
  sktime/transformations/series/matrix_profile.py
  sktime/transformations/series/outlier_detection.py
  sktime/transformations/series/scaledlogit.py
  sktime/transformations/series/summarize.py
  sktime/transformations/series/theta.py
  sktime/transformations/series/window_summarizer.py
  sktime/transformations/tests/test_all_transformers.py
Labels: refactor

#1810 [BUG] fix `FeatureUnion` test failure mk4
  sktime/classification/compose/tests/test_ensemble.py
  sktime/series_as_features/compose/_pipeline.py
  sktime/tests/_config.py
  sktime/transformations/panel/summarize/tests/test_RandomIntervalFeatureExtractor.py
Labels: bug, module:transformations

#1772 [ENH] full support for `Panel.numpyflat` mtype in `datatypes` module, checks/conversions
  sktime/datatypes/__init__.py
  sktime/datatypes/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_panel/_examples.py
  sktime/datatypes/_panel/_registry.py
  sktime/datatypes/_registry.py
  sktime/datatypes/tests/test_check.py
  sktime/datatypes/tests/test_vectorize.py
Labels: implementing framework, module:classification

#2100 [ENH] `predict_proba` for forecasters, `tensorflow-probability` dependency
  docs/source/installation.rst
  extension_templates/forecasting.py
  pyproject.toml
  sktime/forecasting/base/_base.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_forecasting.py
  sktime/utils/validation/_dependencies.py
Labels: module:forecasting

#2260 [BUG] fixing `STLBootstrapTransformer` error message and docstrings
  sktime/transformations/bootstrap/_mbb.py
Labels: bug, module:transformations

#2257 [ENH] refactoring `test_all_classifiers` to test class architecture
  sktime/classification/tests/_expected_outputs.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/regression/base.py
  sktime/regression/interval_based/_tsf.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/estimator_checks.py
Labels: module:classification, module:tests, refactor

#2262 [ENH] Relaxing `pd-multiindex` mtype to allow string instance index
  sktime/datatypes/_panel/_check.py
Labels: module:datatypes

#2051 [ENH] factory to add 3D capability to all distances exported by distances module
  sktime/distances/__init__.py
  sktime/distances/_distance.py
  sktime/distances/_distance_pairwise.py
Labels: module:distances

#2219 [ENH] Upgrade of `BaseTransformer` to use vectorization utility, hierarchical mtype compatibility
  sktime/datatypes/_series_as_panel/__init__.py
  sktime/datatypes/_series_as_panel/_convert.py
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
  sktime/transformations/tests/test_base.py
  sktime/utils/_testing/scenarios_transformers.py
  sktime/utils/validation/series.py
Labels: module:transformations, enhancement

#2281 [BUG] fix conversion interval->quantiles in `BaseForecaster`, and fix `ARIMA.predict_interval`
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_pmdarima.py
Labels: bug, module:forecasting

#2273 test_param_refactor
  sktime/classification/kernel_based/_arsenal.py
  sktime/tests/_config.py
Labels: module:classification

#2284 [DOC] numpydoc compliance fix of simple forecasting extension template
  extension_templates/forecasting_simple.py
Labels: documentation, module:forecasting

#2277 Estimator Test Parameters Refactor #1678 for TimeSeriesForestClassifier
  sktime/classification/interval_based/_tsf.py
  sktime/tests/_config.py
Labels: module:classification

#2041 [DOC] forecaster tutorial: multivariate forecasting, probabilistic forecasting
  examples/01_forecasting.ipynb
  sktime/forecasting/theta.py
Labels: documentation, module:forecasting

#2231 [ENH] `FeatureUnion` refactor - moved to `transformations`, tags, dunder method
  sktime/base/_meta.py
  sktime/series_as_features/compose/__init__.py
  sktime/series_as_features/compose/_pipeline.py
  sktime/transformations/base.py
  sktime/transformations/compose.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations

#2197 [ENH] Mock estimators and mock estimator generators for testing
  sktime/utils/estimators/__init__.py
  sktime/utils/estimators/_base.py
  sktime/utils/estimators/_forecasters.py
  sktime/utils/estimators/tests/__init__.py
  sktime/utils/estimators/tests/test_base.py
  sktime/utils/estimators/tests/test_forecasters.py
Labels: maintenance

#2271 [MNT] Deprecation removal 0.11.0
  sktime/datatypes/__init__.py
  sktime/datatypes/_check.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/base/_sktime.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/croston.py
  sktime/forecasting/hcrystalball.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/naive.py
  sktime/forecasting/online_learning/_online_ensemble.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/trend.py
  sktime/forecasting/var.py
  sktime/transformations/base.py
Labels: maintenance

#1865 [ENH] - Naive variance prediction estimator
  docs/source/api_reference/forecasting.rst
  extension_templates/forecasting.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/naive.py
  sktime/registry/_tags.py
Labels: module:forecasting

#2296 [BUG] fixing forecasting pipelines `update`
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/_pipeline.py
Labels: module:forecasting, bugfix

#2209 [ENH] Tabular transformer adaptor "fit in transform" parameter
  sktime/transformations/series/adapt.py
Labels: module:transformations

#2310 [DOC] fix 0.11.0 release note highlights formatting
  docs/source/changelog.rst
Labels: documentation

#2330 [MNT] Remove jinja2 version
  pyproject.toml
Labels: maintenance

#2326 [ENH] require uniqueness from multiple alpha/coverage in interval/quantile forecasts
  sktime/forecasting/base/_base.py
  sktime/utils/validation/forecasting.py
Labels: module:forecasting

#2223 [MNT] test parameter refactor: forecasting reducers and ColumnEnsembleClassifier
  sktime/forecasting/compose/_reduce.py
  sktime/tests/_config.py
Labels: module:forecasting, module:tests

#2343 [ENH] remove `fit_params` kwargs throughout the code base
  extension_templates/classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_selection/_tune.py
  sktime/series_as_features/base/estimators/_ensemble.py
  sktime/transformations/base.py
Labels: refactor

#2348 [DOC] typo fix contsructor -> constructor in extension templates
  extension_templates/classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: documentation

#2298 [ENH] test generation error to raise and not return
  sktime/tests/test_all_estimators.py
Labels: maintenance, module:tests
