Repository sktime/sktime, pull requests merged in 2022-09, with the labels that each got.

#3352 [BUG] fixes incorrect warning condition in `InvertTransform`
  sktime/transformations/compose.py
Labels: module:transformations, bugfix

#3327 [ENH] global/local setting for `DirectReductionForecaster`
  sktime/forecasting/compose/_reduce.py
Labels: implementing framework, implementing algorithms, module:forecasting, enhancement

#3379 [DOC] fix notebook/example symlinks
  docs/source/examples/01a_forecasting_sklearn.ipynb
  docs/source/examples/01b_forecasting_proba.ipynb
  docs/source/examples/02_classification.ipynb
  docs/source/examples/AA_datatypes_and_datasets.ipynb
Labels: documentation, maintenance

#3343 [ENH] option to keep column names in `Lag`
  sktime/transformations/series/lag.py
Labels: module:transformations, enhancement

#3342 [ENH] reduce legacy logic in test framework and refactor to scenarios
  sktime/_contrib/shapelets.py
  sktime/annotation/tests/test_all_annotators.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
  sktime/classification/tests/test_sklearn_compatability.py
  sktime/series_as_features/tests/__init__.py
  sktime/series_as_features/tests/_config.py
  sktime/series_as_features/tests/test_all_panel_transformers.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:tests, refactor

#3358 [ENH] simplify `convert_to_scitype` logic, fix export and docstring omissions in scitype converter module
  sktime/datatypes/_series_as_panel/_convert.py
Labels: module:datatypes

#3357 [ENH] avoid metadata computation in `scitype` utility
  sktime/datatypes/_check.py
Labels: module:datatypes, enhancement

#3356 [ENH] distance features transformer
  sktime/transformations/panel/compose_distance.py
Labels: module:transformations, module:distances, enhancement

#3376 [ENH] skip `ClearSky` doctest to avoid `load_solar` crash
  sktime/transformations/series/clear_sky.py
Labels: maintenance, module:transformations, module:tests

#3331 [DOC] Some tips on getting virtual environments to work
  docs/source/installation.rst
Labels: documentation

#3307 [ENH] `BaseTransformer` data memory - enabled by tag
  sktime/datatypes/_utilities.py
  sktime/registry/_tags.py
  sktime/transformations/base.py
  sktime/transformations/series/adapt.py
  sktime/transformations/series/impute.py
  sktime/transformations/series/lag.py
  sktime/transformations/series/subset.py
  sktime/transformations/series/summarize.py
  sktime/transformations/tests/test_all_transformers.py
Labels: implementing framework, module:transformations, enhancement

#3367 [ENH] consistent `sp` handling in parameter estimators and `AutoARIMA`
  sktime/forecasting/arima.py
  sktime/param_est/seasonality.py
Labels: module:forecasting, enhancement

#3302 [ENH] `pmdarima 2.0.0` compatibility fix - use absolute index in return
  pyproject.toml
  sktime/forecasting/base/adapters/_pmdarima.py
Labels: maintenance, module:forecasting, bugfix

#3395 [ENH] skip sporadic failure in testing `HMM`
  sktime/annotation/tests/test_all_annotators.py
Labels: maintenance, module:annotation

#3396 [ENH] Fix for hmm sporadic test failure
  sktime/annotation/hmm.py
  sktime/annotation/tests/test_all_annotators.py
Labels: module:annotation, bugfix

#3374 [ENH] Fourier features transformer
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/fourier.py
  sktime/transformations/series/tests/test_fourier.py
Labels: implementing algorithms, module:transformations, enhancement

#3377 [DOC] updated extension templates - transformer tags explained
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: documentation, module:transformations

#3341 [ENH] testing transformers with `transform` data different from `fit` data
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:transformations, module:tests

#3355 [ENH] signature kernel from (Kiraly et al, 2016)
  sktime/dists_kernels/signature_kernel.py
  sktime/transformations/panel/compose_distance.py
Labels: implementing algorithms, module:distances, enhancement

#3391 [ENH] prevent vectorization in multiplexers
  sktime/datatypes/__init__.py
  sktime/datatypes/_check.py
  sktime/datatypes/_registry.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/transformations/compose.py
Labels: implementing framework, enhancement

#3415 [GOV] Update core dev list
  docs/source/about/team.rst
Labels: documentation, governance

#3418 [MNT] Small refactoring changes
  sktime/clustering/base.py
  sktime/clustering/k_means.py
  sktime/clustering/k_medoids.py
  sktime/clustering/k_shapes.py
  sktime/clustering/kernel_k_means.py
  sktime/transformations/series/outlier_detection.py
Labels: module:clustering, module:transformations, refactor

#3440 [ENH] correcting and clarifying `BaseSplitter` docstrings
  sktime/forecasting/model_selection/_split.py
Labels: documentation, module:forecasting, module:metrics&benchmarking

#3360 [ENH] Dictionary Classifiers Speedup (1-2 Orders of Magnitudes)
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/early_classification/_teaser.py
  sktime/classification/early_classification/tests/test_teaser.py
  sktime/classification/tests/_classification_test_reproduction.py
  sktime/classification/tests/_expected_outputs.py
  sktime/transformations/panel/dictionary_based/__init__.py
  sktime/transformations/panel/dictionary_based/_sfa.py
  sktime/transformations/panel/dictionary_based/_sfa_fast.py
  sktime/utils/_testing/deep_equals.py
Labels: module:classification, module:transformations, enhancement

#3401 [DOC] Fix docstring of TransformerPipeline
  sktime/transformations/compose.py
Labels: documentation

#3354 [ENH] added `scale`, `offset` parameters to `LogTransformer`
  .all-contributorsrc
  sktime/transformations/series/boxcox.py
Labels: implementing algorithms, module:transformations, enhancement

#3416 [DOC] Instructions for how to skip tests for new soft dependencies.
  docs/source/developer_guide/dependencies.rst
Labels: documentation

#3409 [ENH] isolate soft dependency in `MLPClassifier` doctest
  sktime/classification/deep_learning/mlp.py
Labels: maintenance, module:classification

#3428 [ENH] second param sets for selected estimators
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/transformations/series/exponent.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/utils/estimators/_forecasters.py
Labels: maintenance, module:tests

#3407 [ENH] replace legacy estimator overview with links
  ESTIMATOR_OVERVIEW.md
Labels: documentation

#3362 [ENH] add GMMHMM from hmmlearn
  pyproject.toml
  sktime/annotation/hmm_learn/__init__.py
  sktime/annotation/hmm_learn/base.py
  sktime/annotation/hmm_learn/gaussian.py
  sktime/annotation/hmm_learn/gmm.py
  sktime/annotation/tests/test_hmm_learn.py
Labels: module:annotation, enhancement

#3405 [ENH] missing data input check in forecasters
  extension_templates/forecasting.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/ets.py
Labels: module:forecasting, enhancement

#3346 & ilkersigirci [BUG] ensure `Differencer` always inverts properly
  sktime/transformations/series/difference.py
  sktime/transformations/series/tests/test_differencer.py
Labels: module:transformations, bugfix

#3233 [ENH] Adding FCNClassifier
  sktime/classification/deep_learning/fcn.py
  sktime/networks/fcn.py
  sktime/tests/_config.py
Labels: module:classification

#3408 [ENH] soft dependency handling for mtypes
  sktime/datatypes/_hierarchical/_registry.py
  sktime/datatypes/_panel/_registry.py
  sktime/datatypes/_registry.py
  sktime/datatypes/_series/_registry.py
  sktime/datatypes/tests/test_lookup.py
  sktime/forecasting/tests/test_interval_wrappers.py
Labels: maintenance, module:datatypes

#3467 [MNT] update `test_interpolate` to be `pandas 1.5.0` compatible
  sktime/transformations/panel/tests/test_interpolate.py
Labels: maintenance

#3463 [BUG] ensure `nested_univ` metadata inference passes for scalar columns present
  sktime/datatypes/_panel/_check.py
Labels: module:datatypes, bugfix

#3456 [ENH] pandas 1.5.0 compatibility fix: use `infer_freq` in `Lag` if no `freq` passed or specified
  sktime/transformations/series/lag.py
Labels: module:transformations, bugfix

#3373 [ENH] Dobin basis transformation
  sktime/transformations/series/dobin.py
  sktime/transformations/series/tests/test_dobin.py
Labels: module:annotation, enhancement

#3466 [ENH] `check_is_scitype` error message return changed to `dict`
  sktime/datatypes/_check.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/transformations/base.py
Labels: module:datatypes, enhancement

#3457 [MNT] `pandas` 1.5.0 compatibility
  pyproject.toml
Labels: maintenance

#3482 Release v0.13.3
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance

#2926 [MNT] change refs from alan-turing-institute to sktime
  .all-contributorsrc
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTORS.md
  README.md
  build_tools/changelog.py
  docs/source/about/_mission.rst
  docs/source/about/artwork.rst
  docs/source/about/citation.md
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/contributing/reporting_bugs.rst
  docs/source/contributing/reviewer_guide.rst
  docs/source/developer_guide/add_estimators.rst
  docs/source/developer_guide/coding_standards.rst
  docs/source/developer_guide/continuous_integration.rst
  docs/source/developer_guide/dependencies.rst
  docs/source/developer_guide/deprecation.rst
  docs/source/developer_guide/documentation.rst
  docs/source/developer_guide/git_workflow.rst
  docs/source/developer_guide/release.rst
  docs/source/developer_guide/testing_framework.rst
  docs/source/events/gsoc_2022.md
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/governance.rst
  docs/source/get_involved/mentoring.rst
  docs/source/installation.rst
  docs/source/related_software.rst
  docs/source/user_guide.rst
  docs/source/user_guide/introduction.rst
  examples/01_forecasting.ipynb
  examples/01b_forecasting_proba.ipynb
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/feature_extraction_with_tsfresh.ipynb
  examples/minirocket.ipynb
  examples/rocket.ipynb
  examples/window_splitters.ipynb
  pyproject.toml
  sktime/_contrib/notebooks/windows_installation.ipynb
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/compose/_reduce.py
  sktime/tests/_config.py
Labels: maintenance

#3333 [ENH] global/local recursive reduction prototype
  sktime/forecasting/compose/_reduce.py
Labels: implementing framework, interfacing algorithms, module:forecasting, enhancement

#3403 [ENH] Segmentation metrics
  CODEOWNERS
  docs/source/api_reference/performance_metrics.rst
  sktime/performance_metrics/annotation/__init__.py
  sktime/performance_metrics/annotation/metrics.py
  sktime/performance_metrics/tests/test_segmentation_metrics.py
Labels: module:annotation, enhancement
