Repository sktime/sktime, pull requests merged in 2022-01, with the labels that each got.

#1811 [DOC] updated `get_test_params` extension template docs regarding imports
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
  extension_templates/transformer.py
Labels: documentation

#1795 [ENH] Transformers module full refactor - part I, `series` module
  sktime/annotation/clasp.py
  sktime/forecasting/compose/_pipeline.py
  sktime/tests/_config.py
  sktime/transformations/base.py
  sktime/transformations/series/acf.py
  sktime/transformations/series/adapt.py
  sktime/transformations/series/boxcox.py
  sktime/transformations/series/clasp.py
  sktime/transformations/series/compose.py
  sktime/transformations/series/cos.py
  sktime/transformations/series/date.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/difference.py
  sktime/transformations/series/exponent.py
  sktime/transformations/series/feature_selection.py
  sktime/transformations/series/func_transform.py
  sktime/transformations/series/impute.py
  sktime/transformations/series/matrix_profile.py
  sktime/transformations/series/outlier_detection.py
  sktime/transformations/series/summarize.py
  sktime/transformations/series/theta.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/utils/_testing/estimator_checks.py
Labels: module:transformations

#1630 [ENH] Probability threshold early classifier
  build_tools/azure/check_soft_dependencies.py
  sktime/classification/base.py
  sktime/classification/early_classification/__init__.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/classification/early_classification/tests/__init__.py
  sktime/classification/early_classification/tests/_test_probability_threshold.py
  sktime/registry/_tags.py
  sktime/tests/_config.py
Labels: module:classification

#1820 [ENH] Utils module housekeeping varia
  sktime/annotation/tests/test_all_annotators.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_sktime_forecasters.py
  sktime/registry/tests/test_lookup.py
  sktime/series_as_features/tests/test_all_panel_estimators.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/tests/test_all_estimators.py
Labels: module:tests

#1829 [ENH] test for `test_create_test_instances_and_names`
  sktime/tests/test_all_estimators.py
Labels: module:tests

#1770 [ENH] Forecaster convenience method to return forecast residuals
  sktime/forecasting/base/_base.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: implementing framework, module:forecasting

#1836 Add lmmentel to the team page :tada:
  docs/source/about/team.rst
Labels: documentation

#1786 [ENH] experimental: hierarchical time series scitype
  sktime/datatypes/_check.py
  sktime/datatypes/_convert.py
  sktime/datatypes/_examples.py
  sktime/datatypes/_hierarchical/__init__.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_hierarchical/_convert.py
  sktime/datatypes/_hierarchical/_examples.py
  sktime/datatypes/_hierarchical/_registry.py
  sktime/datatypes/_registry.py
Labels: module:forecasting

#1761 Numba based knn
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/distance_based/tests/test_time_series_neighbors.py
  sktime/distances/_numba_utils.py
Labels: module:classification

#1823 [ENH] Change `_set_fh` to a `_check_fh` that returns `self._fh`
  sktime/forecasting/base/_base.py
Labels: module:forecasting

#1579 Implement predict_quantiles and predict_intervals in theta forecasters, tests in base class
  extension_templates/forecasting.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_theta.py
  sktime/forecasting/theta.py
Labels: module:forecasting

#1852 [ENH] TSC Compose refactor
  sktime/classification/base.py
  sktime/classification/compose/_ensemble.py
  sktime/classification/compose/tests/test_column_ensemble.py
  sktime/classification/compose/tests/test_ensemble.py
  sktime/regression/compose/_ensemble.py
  sktime/series_as_features/base/estimators/_ensemble.py
Labels: module:classification

#1849 [ENH] add missing `fit` parameters to `statsmodels` Holt-Winters exponential smoothing interface
  sktime/forecasting/exp_smoothing.py
Labels: module:forecasting

#1869 Fix for #1866 and #1826
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/feature_based/tests/test_catch22_classifier.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_stsf.py
  sktime/transformations/panel/catch22.py
  sktime/transformations/panel/tests/test_catch22.py
Labels: bug, module:classification

#1799 [ENH] user selected return for classification problems data loading functions
  .gitignore
  sktime/classification/dictionary_based/tests/test_boss.py
  sktime/datasets/__init__.py
  sktime/datasets/_data_io.py
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_data_io.py
  sktime/datasets/tsc_dataset_names.py
Labels: module:classification

#1853 [DOC] updates to forecaster and transformer extension template
  extension_templates/forecasting.py
  extension_templates/transformer.py
Labels: documentation, module:forecasting

#1864 [ENH] Clustering module refactor
  examples/partition_based_clustering.ipynb
  extension_templates/classification.py
  extension_templates/clustering.py
  sktime/clustering/__init__.py
  sktime/clustering/_base.py
  sktime/clustering/_k_means.py
  sktime/clustering/_k_medoids.py
  sktime/clustering/base/__init__.py
  sktime/clustering/base/_typing.py
  sktime/clustering/base/base.py
  sktime/clustering/base/clustering_utils.py
  sktime/clustering/evaluation/__init__.py
  sktime/clustering/evaluation/_plot_clustering.py
  sktime/clustering/metrics/__init__.py
  sktime/clustering/metrics/averaging/__init__.py
  sktime/clustering/metrics/averaging/_averaging.py
  sktime/clustering/metrics/medoids.py
  sktime/clustering/partitioning/__init__.py
  sktime/clustering/partitioning/_averaging_metrics.py
  sktime/clustering/partitioning/_center_initializers.py
  sktime/clustering/partitioning/_cluster_approximations.py
  sktime/clustering/partitioning/_lloyds.py
  sktime/clustering/partitioning/_lloyds_partitioning.py
  sktime/clustering/tests/__init__.py
  sktime/clustering/tests/_clustering_tests.py
  sktime/clustering/tests/metrics/__init__.py
  sktime/clustering/tests/metrics/test_medoids.py
  sktime/clustering/tests/test_center_initializers.py
  sktime/clustering/tests/test_cluster_averaging.py
  sktime/clustering/tests/test_k_means.py
  sktime/clustering/tests/test_k_medoids.py
  sktime/clustering/tests/test_lloyds.py
  sktime/clustering/tests/test_time_series_k_means.py
  sktime/clustering/tests/test_time_series_k_medians.py
  sktime/clustering/utils/__init__.py
  sktime/clustering/utils/plotting/__init__.py
  sktime/clustering/utils/plotting/_plot_partitions.py
  sktime/registry/_base_classes.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/panel.py
Labels: module:clustering

#1846 [BUG] bugfixes for various bugs discovered in scenario testing
  sktime/alignment/dtw_python.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/_stack.py
  sktime/transformations/series/func_transform.py
  sktime/transformations/series/theta.py
  sktime/utils/validation/series.py
Labels: bug

#1858 [ENH] Composable distances interface prototype for numba distance module
  sktime/dists_kernels/_base.py
  sktime/dists_kernels/dtw.py
  sktime/registry/_tags.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
Labels: module:distances

#1707 [DOC] reformatted the documentation structure
  docs/source/contributing/enhancement_proposals.rst
  docs/source/contributing/reporting_bugs.rst
  docs/source/contributing/reviewer_guide.rst
  docs/source/developer_guide.rst
  docs/source/developer_guide/coding_standards.rst
  docs/source/developer_guide/continuous_integration.rst
  docs/source/developer_guide/documentation.rst
  docs/source/developer_guide/git_workflow.rst
  docs/source/developer_guide/release.rst
  docs/source/developers.rst
  docs/source/get_involved.rst
  docs/source/get_involved/code_of_conduct.rst
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/governance.rst
  docs/source/get_started.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/users.rst
Labels: documentation

#1819 [ENH] Test scenarios for advanced testing
  sktime/utils/_testing/scenarios.py
  sktime/utils/_testing/tests/test_testscenarios.py
Labels: module:tests

#1911 [BUG] erroneous index coercion in `convert_align_to_align_loc`
  pyproject.toml
  sktime/alignment/utils/utils_align.py
Labels: bug, module:alignment

#1921 [MNT] Bump numpy version to >=1.21.0, <1.22
  pyproject.toml
Labels: maintenance

#1913 [ENH] Scaled Logit Transformer
  CODEOWNERS
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/scaledlogit.py
  sktime/transformations/series/tests/test_scaledlogit.py
Labels: module:transformations

#1926 [ENH] introduce msm distance and adapt KNN classifier to use it.
  sktime/distances/_distance.py
  sktime/distances/_msm.py
  sktime/distances/tests/_expected_results.py
Labels: module:classification, module:distances

#1927 [ENH] Elastic ensemble to use numba distances instead of cython
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/tests/test_elastic_ensemble.py
  sktime/distances/__init__.py
  sktime/tests/_config.py
Labels: module:classification, module:distances

#1953 Temporary fix for CI/CD: removal of `test_multiprocessing_idempotent`
  sktime/tests/test_all_estimators.py
Labels: bug, maintenance

#1879 [ENH] Defaults for `_predict_interval` and `_predict_coverage`
  extension_templates/forecasting.py
  sktime/base/_base.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_theta.py
  sktime/forecasting/theta.py
Labels: module:forecasting

#1897 [ENH] `fit` repeated initialization in Lloyd's algorithm
  sktime/clustering/_k_means.py
  sktime/clustering/_k_medoids.py
  sktime/clustering/partitioning/_lloyds.py
  sktime/clustering/tests/test_k_means.py
  sktime/clustering/tests/test_k_medoids.py
  sktime/clustering/tests/test_lloyds.py
Labels: module:clustering

#1944 [ENH] FreshPRINCE params moved from _config into estimator
  sktime/classification/feature_based/_fresh_prince.py
  sktime/tests/_config.py
Labels: module:classification

#1964 Added VAR to API docs
  docs/source/api_reference/forecasting.rst
Labels: module:forecasting

#1959 [ENH] split tests in series_as_features into classification and regression
  sktime/classification/__init__.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/datasets/tests/test_data_processing.py
  sktime/regression/tests/__init__.py
  sktime/regression/tests/test_all_regressors.py
  sktime/series_as_features/tests/test_all_panel_transformers.py
  sktime/utils/_testing/tests/test_panel.py
Labels: module:classification, module:regression

#1839 [ENH] pytest conditional fixtures
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/_conditional_fixtures.py
Labels: module:tests

#1833 [ENH] Test refactor with scenarios
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/scenarios.py
  sktime/utils/_testing/scenarios_aligners.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_clustering.py
  sktime/utils/_testing/scenarios_forecasting.py
  sktime/utils/_testing/scenarios_getter.py
  sktime/utils/_testing/scenarios_transformers.py
  sktime/utils/_testing/scenarios_transformers_pairwise.py
  sktime/utils/_testing/tests/test_testscenario_getter.py
Labels: module:tests
