Repository sktime/sktime, pull requests merged in 2022-10, with the labels that each got.

#3445 ENH] isolate `statsmodels` imports
  sktime/forecasting/ardl.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/ets.py
  sktime/forecasting/exp_smoothing.py
  sktime/forecasting/sarimax.py
  sktime/forecasting/structural.py
  sktime/forecasting/tests/test_ardl.py
  sktime/forecasting/tests/test_sarimax.py
  sktime/forecasting/tests/test_structural.py
  sktime/forecasting/tests/test_var.py
  sktime/forecasting/tests/test_varmax.py
  sktime/forecasting/tests/test_vecm.py
  sktime/forecasting/trend.py
  sktime/forecasting/var.py
  sktime/forecasting/varmax.py
  sktime/forecasting/vecm.py
  sktime/param_est/seasonality.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/series/acf.py
  sktime/transformations/series/clear_sky.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/tests/test_deseasonalise.py
  sktime/utils/seasonality.py
Labels: maintenance, module:forecasting

#3411 [DOC] clarifications on deprecation notes
  docs/source/developer_guide/deprecation.rst
Labels: documentation, maintenance

#3436 [ENH] Add `@targetlabel` identifier for `.ts` files.
  sktime/datasets/__init__.py
  sktime/datasets/_data_io.py
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/data/Covid3Month/Covid3Month_TEST.ts
  sktime/datasets/data/Covid3Month/Covid3Month_TRAIN.ts
  sktime/datasets/setup.py
Labels: module:datasets&loaders

#3279 Update docs on releasing conda packages
  docs/source/developer_guide/release.rst
Labels: documentation, maintenance

#3386 [ENH] Add TapNet DL Model for Classification
  pyproject.toml
  sktime/classification/deep_learning/tapnet.py
  sktime/networks/tapnet.py
  sktime/tests/_config.py
Labels: module:classification

#3336 [ENH] design for generic save/load aka serialization/deserialization of estimators
  sktime/base/__init__.py
  sktime/base/_base.py
  sktime/base/_serialize.py
  sktime/tests/test_all_estimators.py
Labels: API design, implementing framework

#3504 & canbooo [BUG] fix `ColumnEnsembleForecaster` for str index; extend `ColumnEnsembleForecaster` to allow application of multivariate forecasters
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/tests/test_column_ensemble.py
Labels: module:forecasting, bugfix

#3486 [BUG] Pass all average params to kmeans
  sktime/clustering/k_means.py
  sktime/clustering/metrics/averaging/_averaging.py
Labels: module:clustering

#3519 [ENH] refactor/integrate `_contrib` - `diagram_code`
  sktime/_contrib/diagram_code/__init__.py
  sktime/benchmarking/critical_difference.py
  sktime/classification/plotting/__init__.py
  sktime/classification/plotting/temporal_importance_diagram.py
Labels: maintenance

#3518 [ENH] refactor/integrate `_contrib` - `datasets`
  sktime/_contrib/datasets/__init__.py
  sktime/_contrib/datasets/_data_io.py
  sktime/_contrib/datasets/_single_problem_loaders.py
  sktime/_contrib/datasets/tests/__init__.py
  sktime/_contrib/datasets/tests/test_single_problem_loaders.py
  sktime/_contrib/tests/test_data_io.py
  sktime/datasets/_data_io.py
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_single_problem_loaders.py
Labels: maintenance, module:datasets&loaders

#3495 [BUG] Fix residuals formula in NaiveForecaster predict_var for non-null window_length
  sktime/forecasting/naive.py
  sktime/forecasting/tests/test_naive.py
Labels: module:forecasting, bugfix

#3514 [ENH] refactor mtype conversion extension utils into one location
  sktime/datatypes/_convert_utils/__init__.py
  sktime/datatypes/_convert_utils/_convert.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/_table/_convert.py
Labels: module:datatypes, refactor

#3378 [ENH] Squaring residuals estimator
  .all-contributorsrc
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/squaring_residuals.py
  sktime/tests/_config.py
Labels: module:forecasting

#3515 [ENH] isolate `statsmodels` imports, part 2
  sktime/datasets/_single_problem_loaders.py
  sktime/transformations/series/acf.py
  sktime/utils/plotting.py
  sktime/utils/seasonality.py
Labels: maintenance

#3513 [ENH] `dask` conversion adapters for multi-indexed `pandas.DataFrame`
  sktime/datatypes/_adapter/dask_to_pd.py
  sktime/datatypes/_adapter/tests/__init__.py
  sktime/datatypes/_adapter/tests/test_dask_pd.py
Labels: module:datatypes, enhancement

#3546 [BUG] use of pd.concat in stratified resampling raises error in check_is_scitype
  sktime/benchmarking/tests/test_experiments.py
  sktime/utils/sampling.py
  sktime/utils/tests/test_sampling.py
Labels: bug, module:datasets&loaders

#3553 [ENH] replace inplace sort by non-inplace sort in `Reconciler`
  sktime/transformations/hierarchical/aggregate.py
Labels: maintenance, module:transformations

#3561 [ENH] Add more relevant parameters to `CNNRegressor` for user flexibility
  sktime/regression/deep_learning/cnn.py
Labels: module:regression

#3549 [BUG] Fix pipeline tag for NaN values
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
Labels: bug, module:forecasting

#3380 [ENH] Add Format Specification for `.ts` files.
  docs/source/api_reference.rst
  docs/source/api_reference/data_format.rst
  docs/source/api_reference/file_specifications/ts.rst
Labels: module:datasets&loaders

#3564 [BUG] RandomShapeletTransform: floor the maximum number of shapelets to be the number of classes
  sktime/tests/_config.py
  sktime/transformations/panel/shapelet_transform.py
Labels: module:transformations

#3566 [BUG] fix `check_estimator` exclude arguments not working for non-base scitype tests
  sktime/utils/estimator_checks.py
  sktime/utils/tests/test_check_estimator.py
Labels: module:tests, bugfix

#3542 [ENH] extend `evaluate` to hierarchical and panel data
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
Labels: implementing framework, module:forecasting, enhancement, module:metrics&benchmarking

#3576 [MNT] Bump pre-commit action from 2 to 3
  .github/workflows/test.yml
Labels: maintenance

#3577 [MNT] Bump setup-python action from 2 to 4
  .github/workflows/test.yml
  .github/workflows/wheels.yml
Labels: maintenance

#3399 [ENH] Add Information Gain Temporal Segmentation Estimator
  CODEOWNERS
  docs/source/api_reference/annotation.rst
  sktime/annotation/igts.py
  sktime/annotation/tests/test_igts.py
  sktime/tests/_config.py
Labels: implementing algorithms, module:annotation, enhancement

#3581 [DOC] minor clarifications of governance
  docs/source/get_involved/governance.rst
Labels: documentation, governance

#3569 [MNT] Remove `ABCMeta` inheritance from `_HeterogeneousMetaEstimator`
  sktime/base/_meta.py
Labels: maintenance

#3535 [ENH] test that `TruncationTransformer` preserves index and column names in `pd-multiindex`
  sktime/transformations/panel/tests/test_Truncate.py
  sktime/transformations/panel/truncation.py
Labels: module:transformations, module:tests

#3593 [DOC] fixes outdated points of contact in code of conduct
  docs/source/get_involved/code_of_conduct.rst
Labels: documentation, governance, enhancement

#3594 [DOC] fixes incorrect coc issue reporting link in issue tracker and remaining references in coc
  .github/ISSUE_TEMPLATE/config.yml
  docs/source/get_involved/code_of_conduct.rst
Labels: bug, documentation

#3587 [MNT] loosen `scipy` bound to <2.0.0
  pyproject.toml
Labels: maintenance

#3562 [BUG] Fix typo in `set_tags` call in `AggrDist.__init__`
  sktime/base/_base.py
  sktime/dists_kernels/compose_tab_to_panel.py
Labels: bugfix

#3603 [DOC] Add API documentation for the annotation subpackage
  docs/source/api_reference/annotation.rst
Labels: documentation, module:annotation

#3618 [BUG] bug in the interaction between Numba and np.zeros identified in #2397
  sktime/utils/estimators/tests/__init__.py
  sktime/utils/numba/general.py
  sktime/utils/numba/tests/__init__.py
  sktime/utils/numba/tests/test_general.py
Labels: module:classification

#3624 [MNT] temporarily remove stochastically failing tapnet from tests
  sktime/tests/_config.py
Labels: maintenance

#3425 [ENH] Save/Load Functionality for both Classical and DL Estimators
  pyproject.toml
  sktime/base/_base.py
  sktime/base/_serialize.py
  sktime/classification/deep_learning/__init__.py
  sktime/classification/deep_learning/base.py
  sktime/classification/tests/test_base.py
  sktime/regression/deep_learning/__init__.py
  sktime/regression/deep_learning/base.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
Labels: implementing framework

#3623 [BUG] Make EnsembleForecaster work with multivariate data
  .all-contributorsrc
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/tests/test_ensemble.py
  sktime/forecasting/online_learning/_online_ensemble.py
  sktime/regression/compose/_ensemble.py
Labels: module:forecasting

#3595 [ENH] `get_args` default handling for keys not present
  sktime/utils/_testing/scenarios.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_clustering.py
  sktime/utils/_testing/scenarios_forecasting.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:tests, enhancement

#3557 [ENH] `numpy` integer support for `ColumnEnsembleForecaster`
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/tests/test_column_ensemble.py
Labels: module:forecasting, enhancement

#3589 [DOC] update extension templates and docstrings for `_get_fitted_params`
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/transformer.py
  sktime/base/_base.py
  sktime/classification/_delegate.py
  sktime/forecasting/base/_delegate.py
  sktime/regression/_delegate.py
  sktime/transformations/_delegate.py
Labels: documentation

#3527 [BUG] Fixes 1788 - Add statsmodels append() to _update() in _StatsModelsAdapter
  sktime/forecasting/base/adapters/_statsmodels.py
Labels: module:forecasting

#3575 [DOC] Replace `sphinx-panels` with `sphinx-design`
  docs/source/conf.py
  docs/source/developers.rst
  docs/source/get_involved.rst
  docs/source/get_involved/contributing.rst
  docs/source/index.rst
  docs/source/tutorials.rst
  docs/source/users.rst
  pyproject.toml
Labels: documentation

#3598 [BUG] fix `get_fitted_params` default for unfittable components
  sktime/base/_base.py
Labels: bug, implementing framework

#3599 [BUG] fix `get_fitted_params` for non-conformant estimators
  sktime/classification/interval_based/_tsf.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/model_selection/_tune.py
  sktime/series_as_features/base/estimators/_ensemble.py
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
  sktime/transformations/compose.py
Labels: module:classification, module:forecasting, bugfix

#3523 [ENH] Classifier Notebook sklearn Examples
  examples/02_classification.ipynb
  sktime/classification/tests/test_sklearn_compatability.py
Labels: documentation, module:classification

#3451 [ENH/BUG] extend recursive strategy in `make_reduction` to allow global pooling on panel data
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/global_fc/X.pkl
  examples/global_fc/y.pkl
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
  sktime/forecasting/compose/tests/test_reduce_global.py
Labels: module:forecasting

#3532 [BUG] writing datasets to file in ts format
  sktime/_contrib/classification_experiments.py
  sktime/datasets/__init__.py
  sktime/datasets/_data_io.py
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_data_io.py
  sktime/datatypes/_check.py
Labels: module:datasets&loaders

#3585 [ENG] forecast-by-level wrapper
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_grouped.py
Labels: interfacing algorithms, module:forecasting, enhancement

#3505 [GOV] CC observers role, update to role holders, add Guzal to CC
  docs/source/about/team.rst
  docs/source/get_involved/governance.rst
Labels: governance

#3095 [GOV] proposed code of conduct update - mature sktime structure and decision making on resources
  docs/source/get_involved/code_of_conduct.rst
Labels: governance, enhancement

#3591 [ENH] refactor remaining `get_fitted_params` overrides to `_get_fitted_params`
  sktime/forecasting/ardl.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/param_est/base.py
Labels: refactor, enhancement

#3639 [ENH] fixed parameter setter estimator
  sktime/param_est/fixed.py
Labels: implementing algorithms, enhancement

#3642 [ENH] fix conditional `requires-fh-in-fit` tag in `EnsembleForecaster`
  sktime/forecasting/compose/_ensemble.py
Labels: module:forecasting, bugfix

#3637 [ENH] multivariate test case for `EnsembleForecaster`
  sktime/forecasting/compose/_ensemble.py
Labels: module:forecasting, enhancement

#3506 [ENH] add forecaster test case with string columns
  sktime/utils/_testing/scenarios_forecasting.py
Labels: module:forecasting, module:tests

#3485 [BUG] twe alignment path fix and refactor
  sktime/distances/_distance_alignment_paths.py
  sktime/distances/_twe.py
  sktime/distances/tests/test_distance_alignment_path.py
Labels: module:distances

#3442 [BUG] fix `get_cutoff` for numpy format
  sktime/datatypes/_utilities.py
Labels: module:datatypes

#3555 [ENH] improve base class test docstrings and clone test
  sktime/tests/test_all_estimators.py
Labels: implementing framework, enhancement

#3645 [ENH] `get_fitted_params` for nested `sklearn` components
  sktime/base/_base.py
  sktime/base/tests/test_base.py
  sktime/base/tests/test_base_sktime.py
Labels: enhancement, module:base-framework

#3460 [BUG] Fix `ConformalIntervals` update does not update residuals_matrix
  sktime/forecasting/conformal.py
Labels: module:forecasting

#3556 [BUG] fix erroneous asserts in input checkers
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_series/_check.py
Labels: bugfix
