Repository sktime/sktime, pull requests merged in 2022-04, with the labels that each got.

#2362 [BUG] fix `_update` default for late `fh` pass case
  sktime/forecasting/base/_base.py
Labels: bug, module:forecasting

#2259 [BUG] `TSInterpolator` and `nested_univ` check fix
  sktime/datatypes/_panel/_check.py
  sktime/tests/_config.py
  sktime/transformations/panel/interpolate.py
Labels: bug, module:transformations, module:datatypes

#2253 [ENH] Transformers module full refactor - part III, `panel` module (2nd batch)
  sktime/transformations/panel/catch22.py
  sktime/transformations/panel/matrix_profile.py
  sktime/transformations/panel/reduce.py
  sktime/transformations/panel/rocket/_minirocket.py
  sktime/transformations/panel/rocket/_minirocket_multivariate.py
  sktime/transformations/panel/rocket/_multirocket.py
  sktime/transformations/panel/rocket/_multirocket_multivariate.py
  sktime/transformations/panel/shapelet_transform.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/utils/_testing/estimator_checks.py
Labels: module:transformations, refactor

#2303 [DOC] updated extension templates: link to docs and reference to `check_estimator`
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: documentation

#2372 [BUG] fixing click/black incompatibility in CI
  .pre-commit-config.yaml
Labels: bug, maintenance

#2366 [ENH] `BaseObject.is_composite` utility, relax errors in `BaseClassifier` input checks to warnings for composites
  sktime/base/_base.py
  sktime/base/_meta.py
  sktime/base/tests/test_base.py
  sktime/classification/base.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
Labels: module:classification

#2311 [ENH] move "sktime forecaster tests" into `TestAllForecasters` class
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_sktime_forecasters.py
  sktime/forecasting/tests/test_window_forecasters.py
  sktime/utils/_testing/scenarios_getter.py
Labels: module:forecasting, module:tests, refactor

#2316 [BUG][ENH] WindowSummarizer offset fix, easier lag specification
  sktime/transformations/series/summarize.py
  sktime/transformations/series/tests/test_window_summarizer.py
  sktime/transformations/series/window_summarizer.py
Labels: bug, module:transformations

#2324 [BUG] FeatureUnion output column names fixed
  sktime/transformations/compose.py
  sktime/transformations/tests/test_compose.py
Labels: bug, module:transformations

#2355 [ENH] vectorization for probabilistic forecasting methods that return `pd.DataFrame`
  sktime/forecasting/base/_base.py
Labels: module:forecasting, enhancement

#2318 [ENH] adding compatibility with probabilistic and hierarchical forecasts to `ForecastingPipeline` and `TransformedTargetForecaster`
  extension_templates/forecasting.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/tests/_config.py
  sktime/transformations/compose.py
  sktime/utils/_testing/estimator_checks.py
Labels: module:forecasting

#2320 [ENH] `AutoETS` prediction intervals simplification
  sktime/forecasting/base/_base.py
  sktime/forecasting/ets.py
Labels: module:forecasting, bugfix

#2390 [ENH] Get rid of `pd.Int64Index`
  sktime/contrib/datasets/_single_problem_loaders.py
  sktime/datasets/_single_problem_loaders.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_proba/_check.py
  sktime/datatypes/_series/_check.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/utils/tests/test_plotting.py
  sktime/utils/validation/series.py
Labels: maintenance

#2378 [ENH] Faster classifier example parameters
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_random_interval_classifier.py
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/feature_based/_summary_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/shapelet_based/_stc.py
Labels: module:classification

#2367 [ENH] Capability inference for transformer and classifier pipelines
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  sktime/base/_meta.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/compose/tests/test_pipeline.py
  sktime/registry/_tags.py
  sktime/transformations/base.py
  sktime/transformations/compose.py
  sktime/transformations/panel/padder.py
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/slope.py
  sktime/transformations/panel/truncation.py
  sktime/transformations/series/impute.py
  sktime/transformations/tests/test_compose.py
Labels: module:classification, module:transformations

#2393 [DOC] Added docstring examples to load data functions
  sktime/datasets/_single_problem_loaders.py
Labels: documentation

#2358 [MNT] removing unused imports from `tests._config`
  sktime/tests/_config.py
Labels: maintenance, module:tests

#2356 [ENH] probabilistic methods for `ColumnEnsembleForecaster` (except `predict_proba`)
  sktime/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
Labels: module:forecasting

#2363 [ENH] upgrade `BasePairwiseTransformer` to use `datatypes` input conversions and checks
  sktime/dists_kernels/_base.py
Labels: refactor, module:dists_and_kerns

#2369 [ENH] Transformers module full refactor - part IV, `panel` module (3rd batch)
  sktime/classification/feature_based/_signature_classifier.py
  sktime/datatypes/_utilities.py
  sktime/tests/_config.py
  sktime/transformations/panel/compose.py
  sktime/transformations/panel/hog1d.py
  sktime/transformations/panel/random_intervals.py
  sktime/transformations/panel/rocket/_minirocket.py
  sktime/transformations/panel/rocket/_rocket.py
  sktime/transformations/panel/signature_based/_augmentations.py
  sktime/transformations/panel/signature_based/_checks.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/signature_based/_signature_method.py
  sktime/transformations/panel/signature_based/tests/test_augmentations.py
  sktime/transformations/panel/summarize/_extract.py
Labels: module:transformations, refactor

#2373 Add GSoC 2022 landing page and announcement
  docs/source/events/gsoc_2022.md
  docs/source/index.rst
Labels: documentation

#2325 [ENH] memory for `WindowSummarizer` to enable `transform` windows to reach into the `fit` time period
  sktime/transformations/series/summarize.py
Labels: module:transformations

#2305 [ENH] wrapper for stream forecasting (update_predict use) to trigger regular refit
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
  sktime/forecasting/base/_delegate.py
  sktime/forecasting/stream/__init__.py
  sktime/forecasting/stream/_update.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting

#2103 [ENH] tsf loader mtype fix
  sktime/datasets/_data_io.py
  sktime/datasets/data/UnitTest/UnitTest_Tsf_Loader_hierarchical.tsf
  sktime/datasets/data/UnitTest/UnitTest_Tsf_Loader_no_start_timestamp.tsf
  sktime/datasets/tests/test_data_io.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
Labels: module:datasets&loaders

#2395 [ENH] `NaiveVariance`: verbose arg and extended docstring
  sktime/forecasting/naive.py
Labels: documentation, module:forecasting, enhancement

#2406 [ENH] extend `_HeterogeneousMetaEstimator` estimator to allow mixed tuple/estimator list
  sktime/base/_meta.py
  sktime/transformations/compose.py
Labels: module:forecasting, module:transformations, refactor

#2408 [ENH] tests for `check_estimator` tests passing
  sktime/forecasting/model_selection/tests/test_split.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/utils/tests/test_check_estimator.py
Labels: module:tests

#2420 [BUG] Sets "can handle missing value" tag in ARIMA and AutoARIMA
  sktime/forecasting/arima.py
  sktime/forecasting/base/adapters/_pmdarima.py
Labels: module:forecasting, bugfix

#2401 [BUG] fixed `score_average` parameter of proba metrics, docstrings
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/tests/test_probabilistic_metrics.py
Labels: module:forecasting

#2425 [BUG] `TransformedTargetForecaster` inverses were not working for univariate transformers and more than one quantile
  sktime/forecasting/compose/_pipeline.py
  sktime/transformations/series/detrend/_detrend.py
Labels: module:forecasting, bugfix

#2426 [BUG] fixed fitting logic for postprocessing in `TransformedTargetForecaster`
  sktime/forecasting/compose/_pipeline.py
Labels: module:forecasting, bugfix

#2428 Release v0.11.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance

#2432 [BUG] temp workaround for unnamed levels in hierarchical X passed to aggregator
  sktime/transformations/hierarchical/aggregate.py
Labels: module:transformations, bugfix

#2431 [BUG] forecasting pipeline dunder fix
  sktime/forecasting/compose/_pipeline.py
  sktime/transformations/compose.py
Labels: module:forecasting, bugfix

#2445 Release v0.11.2
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance

#2389 [ENH] upgrade codecov uploader and cleanup coverage reporting
  .coveragerc
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  .gitignore
  Makefile
  sktime/utils/_testing/panel.py
Labels: maintenance

#2268 [ENH, BUG] Distance refactor and bug fix
  examples/partition_based_clustering.ipynb
  sktime/_contrib/clustering_experiments.py
  sktime/_contrib/distance_refactor.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/distance_based/tests/test_time_series_neighbors.py
  sktime/clustering/k_means.py
  sktime/clustering/partitioning/_lloyds.py
  sktime/clustering/tests/metrics/test_medoids.py
  sktime/datasets/_single_problem_loaders.py
  sktime/distances/_ddtw.py
  sktime/distances/_distance.py
  sktime/distances/_distance_pairwise.py
  sktime/distances/_dtw.py
  sktime/distances/_edr.py
  sktime/distances/_erp.py
  sktime/distances/_euclidean.py
  sktime/distances/_lcss.py
  sktime/distances/_msm.py
  sktime/distances/_numba_utils.py
  sktime/distances/_resolve_metric.py
  sktime/distances/_squared.py
  sktime/distances/_wddtw.py
  sktime/distances/_wdtw.py
  sktime/distances/base/_base.py
  sktime/distances/elastic.py
  sktime/distances/lower_bounding.py
  sktime/distances/tests/_expected_results.py
  sktime/distances/tests/_shared_tests.py
  sktime/distances/tests/test_distance_correctness.py
  sktime/distances/tests/test_lower_bounding.py
  sktime/distances/tests/test_numba_distances.py
  sktime/distances/tests/test_pairwise_distances.py
  sktime/dists_kernels/dtw.py
Labels: module:distances, refactor

#2466 [ENH] refactor `_predict_moving_cutoff` and bugfix, outer `update_predict_single` should be called
  extension_templates/forecasting.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_sktime.py
Labels: module:forecasting, bugfix

#2468 [BUG] remove `alpha` arg from `_boxcox`, remove private method dependencies, ensure scipy 1.8.0 compatibility
  sktime/transformations/series/boxcox.py
Labels: module:transformations, bugfix

#2429 [DOC] Added clustering module to API docs
  README.md
  docs/source/api_reference.rst
  docs/source/api_reference/classification.rst
  docs/source/api_reference/clustering.rst
  docs/source/api_reference/forecasting.rst
  docs/source/get_started.rst
  docs/source/index.rst
  sktime/clustering/k_means.py
  sktime/clustering/k_medoids.py
  sktime/clustering/metrics/averaging.py
  sktime/clustering/metrics/averaging/__init__.py
  sktime/clustering/partitioning/__init__.py
  sktime/clustering/partitioning/_lloyds.py
  sktime/clustering/utils/plotting/_plot_partitions.py
Labels: documentation, module:clustering

#2474 [MNT] loosen strict upper bound on `scipy` to 1.9.0
  pyproject.toml
Labels: maintenance

#2494 [ENH] changed references to `fit-in-transform` to `fit_is_empty`
  extension_templates/transformer_simple.py
  sktime/transformations/series/adapt.py
  sktime/transformations/tests/test_base.py
Labels: maintenance

#2457 [BUG] fix accidental overwrite of default method/arg sequences in test scenarios
  sktime/utils/_testing/scenarios.py
Labels: module:forecasting, module:datatypes, bugfix

#2497 [ENH] speed up Facebook Prophet tests
  sktime/forecasting/fbprophet.py
Labels: maintenance

#2462 [ENH] more forecaster scenarios for testing: using `X`
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/scenarios_aligners.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_clustering.py
  sktime/utils/_testing/scenarios_forecasting.py
  sktime/utils/_testing/scenarios_transformers.py
  sktime/utils/_testing/scenarios_transformers_pairwise.py
Labels: module:forecasting, module:tests

#2513 [BUG] fixed `ColumnEnsembleClassifier` handling of unequal lenght data
  sktime/classification/compose/_column_ensemble.py
Labels: module:classification, bugfix

#2508 [ENH] Tests for multiple classifier input mtypes
  sktime/classification/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
  sktime/datatypes/tests/test_panel_converters.py
  sktime/forecasting/base/tests/test_base.py
  sktime/utils/_testing/panel.py
  sktime/utils/_testing/tests/test_panel.py
Labels: module:classification

#2506 [ENH] Legacy test refactor - move `test_data_processing`, mtype handling in `test_classifier_output`
  sktime/classification/tests/test_all_classifiers.py
  sktime/datatypes/tests/test_panel_converters.py
Labels: module:tests, refactor

#2519 [ENH] cleaning up `_panel._convert` module
  examples/loading_data.ipynb
  sktime/datatypes/_panel/_convert.py
Labels: module:datatypes

#2525 [ENH] Proximity forest faster test param settings
  sktime/classification/distance_based/_proximity_forest.py
Labels: maintenance

#2112 [ENH] Proximity forest minor fixes
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/tests/_expected_outputs.py
  sktime/tests/_config.py
  sktime/transformations/tests/test_all_transformers.py
Labels: module:classification

#2532 [MNT] added pytest timeout of 5 minutes
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  build_tools/azure/build_wheels.sh
  pyproject.toml
Labels: maintenance

#2492 [DOC] updated datatypes notebook
  examples/AA_datatypes_and_datasets.ipynb
Labels: documentation

#2516 [ENH] unequal length classifier scenario
  sktime/regression/base.py
  sktime/utils/_testing/scenarios_classification.py
Labels: module:classification, module:tests

#2533 [ENH] Logger update - `__init__` removal, private `log` attribute
  sktime/registry/_lookup.py
  sktime/utils/estimators/_base.py
  sktime/utils/estimators/tests/test_base.py
Labels: module:tests

#2541 [ENH] raise `pytest-timeout` time limit to 10min
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  build_tools/azure/build_wheels.sh
Labels: maintenance

#2529 [BUG] fix `ThetaForecaster.predict_quantiles` breaking on `pd.DataFrame` input
  sktime/forecasting/theta.py
Labels: module:forecasting, bugfix

#2538 BUG] bugfix for default `_predict_var` implementation
  sktime/forecasting/base/_base.py
Labels: module:forecasting, bugfix

#2536 [ENH] turn on tests for no state change in `transform`, `predict`
  sktime/dists_kernels/_base.py
  sktime/dists_kernels/compose_from_align.py
  sktime/dists_kernels/compose_tab_to_panel.py
  sktime/dists_kernels/tests/test_all_dist_kernels.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/series/clasp.py
Labels: maintenance, module:tests

#2548 [BUG] Fixed bug with kmedoids
  sktime/clustering/k_medoids.py
  sktime/clustering/tests/test_k_medoids.py
Labels: bug, module:clustering

#2561 [BUG] switch scipy mirror to anaconda on windows to resolve `gfortran` `FileNotFoundError` in all CI/CD
  .github/workflows/test.yml
Labels: maintenance

#2531 [ENH] BaseObject reset functionality
  sktime/base/_base.py
  sktime/base/tests/test_base.py
  sktime/forecasting/base/_base.py
Labels: implementing framework, enhancement

#2450 [DOC] Broken Links in Testing Framework Doc
  docs/source/developer_guide/testing_framework.rst
Labels: documentation

#2449 [MNT] Add a script to generate changelog in rst format
  build_tools/changelog.py
  pyproject.toml
Labels: maintenance

#2496 [ENH] metrics rework part I - output format tests
  sktime/performance_metrics/forecasting/_functions.py
  sktime/performance_metrics/tests/test_metrics_classes.py
  sktime/performance_metrics/tests/test_numpy_metrics.py
Labels: refactor, module:metrics&benchmarking

#2563 [BUG] fix random state overwrite in MiniRocketMultivariate
  .all-contributorsrc
  sktime/transformations/panel/rocket/_minirocket.py
  sktime/transformations/panel/rocket/_minirocket_multivariate.py
Labels: module:classification, bugfix

#2458 [ENH] `MultiplexForecaster` compatibility with multivariate, probabilistic and hierarchical forecasting
  sktime/base/_meta.py
  sktime/classification/compose/_pipeline.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/transformations/compose.py
Labels: module:forecasting, enhancement

#2456 [BUG] Fix type checking error due to pipeline type polymorphism when constructing nested pipelines
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/registry/_scitype.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_getter.py
Labels: module:forecasting, module:datatypes, bugfix

#2487 [ENH] Differencer NA handling - "fill zero" parameter
  sktime/transformations/series/difference.py
  sktime/transformations/series/tests/test_differencer.py
Labels: implementing algorithms, module:transformations

#2534 [ENH] Added FitInTransform transformer
  docs/source/api_reference/transformations.rst
  sktime/classification/compose/_pipeline.py
  sktime/transformations/compose.py
  sktime/transformations/tests/test_fitintransform.py
Labels: module:transformations

#2521 [ENH] simplify `load_from_tsfile`, support more mtypes
  sktime/datasets/_data_io.py
Labels: refactor, module:datasets&loaders

#2470 [ENH] removing dead args and functions post `_predict_moving_cutoff` refactor
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_sktime.py
Labels: module:forecasting, refactor

#2557 [BUG] fix for `update_predict` state handling bug, replace detached cutoff by deepcopy
  sktime/forecasting/base/_base.py
  sktime/forecasting/online_learning/tests/test_online_learning.py
Labels: module:forecasting, bugfix

#2440 [ENH] Add random_state to statsmodels adapter
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/tests/randomtest.py
  sktime/forecasting/ets.py
  sktime/forecasting/exp_smoothing.py
  sktime/forecasting/sarimax.py
  sktime/forecasting/structural.py
  sktime/forecasting/var.py
Labels: module:forecasting, enhancement

#2580 [BUG] fix problem in ThetaForecaster proba prediction introduced by #2529
  sktime/forecasting/theta.py
Labels: module:forecasting, bugfix

#2583 [MNT] CI/CD failure diagnostics: remove extra scipy/matplotlib install
  .github/workflows/test.yml
  .github/workflows/wheels.yml
Labels: maintenance
