Repository sktime/sktime, pull requests merged in 2022-07, with the labels that each got.

#2863 [ENH] remove old `multiindex-df` index convention hack from `VectorizedDF`
  sktime/datatypes/_vectorize.py
Labels: module:datatypes

#2861 [ENH] `all_estimators` authors variable
  sktime/registry/_lookup.py
Labels: documentation

#2876 [DOC] added missing credits in `naive.py`
  .all-contributorsrc
  sktime/forecasting/naive.py
Labels: documentation, module:forecasting

#2864 [ENH] `VectorizedDF` to support vectorization across columns/variables
  sktime/datatypes/_vectorize.py
  sktime/datatypes/tests/test_vectorize.py
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: module:datatypes, enhancement

#2852 [BUG] fixing `get_time_index` for 1D and 2D numpy formats
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
Labels: module:datatypes, bugfix

#2882 [BUG] fix bug in verbose mode in CNN TSC models
  sktime/classification/deep_learning/cnn.py
Labels: module:classification, bugfix

#2909 [ENH] turn private cutoff of forecasters into an index that carries `freq`
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_sktime.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/compose/_reduce.py
  sktime/utils/datetime.py
Labels: module:forecasting, enhancement

#2878 [DOC] add `_is_vectorized` to forecaster extension template exclusion list
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
Labels: documentation

#2865 [ENH] auto-vectorization over columns for univariate estimators - forecasters
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/scenarios_forecasting.py
Labels: module:forecasting, enhancement

#2867 [ENH] auto-vectorization over columns for univariate estimators - transformers
  .all-contributorsrc
  docs/source/related_software.rst
  sktime/forecasting/reconcile.py
  sktime/forecasting/tests/test_reconcile.py
  sktime/transformations/base.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/transformations/tests/test_base.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:transformations, enhancement

#2937 [ENH] auto-vectorization over columns for univariate estimators - transformers
  sktime/transformations/base.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/transformations/tests/test_base.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:transformations, enhancement

#2932 & khrapovs [ENH] addressing `freq` deprecation in `ForecastingHorizon`
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/model_selection/_split.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_naive.py
  sktime/utils/_testing/forecasting.py
  sktime/utils/datetime.py
  sktime/utils/tests/test_datetime.py
  sktime/utils/validation/forecasting.py
Labels: module:forecasting

#2912 [MNT] delete duplicate classifier tests
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/dictionary_based/tests/test_boss.py
  sktime/classification/dictionary_based/tests/test_cboss.py
  sktime/classification/dictionary_based/tests/test_tde.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/tests/__init__.py
  sktime/classification/feature_based/tests/test_fresh_prince.py
  sktime/classification/feature_based/tests/test_tsfresh_classifier.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/tests/test_drcif.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/kernel_based/tests/test_arsenal.py
  sktime/classification/shapelet_based/_stc.py
  sktime/classification/shapelet_based/tests/test_stc.py
  sktime/classification/tests/test_all_classifiers.py
Labels: maintenance, module:classification

#2911 [DOC] replace AyushmaanSeth name with GitHub ID
  sktime/classification/compose/_ensemble.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
  sktime/regression/compose/_ensemble.py
  sktime/transformations/panel/tsfresh.py
Labels: documentation

#2906 [ENH] extend `ColumnSubset` to work for scalar `columns` parameter
  sktime/transformations/series/subset.py
Labels: module:transformations, enhancement

#2660 [ENH] estimator upper bound tag for selective version compatibility, test exclusion
  sktime/classification/base.py
  sktime/forecasting/base/_base.py
  sktime/registry/_tags.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/base.py
  sktime/utils/validation/_dependencies.py
Labels: maintenance, module:tests

#2661 [ENH] python 3.10 upgrade with estimator version tag
  .github/workflows/test.yml
  extension_templates/classification.py
  extension_templates/forecasting.py
  extension_templates/transformer.py
  pyproject.toml
  sktime/classification/base.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/fbprophet.py
  sktime/registry/_tags.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/base.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/signature_based/_signature_method.py
  sktime/transformations/panel/signature_based/tests/test_method.py
  sktime/transformations/panel/tests/test_tsfresh.py
  sktime/transformations/panel/tsfresh.py
  sktime/transformations/tests/test_base.py
  sktime/utils/validation/_dependencies.py
Labels: maintenance

#2915 [ENH][MNT] package dependency tags
  docs/source/developer_guide/dependencies.rst
  sktime/alignment/dtw_python.py
  sktime/annotation/adapters/_pyod.py
  sktime/classification/base.py
  sktime/classification/deep_learning/base.py
  sktime/classification/deep_learning/cnn.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/clustering/base.py
  sktime/clustering/k_shapes.py
  sktime/clustering/kernel_k_means.py
  sktime/forecasting/arima.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/fbprophet.py
  sktime/forecasting/statsforecast.py
  sktime/networks/cnn.py
  sktime/registry/_tags.py
  sktime/registry/tests/test_lookup.py
  sktime/transformations/base.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/signature_based/_signature_method.py
  sktime/transformations/panel/tsfresh.py
  sktime/transformations/series/kalman_filter.py
  sktime/transformations/series/matrix_profile.py
  sktime/utils/validation/_dependencies.py
Labels: maintenance, enhancement

#2917 [MNT] remove Azure build tools and dependency handling instructions
  build_tools/azure/build_manylinux_wheels.yml
  build_tools/azure/build_wheels.sh
  build_tools/azure/check_soft_dependencies.py
  build_tools/azure/publish.yml
  docs/source/developer_guide/dependencies.rst
Labels: maintenance

#2979 [MNT] Update numpy to <=1.22
  pyproject.toml
Labels: maintenance

#2895 [MNT] 0.13.0 deprecation actions
  examples/01_forecasting.ipynb
  sktime/base/_base.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/model_selection/_tune.py
  sktime/performance_metrics/base/_base.py
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/transformations/series/difference.py
  sktime/transformations/series/impute.py
  sktime/transformations/series/summarize.py
Labels: maintenance

#2763 [ENH] statsmodels VARMAX adapter
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/tests/test_varmax.py
  sktime/forecasting/varmax.py
Labels: interfacing algorithms, module:forecasting

#2980 [BUG] Early classification test fixes
  sktime/classification/early_classification/tests/test_all_early_classifiers.py
  sktime/tests/_config.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_getter.py
Labels: module:classification, bugfix

#2945 [BUG] fixing grid/random search broken delegation
  sktime/forecasting/model_selection/_tune.py
Labels: module:forecasting, bugfix

#2992 [MNT] set number of `pytest-xdist` workers to auto
  setup.cfg
Labels: maintenance

#2970 [BUG] ensure `IntervalSegmenter` unique column output
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/tests/test_segment.py
Labels: module:transformations, bugfix

#2958 [ENH] transformer vectorization: ensure unique column names if unvectorized output is multivariate
  sktime/datatypes/_vectorize.py
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/tests/test_sliding_window_segmenter_transformer.py
  sktime/transformations/tests/test_base.py
Labels: module:transformations, module:datatypes

#2974 [BUG] fix NaN columns in bootstrap transformers
  sktime/transformations/bootstrap/_mbb.py
Labels: module:transformations, bugfix

#2994 [ENH] missing `tsfresh` depependency tags
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_tsfresh_classifier.py
Labels: module:classification

#2972 [ENH] add check for forecast to have correct columns
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/utils/_testing/forecasting.py
Labels: module:forecasting, module:tests

#2959 [ENH] fix pipeline vectorization for univariate estimators
  sktime/forecasting/compose/_pipeline.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/compose.py
  sktime/transformations/tests/test_compose.py
Labels: module:forecasting, module:transformations, bugfix

#2999 [BUG] preserve `pd-multiindex` index names, and ensure `TruncationTransformer.transform` output now has same columns as input
  sktime/datatypes/_panel/_convert.py
  sktime/transformations/panel/truncation.py
Labels: module:transformations, bugfix

#3006 [MNT] fix merge accident in wheels.yml
  .github/workflows/wheels.yml
Labels: maintenance

#2954 [ENH] "dont refit or update" option in `evaluate`
  sktime/forecasting/model_evaluation/_functions.py
Labels: module:forecasting

#2928 [MNT] removal of pytest pyargs in CI/CD
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  Makefile
  setup.cfg
Labels: maintenance

#2955 [ENH] regular update for stream forecasting, and "no update" wrappers
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/stream/__init__.py
  sktime/forecasting/stream/_update.py
Labels: module:forecasting, enhancement

#3008 [ENH] refactored test params for ColumnTransformer
  sktime/tests/_config.py
  sktime/transformations/panel/compose.py
Labels: module:transformations

#3001 [BUG] fixes `RandomIntervalFeatureExtractor` to have unique column names
  sktime/transformations/panel/summarize/_extract.py
Labels: module:transformations, bugfix

#3017 [MNT] Fix broken Slack invite link
  README.md
Labels: maintenance

#3030 [MNT] xfail known sporadic test failure #2368
  sktime/benchmarking/tests/test_evaluator.py
Labels: maintenance

#3002 [ENH] Add multivariate CNN example (from sktime-dl)
  examples/02a_classification_multivariate_cnn.ipynb
Labels: module:classification

#3048 [MNT] remove custom `__repr__` from `BaseSplitter`
  sktime/forecasting/model_selection/_split.py
Labels: maintenance

#2990 [ENH] isolate soft dependencies
  sktime/_contrib/_plot_path.py
  sktime/_contrib/diagram_code/critical_difference.py
  sktime/_contrib/diagram_code/temporal_importance_diagram.py
  sktime/alignment/tests/test_all_aligners.py
  sktime/annotation/tests/test_all_annotators.py
  sktime/benchmarking/evaluation.py
  sktime/benchmarking/tests/test_evaluator.py
  sktime/clustering/tests/test_k_means.py
  sktime/clustering/tests/test_k_shapes.py
  sktime/clustering/tests/test_kernel_k_means.py
  sktime/forecasting/arima.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/bats.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_multiplex.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/forecasting/fbprophet.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/forecasting/statsforecast.py
  sktime/forecasting/tbats.py
  sktime/pipeline/_make_pipeline.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/panel/signature_based/tests/test_method.py
  sktime/transformations/panel/tests/test_tsfresh.py
  sktime/transformations/series/kalman_filter.py
  sktime/transformations/series/matrix_profile.py
  sktime/transformations/series/tests/test_kalman_filter.py
  sktime/transformations/tests/test_base.py
  sktime/utils/estimator_checks.py
  sktime/utils/plotting.py
Labels: maintenance, refactor

#3007 [BUG] fix for `Differencer.inverse_transform` not having access to data index `freq`
  sktime/transformations/series/difference.py
  sktime/transformations/series/tests/test_differencer.py
Labels: module:transformations, bugfix

#3054 [ENH] Added docstring example for make_reduction
  sktime/forecasting/compose/_reduce.py
Labels: documentation, module:forecasting

#3059 [MNT] Update codecov github action from v2 to v3
  .github/workflows/test.yml
Labels: maintenance

#2951 [MNT] Vector Classifiers from _contrib to Classification Package
  sktime/_contrib/vector_classifiers/__init__.py
  sktime/classification/dictionary_based/tests/test_tde.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_random_interval_classifier.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/hybrid/tests/test_hivecote_v2.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/shapelet_based/_stc.py
  sktime/classification/shapelet_based/tests/test_stc.py
  sktime/classification/sklearn/__init__.py
  sktime/classification/sklearn/_continuous_interval_tree.py
  sktime/classification/sklearn/_rotation_forest.py
  sktime/classification/sklearn/tests/__init__.py
  sktime/classification/sklearn/tests/test_all_classifiers.py
  sktime/classification/sklearn/tests/test_rotation_forest.py
  sktime/classification/tests/_classification_test_reproduction.py
  sktime/classification/tests/test_all_classifiers.py
Labels: module:classification

#3010 [ENH] parameter checking and move of `super.__init__` in extension templates
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: API design, documentation

#3016 [DOC] proba forecasting notebook from pydata Berlin 2022
  examples/01b_forecasting_proba.ipynb
  sktime/utils/plotting.py
Labels: documentation

#3060 [DOC] fix typo in segmentation_with_clasp.ipynb
  examples/segmentation_with_clasp.ipynb
Labels: documentation, module:annotation

#3031 [ENH] ensure data loaders produce unique instance index
  sktime/datasets/_data_io.py
Labels: bugfix, module:datasets&loaders

#2902 [ENH] Adding CNNRegressor and BaseDeepRegressor
  sktime/regression/deep_learning/base.py
  sktime/regression/deep_learning/cnn.py
  sktime/tests/_config.py
  sktime/tests/test_softdeps.py
Labels: module:regression

#3038 [ENH] classifier `fit_predict` methods and default `_predict`
  sktime/classification/base.py
  sktime/classification/tests/test_base.py
Labels: implementing framework, module:classification, enhancement

#3040 [ENH] Refactor transformers in `_deseasonalize` module
  sktime/tests/_config.py
  sktime/transformations/series/detrend/_deseasonalize.py
Labels: module:transformations, refactor

#3039 [ENH] test estimator `fit` without soft dependencies
  sktime/tests/test_softdeps.py
Labels: module:tests

#3043 [ENH] allow `sp=None` in the `NaiveForecaster`
  sktime/forecasting/naive.py
Labels: module:forecasting

#3042 [ENH] remove unused methods from `ClassifierPipeline`
  sktime/classification/compose/_pipeline.py
Labels: module:classification, refactor

#3036 [ENH] weighted ensemble compositor for classifiers to allow users to build their own HIVE-COTE like ensembles
  sktime/classification/compose/__init__.py
  sktime/classification/compose/_ensemble.py
Labels: implementing algorithms, module:classification, enhancement

#3074 [MNT] Reduce test verbosity
  setup.cfg
Labels: maintenance

#3049 [MNT] remove custom `__repr__` from `BaseTask`, inherit from `BaseObject`
  sktime/benchmarking/tasks.py
Labels: maintenance, module:metrics&benchmarking

#3089 [DOC] code quality docs expanded with instructions for local code quality checking set-up
  docs/source/developer_guide/coding_standards.rst
  docs/source/developer_guide/continuous_integration.rst
Labels: documentation

#3086 [ENH] dedicated `_update` for `BATS` and `TBATS`
  .all-contributorsrc
  sktime/forecasting/base/adapters/_tbats.py
Labels: interfacing algorithms, module:forecasting, enhancement

#3055 [ENH] flexible `update` behaviour of forecasting tuners
  sktime/forecasting/model_selection/_tune.py
Labels: implementing algorithms, module:forecasting, enhancement

#3094 [BUG] Fix HIVE-COTE2 sporadic test failure
  sktime/classification/interval_based/_drcif.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/sklearn/_rotation_forest.py
Labels: module:classification, bugfix

#3091 [MNT] Removed hcrystalball from all_extras
  CODEOWNERS
  pyproject.toml
Labels: maintenance

#2896 [MNT] cleaning up CI workflow
  .github/workflows/test.yml
  .github/workflows/wheels.yml
Labels: maintenance

#2544 [DOC] expanding content in testing section of "adding estimator" developer docs
  docs/source/developer_guide/add_estimators.rst
Labels: documentation

#2971 [ENH] add check for unique column indices to mtype checks
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_series/_check.py
  sktime/tests/_config.py
  sktime/transformations/panel/compose.py
Labels: module:datatypes, enhancement

#2907 [ENH] `__getitem__` aka `[ ]` dunder for transformers, column subsetting
  sktime/transformations/base.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations, enhancement

#3107 [MNT] Bump macos github actions host to macos-11
  .github/workflows/test.yml
  .github/workflows/wheels.yml
Labels: maintenance

#3104 [BUG] fixes to `BaseClassifier._predict_proba` default and `SklearnClassifierPipeline` in case `predict_proba` is not implemented
  sktime/classification/base.py
  sktime/classification/compose/_pipeline.py
Labels: module:classification, bugfix

#3102 [ENH] refactor `RocketClassifier` to pipeline delegate
  extension_templates/classification.py
  sktime/classification/_delegate.py
  sktime/classification/base.py
  sktime/classification/kernel_based/_rocket_classifier.py
Labels: module:classification, enhancement

#3068 [ENH] AutoARIMA update options
  sktime/forecasting/arima.py
  sktime/forecasting/base/adapters/_pmdarima.py
Labels: module:forecasting, enhancement

#1998 [ENH] refactored `KNeighborsTimeSeriesClassifier`
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/distance_based/tests/test_time_series_neighbors.py
  sktime/distances/_distance.py
Labels: module:classification

#3106 [BUG] fix forecaster default `predict_quantiles` for multivariate data
  sktime/forecasting/base/_base.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, bugfix

#2922 [ENH] Featurizer simplified
  docs/source/api_reference/transformations.rst
  sktime/tests/_config.py
  sktime/transformations/series/compose.py
  sktime/transformations/series/tests/test_featureizer.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: implementing algorithms, module:transformations

#3077 [ENH] default implementation for `get_fitted_params` and nested fitted params interface
  sktime/base/_base.py
  sktime/base/tests/test_base.py
Labels: implementing framework, enhancement

#3139 [MNT] temporarily exclude `RandomShapeletTransform` from tests
  sktime/tests/_config.py
Labels: bug, maintenance, module:transformations

#3134 [MNT] temporary fix for Mac CI failures: skip recurringly failing estimators
  sktime/classification/feature_based/_random_interval_classifier.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/interval_based/_rise.py
  sktime/tests/_config.py
Labels: maintenance

#3081 [ENH] isolate soft dependencies
  sktime/datatypes/tests/test_panel_converters.py
  sktime/transformations/series/tests/test_differencer.py
Labels: maintenance, module:tests

#3121 [BUG] `ExpandingWindowSplitter` constructor `sklearn` conformace fix
  sktime/forecasting/model_selection/_split.py
Labels: module:forecasting, bugfix
