Repository sktime/sktime, pull requests merged in 2023-11, with the labels that each got.

#5508 [MNT] revert PR #4681
  docs/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#4891 [ENH] LTSFLinearForecaster, LTSFLinearNetwork, BaseDeepNetworkPyTorch
  .github/workflows/test.yml
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/base/adapters/_pytorch.py
  sktime/forecasting/ltsf.py
  sktime/networks/ltsf.py
  sktime/networks/tests/test_all_networks.py
  sktime/tests/_config.py
Labels: implementing algorithms, module:forecasting, enhancement

#5500 [MNT] address `pandas` constructor deprecation message from `ExpandingGreedySplitter`
  sktime/split/expandinggreedy.py
Labels: maintenance

#5329 [ENH] in `ExpandingGreedySplitter`, allow `float` `step_size`
  sktime/split/expandinggreedy.py
Labels: enhancement, module:splitters&resamplers

#5409 [DOC] improved docstrings for `statsforecast` estimators
  sktime/forecasting/statsforecast.py
Labels: documentation, module:forecasting

#5439 [ENH] Interface to stationarity tests from `arch` package
  docs/source/api_reference/param_est.rst
  sktime/param_est/stationarity/__init__.py
  sktime/param_est/stationarity/_arch.py
  sktime/param_est/stationarity/_statsmodels.py
Labels: enhancement, module:parameter-estimators

#5499 [ENH] in `NaiveForecaster`, add valid variance prediction for in-sample forecasts
  sktime/forecasting/naive.py
Labels: module:forecasting, enhancement

#5487 [ENH] in `mlflow` plugin, improve informativity of `ModuleNotFoundError` messages
  sktime/utils/mlflow_sktime.py
  sktime/utils/validation/_dependencies.py
Labels: maintenance, enhancement

#5497 [MNT] address deprecation of `pd.DataFrame.fillna` with `method` arg
  sktime/forecasting/naive.py
  sktime/transformations/series/impute.py
  sktime/transformations/series/summarize.py
Labels: maintenance

#5470 [ENH] suggested shorter names for CI workflow elements
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_components.yml
Labels: maintenance, enhancement

#5522 [ENH] add missing exports and API reference entries for five deep learning classifiers
  docs/source/api_reference/classification.rst
  sktime/classification/deep_learning/__init__.py
Labels: documentation, module:classification, enhancement

#5455 [DOC] update docstring of `STLTransformer` to correct statements on inverse and pipelines
  sktime/transformations/series/detrend/_deseasonalize.py
Labels: module:transformations, enhancement

#5464 [BUG] fix predict function of `make reduction` (recursive, global) to work with tz aware data
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce_global.py
Labels: module:forecasting

#5494 [BUG] fix `plot_series` prediction interval plotting for 3 or less points in forecasting horizon
  sktime/utils/plotting.py
  sktime/utils/tests/test_plotting.py
Labels: module:forecasting, bugfix

#2931 [ENH] test that `set_params` recognizes unique suffixes as aliases for full parameter string
  sktime/base/tests/test_base.py
Labels: API design, enhancement, module:base-framework

#5338 [ENH] `TimeSeriesForestClassifier` feature importance and optimized interval generation
  .all-contributorsrc
  CONTRIBUTORS.md
  examples/interval_based_classification.ipynb
  sktime/classification/interval_based/_tsf.py
  sktime/classification/interval_based/tests/test_tsf.py
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
  sktime/series_as_features/base/estimators/interval_based/tests/__init__.py
  sktime/series_as_features/base/estimators/interval_based/tests/test_tsf.py
Labels: module:classification, enhancement

#5437 [MNT] Dataset downloader testing workflow
  .github/workflows/test.yml
  .github/workflows/validate_datasets.yml
  .github/workflows/wheels.yml
  Makefile
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_datadownload.py
  sktime/datasets/tests/test_single_problem_loaders.py
Labels: maintenance, module:tests, enhancement

#5486 [ENH] estimator serialization: user choice of `serialization_format`, support for `cloudpickle`
  sktime/base/_base.py
  sktime/base/_serialize.py
  sktime/classification/deep_learning/base.py
  sktime/classification/deep_learning/cnn.py
  sktime/classification/kernel_based/tests/test_arsenal.py
  sktime/classification/tests/test_base.py
Labels: enhancement, module:base-framework

#5528 [ENH] skip `load_solar` in doctests
  sktime/transformations/series/peak.py
Labels: maintenance, module:transformations, module:datasets&loaders

#5529 [ENH] exclude downloads in "no soft dependencies" CI element
  Makefile
Labels: maintenance, enhancement

#5398 [ENH] `iisignature` backend option for `SignatureTransformer`
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/transformations/panel/signature_based/_augmentations.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/signature_based/_signature_method.py
Labels: module:transformations, enhancement

#5521 [ENH] in `TransformedTargetForecaster`, ensure correct setting of `ignores-exogenous-X` tag if forecaster ignores `X`, but at least one transformer uses `y=X`, e.g., feature selector
  docs/source/changelog.rst
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
Labels: implementing framework, module:forecasting, bugfix

#5526 [BUG] Add support for DL estimators with `mlflow`
  sktime/utils/mlflow_sktime.py
  sktime/utils/tests/test_mlflow_sktime_model_export.py
Labels: enhancement, module:base-framework

#5531 [ENH] fixed docstrings and signs for stationarity tests
  docs/source/api_reference/param_est.rst
  sktime/param_est/stationarity/__init__.py
  sktime/param_est/stationarity/_arch.py
  sktime/param_est/stationarity/_statsmodels.py
Labels: documentation, module:parameter-estimators

#5513 [ENH] `FourierFeatures`: more period options - `pandas` period alias and from offset column
  sktime/transformations/series/fourier.py
Labels: module:transformations, enhancement

#5509 [ENH] Add unit tests for Change point and Segmentation plotting functions
  sktime/annotation/tests/test_plotting.py
Labels: module:annotation, enhancement

#5524 Release 0.24.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#5533 [MNT] in release workflow, simplify windows wheels test
  .github/workflows/wheels.yml
Labels: maintenance

#5510 [ENH] improved error messages for input checks in base classes
  sktime/classification/base.py
  sktime/classification/tests/test_base.py
  sktime/datatypes/__init__.py
  sktime/datatypes/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/regression/base.py
  sktime/transformations/base.py
Labels: module:datatypes, enhancement, module:base-framework

#5501 [ENH] expected forecast prediction index utility in `ForecastingHorizon`
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, enhancement

#5498 [MNT] CI Modifications
  .github/workflows/test_all.yml
  .github/workflows/test_code_quality.yml
  .github/workflows/test_components.yml
  .github/workflows/validate_datasets.yml
  .github/workflows/validate_extras.yml
Labels: maintenance, module:tests, enhancement

#5542 [BUG] in reduced regressor, copy or truncate `X` if it does not fit the forecasting horizon.
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
Labels: module:forecasting, bugfix

#5502 [MNT] rename variables in base
  sktime/base/_meta.py
Labels: maintenance, diagnostics

#5543 [ENH] fix index name check for reduction forecasters
  sktime/forecasting/compose/tests/test_reduce_global.py
Labels: module:forecasting, enhancement

#5537 [ENH] support for custom `joblib` backends in parallelization
  sktime/datatypes/_vectorize.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_selection/_tune.py
  sktime/transformations/base.py
  sktime/utils/parallel.py
Labels: enhancement, module:base-framework

#5315 [ENH] Change GGS to inherit from BaseSeriesAnnotator
  sktime/annotation/ggs.py
Labels: module:annotation

#5563 [MNT] set output format parameter in `sktime` internal `check_is_mtype` calls to silence deprecation warnings
  sktime/alignment/utils/utils_align.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/datasets/tests/test_data_io.py
  sktime/datasets/tests/test_readers_writers.py
  sktime/datatypes/_check.py
  sktime/datatypes/tests/test_check.py
  sktime/datatypes/tests/test_utils.py
  sktime/datatypes/tests/test_vectorize.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_conformal.py
  sktime/proba/tests/test_all_distrs.py
  sktime/transformations/base.py
  sktime/utils/_testing/tests/test_panel.py
  sktime/utils/validation/forecasting.py
Labels: maintenance, module:datatypes

#5557 [ENH] dilation mapping transformer
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/dilation_mapping.py
Labels: module:transformations, enhancement

#5561 [ENH] Uniformization of `pandas` index types in mtypes, of all versions
  sktime/datatypes/_panel/_examples.py
Labels: module:datatypes, enhancement

#5550 [ENH] `sklearn` facing coercion utility for `pd.DataFrame`, to `str` columns
  sktime/utils/sklearn/__init__.py
  sktime/utils/sklearn/_adapt_df.py
  sktime/utils/sklearn/_scitype.py
  sktime/utils/sklearn/tests/__init__.py
  sktime/utils/sklearn/tests/test_sklearn_df_adapt.py
  sktime/utils/sklearn/tests/test_sklearn_typing.py
Labels: enhancement, module:base-framework

#5570 [ENN] Improve memory efficiency of `ConformalIntervals` using sparse matrices
  sktime/forecasting/conformal.py
Labels: maintenance, module:forecasting

#5577 [DOC] splitter full API reference page
  docs/source/api_reference.rst
  docs/source/api_reference/forecasting.rst
  docs/source/api_reference/split.rst
Labels: documentation, enhancement
