Repository sktime/sktime, pull requests merged in 2023-12, with the labels that each got.

#5597 [ENH] Add `fit_kwargs` to Prophet
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/fbprophet.py
  sktime/forecasting/tests/test_prophet.py
Labels: interfacing algorithms, module:forecasting, enhancement

#5583 [MNT] addressing various `pandas` related deprecations
  sktime/benchmarking/evaluation.py
  sktime/benchmarking/tests/test_orchestration.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_panel_converters.py
  sktime/datatypes/tests/test_vectorize.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/forecasting/tests/test_naive.py
  sktime/proba/base.py
  sktime/transformations/compose/_ixtox.py
  sktime/transformations/panel/interpolate.py
  sktime/transformations/panel/padder.py
  sktime/transformations/panel/reduce.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/series/impute.py
  sktime/transformations/series/outlier_detection.py
  sktime/utils/pandas.py
Labels: maintenance

#5564 [DOC] Correct ReST syntax in "RocketClassifier"
  .all-contributorsrc
  sktime/classification/kernel_based/_rocket_classifier.py
Labels: documentation, module:classification

#5622 [ENH] `prophet` adapter - safer handling of `fit_kwargs`
  sktime/forecasting/base/adapters/_fbprophet.py
Labels: module:forecasting, enhancement

#5615 [BUG] fix `HierarchyEnsembleForecaster` returned unexpected predictions if data had only one hierarchy level and forecasters specified by node
  sktime/forecasting/compose/_hierarchy_ensemble.py
  sktime/forecasting/compose/tests/test_hierarchy_ensemble.py
Labels: module:forecasting, bugfix

#5628 [ENH] fix loss of time zone attribute in `ForecastingHorizon.to_absolute`
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, bugfix

#5623 [ENH] second test parameter set for `TSFreshRelevantFeatureExtractor`
  sktime/transformations/panel/tsfresh.py
Labels: module:transformations, enhancement

#5600 [BUG] `TsFreshFeatureExtractor` - correct wrong forwarded parameter name `profiling`
  .all-contributorsrc
  sktime/transformations/panel/tsfresh.py
Labels: module:transformations, bugfix

#5645 [BUG] Fix typos in mtype tags `np.ndarray`, from erroneous `nd.array`
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/param_est/stationarity/_arch.py
Labels: module:datatypes, bugfix

#5630 [ENH] Add new `FunctionParamFitter` parameter estimator
  CONTRIBUTORS.md
  docs/source/api_reference/param_est.rst
  sktime/param_est/compose/__init__.py
  sktime/param_est/compose/_func_fitter.py
  sktime/param_est/compose/_pipeline.py
Labels: enhancement, module:parameter-estimators

#5636 [BUG] Fix multiple figures created by `plot_windows`
  sktime/utils/plotting.py
Labels: bugfix

#5617 [DOC] Remove extra parameter in docstring with incorrect definition
  .all-contributorsrc
  sktime/classification/deep_learning/cnn.py
Labels: documentation, module:classification

#5593 [DOC] fix and complete `YfromX` docstring
  sktime/forecasting/compose/_reduce.py
Labels: documentation, module:forecasting

#5596 [ENH] `n_features` and `feature_names` metadata field for time series mtypes
  sktime/datatypes/_adapter/dask_to_pd.py
  sktime/datatypes/_examples.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_hierarchical/_examples.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_examples.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_series/_examples.py
  sktime/datatypes/tests/test_check.py
Labels: module:datatypes, enhancement

#5594 [DOC] fix typo in `AA_datatypes_and_datasets.ipynb` panel data loading example
  examples/AA_datatypes_and_datasets.ipynb
Labels: documentation, module:datatypes

#5578 [BUG] fix `scitype` `coerce_to_list` parameter, add test coverage
  sktime/registry/_scitype.py
  sktime/registry/tests/test_scitype.py
  sktime/registry/tests/test_tags.py
Labels: bugfix, module:base-framework

#5582 [ENH] export and test `DirectReductionForecaster`
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, enhancement

#5621 [DOC] add explanation about fit/transform instance linking behaviour of rocket transformers
  sktime/transformations/panel/rocket/_minirocket.py
  sktime/transformations/panel/rocket/_minirocket_multivariate.py
  sktime/transformations/panel/rocket/_minirocket_multivariate_variable.py
  sktime/transformations/panel/rocket/_multirocket.py
  sktime/transformations/panel/rocket/_multirocket_multivariate.py
  sktime/transformations/panel/rocket/_rocket.py
Labels: documentation, module:transformations

#5625 [ENH] Correct inference of `TransformerPipeline` output type tag
  sktime/transformations/compose/_pipeline.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations, bugfix

#5608 [ENH] `Croston` test parameters - integer smoothing parameter
  sktime/forecasting/croston.py
Labels: module:forecasting, enhancement

#5573 [ENH] reactivate and fix `test_multiprocessing_idempotent`
  sktime/tests/test_all_estimators.py
Labels: module:forecasting, enhancement

#5576 [ENH] enable tag related registry tests for `splitter` and `clusterer` type
  sktime/registry/tests/test_lookup.py
Labels: module:clustering, module:tests, enhancement, module:splitters&resamplers

#5575 [ENH] cutoff and forecasting horizon loc based splitter
  sktime/split/__init__.py
  sktime/split/cutoff.py
  sktime/split/tests/test_cutoff.py
Labels: module:forecasting, module:splitters&resamplers

#5581 [ENH] export and test `DirectReductionForecaster`, refactor to use `sklearn` input coercion utility
  CONTRIBUTORS.md
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, enhancement

#5632 [ENH] Add `calibration_plot` for probabilistic forecasts
  examples/01b_forecasting_proba.ipynb
  sktime/utils/plotting.py
Labels: module:forecasting, enhancement, module:plotting&utilities

#5587 [BUG] pass correct level argument from StatsForecastBackAdapter to statsforecast
  .all-contributorsrc
  sktime/forecasting/base/adapters/_generalised_statsforecast.py
  sktime/forecasting/tests/test_statsforecast.py
Labels: module:forecasting, bugfix

#5171 [BUG] enable testing `MrSQM` for persistence in `nsfa>0` case after upstream bugfix
  sktime/classification/shapelet_based/_mrsqm.py
Labels: module:classification, bugfix

#5562 [ENH] forecaster `fit_predict` with `X_pred` argument for `predict`
  sktime/forecasting/base/_base.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, enhancement

#5604 &joanlenczuk [DOC] Added examples: overview of sktime functionality
  examples/blog_posts/Overview_of_sktime_functionalities_for_forecasting.ipynb
  examples/blog_posts/README.md
Labels: documentation, maintenance

#5648 [BUG] consistent use of `np.ndarray` for mtype tags
  sktime/param_est/stationarity/_arch.py
  sktime/registry/_tags.py
Labels: module:datatypes, enhancement

#5592 [ENH] `prophet` based piecewise linear trend forecaster
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/trend/__init__.py
  sktime/forecasting/trend/_pwl_trend_forecaster.py
  sktime/forecasting/trend/tests/test_pwl_trend.py
Labels: module:forecasting, enhancement

#5642 [BUG] change index match to integer in `_StatsModelsAdapter` predict
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/tests/test_exp_smoothing.py
  sktime/forecasting/tests/test_theta.py
Labels: module:forecasting, bugfix

#5603 [DOC] forecasting `evaluate` utility - improved algorithm description in docstring
  sktime/forecasting/model_evaluation/_functions.py
Labels: documentation, module:forecasting

#5659 [MNT] except known failing estimators from `test_multiprocessing_idempotent`
  sktime/tests/_config.py
Labels: maintenance

#5660 [MNT] instant release action
  .github/workflows/wheels.yml
Labels: maintenance

#5661 Revert "[MNT] instant release action"
  .github/workflows/wheels.yml
Labels: maintenance

#5408 [ENH] Multioutput capability for all time series classifiers and regressors, broadcasting and tag
  extension_templates/classification.py
  sktime/classification/base.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/early_classification/base.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
  sktime/datatypes/_table/_check.py
  sktime/registry/_tags.py
  sktime/regression/base.py
  sktime/regression/tests/test_all_regressors.py
Labels: module:classification, module:regression, enhancement

#5351 [ENH] Add Merger Transformation
  docs/source/api_reference/transformations.rst
  sktime/transformations/base.py
  sktime/transformations/merger.py
  sktime/transformations/tests/test_all_transformers.py
Labels: implementing algorithms, module:transformations, enhancement, release

#5613 [MNT] 0.25.0 deprecations and change actions
  README.md
  docs/source/get_started.rst
  docs/source/user_guide/introduction.rst
  sktime/classification/early_classification/_probability_threshold.py
  sktime/forecasting/all/__init__.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_selection/__init__.py
  sktime/forecasting/model_selection/_split.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/trend/_pwl_trend_forecaster.py
  sktime/forecasting/trend/tests/test_pwl_trend.py
  sktime/split/sameloc.py
  sktime/split/temporal_train_test_split.py
  sktime/split/testplustrain.py
Labels: maintenance, release

#5662 [ENH] intermediate base class for panel tasks - classification, regression
  sktime/base/__init__.py
  sktime/base/_base.py
  sktime/base/_base_panel.py
  sktime/classification/base.py
  sktime/classification/early_classification/base.py
  sktime/classification/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
  sktime/forecasting/base/_base.py
  sktime/regression/base.py
  sktime/transformations/base.py
Labels: module:classification, module:regression, enhancement, module:base-framework

#5668 [ENH] refactor-simplify `BasePanelMixin._vectorize`
  sktime/base/_base_panel.py
Labels: module:classification, module:regression, enhancement, module:base-framework

#5667 [MNT] restore old export location of `temporal_train_test_split`
  sktime/forecasting/model_selection/__init__.py
Labels: maintenance

#5669 [MNT] restore old location to some splitters
  sktime/forecasting/model_selection/__init__.py
  sktime/split/slidingwindow.py
Labels: maintenance

#5612 Release 0.25.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#5657 [ENH] Replace `isinstance` by `object_type` tag based checks
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_forecasting.py
Labels: enhancement, module:base-framework

#5670 [MNT] added upper bound to avoid installation error on windows
  pyproject.toml
Labels: maintenance

#5652 [ENH] better explanation about fit/transform instance linking in instance-wise transformers in error messages, and pointer to common solution
  sktime/transformations/base.py
Labels: module:transformations, enhancement

#5590 [ENH] private utility for `BaseForecaster` get columns, for all `predict`-like functions
  sktime/forecasting/base/_base.py
Labels: module:forecasting, enhancement
