Repository sktime/sktime, pull requests merged in 2023-01, with the labels that each got.

#3997 [ENH] time bin aggregation transformer
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/binning.py
Labels: interfacing algorithms, module:transformations, enhancement

#3892 [ENH] "typical length" constant in transformer scenarios
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:transformations, module:tests, enhancement

#4037 [MNT] skip `LSTMFCNClassifier` tests due to unfixed failure on `main`
  sktime/tests/_config.py
Labels: maintenance

#4003 & josuedavalos [ENH] DBSCAN clustering for time series
  sktime/clustering/dbscan.py
Labels: interfacing algorithms, module:clustering, enhancement

#3935 [ENH] improve performance of `pandas` based panel and hierachical mtype checks
  sktime/datatypes/_panel/_check.py
Labels: module:datatypes

#4002 [ENH] `_check_estimator_deps` to also allows list or tuple of `BaseObject`-s
  sktime/utils/validation/_dependencies.py
Labels: module:tests, enhancement

#4021 [ENH] extend `sklearn_scitype` to infer the scitype correctly from composites
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
  sktime/utils/sklearn.py
Labels: module:forecasting, enhancement

#4019 [MNT] explicit lower version bound on `scipy`
  pyproject.toml
Labels: maintenance

#4014 [ENH] Improve error messages in `test_estimator_tags` test
  sktime/tests/test_all_estimators.py
Labels: module:tests, enhancement

#4061 [ENH] Speed up hierarchical checks and unify with panel approach
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_examples.py
Labels: module:datatypes, enhancement

#4020 [ENH] remove `make_reduction` scitype arg in examples
  docs/source/user_guide/introduction.rst
  examples/01_forecasting.ipynb
  examples/01c_forecasting_hierarchical_global.ipynb
  sktime/forecasting/compose/tests/test_reduce_global.py
Labels: documentation, module:forecasting, enhancement

#4040 [ENH] `hcrystalball` forecaster adapter
  CODEOWNERS
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/adapters/__init__.py
  sktime/forecasting/adapters/_hcrystalball.py
  sktime/tests/test_softdeps.py
Labels: module:forecasting

#4085 [DOC] update list of core devs
  docs/source/about/team.rst
Labels: documentation

#4011 [ENH] `dask` mtypes - part 2, `Panel` and `Hierarchical`
  sktime/datasets/tests/test_data_io.py
  sktime/datatypes/_adapter/dask_to_pd.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_hierarchical/_convert.py
  sktime/datatypes/_hierarchical/_examples.py
  sktime/datatypes/_hierarchical/_registry.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_panel/_examples.py
  sktime/datatypes/_panel/_registry.py
Labels: module:datatypes, enhancement

#3674 [GOV] proposed code of conduct update - mature sktime structure and decision making on resources
  docs/source/get_involved/code_of_conduct.rst
Labels: governance

#4057 [BUG] fix mutation of `regressor` in `PolynomialTrendForecaster._fit`
  sktime/forecasting/trend.py
Labels: module:forecasting, bugfix

#4053 [ENH][BUG] clean up `Detrender` and implement correct multivariate behaviour
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/detrend/tests/test_detrend.py
Labels: module:forecasting, module:transformations, bugfix, enhancement

#4047 [BUG] fix `TrendForecaster` if `regressor` is not boolean coercible
  sktime/forecasting/trend.py
Labels: module:forecasting, bugfix

#4044 [MNT] fix `_check_soft_dependencies` breaking for PEP 440 specifiers without class reference
  sktime/utils/validation/_dependencies.py
Labels: maintenance, bugfix

#3883 [ENG] Evaluate function to accept list of scorers
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
Labels: module:forecasting

#3852 &fkiraly [DOC] updates to distances API reference page
  docs/source/api_reference/clustering.rst
  docs/source/api_reference/dists_kernels.rst
  sktime/dists_kernels/__init__.py
Labels: documentation

#4030 [ENH] in `check_estimator` and `run_tests` replace `return_exceptions` arg with `raise_exceptions`, with deprecation
  docs/source/developer_guide/add_estimators.rst
  examples/01b_forecasting_proba.ipynb
  sktime/performance_metrics/tests/test_metrics_classes.py
  sktime/tests/test_all_estimators.py
  sktime/utils/estimator_checks.py
  sktime/utils/tests/test_check_estimator.py
Labels: module:tests, enhancement

#4031 [MNT] address `pd.Series` constructor `dtype` deprecation
  sktime/forecasting/model_selection/_split.py
Labels: maintenance

#4035 [MNT] isolate `statsmodels`, recent instances
  sktime/forecasting/tests/test_structural.py
Labels: maintenance

#4032 [MNT] address `pandas` `astype` deprecation in `TrendForecaster`
  sktime/forecasting/trend.py
Labels: maintenance

#4043 [ENH] add test parameter sets to increase number of test parameter sets per estimator to 2 or larger
  sktime/classification/dummy/_dummy.py
  sktime/dists_kernels/compose.py
  sktime/forecasting/bats.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/croston.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/exp_smoothing.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/theta.py
  sktime/forecasting/trend.py
  sktime/forecasting/var.py
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/subset.py
  sktime/transformations/series/summarize.py
  sktime/transformations/series/tests/test_summarize.py
Labels: module:tests, enhancement

#4096 [BUG] Fix BOSS based classifiers truncating class names to single character length
  .all-contributorsrc
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/tests/test_boss.py
Labels: module:classification, bugfix

#4087 Release 0.15.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#4100 [ENH] Reduce repetitive code in test_boss.py and add check for string datatype in _boss.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/tests/test_boss.py
Labels: module:classification, enhancement

#3807 [MNT] Automate updating CONTRIBUTORS.md
  .all-contributorsrc
  .github/workflows/update_contributors.yml
Labels: maintenance

#4111 [MNT] address `pd.Series` constructor `dtype` deprecation / `FutureWarning` - part 2
  sktime/forecasting/model_selection/_split.py
Labels: maintenance

#4120 [DOC] fixes table of contents in `01_forecasting.ipynb` tutorial
  examples/01_forecasting.ipynb
Labels: documentation

#4110 [ENH] `get_fitted_params` for pipelines and other heterogenous meta-estimators
  sktime/base/_meta.py
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_ensemble.py
  sktime/dists_kernels/algebra.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/transformations/compose.py
Labels: implementing framework, enhancement, module:base-framework

#4109 [BUG] fix faulty `BaseObject.__eq__` and `deep_equals` if an attribute or nested structure contains `float`
  sktime/utils/_testing/deep_equals.py
  sktime/utils/_testing/tests/test_deep_equals.py
Labels: bugfix, module:base-framework

#4099 [ENH] second set of test parameters for `ARIMA`
  sktime/forecasting/arima.py
Labels: module:forecasting, enhancement

#4102 [BUG] fix `get_fitted_params` for forecaster tuners, missing `best_forecaster` etc
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/model_selection/tests/test_tune.py
Labels: module:forecasting, bugfix

#4105 [BUG] fix `get_fitted_params` in case of vectoriztion for forecasters, transformers
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: implementing framework, module:forecasting, module:transformations, bugfix

#4115 [BUG] Fix `OptionalPassthrough` `X_inner_mtype` tag
  sktime/transformations/compose.py
  sktime/transformations/tests/test_optionalpassthrough.py
Labels: module:transformations, bugfix

#4133 [BUG] fix erroneous `int` coercion of `TrendForecaster` and `PolynomialTrendForecaster` on `DatetimeIndex`
  sktime/forecasting/tests/test_trend.py
  sktime/forecasting/trend.py
Labels: module:forecasting, bugfix

#4126 [ENH] Add PoissonHMM estimator
  CONTRIBUTORS.md
  docs/source/api_reference/annotation.rst
  sktime/annotation/base/_base.py
  sktime/annotation/datagen.py
  sktime/annotation/hmm_learn/__init__.py
  sktime/annotation/hmm_learn/poisson.py
  sktime/annotation/tests/test_all_annotators.py
  sktime/annotation/tests/test_hmm_learn.py
  sktime/registry/_tags.py
  sktime/utils/_testing/annotation.py
Labels: module:annotation

#3516 [MNT] 0.16.0 change/deprecation action - `statsmodels` as soft dependency
  pyproject.toml
  sktime/transformations/series/bkfilter.py
  sktime/transformations/tests/test_optionalpassthrough.py
Labels: maintenance, release

#4164 [MNT] emergency fix for precommit CI failure - remove `isort`
  .pre-commit-config.yaml
Labels: maintenance

#4132 [ENH] refactor - localize broadcasting in `VectorizedDF`
  sktime/datatypes/_vectorize.py
  sktime/datatypes/tests/test_vectorize.py
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: implementing framework, module:datatypes, refactor, enhancement, module:base-framework

#4166 [MNT] isolate `statsmodels` in `HierarchyEnsembleForecaster` docstring
  sktime/forecasting/compose/_hierarchy_ensemble.py
Labels: maintenance, module:forecasting

#3678 [MNT] 0.16.0 deprecation action - change `BaseForecaster.cutoff` to `pd.Index`
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/stream/_update.py
Labels: maintenance, release

#4168 [MNT] isolate `statsmodels` in `HierarchyEnsembleForecaster` docstring - accidentally missing commit
  sktime/forecasting/compose/_hierarchy_ensemble.py
Labels: maintenance

#4113 [ENH] `deep` argument for `get_fitted_params`
  sktime/base/_base.py
  sktime/base/tests/test_base.py
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: enhancement, module:base-framework

#4138 [MNT] 0.16.0 deprecation & change actions
  examples/catch22.ipynb
  sktime/datatypes/_check.py
  sktime/forecasting/base/_fh.py
  sktime/transformations/base.py
  sktime/transformations/panel/catch22.py
Labels: maintenance, release

#4137 Release 0.16.0
  README.md
  docs/source/about/team.rst
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#3960 [DOC] Fix Lag doc examples
  sktime/transformations/series/lag.py
Labels: documentation

#4028 & matthewmiddlehurst [DOC] improved docstring for `dtw_distance`
  sktime/distances/_distance.py
  sktime/dists_kernels/dtw.py
Labels: documentation
