Repository sktime/sktime, pull requests merged in 2023-04, with the labels that each got.

#4399 [BUG] fix unreported probabilistic prediction bugs detected through #4393
  sktime/forecasting/compose/_pipeline.py
Labels: module:forecasting, bugfix

#4393 [ENH] cleaned up probabilistic forecasting tests for quantile and interval predictions
  CONTRIBUTORS.md
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/tests/_config.py
Labels: module:forecasting, module:tests, enhancement

#4389 & hoesler [ENH] granular control of mtype metadata computation, avoid computation when not needed
  sktime/datatypes/_adapter/dask_to_pd.py
  sktime/datatypes/_alignment/_check.py
  sktime/datatypes/_check.py
  sktime/datatypes/_common.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_proba/_check.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_table/_check.py
  sktime/datatypes/tests/test_check.py
Labels: module:datatypes, enhancement

#4415 [MNT] replace emergency `dash` bound by exclusion of failing version 2.9.0
  pyproject.toml
Labels: maintenance, release

#4388 [DOC] guide for adding cython based estimators
  docs/source/developer_guide/add_estimators.rst
Labels: documentation

#4402 [ENH] Christiano Fitzgerald filter transformer
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/cffilter.py
  sktime/transformations/tests/test_cffilter.py
Labels: interfacing algorithms, module:transformations, enhancement

#4392 [DOC] add example for `ForecastX` forecasting only some exogeneous variables
  sktime/forecasting/compose/_pipeline.py
Labels: documentation, module:forecasting

#4398 [MNT] remove soft dependency import warnings in modules and documented requirements to add these
  docs/source/developer_guide/dependencies.rst
  extension_templates/classification.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
  extension_templates/param_est.py
  extension_templates/transformer.py
  sktime/alignment/dtw_python.py
  sktime/annotation/adapters/_pyod.py
  sktime/annotation/hmm_learn/gaussian.py
  sktime/annotation/hmm_learn/gmm.py
  sktime/annotation/hmm_learn/poisson.py
  sktime/classification/deep_learning/cnn.py
  sktime/classification/deep_learning/fcn.py
  sktime/classification/deep_learning/lstmfcn.py
  sktime/classification/deep_learning/mlp.py
  sktime/classification/deep_learning/resnet.py
  sktime/classification/deep_learning/tapnet.py
  sktime/clustering/k_shapes.py
  sktime/clustering/kernel_k_means.py
  sktime/forecasting/adapters/_hcrystalball.py
  sktime/forecasting/arima.py
  sktime/forecasting/bats.py
  sktime/forecasting/fbprophet.py
  sktime/forecasting/statsforecast.py
  sktime/forecasting/tbats.py
  sktime/networks/cnn.py
  sktime/networks/fcn.py
  sktime/networks/lstmfcn.py
  sktime/networks/lstmfcn_layers.py
  sktime/networks/mlp.py
  sktime/networks/tapnet.py
  sktime/transformations/panel/catch22wrapper.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/signature_based/_rescaling.py
  sktime/transformations/panel/tsfresh.py
  sktime/transformations/series/bkfilter.py
  sktime/transformations/series/cffilter.py
  sktime/transformations/series/filter.py
  sktime/transformations/series/hpfilter.py
  sktime/transformations/series/kalman_filter.py
  sktime/transformations/series/matrix_profile.py
Labels: maintenance, module:base-framework

#4395 [DOC] improvements to "invitation to contribute" paragraph in documentation
  docs/source/get_involved.rst
Labels: documentation

#4406 [BUG] ensure forecaster `cutoff` has `freq` inferred if inferable, for single series
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
Labels: module:forecasting, module:datatypes, bugfix

#4394 [ENH] cover list input case for `test_predict_interval`/`coverage` and `test_predict_quantiles`/`alpha` in forecaster contract tests
  sktime/forecasting/tests/_config.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, module:tests, enhancement

#4414 [DOC] README and docs update - tasks table, typos, lookup
  README.md
  docs/source/api_reference/classification.rst
  docs/source/api_reference/clustering.rst
  docs/source/api_reference/dists_kernels.rst
  docs/source/api_reference/forecasting.rst
  docs/source/api_reference/param_est.rst
  docs/source/api_reference/regression.rst
  docs/source/api_reference/transformations.rst
Labels: documentation, release

#4428 [MNT] reintroduce `pandas<2.0.0` bound
  pyproject.toml
Labels: maintenance

#4421 [BUG] fix `show_versions` and add tests
  sktime/utils/_maint/_show_versions.py
  sktime/utils/_maint/tests/__init__.py
  sktime/utils/_maint/tests/test_show_versions.py
Labels: maintenance, bugfix

#4423 [ENH] address deprecation warnings from dependencies
  sktime/performance_metrics/forecasting/_classes.py
  sktime/utils/datetime.py
Labels: maintenance, release

#4417 Release 0.17.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#4432 [MNT] except `Prophet` from `test_predict_quantiles` due to sporadic failures
  sktime/tests/_config.py
Labels: bug, module:forecasting

#4437 [DOC] updates outdated social media links and team list
  README.md
  docs/source/about/team.rst
  docs/source/changelog.rst
  docs/source/conf.py
Labels: documentation

#4442 [MNT] except `VECM` from `test_predict_quantiles` due to sporadic failures
  sktime/tests/_config.py
Labels: bug, maintenance, module:forecasting

#4450 [MNT] isolating `attrs` imports
  pyproject.toml
  sktime/annotation/ggs.py
  sktime/annotation/igts.py
  sktime/annotation/tests/test_ggs.py
  sktime/annotation/tests/test_igts.py
Labels: maintenance, module:annotation, bugfix

#4443 [MNT] fix and sharpen soft dependency isolation logic for `statsmodels` and `pmdarima`
  sktime/forecasting/ardl.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/forecasting/tests/test_ardl.py
  sktime/transformations/hierarchical/tests/test_reconcile.py
Labels: maintenance

#4435 [ENH] address deprecation of `"mad"` option on `DataFrame.agg` and `Series.agg`
  sktime/transformations/series/summarize.py
Labels: maintenance, module:transformations

#4436 [MNT] address deprecation of automatic drop on `DataFrame.agg` on non-numeric columns
  sktime/benchmarking/evaluation.py
Labels: maintenance, module:metrics&benchmarking

#4438 [ENH] resolve `freq` related deprecations and `pandas 2` failures in reducers
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_reduce.py
Labels: maintenance, module:forecasting, enhancement

#4427 [MNT] `pandas` 2 compatibility fixes
  sktime/datasets/_data_io.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/tests/test_utils.py
  sktime/forecasting/ardl.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/_sktime.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/bats.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/conformal.py
  sktime/forecasting/croston.py
  sktime/forecasting/ets.py
  sktime/forecasting/model_selection/tests/test_split.py
  sktime/forecasting/naive.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/structural.py
  sktime/forecasting/tests/test_prophet.py
  sktime/forecasting/trend.py
  sktime/forecasting/var.py
  sktime/forecasting/varmax.py
  sktime/forecasting/vecm.py
  sktime/transformations/panel/tests/test_interpolate.py
  sktime/transformations/series/detrend/tests/test_deseasonalise.py
  sktime/transformations/series/fourier.py
  sktime/transformations/series/lag.py
  sktime/transformations/series/subset.py
  sktime/transformations/series/tests/test_fourier.py
  sktime/transformations/series/time_since.py
  sktime/utils/datetime.py
  sktime/utils/estimators/_forecasters.py
  sktime/utils/validation/series.py
Labels: maintenance, module:forecasting

#4448 Release 0.17.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#4452 [MNT] Changed line endings of `ElectricDevices.csv` and `GunPoint.csv` from `CRLF` to `LF`
  sktime/datasets/data/segmentation/ElectricDevices.csv
  sktime/datasets/data/segmentation/GunPoint.csv
Labels: maintenance, module:datasets&loaders

#4416 [ENH] transformer that creates features from time index or hierarchy label
  docs/source/api_reference/transformations.rst
  sktime/transformations/compose/__init__.py
  sktime/transformations/compose/_ixtox.py
Labels: implementing algorithms, module:transformations, enhancement

#4456 [ENH] shift `ForecastingHorizon`-`BaseForecaster` `cutoff` interface to rely on public point
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_fh.py
Labels: module:forecasting, enhancement

#4455 [ENH] splitter bootstrap transformer
  docs/source/api_reference/transformations.rst
  sktime/transformations/bootstrap/__init__.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/bootstrap/_splitterboot.py
Labels: implementing algorithms, module:forecasting

#3003 [ENH] add inception time with example (from sktime-dl)
  CONTRIBUTORS.md
  examples/02c_classification_multivariate_inceptiontime.ipynb
  sktime/classification/deep_learning/inceptiontime.py
  sktime/networks/inceptiontime.py
  sktime/tests/_config.py
Labels: implementing algorithms, module:classification

#4481 [ENH] remove superfluous implementation checks in `_predict_interval` and `_predict_quantiles` of `BaseForecaster`
  sktime/forecasting/base/_base.py
Labels: module:forecasting, enhancement

#4478 [BUG] fix `pandas` write error in probabilistic forecasts of `BaggingForecaster`
  sktime/forecasting/compose/_bagging.py
  sktime/tests/_config.py
Labels: module:forecasting, bugfix

#4474 [BUG] fix index error in nullable input test
  sktime/forecasting/base/tests/test_base.py
Labels: module:forecasting, bugfix

#4469 [BUG] fix `predict_quantiles` in `_PmdArimaAdapter` and `_StatsForecastAdapter` post 0.17.1
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/tests/test_pmdarima.py
Labels: module:forecasting, bugfix

#4480 [ENH] remove monotonicity requirement from quantile prediction contract
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/tests/_config.py
Labels: module:forecasting, module:tests, enhancement

#4472 [MNT] ensure all elements in test matrix complete runs
  .github/workflows/test.yml
Labels: maintenance

#4477 [ENH] transformer compositor to apply by panel or instance
  docs/source/api_reference/transformations.rst
  sktime/transformations/compose/__init__.py
  sktime/transformations/compose/_grouped.py
Labels: module:transformations, enhancement

#4479 [BUG] fix broken `DynamicFactor._predict_interval`
  sktime/forecasting/dynamic_factor.py
  sktime/tests/_config.py
Labels: module:forecasting, bugfix

#4483 [ENH] allow inclusive/exclusive bounds in `get_slice`
  sktime/datatypes/_utilities.py
Labels: module:datatypes, enhancement

#4465 [ENH] adds `_predict_interval` in `_StatsModelsAdapter` and inherits in other estimator to reduce code duplication
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/ets.py
  sktime/forecasting/sarimax.py
  sktime/forecasting/structural.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, refactor, enhancement

#4492 [BUG] fix `BATS` and `TBATS` `_predict_interval` interface
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/tests/test_tbats.py
  sktime/forecasting/tests/test_theta.py
Labels: module:forecasting, bugfix

#4484 [MNT] add `InceptionTimeClassifier` and `LSTMFCNClassifier` to API docs and as direct export
  docs/source/api_reference/classification.rst
  sktime/classification/deep_learning/__init__.py
Labels: documentation, maintenance, module:classification, enhancement

#4487 [ENH] improved `_make_series` utility and docstring
  sktime/utils/_testing/series.py
Labels: module:datatypes, module:probability&simulation

#4012 [ENH] `predict_proba` capability tag for classifiers
  sktime/classification/base.py
  sktime/classification/compose/_column_ensemble.py
  sktime/classification/compose/_ensemble.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/distance_based/_shape_dtw.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/dummy/_dummy.py
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_matrix_profile_classifier.py
  sktime/classification/feature_based/_random_interval_classifier.py
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/feature_based/_summary_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/kernel_based/_svc.py
  sktime/classification/shapelet_based/_stc.py
  sktime/registry/_tags.py
Labels: module:classification, enhancement

#4476 [ENH] testing in-sample forecasting - replace try/except in `test_predict_time_index` by tag and tag dependent contract
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/conformal.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/ets.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/sarimax.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/structural.py
  sktime/forecasting/tbats.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/theta.py
  sktime/forecasting/var.py
  sktime/forecasting/varmax.py
  sktime/forecasting/vecm.py
  sktime/registry/_tags.py
Labels: module:forecasting, module:tests, enhancement

#4464 [ENH] in `ForecastingHorizon`, refactor `to_absolute().to_pandas()` calls to a method
  sktime/forecasting/adapters/_hcrystalball.py
  sktime/forecasting/ardl.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/_sktime.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/croston.py
  sktime/forecasting/dummy.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/ets.py
  sktime/forecasting/naive.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/tests/test_varmax.py
  sktime/forecasting/trend.py
  sktime/forecasting/var.py
  sktime/forecasting/varmax.py
  sktime/forecasting/vecm.py
  sktime/utils/_testing/forecasting.py
  sktime/utils/estimators/_forecasters.py
Labels: module:forecasting, refactor

#4503 [BUG] fixes merge accident in `_tags`
  sktime/registry/_tags.py
Labels: bugfix

#4486 [MNT] address some warnings and deprecation messages from dependencies
  sktime/dists_kernels/dist_to_kern.py
  sktime/forecasting/squaring_residuals.py
  sktime/transformations/series/kinematic.py
  sktime/transformations/series/subset.py
Labels: maintenance

#4488 [ENH] remove calls to `return_numpy` arg in `_make_series`
  sktime/datatypes/tests/test_series_to_panel_converters.py
  sktime/utils/_testing/scenarios_transformers_pairwise.py
Labels: refactor, module:probability&simulation

#4505 [BUG] fix `BATS` and `TBATS` `_predict_interval` interface, part 2
  sktime/forecasting/base/adapters/_tbats.py
Labels: bug, module:forecasting

#4506 [BUG] fix `VECM._predict_interval` interface for date-like indices
  sktime/forecasting/vecm.py
Labels: module:forecasting, bugfix

#4501 Release 0.17.2
  CONTRIBUTORS.md
  README.md
  docs/source/about/team.rst
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#3843 [MNT] 0.18.0 change action - `numba` as soft dependency
  pyproject.toml
Labels: maintenance, release

#3151 `skbase` refactor - part 1: `BaseObject` and package dependencies
  pyproject.toml
  sktime/base/_base.py
  sktime/base/tests/test_base.py
Labels: maintenance, refactor, release

#4512 [ENH] add test for `all_estimators` tag filter
  sktime/registry/tests/test_lookup.py
Labels: module:base-framework

#4514 [ENH] ensure `predict_proba` calls in `mlflow` forecasting interface explicitly call `legacy_interface`
  examples/mlflow.ipynb
  sktime/utils/mlflow_sktime.py
  sktime/utils/tests/test_mlflow_sktime_model_export.py
Labels: maintenance, module:forecasting, release, module:probability&simulation

#4513 [ENH] `quantile` method for distributions, default implementation of forecaster `predict_quantiles` if `predict_proba` is present
  sktime/forecasting/base/_base.py
  sktime/proba/base.py
  sktime/proba/tests/test_all_distrs.py
Labels: implementing framework, module:forecasting, enhancement, module:probability&simulation

#3777 `skbase` refactor - part 2: `all_estimators` lookup
  sktime/registry/_lookup.py
  sktime/registry/tests/test_lookup.py
Labels: maintenance, refactor

#4510 [MNT] 0.18.0 deprecation actions
  examples/01b_forecasting_proba.ipynb
  sktime/datatypes/_vectorize.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_delegate.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: maintenance, release

#4508 Release 0.18.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#4522 [DOC] fix changelog typo - 0.17.2 highlights tutorial link
  docs/source/changelog.rst
Labels: documentation

#4498 [ENH] independent distance and multivariate aggregated kernel wrapper
  docs/source/api_reference/dists_kernels.rst
  sktime/dists_kernels/indep.py
Labels: module:distances&kernels, enhancement

#4496 [ENH] variable subsetting dunder `[...]` for distances and kernels
  sktime/dists_kernels/_base.py
  sktime/dists_kernels/tests/test_dist_kernels_dunders.py
  sktime/transformations/base.py
Labels: implementing framework, module:distances&kernels, enhancement

#4499 [BUG] fix input check error message in `BasePairwiseTransformerPanel`
  sktime/dists_kernels/_base.py
Labels: bug, module:distances&kernels, bugfix

#4185 [ENH] Add SimpleRNN DL Estimator
  sktime/classification/deep_learning/rnn.py
  sktime/networks/rnn.py
  sktime/regression/deep_learning/rnn.py
Labels: module:classification, module:regression, enhancement

#4530 [MNT] remove RNN related failure from main
  sktime/classification/deep_learning/rnn.py
  sktime/regression/deep_learning/rnn.py
  sktime/tests/_config.py
Labels: maintenance, module:classification, module:regression
