Repository sktime/sktime, pull requests merged in 2023-08, with the labels that each got.

#4945 [BUG] clarify tuning estimators' docstrings and error messages in case of `refit=False`
  sktime/forecasting/model_selection/_tune.py
Labels: bug, implementing framework, module:forecasting

#4956 [DOC] remove duplication of troubleshooting 'matches_not_found' in install instructions
  docs/source/installation.rst
Labels: documentation

#4893 [ENH] Holiday indicator transformers by country or market based on `holidays` package
  docs/source/api_reference/transformations.rst
  pyproject.toml
  sktime/transformations/series/holiday/__init__.py
  sktime/transformations/series/holiday/country_holidays.py
  sktime/transformations/series/holiday/financial_holidays.py
Labels: interfacing algorithms, module:transformations, enhancement

#4999 [BUG] Fix forecaster based imputation strategy `Imputer` if forecaster requires `fh` in `fit`
  .all-contributorsrc
  sktime/transformations/series/impute.py
Labels: module:forecasting, bugfix

#4961 [DOC] Contributors update
  CONTRIBUTORS.md
Labels: documentation

#4960 [ENH] applying forecasting metrics disregarding index - docstrings and tests
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/_functions.py
  sktime/performance_metrics/tests/test_metrics_classes.py
Labels: documentation, enhancement, module:metrics&benchmarking

#4987 [BUG] use correct arguments in `geometric_mean_absolute_error`
  sktime/performance_metrics/forecasting/_functions.py
  sktime/performance_metrics/forecasting/tests/test_metrics.py
Labels: bugfix, module:metrics&benchmarking

#4990 [MNT] speed up `test_stat` benchmarking test
  sktime/benchmarking/tests/test_orchestration.py
Labels: maintenance, module:tests

#4963 [MNT] speed up various tests in the forecasting module
  sktime/forecasting/compose/tests/test_reduce_global.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/forecasting/tests/test_interval_wrappers.py
Labels: maintenance, module:forecasting

#4979 [ENH] add length option to `_bottom_hier_datagen` hierarchical data generator, speed up `ReconcilerForecaster` doctest
  sktime/forecasting/reconcile.py
  sktime/utils/_testing/hierarchical.py
Labels: module:forecasting, enhancement

#4980 [MNT] speed up basic `check_estimator` tests
  sktime/utils/tests/test_check_estimator.py
Labels: maintenance, module:tests

#4981 [MNT] speed up costly redundant `ElasticEnsemble` classifier doctest
  sktime/classification/distance_based/_elastic_ensemble.py
Labels: maintenance, module:tests

#4978 [ENH] enable use of `TabularToSeriesAdaptor` with feature selectors, and passing of `y`
  sktime/transformations/series/adapt.py
Labels: module:transformations, enhancement

#5015 [ENH] Adds copy clipboard button for Example section
  docs/source/conf.py
  pyproject.toml
Labels: documentation

#5016 [MNT] updated sphinx intersphinx links for other libraries
  docs/source/conf.py
Labels: documentation

#4984 [ENH] fix `Differencer` for integer index
  sktime/transformations/series/difference.py
  sktime/transformations/series/tests/test_differencer.py
Labels: module:transformations, bugfix

#5001 [ENH] Handle array centroid guesses for TimeSeriesLloyds
  sktime/clustering/k_means.py
  sktime/clustering/k_medoids.py
  sktime/clustering/partitioning/_lloyds.py
Labels: module:clustering, enhancement

#4998 &MCRE-BE [BUG] Fix `Differencer.inverse_transform` on train data if `na_handling=fill_zero`
  sktime/transformations/series/difference.py
  sktime/transformations/series/tests/test_differencer.py
Labels: module:transformations, bugfix

#5018 [MNT] address various deprecation warnings
  sktime/_contrib/distance_based/_proximity_forest.py
  sktime/benchmarking/evaluation.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/clustering/compose/_pipeline.py
  sktime/forecasting/compose/_reduce.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/utils/_testing/hierarchical.py
Labels: maintenance

#3520 &fkiraly [BUG] fix `sklearn` interface non-conformance for estimators in _proximity_forest.py, add further test parameter sets
  sktime/classification/distance_based/_proximity_forest.py
Labels: module:classification, bugfix

#5022 [DOC] improve description of `scoring` in docstrings of tuning forecasters such as `ForecastingGridSearchCV`
  sktime/forecasting/model_selection/_tune.py
Labels: documentation, module:forecasting

#4991 [ENH] ensure robustness of `StatsForecastBackAdapter` w.r.t. change of `predict_interval` return format
  sktime/forecasting/base/adapters/_generalised_statsforecast.py
Labels: implementing framework, module:forecasting, enhancement

#5005 [MNT] rename `TestedMockClass` to `MockTestedClass`
  sktime/utils/_testing/tests/test_testscenarios.py
Labels: maintenance

#5011 [ENH] remove `sklearn` dependency in `test_get_params`
  sktime/tests/test_all_estimators.py
Labels: module:tests, enhancement

#5044 [MNT] Speed-up `deep_equals` - lazy evaluation of costly error message string coercions
  sktime/utils/_testing/deep_equals.py
Labels: enhancement, module:base-framework

#4992 [ENH] generalized `tslearn` adapter and clusterer refactor
  sktime/base/adapters/__init__.py
  sktime/base/adapters/_tslearn.py
  sktime/clustering/base.py
  sktime/clustering/kernel_k_means.py
Labels: implementing framework, module:clustering, module:classification, module:regression, enhancement

#4903 [ENH] private `split_loc` and tag to control dispatch of `split_series` to `split` vs `split_loc`
  sktime/forecasting/model_selection/_split.py
  sktime/registry/_tags.py
Labels: enhancement, module:metrics&benchmarking

#5034 [MNT] fix duplication of `pytest` `durations` parameter in CI
  Makefile
  setup.cfg
Labels: maintenance, module:tests

#5062 [ENH] allow `YfromX` to take missing data
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, bugfix

#5019 &yarnabrina [MNT] testing only estimators from modules that have changed compared to `main`
  .github/workflows/test.yml
  conftest.py
  setup.cfg
  sktime/forecasting/statsforecast.py
  sktime/tests/test_all_estimators.py
  sktime/utils/git_diff.py
Labels: maintenance, module:tests

#5027 [MNT] speed up various non-suite tests
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/tests/test_reconcile.py
Labels: maintenance, module:tests

#5074 [DOC] API reference for time series aligners
  docs/source/api_reference.rst
  docs/source/api_reference/alignment.rst
Labels: documentation, module:alignment

#5036 [ENH] speed up `BaseTransformer` checks and conversion boilerplate
  sktime/datatypes/_convert.py
  sktime/datatypes/_series_as_panel/_convert.py
  sktime/transformations/base.py
Labels: implementing framework, module:transformations, enhancement

#4985 [ENH] rework data loader module, ability to specify download mirrors
  sktime/datasets/_data_io.py
Labels: module:datasets&loaders

#5069 [BUG] fix wrong logic for `index_out="shift"` in `Lag` transformer
  sktime/transformations/series/lag.py
  sktime/transformations/series/tests/test_lag.py
Labels: module:transformations, bugfix

#2862 [ENH] test for more than one parameter sets per estimator
  sktime/tests/test_all_estimators.py
Labels: module:tests, enhancement

#5049 [ENH] Add DropNA transformer
  .all-contributorsrc
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/dropna.py
  sktime/transformations/series/tests/test_dropna.py
Labels: implementing algorithms, module:transformations, enhancement

#5045 [ENH] full rework of time series classification notebook
  examples/02_classification.ipynb
Labels: documentation, module:classification

#5010 [DOC] Contributors update
  CONTRIBUTORS.md
Labels: documentation

#5038 [ENH] distance/kernel tag, uniformize base module
  sktime/clustering/dbscan.py
  sktime/dists_kernels/__init__.py
  sktime/dists_kernels/algebra.py
  sktime/dists_kernels/base/__init__.py
  sktime/dists_kernels/base/_base.py
  sktime/dists_kernels/compose.py
  sktime/dists_kernels/compose_from_align.py
  sktime/dists_kernels/compose_tab_to_panel.py
  sktime/dists_kernels/dist_to_kern.py
  sktime/dists_kernels/dtw.py
  sktime/dists_kernels/dummy.py
  sktime/dists_kernels/edit_dist.py
  sktime/dists_kernels/indep.py
  sktime/dists_kernels/scipy_dist.py
  sktime/dists_kernels/signature_kernel.py
  sktime/registry/_base_classes.py
  sktime/registry/_tags.py
  sktime/tests/test_all_estimators.py
Labels: implementing framework, module:distances&kernels, enhancement

#5035 [ENH] speed up `Lag` transformer
  sktime/transformations/series/lag.py
  sktime/transformations/series/tests/test_lag.py
Labels: module:transformations, enhancement

#5078 [DOC] improves formatting of docstring examples
  sktime/base/_serialize.py
  sktime/classification/compose/_pipeline.py
  sktime/clustering/compose/_pipeline.py
  sktime/dists_kernels/algebra.py
  sktime/dists_kernels/compose_tab_to_panel.py
  sktime/dists_kernels/dtw.py
  sktime/dists_kernels/edit_dist.py
  sktime/forecasting/auto_reg.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/conformal.py
  sktime/forecasting/dummy.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_selection/_split.py
  sktime/forecasting/model_selection/_tune.py
  sktime/param_est/compose.py
  sktime/param_est/plugin.py
  sktime/param_est/seasonality.py
  sktime/pipeline/_make_pipeline.py
  sktime/regression/compose/_pipeline.py
  sktime/transformations/compose/_pipeline.py
  sktime/transformations/panel/channel_selection.py
  sktime/transformations/series/date.py
  sktime/transformations/series/holiday/_holidayfeats.py
  sktime/transformations/series/kalman_filter.py
  sktime/transformations/series/lag.py
  sktime/transformations/series/summarize.py
  sktime/transformations/series/time_since.py
  sktime/utils/estimator_checks.py
Labels: documentation

#4932 [ENH] improve `SARIMAX` test parameter coverage
  .all-contributorsrc
  sktime/forecasting/sarimax.py
Labels: module:forecasting, enhancement

#5085 [DOC] Contributors update
  CONTRIBUTORS.md
Labels: documentation

#5071 [MNT] speed up various non-suite tests, part 2
  sktime/classification/tests/test_sklearn_compatability.py
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/transformations/panel/tests/test_tsfresh.py
Labels: maintenance, module:tests

#5084 [ENH] dependency and diff test switch for individual estimators to decorate non-suite tests
  .github/workflows/test.yml
  sktime/annotation/tests/test_clasp.py
  sktime/classification/dictionary_based/tests/test_boss.py
  sktime/classification/dictionary_based/tests/test_tde.py
  sktime/classification/distance_based/tests/test_time_series_neighbors.py
  sktime/classification/early_classification/tests/test_teaser.py
  sktime/classification/ensemble/tests/test_ensemble.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/hybrid/tests/test_hivecote_v2.py
  sktime/classification/interval_based/tests/test_drcif.py
  sktime/classification/kernel_based/tests/test_arsenal.py
  sktime/classification/shapelet_based/tests/test_stc.py
  sktime/clustering/tests/test_k_means.py
  sktime/clustering/tests/test_k_medoids.py
  sktime/clustering/tests/test_k_shapes.py
  sktime/clustering/tests/test_kernel_k_means.py
  sktime/forecasting/compose/tests/test_reduce_global.py
  sktime/forecasting/conformal.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/forecasting/tests/test_ardl.py
  sktime/forecasting/tests/test_conformal.py
  sktime/forecasting/tests/test_ets.py
  sktime/forecasting/tests/test_pmdarima.py
  sktime/forecasting/tests/test_prophet.py
  sktime/forecasting/tests/test_tbats.py
  sktime/param_est/tests/test_plugin.py
  sktime/tests/test_switch.py
  sktime/transformations/panel/tests/test_catch22.py
  sktime/transformations/panel/tests/test_intervals.py
  sktime/transformations/panel/tests/test_shapelet_transform.py
  sktime/transformations/panel/tests/test_tsfresh.py
  sktime/transformations/series/tests/test_clear_sky.py
Labels: maintenance, module:tests, enhancement

#5097 [ENH] metrics classes - add testing parameters
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
Labels: enhancement, module:metrics&benchmarking

#5086 [ENH] tests and fixes for `numpy` weights in performance metrics
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/performance_metrics/tests/test_metrics_classes.py
  sktime/performance_metrics/tests/test_numpy_metrics.py
Labels: implementing framework, enhancement, module:metrics&benchmarking

#4877 [ENH] input checks for `BaseBenchmark`, allow `add_estimator` to accept multiple estimators
  sktime/benchmarking/benchmarks.py
  sktime/benchmarking/tests/test_forecasting.py
Labels: enhancement, module:metrics&benchmarking

#5104 [ENH] tests and fixes for `numpy` weights in performance metrics - probabilistic metrics
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/tests/test_probabilistic_metrics.py
Labels: enhancement, module:metrics&benchmarking

#5088 [DOC] Contributors update
  CONTRIBUTORS.md
Labels: documentation

#5076 [ENH] naive multiple aligners for baseline comparisons
  docs/source/api_reference/alignment.rst
  sktime/alignment/naive.py
Labels: implementing algorithms, module:alignment

#5077 [ENH] extend `BaseAligner.fit` with input conversion
  sktime/alignment/base.py
Labels: implementing framework, module:alignment, enhancement

#5066 [BUG] in `craft`, fix false positive detection of `True`, `False` as class names
  sktime/registry/_craft.py
Labels: bugfix, module:base-framework

#5080 [ENH] tag for full/partial alignment, exact tests for full alignment output, bugfix `AlignerDtwNumba`
  sktime/alignment/base.py
  sktime/alignment/dtw_numba.py
  sktime/alignment/dtw_python.py
  sktime/alignment/tests/test_all_aligners.py
  sktime/registry/_tags.py
Labels: implementing framework, module:alignment, bugfix, enhancement

#5070 [ENH] option to remember data in `SplitterSummarizer`
  sktime/transformations/series/summarize.py
Labels: implementing algorithms, module:transformations, enhancement

#5091 [BUG] fix `ConformalIntervals` failure if wrapped estimator supports hierarchical mtypes - restriction to Series
  sktime/datatypes/_alignment/_registry.py
  sktime/datatypes/_hierarchical/_registry.py
  sktime/datatypes/_panel/_registry.py
  sktime/datatypes/_proba/_registry.py
  sktime/datatypes/_series/_registry.py
  sktime/datatypes/_table/_registry.py
  sktime/forecasting/conformal.py
  sktime/forecasting/tests/test_conformal.py
Labels: module:forecasting, bugfix

#5110 [BUG] Fix `vectorize_est` returning jumbled rows for row vectorization, `pd.DataFrame` return, if row names were not lexicographically ordered
  sktime/datatypes/_vectorize.py
  sktime/forecasting/base/tests/test_base.py
Labels: module:forecasting, module:datatypes, bugfix

#5111 [ENH] add more test parameters to some estimators
  sktime/classification/early_classification/_probability_threshold.py
  sktime/forecasting/naive.py
  sktime/forecasting/vecm.py
  sktime/transformations/series/date.py
Labels: module:classification, module:forecasting, module:transformations, enhancement

#5082 Release 0.21.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#5113 [MNT] temporary skip `get_test_params` number check for 0.21.1 and 0.22.0 release
  docs/source/changelog.rst
  sktime/tests/test_all_estimators.py
Labels: maintenance, release

#5116 [BUG] fix `numba` based aligners
  sktime/alignment/base.py
  sktime/alignment/dtw_numba.py
  sktime/alignment/edit_numba.py
Labels: module:alignment, bugfix

#4822 [MNT] 0.22.0 release action - deprecate `deprecated` in 0.21.0, remove in 0.22.0
  pyproject.toml
Labels: maintenance, release

#5106 [MNT] 0.22.0 deprecations and change actions
  examples/01b_forecasting_proba.ipynb
  sktime/classification/early_classification/_probability_threshold.py
  sktime/datatypes/_proba/_convert.py
  sktime/datatypes/_proba/_examples.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_delegate.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_generalised_statsforecast.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_fhplex.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_bagging.py
  sktime/forecasting/conformal.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/naive.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/tests/test_naive.py
  sktime/forecasting/tests/test_sarimax.py
  sktime/forecasting/tests/test_theta.py
  sktime/forecasting/theta.py
  sktime/forecasting/var.py
  sktime/forecasting/vecm.py
  sktime/tests/test_switch.py
  sktime/transformations/series/date.py
  sktime/utils/estimators/_forecasters.py
  sktime/utils/estimators/tests/test_forecasters.py
Labels: maintenance, release

#5121 Release 0.22.0
  CODEOWNERS
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#5100 [ENH] widen scope of change-conditional test execution
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/forecasting/tests/test_interval_wrappers.py
  sktime/forecasting/tests/test_reconcile.py
  sktime/transformations/tests/test_optionalpassthrough.py
Labels: module:tests, enhancement

#5098 [ENH] speed up tests in `test_fh`
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, module:tests, enhancement

#5063 [ENH] speed up `BaseSplitter` boilerplate
  CONTRIBUTORS.md
  sktime/datatypes/_convert.py
  sktime/forecasting/model_selection/_split.py
Labels: enhancement, module:metrics&benchmarking

#5099 [ENH] conditional execution of `test_distance` and `test_distance_params`
  sktime/distances/tests/test_numba_distance_parameters.py
  sktime/distances/tests/test_numba_distances.py
  sktime/tests/test_switch.py
Labels: module:distances&kernels, module:tests, enhancement

#5031 [MNT] upgrade CI runners to latest stable images
  .github/workflows/test.yml
  .github/workflows/wheels.yml
Labels: maintenance

#5135 [ENH] widen scope of conditional test execution
  sktime/annotation/tests/test_all_annotators.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/transformations/panel/dictionary_based/tests/test_sfa.py
  sktime/transformations/panel/rocket/tests/test_MiniRocket.py
  sktime/transformations/panel/rocket/tests/test_MiniRocketMultivariate.py
  sktime/transformations/panel/rocket/tests/test_MiniRocketMultivariateVariable.py
  sktime/transformations/panel/rocket/tests/test_MultiRocket.py
  sktime/transformations/panel/rocket/tests/test_MultiRocketMultivariate.py
  sktime/transformations/panel/rocket/tests/test_Rocket.py
  sktime/transformations/panel/tests/test_timebinner.py
Labels: module:tests, enhancement

#5149 [MNT] bound `statsforecast<1.6.0` due to recent failures
  pyproject.toml
Labels: maintenance, module:forecasting

#5050 [ENH] Student's t-distribution
  sktime/proba/t.py
Labels: implementing algorithms, enhancement, module:probability&simulation

#5039 [ENH] `tslearn` distances and kernels including adapter
  docs/source/api_reference/dists_kernels.rst
  sktime/dists_kernels/base/adapters/__init__.py
  sktime/dists_kernels/base/adapters/_tslearn.py
  sktime/dists_kernels/ctw.py
  sktime/dists_kernels/dtw/__init__.py
  sktime/dists_kernels/dtw/_dtw_python.py
  sktime/dists_kernels/dtw/_dtw_tslearn.py
  sktime/dists_kernels/gak.py
  sktime/dists_kernels/lcss.py
Labels: module:distances&kernels, enhancement

#5094 [ENH] empirical distribution
  sktime/proba/empirical.py
Labels: implementing algorithms, enhancement, module:probability&simulation

#5134 [BUG] fix check causing exception in `ConformalIntervals` in `_predict`
  sktime/forecasting/conformal.py
Labels: module:forecasting, bugfix

#5065 [DOC] Fix make_pipeline, make_reduction, window_summarizer & load_forecasting data docstrings
  .all-contributorsrc
  estimator_overview_table.md
  sktime/datasets/_single_problem_loaders.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/pipeline/_make_pipeline.py
  sktime/transformations/series/summarize.py
Labels: documentation

#5168 [DOC] minor docstring typo fixes in `_DelegatedForecaster` module
  sktime/forecasting/base/_delegate.py
Labels: documentation, module:forecasting

#5138 [DOC] update forecasting extension template on `predict_proba`
  extension_templates/forecasting.py
Labels: documentation, module:forecasting

#5147 [ENH] widen scope of change-conditional test execution
  sktime/forecasting/online_learning/tests/test_online_learning.py
  sktime/transformations/hierarchical/tests/test_aggregate.py
  sktime/transformations/hierarchical/tests/test_reconcile.py
  sktime/transformations/series/dobin.py
  sktime/transformations/series/tests/test_window_summarizer.py
  sktime/utils/tests/test_plotting.py
Labels: maintenance, module:tests, enhancement

#5146 [MNT] test forecastingdata downloads only on a small random subset
  sktime/datasets/tests/test_single_problem_loaders.py
Labels: maintenance, enhancement

#5152 [MNT] lower dep bound compatibility patch - `binom_test`
  sktime/benchmarking/evaluation.py
Labels: maintenance, module:metrics&benchmarking

#5154 [MNT] fix dependency isolation of `DateTimeFeatures` tests
  sktime/transformations/series/tests/test_date.py
Labels: maintenance, module:transformations

#5157 [MNT] move fixtures in `test_reduce_global` to `pytest` fixtures
  sktime/forecasting/compose/tests/test_reduce_global.py
Labels: maintenance, module:forecasting

#5151 [BUG] prevent exception in `PyODAnnotator.get_test_params`
  sktime/annotation/adapters/_pyod.py
Labels: module:annotation, bugfix

#5141 [ENH] refactor and add conditional execution to `numba` based distance tests
  sktime/distances/tests/test_distance_correctness.py
  sktime/distances/tests/test_numba_distance_parameters.py
Labels: module:distances&kernels, module:tests, enhancement

#5166 [ENH] add tag for inexact `inverse_transform`-s
  extension_templates/transformer.py
  sktime/registry/_tags.py
  sktime/transformations/base.py
  sktime/transformations/tests/test_all_transformers.py
Labels: implementing framework, module:transformations, enhancement

#5129 [ENH] VMD (variational mode decomposition) transformer based on `vmdpy`
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/vmd/__init__.py
  sktime/transformations/series/vmd/_vmd.py
  sktime/transformations/series/vmd/_vmdpy.py
Labels: interfacing algorithms, module:transformations, enhancement
