Repository sktime/sktime, pull requests merged in 2023-02, with the labels that each got.

#4157 [ENH] test that forecasters preserve `name` attr of `pd.Series`
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, module:tests

#4161 [ENH] fixes for forecasters to retain `name` attribute in `predict`
  sktime/forecasting/ardl.py
  sktime/forecasting/base/_sktime.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/croston.py
  sktime/forecasting/ets.py
  sktime/forecasting/naive.py
  sktime/forecasting/online_learning/_online_ensemble.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/theta.py
  sktime/forecasting/trend.py
Labels: module:forecasting, bugfix, enhancement

#4192 [BUG] fix race condition in `tsfile` tests
  sktime/datasets/tests/test_data_io.py
Labels: module:tests, bugfix, module:datasets&loaders

#4171 [BUG] fix `nlag` logic in `SeasonalityACF` and `SeasonalityACFqstat`
  sktime/param_est/seasonality.py
Labels: bugfix, module:parameter-estimators

#4202 [DOC] remove slack links in favour of discord
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/source/conf.py
  docs/source/developer_guide/git_workflow.rst
  docs/source/developer_guide/release.rst
  docs/source/events/gsoc_2022.md
  docs/source/get_involved/code_of_conduct.rst
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/mentoring.rst
Labels: documentation

#4199 [DOC] fix tables in transformer `transform` docstrings - change md to rst
  .all-contributorsrc
  sktime/transformations/base.py
Labels: documentation, module:transformations

#4200 [DOC] remove gap between pandas and DataFrame | Series in classification notebook (#4200)
  examples/02_classification.ipynb
Labels: documentation, module:classification

#4205 [DOC] Fix merge conflicts and formatting in `.all-contributorsrc`
  .all-contributorsrc
Labels: documentation, maintenance

#4206 [MNT] temp MR to remove 2977 conflicts
  .all-contributorsrc
Labels: maintenance

#4207 [MNT] temp MR to remove 2977 conflicts - part 3
  .all-contributorsrc
Labels: maintenance

#4178 [ENH] improved/fixed `scoring` argument for forecasting tuners
  sktime/forecasting/model_selection/_tune.py
  sktime/utils/validation/forecasting.py
Labels: module:forecasting, bugfix, enhancement

#4180 [BUG] `AutoETS`, `UnobservedComponents`: fix `predict_interval` for integer based index not starting at zero
  sktime/forecasting/ets.py
  sktime/forecasting/structural.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/tests/_config.py
Labels: module:forecasting, bugfix

#4194 [ENH] add native multi-index/hierarchical data support to `Imputer`
  sktime/transformations/series/impute.py
  sktime/transformations/series/tests/test_imputer.py
Labels: module:transformations, enhancement

#4183 [ENH] test `Prophet` with `pd.DatetimeIndex`
  sktime/tests/_config.py
Labels: module:forecasting, enhancement

#4195 [ENH] Improve vectorization performance
  sktime/datatypes/_vectorize.py
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: module:datatypes, enhancement, module:base-framework

#4222 [BUG] Correct 'StarlightCurves' data set identifier string, to 'StarLightCurves'
  sktime/datasets/tsc_dataset_names.py
Labels: bugfix, module:datasets&loaders

#4196 [ENH] Improve panel mtype check performance
  .all-contributorsrc
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_panel_converters.py
Labels: module:datatypes, enhancement

#4156 [ENH] faster test for forecasters' `predict_residuals`
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, module:tests, enhancement

#4227 [BUG] fix `TimeSeriesDBSCAN` and remove strict `BaseClusterer` abstracts
  sktime/clustering/base.py
  sktime/clustering/dbscan.py
Labels: module:clustering, bugfix

#4238 [ENH] temporarily replace `sktime.org` links by `readthedocs` links
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ESTIMATOR_OVERVIEW.md
  GOVERNANCE.md
  README.md
  build_tools/make_release.py
  docs/source/api_reference/file_specifications/ts.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/contributing/reporting_bugs.rst
  docs/source/developer_guide.rst
  docs/source/developer_guide/add_estimators.rst
  docs/source/developer_guide/continuous_integration.rst
  docs/source/developer_guide/documentation.rst
  docs/source/events/gsoc_2022.md
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/governance.rst
  examples/01_forecasting.ipynb
  examples/01b_forecasting_proba.ipynb
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/03_transformers.ipynb
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  pyproject.toml
Labels: documentation, maintenance

#4241 [ENH] direct documentation links to `sktime.net` addresses
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ESTIMATOR_OVERVIEW.md
  GOVERNANCE.md
  README.md
  build_tools/make_release.py
  docs/source/api_reference/file_specifications/ts.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/contributing/reporting_bugs.rst
  docs/source/developer_guide.rst
  docs/source/developer_guide/add_estimators.rst
  docs/source/developer_guide/continuous_integration.rst
  docs/source/developer_guide/documentation.rst
  docs/source/events/gsoc_2022.md
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/governance.rst
  examples/01_forecasting.ipynb
  examples/01b_forecasting_proba.ipynb
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/03_transformers.ipynb
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  pyproject.toml
Labels: documentation, maintenance

#4225 [BUG] prevent discovery of abstract `TimeSeriesLloyds` by contract tests
  sktime/tests/_config.py
Labels: module:clustering, module:tests

#4221 [BUG] fix broken `ComposableTimeSeriesRegressor`
  sktime/regression/compose/_ensemble.py
  sktime/series_as_features/base/estimators/_ensemble.py
  sktime/utils/_testing/estimator_checks.py
Labels: module:regression, bugfix

#4160 [DOC] improved reducer docstring formatting
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/model_selection/_split.py
Labels: documentation, module:forecasting

#4223 [DOC] improve docstring for `VectorizedDF.items` and `.__iter__`
  sktime/datatypes/_vectorize.py
Labels: documentation, module:datatypes

#4231 [ENH] factor out column ensemble functionality from `_ColumnEnsembleForecaster` to new base mixin
  sktime/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
Labels: module:forecasting, enhancement, module:base-framework

#4250 [DOC] update transformer extension template docstrings, reference to `Hierarchical`
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  sktime/forecasting/model_evaluation/_functions.py
Labels: documentation

#4243 [ENH] Forecaster that forecasts prescribed known or expert forecast values
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/dummy.py
Labels: implementing algorithms, module:forecasting, enhancement

#4247 [ENH] parameter estimators for stationarity - ADF and KPSS
  sktime/param_est/stationarity.py
  sktime/param_est/tests/test_seasonality.py
  sktime/param_est/tests/test_stationarity.py
  sktime/transformations/series/adapt.py
Labels: interfacing algorithms, enhancement, module:parameter-estimators

#4246 [ENH] additional test parameter sets for performance metrics
  sktime/performance_metrics/forecasting/_classes.py
Labels: module:tests, enhancement, module:metrics&benchmarking
