Repository sktime/sktime, pull requests merged in 2024-11, with the labels that each got.

#7322 [DOC] Fixed sktime logo positioning in the README
  README.md
Labels: documentation

#7288 [ENH] in forecasting metrics, allow a callable to be passed as `sample_weight` for dynamic weight generation
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/performance_metrics/forecasting/sample_weight/__init__.py
  sktime/performance_metrics/forecasting/sample_weight/_base.py
  sktime/performance_metrics/forecasting/sample_weight/_types.py
  sktime/performance_metrics/forecasting/sample_weight/tests/__init__.py
  sktime/performance_metrics/forecasting/sample_weight/tests/test_sample_weight_generator.py
  sktime/performance_metrics/tests/test_performance_metrics_forecasting.py
Labels: module:forecasting, enhancement, module:metrics&benchmarking

#7366 [DOC] Small typo on explanation of regression
  .all-contributorsrc
  examples/02_classification.ipynb
Labels: documentation

#7379 [DOC] Add Binary Segmentation Estimator to API reference
  docs/source/api_reference/detection.rst
Labels: documentation

#7268 & talat-khattatov [ENH] box-cox bias adjustment for forecasters
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/boxcox_bias_adjusted_forecaster.py
Labels: module:forecasting, module:transformations, enhancement

#7358 [DOC] Add timesfm in libs/README.md
  CONTRIBUTORS.md
  sktime/libs/README.md
Labels: documentation

#4806 [ENH] add `RecursiveReductionForecaster` to module exports, tests, and documentation
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_reduce.py
Labels: maintenance, module:forecasting

#7384 [MNT] allow `optuna<4.2` and test 3.13 support
  pyproject.toml
Labels: maintenance, dependencies

#7369 [DOC] categories for clustering algorithms in API reference
  docs/source/api_reference/clustering.rst
Labels: documentation, module:clustering

#7339 [DOC] Improving the `installation` instructions to improve clarity
  CONTRIBUTORS.md
  docs/source/developer_guide/git_workflow.rst
  docs/source/installation.rst
Labels: documentation

#7320 [ENH] Signature Moments transformer
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/signature.py
Labels: module:transformations, enhancement

#7342 [ENH] homogenization of `sktime` and `skchange` detection API - part 1 - base class and `y` argument
  extension_templates/detection.py
  sktime/annotation/adapters/_pyod.py
  sktime/annotation/base/__init__.py
  sktime/annotation/base/_base.py
  sktime/annotation/bs.py
  sktime/annotation/clasp.py
  sktime/annotation/clust.py
  sktime/annotation/compose/_as_transform.py
  sktime/annotation/compose/_pipeline.py
  sktime/annotation/ggs.py
  sktime/annotation/hmm.py
  sktime/annotation/hmm_learn/base.py
  sktime/annotation/lof.py
  sktime/annotation/tests/test_base.py
  sktime/detection/base/__init__.py
  sktime/detection/base/_base.py
  sktime/registry/_base_classes.py
Labels: module:detection, enhancement

#7393 [DOC] fixes to the mtype API reference
  docs/source/api_reference/data_format.rst
  sktime/datatypes/_table/_base.py
  sktime/datatypes/_table/_check.py
Labels: documentation, module:datatypes

#7361 [ENH] Changed scitype name `"series-annotator"` to `"detector"`
  .all-contributorsrc
  sktime/annotation/tests/test_all_annotators.py
  sktime/detection/base/_base.py
  sktime/registry/_base_classes.py
  sktime/registry/_scitype_coercion.py
  sktime/registry/_tags.py
  sktime/registry/tests/test_lookup.py
  sktime/tests/test_class_register.py
Labels: maintenance, module:detection

#7395 [ENH] refactor `_check_estimator_types` to use record class interface
  sktime/registry/_base_classes.py
  sktime/registry/_lookup.py
Labels: enhancement, module:base-framework

#6958 [ENH] detection module suite tests coverage extension for methods
  sktime/annotation/tests/test_all_annotators.py
  sktime/tests/_config.py
Labels: module:detection, enhancement

#7403 [DOC] fix duplications of the word "correspond"
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/AA_datatypes_and_datasets.ipynb
  sktime/datatypes/_panel/_check.py
Labels: documentation

#7404 [BUG] rectify `ignores-exogeneous-X` tag value in `Croston`
  sktime/forecasting/croston.py
Labels: module:forecasting, bugfix

#7401 [DOC] Add import location to HolidayFeatures docs
  .all-contributorsrc
  sktime/transformations/series/holiday/_holidayfeats.py
Labels: documentation, module:transformations

#7389 [DOC] add rubric for time series detectors to estimator overview
  CONTRIBUTORS.md
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/estimator_overview.md
Labels: documentation, module:detection, module:base-framework

#7424 [ENH] `EnsembleForecaster` option to specify multiple copies of same forecaster easily
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/online_learning/_online_ensemble.py
Labels: module:forecasting, enhancement

#7376 [DOC] provide proper mathematical description in docstring of sliding window splitter.
  sktime/split/singlewindow.py
Labels: documentation, module:splitters&resamplers

#7429 [ENH] parity of `_HeterogenousMetaEstimator._check_estimator` with `skbase` and fixes in `EnsembleForecaster.__init__`
  sktime/base/_meta.py
  sktime/forecasting/compose/_ensemble.py
Labels: module:forecasting, enhancement, module:base-framework

#7422 [ENH] Add new arguments to neuralforecast rnn and lstm
  sktime/forecasting/neuralforecast.py
Labels: module:forecasting, enhancement

#7436 [ENH] rename private `make_annotation_problem` to `make_detection_problem`
  sktime/annotation/tests/test_all_annotators.py
  sktime/utils/_testing/annotation.py
Labels: module:detection, enhancement

#7435 [ENH] minor improvements to `BaseDetector`
  sktime/annotation/bs.py
  sktime/annotation/hmm_learn/base.py
  sktime/detection/base/_base.py
  sktime/registry/_tags.py
  sktime/tests/test_all_estimators.py
Labels: module:detection, enhancement

#7445 [ENH] move detector non-suite tests to `detection` folder
  sktime/detection/tests/__init__.py
  sktime/detection/tests/test_base.py
  sktime/detection/tests/test_bs.py
  sktime/detection/tests/test_clasp.py
  sktime/detection/tests/test_datagen.py
  sktime/detection/tests/test_eagglo.py
  sktime/detection/tests/test_ggs.py
  sktime/detection/tests/test_hmm.py
  sktime/detection/tests/test_hmm_learn.py
  sktime/detection/tests/test_igts.py
  sktime/detection/tests/test_lof.py
  sktime/detection/tests/test_plotting.py
  sktime/detection/tests/test_stray.py
Labels: module:detection, enhancement

#7432 [ENH] homogenization of sktime and skchange detection API - part 2 - base class `transform` return type
  .all-contributorsrc
  sktime/annotation/tests/test_all_annotators.py
  sktime/detection/base/_base.py
Labels: module:detection, enhancement

#7430 [BUG] fix `check_estimator` test in case of failure
  sktime/utils/tests/test_check_estimator.py
Labels: module:tests, bugfix

#7448 [ENH] move detector classes to `detection` module
  docs/source/api_reference/detection.rst
  sktime/annotation/adapters/__init__.py
  sktime/annotation/bs.py
  sktime/annotation/clasp.py
  sktime/annotation/clust.py
  sktime/annotation/compose/__init__.py
  sktime/annotation/datagen.py
  sktime/annotation/eagglo.py
  sktime/annotation/ggs.py
  sktime/annotation/hmm.py
  sktime/annotation/hmm_learn/__init__.py
  sktime/annotation/hmm_learn/base.py
  sktime/annotation/hmm_learn/gaussian.py
  sktime/annotation/hmm_learn/gmm.py
  sktime/annotation/hmm_learn/poisson.py
  sktime/annotation/igts.py
  sktime/annotation/lof.py
  sktime/annotation/plotting/utils.py
  sktime/annotation/stray.py
  sktime/detection/adapters/__init__.py
  sktime/detection/adapters/_pyod.py
  sktime/detection/base/_base.py
  sktime/detection/bs.py
  sktime/detection/clasp.py
  sktime/detection/clust.py
  sktime/detection/compose/__init__.py
  sktime/detection/compose/_as_transform.py
  sktime/detection/compose/_pipeline.py
  sktime/detection/datagen.py
  sktime/detection/eagglo.py
  sktime/detection/ggs.py
  sktime/detection/hmm.py
  sktime/detection/hmm_learn/__init__.py
  sktime/detection/hmm_learn/base.py
  sktime/detection/hmm_learn/gaussian.py
  sktime/detection/hmm_learn/gmm.py
  sktime/detection/hmm_learn/poisson.py
  sktime/detection/igts.py
  sktime/detection/lof.py
  sktime/detection/plotting/utils.py
  sktime/detection/stray.py
  sktime/detection/tests/test_ggs.py
  sktime/detection/tests/test_igts.py
  sktime/registry/_scitype_coercion.py
  sktime/tests/_config.py
Labels: module:detection, enhancement

#7452 [BUG] fix `BaseDetector.change_points_to_segments`
  sktime/detection/base/_base.py
  sktime/detection/tests/test_base.py
Labels: module:detection, bugfix

#7446 [ENH] conditional testing and imports for estimator specific tests in `detection` module
  sktime/detection/tests/test_base.py
  sktime/detection/tests/test_bs.py
  sktime/detection/tests/test_clasp.py
  sktime/detection/tests/test_datagen.py
  sktime/detection/tests/test_eagglo.py
  sktime/detection/tests/test_ggs.py
  sktime/detection/tests/test_hmm.py
  sktime/detection/tests/test_hmm_learn.py
  sktime/detection/tests/test_igts.py
  sktime/detection/tests/test_lof.py
  sktime/detection/tests/test_stray.py
Labels: module:detection, enhancement

#7443 [ENH] add detector specific tags to the tag registry and tags API reference
  docs/source/api_reference/tags.rst
  extension_templates/detection.py
  sktime/detection/base/_base.py
  sktime/registry/_tags.py
Labels: module:detection, enhancement

#7442 [ENH] added test parameter set for ColumnTransformer
  sktime/tests/_config.py
  sktime/transformations/panel/compose.py
Labels: module:transformations, enhancement

#7456 [MNT] `detection` module - move CI from `annotation` module
  .github/workflows/test_all.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
Labels: maintenance, module:detection

#7457 [ENH] `skchange` rename of `Capa` to `CAPA`
  examples/07_detection_anomaly_changepoints.ipynb
Labels: module:detection, enhancement

#7455 [ENH] move detector tests to `detection` module
  sktime/detection/tests/test_all_annotators.py
Labels: module:detection, enhancement

#7464 [ENH] move detector tests to `detection` module
  sktime/detection/tests/test_all_detectors.py
Labels: module:detection, enhancement

#7465 [ENH] renaming of detector suite tests
  sktime/annotation/tests/__init__.py
  sktime/detection/base/_base.py
  sktime/detection/tests/test_all_detectors.py
  sktime/tests/test_class_register.py
  sktime/utils/_testing/detection.py
  sktime/utils/validation/detection.py
Labels: module:datatypes, enhancement

#7468 [ENH] fix API incompatibility of `SubLOF` detector
  sktime/detection/compose/_pipeline.py
  sktime/detection/lof.py
  sktime/tests/_config.py
Labels: module:detection, enhancement

#7353 &vectornd [ENH] Added Spatio-Temporal DBSCAN
  .all-contributorsrc
  docs/source/api_reference/clustering.rst
  sktime/clustering/spatio_temporal/__init__.py
  sktime/clustering/spatio_temporal/_st_dbscan.py
  sktime/clustering/tests/spatio_temporal/__init__.py
  sktime/clustering/tests/spatio_temporal/test_st_dbscan.py
  sktime/clustering/utils/toy_data_generation/__init__.py
  sktime/clustering/utils/toy_data_generation/_make_moving_blobs.py
Labels: implementing algorithms, module:clustering, enhancement
