Repository sktime/sktime, pull requests merged in 2024-05, with the labels that each got.

#6348 [MNT] `python 3.8` End-of-life and `sktime` support drop warning
  sktime/base/_base.py
Labels: maintenance, release

#6368 [MNT] temporary skip tests for `ARIMA` in relation to #6344
  sktime/tests/_config.py
Labels: maintenance

#6369 [DOC] prominent placement of 3.8 EOL in changelog
  docs/source/changelog.rst
  sktime/base/_base.py
Labels: documentation, release

#6371 [MNT] instant release action - temporary
  .github/workflows/wheels.yml
Labels: maintenance, release

#6372 Revert "[MNT] instant release action - temporary"
  .github/workflows/wheels.yml
Labels: maintenance

#6383 [BUG] fix `test_run_test_for_class` logic check if `ONLY_CHANGED_MODULES` flag is `False` and all estimator dependencies are present
  sktime/tests/tests/test_test_utils.py
Labels: module:tests, bugfix

#6353 [MNT] include unit tests in `sktime/tests` in per module tests
  .github/actions/test-component/action.yml
Labels: maintenance, module:tests

#6402 [DOC] update meetup time to new 1pm slot
  README.md
Labels: documentation

#6400 [MNT] maintenance changes for AutoTBATS
  sktime/forecasting/statsforecast.py
Labels: module:forecasting

#6426 [DOC] fix the docs local build failure due to corrupt notebook
  examples/00_sktime_intro.ipynb
Labels: documentation, maintenance, bugfix

#6439 [DOC] Correct docstring for conversion functions of dask_to_pd.py
  sktime/datatypes/_adapter/dask_to_pd.py
Labels: enhancement

#6447 [MNT] bound `transformers<4.41.0`
  pyproject.toml
Labels: maintenance

#6336 [ENH] Adding ADI/CV Feature Extractor
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/adi_cv.py
  sktime/transformations/series/tests/test_adi_cv.py
Labels: module:transformations, enhancement

#6448 [BUG] fix `test_run_test_for_class` test logic
  sktime/tests/tests/test_test_utils.py
Labels: module:tests, bugfix

#6418 [BUG] allow metric classes to be called with `multilevel` arg if series is not hierarchical
  sktime/performance_metrics/forecasting/_coerce.py
  sktime/performance_metrics/forecasting/tests/test_metrics.py
Labels: bugfix, module:metrics&benchmarking

#6360 [ENH] `ExpandingCutoffSplitter` - splitter by moving cutoff
  docs/source/api_reference/split.rst
  sktime/split/__init__.py
  sktime/split/expandingcutoff.py
  sktime/split/tests/test_expandingcutoff.py
Labels: enhancement, module:splitters&resamplers

#6414 [DOC] `plot_calibration` docstring - formal explanation of the plot
  sktime/utils/plotting.py
Labels: documentation, module:plotting&utilities

#6364 [DOC] high-level explanation of deprecation policy principles
  docs/source/developer_guide/deprecation.rst
Labels: documentation

#6398 [BUG] Remove duplicated `BaseDeepNetworkPyTorch` in `networks.base`
  sktime/networks/base.py
Labels: module:forecasting, enhancement

#6437 [ENH] Interval width (sharpness) metric
  sktime/performance_metrics/forecasting/probabilistic/__init__.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/tests/test_probabilistic_metrics.py
Labels: enhancement, module:metrics&benchmarking

#6451 [ENH] make `get_packages_with_changed_specs` safe to mutation of return
  sktime/utils/git_diff.py
Labels: module:tests, enhancement

#6429 [BUG] fix `BaggingClassifier` for column subsampling case
  sktime/classification/ensemble/_bagging.py
Labels: module:classification, bugfix

#6434 [DOC] explanation of `get_test_params` in test framework example
  docs/source/developer_guide/testing_framework.rst
Labels: documentation, module:tests

#6432 [BUG] fix `ProximityForest`, tree, stump, and `IndividualBOSS` returning `y` of different type in `predict`
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/tests/test_boss.py
  sktime/classification/distance_based/_proximity_forest.py
Labels: module:classification, bugfix

#6430 [BUG] fix classifier default `_predict` returning integer labels always, even if `fit` `y` was not integer
  sktime/classification/base.py
Labels: module:classification, bugfix

#6401 [DOC] remove redundant/duplicative classification tutorial notebooks
  examples/02a_classification_multivariate_cnn.ipynb
  examples/02b_classification_multivariate_lstmfcn.ipynb
  examples/02c_classification_multivariate_inceptiontime.ipynb
Labels: documentation, module:classification

#6433 [BUG] fix `ForecastX` when `forecaster_X_exogeneous="complement"`
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_forecastx.py
Labels: module:forecasting, bugfix

#6386 [ENH] pykan based forecaster
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/pykan_forecaster.py
  sktime/tests/_config.py
Labels: implementing algorithms, interfacing algorithms, module:forecasting, enhancement

#6460 [ENH] unsigned area under the calibration curve metric for distribution forecasts
  docs/source/api_reference/performance_metrics.rst
  sktime/performance_metrics/forecasting/probabilistic/__init__.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
Labels: implementing algorithms, module:forecasting, module:metrics&benchmarking

#6476 [MNT] skip doctest for `all_estimators`
  sktime/registry/_lookup.py
Labels: maintenance, module:base-framework

#6479 [DOC] fix download badges in README
  README.md
Labels: documentation

#6473 [ENH] Bollinger Bands
  .all-contributorsrc
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/bollinger.py
  sktime/transformations/series/tests/test_bollinger.py
Labels: implementing algorithms, module:transformations, enhancement

#6455 [ENH] Polars conversion utilities
  sktime/datatypes/_adapter/polars.py
  sktime/datatypes/_adapter/tests/test_polars.py
Labels: module:datatypes, enhancement

#6373 [BUG] Make deep classifier's `convert_y_to_keras` private
  .all-contributorsrc
  sktime/classification/deep_learning/base.py
  sktime/classification/deep_learning/cnn.py
  sktime/classification/deep_learning/cntc.py
  sktime/classification/deep_learning/fcn.py
  sktime/classification/deep_learning/inceptiontime.py
  sktime/classification/deep_learning/lstmfcn.py
  sktime/classification/deep_learning/macnn.py
  sktime/classification/deep_learning/mcdcnn.py
  sktime/classification/deep_learning/mlp.py
  sktime/classification/deep_learning/resnet.py
  sktime/classification/deep_learning/rnn.py
  sktime/classification/deep_learning/tapnet.py
  sktime/tests/_config.py
Labels: module:classification, enhancement

#6464 [ENH] `sklearn 1.5.0` compatibility patch
  sktime/regression/base.py
  sktime/regression/tests/test_all_regressors.py
Labels: maintenance

#6482 [MNT] address various deprecation and computation warnings
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/tests/test_utils.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/proba/mixture.py
  sktime/transformations/panel/channel_selection.py
  sktime/transformations/panel/reduce.py
  sktime/transformations/series/binning.py
  sktime/transformations/series/peak.py
  sktime/transformations/series/vmd/_vmdpy.py
Labels: maintenance

#6452 [BUG] in `CNNClassifier` and `CNNRegressor`, ensure `filter_sizes` and `padding` is passed on
  sktime/classification/deep_learning/cnn.py
  sktime/regression/deep_learning/cnn.py
Labels: module:classification, module:regression, bugfix

#6489 [DOC] improved formatting of transformation docstrings
  sktime/transformations/base.py
Labels: documentation, module:transformations

#6458 [BUG] fix to make LabelEncoder compatible
  sktime/transformations/series/adapt.py
Labels: module:transformations, bugfix

#6491 [BUG] fix `BaseClassifier.fit_predict` and `fit_predict_proba` for `pd-multiindex` mtype
  sktime/base/_base_panel.py
  sktime/classification/base.py
Labels: module:classification, bugfix

#6492 [ENH] remove `Prophet` from `test_differencer_cutoff`
  sktime/transformations/series/tests/test_differencer.py
Labels: module:forecasting, module:transformations, enhancement

#6351 [DOC] document more tags: transformations
  docs/source/api_reference/tags.rst
  sktime/registry/_tags.py
Labels: documentation

#6416 [ENH], [BUG] utils/plotting.py: change plot_series() to use matplotlib conventions; enhance plot_interval()
  sktime/utils/plotting.py
Labels: enhancement, module:plotting&utilities

#6494 [ENH] address further deprecation warnings from `pandas`
  sktime/forecasting/compose/_reduce.py
  sktime/transformations/series/impute.py
Labels: maintenance

#6497 Revert "[ENH], [BUG] utils/plotting.py: change plot_series() to use matplotlib conventions; enhance plot_interval()"
  sktime/utils/plotting.py
Labels: maintenance

#6486 [ENH] time series aligners capability check at input, tag for unequal length capability
  extension_templates/alignment.py
  sktime/alignment/base.py
  sktime/alignment/dtw_numba.py
  sktime/alignment/dtw_python.py
  sktime/alignment/edit_numba.py
  sktime/alignment/lucky.py
  sktime/alignment/naive.py
  sktime/dists_kernels/compose_from_align.py
  sktime/registry/_tags.py
Labels: module:distances&kernels, module:alignment, enhancement

#6495 [ENH] forecasting metrics: ensure uniform support and testing for `sample_weight` parameter
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/tests/test_metrics_classes.py
Labels: bugfix, module:metrics&benchmarking

#6453 [ENH] Apply forecasters depending on series type (e.g., intermittent) compositor
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_transform_select_forecaster.py
  sktime/forecasting/compose/tests/test_transformer_select_forecaster.py
Labels: module:forecasting, enhancement

#6500 [ENH] compatibility of `ForecastingHorizon` with `pandas` `freq` `2Y` on `pandas 2.2.0` and above
  sktime/forecasting/base/_fh.py
Labels: module:forecasting, enhancement

#6503 [ENH] add test case for `ForecastingHorizon` `pandas 2.2.X` compatibility, failure case #6499
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, enhancement

#6419 [DOC] Improve docstrings for metrics
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
Labels: documentation, module:metrics&benchmarking
