Repository sktime/sktime, pull requests merged in 2024-06, with the labels that each got.

#6501 [ENH], [BUG] utils/plotting.py: change `plot_series` to use `matplotlib` conventions; enhance `plot_interval`
  sktime/utils/plotting.py
Labels: enhancement, module:plotting&utilities

#6508 [MNT] fast release
  .github/workflows/wheels.yml
Labels: maintenance, release

#6506 [BUG] fix `PyKANForecaster` default params
  sktime/forecasting/pykan_forecaster.py
Labels: module:forecasting, bugfix

#6477 [ENH] data loader for fpp3 datasets from CRAN via `rdata` package, to `sktime` data formats
  .github/workflows/test_datasets.yml
  docs/source/api_reference/datasets.rst
  pyproject.toml
  sktime/datasets/__init__.py
  sktime/datasets/_fpp3_loaders.py
  sktime/datasets/tests/test_datadownload.py
Labels: enhancement, module:datasets&loaders

#6334 [ENH] Test Parameters for `FinancialHolidaysTransformer`
  sktime/transformations/series/holiday/financial_holidays.py
Labels: module:transformations, enhancement

#6239 [BUG] Resolve `LSTMFCNClassifier` and `LSTMFCNRegressor` changing `callback` parameter
  .all-contributorsrc
  sktime/classification/deep_learning/lstmfcn.py
  sktime/regression/deep_learning/lstmfcn.py
Labels: module:classification, module:regression, bugfix

#6233 [ENH] enable `check_estimator` and `QuickTester.run_tests` to work with skip marked `pytest` tests (issue #2419)
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/split/tests/test_temporaltraintest.py
  sktime/tests/test_all_estimators.py
  sktime/utils/tests/test_check_estimator.py
Labels: module:tests, enhancement

#6502 Release 0.29.1
  README.md
  docs/source/about/team.rst
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
  sktime/forecasting/squaring_residuals.py
Labels: maintenance, release

#6509 Revert "[MNT] fast release"
  .github/workflows/wheels.yml
Labels: maintenance

#6329 [MNT] drop test coverage on python 3.8 in CI
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
  .github/workflows/wheels.yml
Labels: maintenance, release

#6367 [MNT] final change cycle (0.30.0) for renaming `cINNForecaster` to `CINNForecaster`
  sktime/forecasting/conditional_invertible_neural_network.py
  sktime/networks/cinn.py
Labels: maintenance, release

#6384 [MNT] added joblib as core dependency
  pyproject.toml
Labels: maintenance, release

#6265 [ENH] Rework of base series annotator API
  extension_templates/annotation.py
  sktime/annotation/adapters/_pyod.py
  sktime/annotation/base/_base.py
  sktime/annotation/clasp.py
  sktime/annotation/ggs.py
  sktime/annotation/hmm.py
  sktime/annotation/hmm_learn/base.py
  sktime/annotation/tests/test_all_annotators.py
  sktime/annotation/tests/test_base.py
  sktime/annotation/tests/test_clasp.py
  sktime/registry/_tags.py
  sktime/utils/validation/annotation.py
Labels: API design, module:annotation, enhancement

#6512 [MNT] modified CRLF line endings to LF line endings
  sktime/datasets/data/UnitTest/UnitTest_Tsf_Loader_hierarchical.tsf
  sktime/datasets/data/UnitTest/UnitTest_Tsf_Loader_no_start_timestamp.tsf
  sktime/networks/macnn.py
  sktime/networks/mcdcnn.py
  sktime/transformations/tests/__init__.py
  sktime/transformations/tests/test_bkfilter.py
Labels: maintenance

#6188 [MNT] resolution to `pykalman` issue - `sktime` local pykalman fork
  pyproject.toml
  sktime/libs/__init__.py
  sktime/libs/pykalman/__init__.py
  sktime/libs/pykalman/datasets/__init__.py
  sktime/libs/pykalman/datasets/base.py
  sktime/libs/pykalman/datasets/data/robot.mat
  sktime/libs/pykalman/datasets/descr/__init__.py
  sktime/libs/pykalman/datasets/descr/robot.rst
  sktime/libs/pykalman/sqrt/__init__.py
  sktime/libs/pykalman/sqrt/bierman.py
  sktime/libs/pykalman/sqrt/cholesky.py
  sktime/libs/pykalman/sqrt/tests/__init__.py
  sktime/libs/pykalman/sqrt/tests/test_bierman.py
  sktime/libs/pykalman/sqrt/tests/test_cholesky.py
  sktime/libs/pykalman/sqrt/tests/test_unscented.py
  sktime/libs/pykalman/sqrt/unscented.py
  sktime/libs/pykalman/standard.py
  sktime/libs/pykalman/tests/__init__.py
  sktime/libs/pykalman/tests/test_standard.py
  sktime/libs/pykalman/tests/test_unscented.py
  sktime/libs/pykalman/tests/ukf_tests.m
  sktime/libs/pykalman/unscented.py
  sktime/libs/pykalman/utils.py
  sktime/transformations/series/kalman_filter.py
Labels: maintenance, module:transformations

#6516 [MNT] isolate `utils` module init and `sktime` init from external imports
  sktime/utils/plotting.py
Labels: maintenance

#6514 [MNT] preparing refactor of benchmark framework: folding minimal `kotsu` library into `sktime`
  pyproject.toml
  sktime/benchmarking/_base_kotsu.py
  sktime/benchmarking/_lib_mini_kotsu/__init__.py
  sktime/benchmarking/_lib_mini_kotsu/registration.py
  sktime/benchmarking/_lib_mini_kotsu/run.py
  sktime/benchmarking/_lib_mini_kotsu/store.py
  sktime/benchmarking/benchmarks.py
Labels: maintenance, module:metrics&benchmarking

#6518 [ENH] upgrade `is_module_changed` test utility for paths
  sktime/tests/test_switch.py
  sktime/utils/git_diff.py
Labels: module:tests, enhancement

#6519 [MNT] refactor `pykalman` tests to `pytest` and conditional execution
  sktime/libs/pykalman/sqrt/tests/test_bierman.py
  sktime/libs/pykalman/sqrt/tests/test_cholesky.py
  sktime/libs/pykalman/sqrt/tests/test_unscented.py
  sktime/libs/pykalman/tests/test_standard.py
  sktime/libs/pykalman/tests/test_unscented.py
  sktime/transformations/series/tests/test_kalman_filter.py
Labels: module:tests

#6510 Release 0.30.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#6521 [BUG] Remove dict unpacking on list in tuning skopt
  .all-contributorsrc
  sktime/forecasting/model_selection/_tune.py
Labels: module:forecasting, bugfix

#6523 [DOC] Update changelog for 0.30.0
  docs/source/changelog.rst
Labels: documentation, release

#6528 [MNT] further changelog updates for 0.30.0
  docs/source/changelog.rst
Labels: maintenance, release

#6522 [MNT] instant release action
  .github/workflows/wheels.yml
Labels: maintenance, release

#6529 Revert "[MNT] instant release action"
  .github/workflows/wheels.yml
Labels: maintenance

#6532 [MNT] differential testing for `split` module
  sktime/split/tests/test_cutoff.py
  sktime/split/tests/test_expandingcutoff.py
  sktime/split/tests/test_expandinggreedy.py
  sktime/split/tests/test_expandingwindow.py
  sktime/split/tests/test_sameloc.py
  sktime/split/tests/test_singlewindow.py
  sktime/split/tests/test_slidingwindow.py
  sktime/split/tests/test_split.py
  sktime/split/tests/test_temporaltraintest.py
Labels: maintenance, module:tests, module:splitters&resamplers

#6535 [MNT] reorganization of onboard libs - `pykalman`, `vmdpy`
  sktime/libs/README.md
  sktime/libs/pykalman/__init__.py
  sktime/libs/vmdpy/README.md
  sktime/libs/vmdpy/__init__.py
  sktime/libs/vmdpy/tests/__init__.py
  sktime/libs/vmdpy/tests/test_readme_example.py
  sktime/libs/vmdpy/vmdpy.py
  sktime/transformations/series/tests/test_vmd.py
  sktime/transformations/series/vmd.py
  sktime/transformations/series/vmd/__init__.py
  sktime/transformations/series/vmd/tests/__init__.py
Labels: maintenance, module:transformations

#6539 Release 0.30.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#6541 Revert "[MNT] instant release action"
  .github/workflows/wheels.yml
Labels: maintenance

#6496 [DOC] document more tags
  CONTRIBUTORS.md
  docs/source/api_reference/tags.rst
  sktime/registry/_tags.py
Labels: documentation

#6534 [MNT] differential testing for base functionality in various modules
  sktime/classification/sklearn/tests/test_all_classifiers.py
  sktime/classification/tests/test_base.py
  sktime/classification/tests/test_sklearn_compatibility.py
  sktime/dists_kernels/tests/test_dist_kernels_dunders.py
  sktime/tests/test_softdeps.py
Labels: maintenance, module:classification, module:distances&kernels, module:tests

#6533 [MNT] further differential testing for the transformations module
  sktime/transformations/tests/test_base.py
  sktime/transformations/tests/test_bkfilter.py
  sktime/transformations/tests/test_cffilter.py
  sktime/transformations/tests/test_compose.py
  sktime/transformations/tests/test_fitintransform.py
  sktime/transformations/tests/test_hpfilter.py
  sktime/transformations/tests/test_multiplexer.py
  sktime/transformations/tests/test_pipeline.py
  sktime/transformations/tests/test_transformif.py
Labels: maintenance, module:transformations, module:tests

#6147 &fkiraly [ENH] enhanced estimator overview table - tag display and search
  .all-contributorsrc
  .readthedocs.yml
  CONTRIBUTORS.md
  docs/source/conf.py
  docs/source/estimator_overview.md
Labels: documentation, maintenance, module:base-framework

#6339 [DOC] fix broken links on webpage docs
  docs/source/developers.rst
  docs/source/get_involved/governance.rst
Labels: documentation

#6543 [MNT] differential testing in `dist_kernels` and `clustering` modules
  sktime/clustering/compose/tests/test_pipeline.py
  sktime/clustering/tests/metrics/test_dba.py
  sktime/clustering/tests/metrics/test_medoids.py
  sktime/dists_kernels/tests/test_compose_tab_to_panel.py
  sktime/dists_kernels/tests/test_scipy_dist.py
Labels: maintenance, module:clustering, module:distances&kernels

#6149 [ENH] test parameters for RocketRegressor
  sktime/regression/kernel_based/_rocket_regressor.py
Labels: module:regression, enhancement

#6562 [ENH] added two test params sets to `FCNNetwork` on #3429
  sktime/networks/fcn.py
Labels: enhancement, dependencies

#6567 [BUG] in `Differencer`, make explicit clone to avoid `SettingWithCopyWarning`
  sktime/transformations/series/difference.py
Labels: module:transformations, bugfix

#6573 [ENH] Temp solution for Parameter self.criterion does not exist in TimeSeriesForestRegressor (Issue: #6472)
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/regression/interval_based/_tsf.py
Labels: module:regression, bugfix

#6566 [MNT] enable differential testing in `benchmarking` module
  sktime/benchmarking/evaluation.py
  sktime/benchmarking/tests/test_TSCStrategy.py
  sktime/benchmarking/tests/test_benchmarks.py
  sktime/benchmarking/tests/test_evaluator.py
  sktime/benchmarking/tests/test_experiments.py
  sktime/benchmarking/tests/test_forecasting.py
  sktime/benchmarking/tests/test_orchestration.py
  sktime/benchmarking/tests/test_tasks.py
Labels: maintenance, module:tests, module:metrics&benchmarking

#6563 [ENH] simplify and add differential testing to `forecasting.compose.tests` module
  sktime/forecasting/compose/tests/test_multiplex.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/forecasting/compose/tests/test_reduce.py
  sktime/forecasting/compose/tests/test_reduce_global.py
Labels: module:forecasting, module:tests, enhancement

#6564 [ENH] refactor `WindowSummarizer` tests
  sktime/transformations/series/tests/test_window_summarizer.py
Labels: module:transformations, enhancement

#6565 [ENH] simplify and add differential testing to `sktime.pipeline` module
  sktime/pipeline/tests/regression_tests/test_pipeline_regression.py
Labels: module:tests, enhancement

#6587 [BUG] revert `pytest.skip` change from #6233
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:tests, bugfix

#6536 [MNT] move doctests to main test suite to ensure conditional execution
  docs/source/developer_guide/continuous_integration.rst
  docs/source/developer_guide/dependencies.rst
  setup.cfg
  sktime/tests/test_all_estimators.py
  sktime/tests/test_doctest.py
Labels: maintenance, module:tests

#6586 [ENH] minor improvements to test efficiency
  sktime/datatypes/tests/test_convert_bugfixes.py
  sktime/utils/tests/test_check_estimator.py
  sktime/utils/tests/test_plotting.py
Labels: module:tests, enhancement

#6363 [MNT] remove coverage reporting and `pytest-cov` from PR CI and `setup.cfg`
  .github/workflows/test.yml
  README.md
  setup.cfg
Labels: maintenance, module:tests

#6631 [DOC] fix minor typos in tags API reference
  docs/source/api_reference/tags.rst
Labels: documentation, module:base-framework

#6574 [BUG] patch over `pandas 2.2.X` issue in `freq` timestamp/period round trip conversion for period start timestamps such as `"MonthBegin"`
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, bugfix

#6615 [ENH] further refactor of knn classifier and regressor
  sktime/base/_panel/knn.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/dists_kernels/base/adapters/__init__.py
  sktime/dists_kernels/base/adapters/_sklearn.py
  sktime/regression/distance_based/_time_series_neighbors.py
Labels: module:classification, module:regression, enhancement

#6632 [BUG] fix bug 4076: `PerformanceWarning` in `load_from_tsfile_to_dataframe`
  sktime/datasets/_readers_writers/ts.py
Labels: module:datatypes, bugfix

#6619 [MNT] differential testing and minor improvements to `forecasting.base` tests
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/base/tests/test_base_bugs.py
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, module:tests, enhancement

#6550 [BUG] fix HolidayFeatures crashes if dataframe doesn't contain specified date
  sktime/transformations/series/holiday/_holidayfeats.py
  sktime/transformations/series/holiday/tests/test_holidays.py
Labels: module:transformations, bugfix

#6588 [ENH] `parametrize_with_checks` utility for granular API compliance test setup in 2nd/3rd party libraries
  docs/source/developer_guide/add_estimators.rst
  sktime/utils/estimator_checks.py
  sktime/utils/tests/test_check_estimator.py
Labels: module:tests, enhancement

#6626 [ENH] `numpy 2` compatibility fixes - estimators
  sktime/annotation/stray.py
  sktime/libs/pykalman/standard.py
  sktime/libs/pykalman/unscented.py
  sktime/libs/pykalman/utils_numpy.py
  sktime/transformations/series/tests/test_window_summarizer.py
Labels: maintenance, enhancement

#6638 [MNT] update tests._config to skip various tests for Proximity Forest and Proximity Tree
  sktime/tests/_config.py
Labels: module:classification, enhancement

#6228 [ENH] pytorch forecasting adapter with Global Forecasting API
  .gitignore
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/base/__init__.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/__init__.py
  sktime/forecasting/base/adapters/_pytorchforecasting.py
  sktime/forecasting/pytorchforecasting.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/registry/_base_classes.py
  sktime/registry/_tags.py
  sktime/tests/test_all_estimators.py
  sktime/tests/test_class_register.py
Labels: module:forecasting, enhancement

#6578 [ENH] dtw distances and aligners from `dtaidistance`
  docs/source/api_reference/alignment.rst
  docs/source/api_reference/dists_kernels.rst
  pyproject.toml
  sktime/alignment/dtaidist.py
  sktime/dists_kernels/dtw/__init__.py
  sktime/dists_kernels/dtw/_dtw_dtaidist.py
  sktime/dists_kernels/tests/test_all_dist_kernels.py
Labels: module:distances&kernels, enhancement

#6662 [MNT] credit doberbauer for pykalman python 3.11 compatibility fix
  .all-contributorsrc
Labels: maintenance

#6664 [MNT] `scipy` `1.14.0` compatibility for `deep_equals` plugin for `csr_matrix`
  sktime/datatypes/tests/test_convert.py
  sktime/datatypes/tests/test_convert_to.py
  sktime/utils/deep_equals/_deep_equals.py
Labels: maintenance

#6593 [ENH] in `BaseForecaster`, move check for `capability:insample` to `_check_fh` boilerplate
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_neuralforecast.py
  sktime/forecasting/base/adapters/_pytorch.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/hf_transformers_forecaster.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_neuralforecast.py
Labels: module:forecasting, enhancement

#6355 &yarnabrina [ENH] prevent imports caused by `_check_soft_dependencies`, speed up dependency check and test collection time
  CONTRIBUTORS.md
  sktime/classification/deep_learning/base.py
  sktime/forecasting/compose/tests/test_reduce_global.py
  sktime/transformations/panel/compose.py
  sktime/utils/_maint/tests/test_show_versions.py
  sktime/utils/dependencies/_dependencies.py
Labels: module:tests, enhancement

#6655 [DOC] update dependencies reference
  docs/source/developer_guide/dependencies.rst
Labels: documentation, module:plotting&utilities

#6689 [DOC] fix minor typo in developer comment in `BaseTransformer`
  sktime/transformations/base.py
Labels: documentation, module:transformations

#6568 [ENH] Parallelize ForecastingBenchmark
  sktime/benchmarking/forecasting.py
Labels: enhancement, module:metrics&benchmarking

#6614 [ENH] indexing `prophetverse` forecaster
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/prophetverse.py
Labels: interfacing algorithms, module:forecasting, enhancement

#6612 [BUG] minirocket: zero division errors #5174
  .all-contributorsrc
  sktime/classification/kernel_based/_rocket_classifier.py
  sktime/regression/kernel_based/_rocket_regressor.py
  sktime/transformations/panel/rocket/_minirocket.py
  sktime/transformations/panel/rocket/_minirocket_multi_numba.py
  sktime/transformations/panel/rocket/_minirocket_multi_var_numba.py
  sktime/transformations/panel/rocket/_minirocket_multivariate.py
  sktime/transformations/panel/rocket/_minirocket_multivariate_variable.py
  sktime/transformations/panel/rocket/_minirocket_numba.py
  sktime/transformations/panel/rocket/_multirocket.py
  sktime/transformations/panel/rocket/_multirocket_multi_numba.py
  sktime/transformations/panel/rocket/_multirocket_multivariate.py
  sktime/transformations/panel/rocket/_multirocket_numba.py
Labels: module:transformations, bugfix

#6449 [ENH] EnbPI based forecaster
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/enbpi.py
  sktime/libs/README.md
  sktime/libs/_aws_fortuna_enbpi/LICENSE.txt
  sktime/libs/_aws_fortuna_enbpi/NOTICE.txt
  sktime/libs/_aws_fortuna_enbpi/README.md
  sktime/libs/_aws_fortuna_enbpi/__init__.py
  sktime/libs/_aws_fortuna_enbpi/enbpi.py
Labels: implementing algorithms, module:forecasting

#6691 [MNT] deprecate unused `_check_soft_dependencies` argument `suppress_import_stdout`
  sktime/utils/dependencies/_dependencies.py
Labels: maintenance, module:tests, module:base-framework
