Repository sktime/sktime, pull requests merged in 2024-01, with the labels that each got.

#5673 [BUG] fix sporadic permutation of internal feature columns in `TSFreshClassifier.predict`
  sktime/classification/feature_based/_tsfresh_classifier.py
Labels: module:classification, bugfix

#5686 [BUG] Update tslearn dependency version in pyproject.toml
  .all-contributorsrc
  pyproject.toml
Labels: maintenance

#5680 [BUG] fix `predict` output conversion failure in `BaseClassifier`, `BaseRegressor`, if `y_inner_mtype` tag is a list
  sktime/base/_base_panel.py
  sktime/classification/base.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/early_classification/base.py
  sktime/datatypes/_convert.py
  sktime/regression/base.py
Labels: module:classification, bugfix

#5672 [BUG] fix scitype inference utility for all cases
  sktime/registry/_scitype.py
  sktime/registry/tests/test_scitype.py
Labels: bugfix, module:base-framework

#5656 [BUG] Enable pipeline.fit without X
  sktime/pipeline/pipeline.py
  sktime/tests/test_all_estimators.py
Labels: implementing algorithms, enhancement

#5689 [ENH] adding second test parameters for `TBATS`
  sktime/forecasting/tbats.py
Labels: module:forecasting, enhancement

#5685 [ENH] remove outdated `sktime-dl` reference in `README.md`
  README.md
Labels: documentation

#5695 [BUG] fix backend strings in transformer `test_base`
  sktime/transformations/tests/test_base.py
Labels: module:transformations, bugfix

#5690 [DOC] add `ReducerTransform` and `DirectReductionForecaster` to API reference
  docs/source/api_reference/forecasting.rst
  docs/source/api_reference/transformations.rst
Labels: documentation, module:forecasting, module:transformations

#5707 [MNT] changes pandas `groupby(axis=1)` in `EnsembleForecaster`
  sktime/forecasting/compose/_ensemble.py
Labels: maintenance, module:forecasting

#5698 [MNT] add missing `__author__` field for `MultiRocket` and `MultiRocketMultivariate`
  sktime/transformations/panel/rocket/_multirocket.py
  sktime/transformations/panel/rocket/_multirocket_multivariate.py
Labels: maintenance, module:transformations

#5700 [BUG] fix `test_multioutput` for genuinely multioutput classifiers
  sktime/classification/tests/test_all_classifiers.py
Labels: module:classification, bugfix

#5699 [DOC] correct type statement in forecasting tuner regarding `forecaster`
  sktime/forecasting/model_selection/_tune.py
Labels: documentation, module:forecasting

#5697 [BUG] fix `deep_equals` for `np.array` with `dtype="object"`
  sktime/utils/_testing/deep_equals.py
  sktime/utils/_testing/tests/test_deep_equals.py
Labels: bugfix, module:base-framework

#5721 [DOC] various minor API reference improvements
  docs/source/api_reference/alignment.rst
  docs/source/api_reference/param_est.rst
  docs/source/api_reference/split.rst
  sktime/param_est/stationarity/_statsmodels.py
Labels: documentation

#5724 [ENH] fixes for minor typos in error message related to custom `joblib` backend selection
  sktime/utils/parallel.py
Labels: implementing framework

#5709 [ENH] addressing `DataFrame.groupby(axis=1)` deprecation in metric classes
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
Labels: maintenance, module:metrics&benchmarking

#5633 [ENH] Simplify `BaseEstimator._get_fitted_params()` and `BaseParamFitter` inheritance of that method
  sktime/base/_base.py
  sktime/param_est/base.py
Labels: enhancement, module:base-framework

#5681 [ENH] in `VectorizedDF`, partially decouple internal data store from methods
  sktime/datatypes/_vectorize.py
Labels: module:datatypes, enhancement

#5714 [ENH] refactor tests with parallelization backend fixtures to programmatic backend fixture lookup
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/transformations/tests/test_base.py
  sktime/utils/parallel.py
Labels: module:tests, enhancement

#5711 [DOC] improve clarity in describing `strategy="refit"` in forecasting tuners' docstrings.
  sktime/forecasting/model_selection/_tune.py
Labels: documentation

#4596 [ENH] grid search for time series classification
  docs/source/api_reference/classification.rst
  sktime/classification/model_selection/__init__.py
  sktime/classification/model_selection/_tune.py
Labels: module:classification

#5725 [ENH] Simplify conditional statements in direct reducer
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, enhancement

#5726 [BUG] fix `ForecastingHorizon.get_expected_pred_idx` `sort_time`
  sktime/forecasting/base/_fh.py
Labels: module:forecasting, bugfix

#5536 [ENH] support for probabilistic regressors (`skpro`) in `make_reduction`, direct reduction
  CONTRIBUTORS.md
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/_sktime.py
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, enhancement

#5710 [BUG] Ensure `MultiRocketMultivariate` uses `random_state`
  sktime/transformations/panel/rocket/_multirocket_multivariate.py
Labels: module:transformations, bugfix

#5654 [ENH] reduce private coupling of `IndividualBOSS` classifier and `BaseClassifier`
  sktime/classification/dictionary_based/_boss.py
Labels: module:classification, enhancement

#5716 [DOC] extension template for time series splitters
  README.md
  extension_templates/split.py
  sktime/split/base/_base_splitter.py
Labels: documentation, module:splitters&resamplers

#5717 [BUG] Fix dynamic `make_forecasting_scorer` for newer `sklearn` metrics
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/tests/test_metrics.py
Labels: bugfix, module:metrics&benchmarking

#5756 [DOC] update soft dependency handling guide for tests with tag based dependency checking
  docs/source/developer_guide/dependencies.rst
Labels: documentation, module:tests, module:base-framework

#5744 [BUG] fix `extract_path` arg in `sktime.datasets.load_UCR_UEA_dataset`
  sktime/datasets/_data_io.py
  sktime/datasets/tests/test_data_io.py
Labels: bugfix, module:datasets&loaders

#5734 [ENH] further refactor parallelization backend test fixtures to use central location
  sktime/datatypes/tests/test_vectorize.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/utils/parallel.py
Labels: module:tests, enhancement

#5770 [ENH] add `disp` parameter to sarimax to control output verbosity
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/forecasting/sarimax.py
Labels: module:forecasting, enhancement

#5760 [BUG] fix type error in parallelization backend test fixture refactor
  sktime/forecasting/base/tests/test_base.py
Labels: module:tests, bugfix, module:base-framework

#5742 [ENH] New PAA and SAX transformer implementations
  .all-contributorsrc
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/paa.py
  sktime/transformations/series/sax.py
  sktime/transformations/series/tests/test_paa.py
  sktime/transformations/series/tests/test_sax.py
Labels: implementing algorithms, module:transformations, enhancement

#5730 [BUG] in `BaggingForecaster`, fix `random_state` handling
  sktime/forecasting/compose/_bagging.py
Labels: module:forecasting, bugfix

#5687 [DOC] comment in `CONTRIBUTORS.md` that source file is `all-contributorsrc`
  CONTRIBUTORS.md
Labels: documentation

#5504 [ENH] update `deep_equals` to accommodate plugins, e.g., for `polars`
  sktime/base/_base.py
  sktime/datatypes/tests/test_convert.py
  sktime/datatypes/tests/test_convert_to.py
  sktime/datatypes/tests/test_vectorize.py
  sktime/dists_kernels/compose_tab_to_panel.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/tests/test_compose.py
  sktime/utils/_testing/deep_equals.py
  sktime/utils/deep_equals/__init__.py
  sktime/utils/deep_equals/_deep_equals.py
  sktime/utils/deep_equals/tests/__init__.py
  sktime/utils/deep_equals/tests/test_deep_equals.py
  sktime/utils/estimators/tests/test_forecasters.py
  sktime/utils/tests/test_sampling.py
Labels: module:tests, module:datatypes, enhancement

#5793 [BUG] handles `AttributeError` in `show_versions()` when dependency lacks `__version__`
  sktime/utils/_maint/_show_versions.py
  sktime/utils/_maint/tests/test_show_versions.py
Labels: maintenance, bugfix, module:base-framework

#5747 [DOC] improved docstring for `TrendForecaster` and `PolynomialTrendForecaster`
  sktime/forecasting/trend/_polynomial_trend_forecaster.py
  sktime/forecasting/trend/_trend_forecaster.py
Labels: documentation

#5751 [ENH] refactor structure of time series forest classifier related files
  sktime/base/_panel/__init__.py
  sktime/base/_panel/forest/__init__.py
  sktime/base/_panel/forest/_composable.py
  sktime/base/_panel/forest/_tsf.py
  sktime/base/_panel/forest/tests/__init__.py
  sktime/base/_panel/forest/tests/test_feature_importances_.py
  sktime/base/_panel/forest/tests/test_tsf.py
  sktime/classification/ensemble/_bagging.py
  sktime/classification/ensemble/_ctsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/regression/compose/_ensemble.py
  sktime/regression/interval_based/_tsf.py
  sktime/series_as_features/base/__init__.py
  sktime/series_as_features/base/estimators/__init__.py
  sktime/series_as_features/base/estimators/interval_based/__init__.py
  sktime/series_as_features/base/estimators/tests/__init__.py
Labels: module:classification, module:regression, enhancement, module:base-framework

#5713 [MNT] improvements to modular CI framework - clearer naming, `pyproject` handling
  .github/actions/test-base/action.yml
  .github/actions/test-component/action.yml
  .github/actions/test-install/action.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_install.yml
  .github/workflows/test_main.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
  CONTRIBUTORS.md
  pyproject.toml
  sktime/forecasting/base/__init__.py
Labels: maintenance

#5795 [MNT] temporary deactivation of new CI
  .github/workflows/test_main.yml
Labels: maintenance

#5753 [DOC] updated algorithm inclusion guide
  docs/source/get_involved/governance.rst
Labels: documentation

#5741 [DOC] improved docstring for `TimeSeriesForestClassifier`
  sktime/classification/interval_based/_tsf.py
Labels: documentation, module:classification

#5784 [MNT] fix faulty deprecation logic for `n_jobs`, `pre_dispatch` in forecasting tuners, bump deprecation to 0.27.0
  sktime/forecasting/model_selection/_tune.py
Labels: maintenance, module:forecasting

#5772 &hliebert [ENH] allow `BaseTransformer._transform` to return `None`
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/transformations/base.py
  sktime/transformations/series/feature_selection.py
Labels: module:transformations, enhancement

#5750 [ENH] feature upgrade for `SplitterSummarizer` - granular control of inner `fit`/`transform` input
  sktime/transformations/series/summarize.py
Labels: module:transformations, enhancement

#5780 [ENH] fix `test_evaluate_error_score` to skip test of expected warning raised if the `joblib` backend is `"loky"` or `"multiprocessing"`
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
Labels: enhancement, module:metrics&benchmarking

#5762 [MNT] update python version in binder dockerfile to 3.11
  .binder/Dockerfile
Labels: documentation, maintenance

#5764 [ENH] parameter plugin for estimator into transformers, right concat dunder
  sktime/param_est/base.py
  sktime/param_est/plugin/__init__.py
  sktime/param_est/plugin/_common.py
  sktime/param_est/plugin/_forecaster.py
  sktime/param_est/plugin/_transformer.py
  sktime/param_est/plugin/tests/__init__.py
  sktime/param_est/plugin/tests/test_plugin.py
  sktime/transformations/series/boxcox.py
Labels: enhancement, module:parameter-estimators

#5759 [DOC] fix `scitype` string of transformers in API ref
  docs/source/api_reference/transformations.rst
Labels: documentation

#5754 [ENH] author and maintainer tags
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/forecasting_supersimple.py
  extension_templates/param_est.py
  extension_templates/split.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  extension_templates/transformer_supersimple.py
  sktime/classification/base.py
  sktime/clustering/base.py
  sktime/dists_kernels/base/_base.py
  sktime/forecasting/base/_base.py
  sktime/param_est/base.py
  sktime/performance_metrics/base/_base.py
  sktime/proba/base.py
  sktime/registry/_tags.py
  sktime/regression/base.py
  sktime/split/base/_base_splitter.py
  sktime/transformations/base.py
Labels: enhancement, module:base-framework

#5782 [MNT] `scikit-learn 1.4.0` compatibility patches
  sktime/benchmarking/tests/test_orchestration.py
  sktime/classification/tests/test_sklearn_compatibility.py
  sktime/transformations/panel/compose.py
  sktime/transformations/panel/tests/test_compose.py
Labels: maintenance

#5801 [ENH] author and maintainer tags for alignment and distances modules
  sktime/alignment/dtw_numba.py
  sktime/alignment/dtw_python.py
  sktime/alignment/edit_numba.py
  sktime/alignment/lucky.py
  sktime/alignment/naive.py
  sktime/dists_kernels/algebra.py
  sktime/dists_kernels/base/adapters/_tslearn.py
  sktime/dists_kernels/compose.py
  sktime/dists_kernels/compose_from_align.py
  sktime/dists_kernels/compose_tab_to_panel.py
  sktime/dists_kernels/ctw.py
  sktime/dists_kernels/dist_to_kern.py
  sktime/dists_kernels/dtw/_dtw_python.py
  sktime/dists_kernels/dtw/_dtw_sktime.py
  sktime/dists_kernels/dtw/_dtw_tslearn.py
  sktime/dists_kernels/dummy.py
  sktime/dists_kernels/edit_dist.py
  sktime/dists_kernels/gak.py
  sktime/dists_kernels/indep.py
  sktime/dists_kernels/lcss.py
  sktime/dists_kernels/lucky.py
  sktime/dists_kernels/scipy_dist.py
  sktime/dists_kernels/signature_kernel.py
Labels: documentation, module:distances&kernels, module:alignment

#5802 [ENH] author and maintainer tags for forecasting module
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/forecasting/adapters/_hcrystalball.py
  sktime/forecasting/arch/_statsforecast_arch.py
  sktime/forecasting/arch/_uarch.py
  sktime/forecasting/ardl.py
  sktime/forecasting/arima.py
  sktime/forecasting/auto_reg.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_generalised_statsforecast.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_fhplex.py
  sktime/forecasting/compose/_grouped.py
  sktime/forecasting/compose/_hierarchy_ensemble.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/conformal.py
  sktime/forecasting/croston.py
  sktime/forecasting/dummy.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/ets.py
  sktime/forecasting/exp_smoothing.py
  sktime/forecasting/fbprophet.py
  sktime/forecasting/ltsf.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/naive.py
  sktime/forecasting/online_learning/_online_ensemble.py
  sktime/forecasting/online_learning/_prediction_weighted_ensembler.py
  sktime/forecasting/reconcile.py
  sktime/forecasting/sarimax.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/statsforecast.py
  sktime/forecasting/stream/_update.py
  sktime/forecasting/structural.py
  sktime/forecasting/theta.py
  sktime/forecasting/trend/_curve_fit_forecaster.py
  sktime/forecasting/trend/_polynomial_trend_forecaster.py
  sktime/forecasting/trend/_pwl_trend_forecaster.py
  sktime/forecasting/trend/_stl_forecaster.py
  sktime/forecasting/trend/_trend_forecaster.py
  sktime/forecasting/var.py
  sktime/forecasting/varmax.py
  sktime/forecasting/vecm.py
Labels: documentation, module:forecasting

#5803 [ENH] author and maintainer tags for distributions and parameter fitting module
  sktime/param_est/compose/_func_fitter.py
  sktime/param_est/compose/_pipeline.py
  sktime/param_est/fixed.py
  sktime/param_est/plugin/_forecaster.py
  sktime/param_est/plugin/_transformer.py
  sktime/param_est/seasonality.py
  sktime/param_est/stationarity/_arch.py
  sktime/param_est/stationarity/_statsmodels.py
  sktime/proba/empirical.py
  sktime/proba/laplace.py
  sktime/proba/normal.py
  sktime/proba/t.py
  sktime/proba/tfp.py
Labels: documentation, module:parameter-estimators

#5799 [MNT] change cycle for making `SAX2` and `PAA2` primary implementation renamed to `SAX`, `PAA`
  sktime/classification/distance_based/_shape_dtw.py
  sktime/transformations/panel/dictionary_based/__init__.py
  sktime/transformations/panel/dictionary_based/_paa.py
  sktime/transformations/panel/dictionary_based/_sax.py
  sktime/transformations/panel/dictionary_based/tests/test_paa.py
  sktime/transformations/series/paa.py
  sktime/transformations/series/sax.py
Labels: maintenance, module:transformations, release

#5769 [ENH] forecasting compositor to ignore exogenous data
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_ignore_x.py
  sktime/forecasting/compose/tests/test_ignorex.py
Labels: implementing algorithms, module:forecasting, enhancement

#5811 [ENH] `sklearn 1.4.0` compatibility patches
  sktime/classification/deep_learning/base.py
  sktime/classification/interval_based/_tsf.py
Labels: maintenance, release

#5812 [DOC] improved formatting of tag section in extension templates
  extension_templates/alignment.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/forecasting.py
  extension_templates/param_est.py
  extension_templates/split.py
  extension_templates/transformer.py
  sktime/forecasting/base/_base.py
  sktime/proba/base.py
Labels: documentation

#5808 [MNT] remove maintainer information from `CODEOWNERS` in favour of estimator tags
  CODEOWNERS
  docs/source/get_involved/governance.rst
Labels: documentation, maintenance

#5426 [BUG] Fixing dockerized tests
  CONTRIBUTORS.md
  Makefile
Labels: maintenance, module:tests

#5737 [ENH] Repeat splitter composition
  docs/source/api_reference/split.rst
  sktime/split/compose/__init__.py
  sktime/split/compose/_repeat.py
Labels: enhancement, module:splitters&resamplers

#3978 by aurumnpegasus [ENH] migrating CNTC network for classification from sktime-dl
  docs/source/api_reference/classification.rst
  sktime/classification/deep_learning/__init__.py
  sktime/classification/deep_learning/cntc.py
  sktime/networks/cntc.py
  sktime/tests/_config.py
Labels: module:classification, enhancement

#5676 &corradomio [ENH] config to turn off data memory in forecasters
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/naive.py
Labels: module:forecasting, enhancement

#5813 [ENH] parallelization support and config for forecasting performance metrics
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/tests/test_metrics_classes.py
Labels: enhancement, module:metrics&benchmarking

#5824 [MNT] temporary bounding `scikit-base<0.7.0` (status quo 0.25.0) for 0.25.1 release
  pyproject.toml
Labels: maintenance, release

#5825 [MNT] revert temporary bounding of `scikit-base<0.7.0` to `scikit-base<0.8.0`
  pyproject.toml
Labels: maintenance, release

#5465 [ENH] dynamic `set_config` docstring at intermediate base class level
  sktime/base/_base.py
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: maintenance, bugfix

#5818 [DOC] add missing documentation on PEP 440 format specification for `python_dependencies` tag in extension templates
  extension_templates/forecasting.py
  extension_templates/param_est.py
  extension_templates/split.py
  extension_templates/transformer.py
Labels: documentation

#5779 [ENH] `FallbackForecaster`, fallback upon fail with multiple forecaster chain
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_fallback.py
  sktime/forecasting/compose/tests/test_fallback.py
Labels: module:forecasting, enhancement

#5815 Release 0.25.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#5817 [MNT] 0.26.0 deprecations and change actions
  sktime/classification/deep_learning/rnn.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/datatypes/_check.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_selection/__init__.py
  sktime/regression/deep_learning/rnn.py
  sktime/utils/_testing/deep_equals.py
  sktime/utils/deep_equals/__init__.py
Labels: maintenance, release

#5843 [BUG] fix tag handling in `IgnoreX`
  sktime/forecasting/compose/_ignore_x.py
Labels: module:forecasting, bugfix

#5844 Release 0.26.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#5856 [MNT] bound `moto<5.0.0` in `mlflow` tests
  pyproject.toml
Labels: maintenance
