Repository sktime/sktime, pull requests merged in 2024-08, with the labels that each got.

#6841 [DOC] change links in documentation to refer to same version
  docs/source/api_reference/alignment.rst
  docs/source/api_reference/classification.rst
  docs/source/api_reference/clustering.rst
  docs/source/api_reference/forecasting.rst
  docs/source/api_reference/param_est.rst
  docs/source/api_reference/performance_metrics.rst
  docs/source/api_reference/regression.rst
  docs/source/api_reference/split.rst
  docs/source/api_reference/transformations.rst
  docs/source/developer_guide.rst
  docs/source/developer_guide/continuous_integration.rst
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/governance.rst
  docs/source/glossary.rst
Labels: documentation

#6823 [ENH] Add Sampler to `ForecastingOptunaSearchCV`
  .all-contributorsrc
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/model_selection/tests/test_tune.py
Labels: module:forecasting, enhancement

#6873 [MNT] sync docstring and code formatting of dependency checker module with `skbase`
  sktime/utils/dependencies/_dependencies.py
Labels: documentation, maintenance

#6731 [ENH] Data Loader for M5 dataset
  docs/source/api_reference/datasets.rst
  sktime/datasets/__init__.py
  sktime/datasets/_data_io.py
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_datadownload.py
Labels: enhancement, module:datasets&loaders

#6821 [MNT] Remove package import alias related internal logic and tags
  CONTRIBUTORS.md
  sktime/alignment/dtw_python.py
  sktime/base/_base.py
  sktime/classification/deep_learning/base.py
  sktime/classification/dictionary_based/_boss.py
  sktime/dists_kernels/dtw/_dtw_python.py
  sktime/forecasting/compose/tests/test_reduce_global.py
  sktime/forecasting/model_selection/_tune.py
  sktime/networks/cntc.py
  sktime/networks/tapnet.py
  sktime/registry/_tags.py
  sktime/tests/test_softdeps.py
  sktime/transformations/panel/compose.py
  sktime/transformations/series/kalman_filter.py
  sktime/utils/_maint/tests/test_show_versions.py
  sktime/utils/dependencies/_dependencies.py
Labels: maintenance, enhancement, module:base-framework

#6879 [MNT] restrict failing Mr-SEQL version
  pyproject.toml
Labels: maintenance, module:classification

#6878 [MNT] release workflow: Upgrade deprecated pypa action parameter
  .github/workflows/wheels.yml
Labels: maintenance

#6877 [DOC] minor improvements to `check_scoring` docstring
  sktime/utils/validation/forecasting.py
Labels: documentation

#6881 [MNT] Fix `pykan` import and dependency checks
  sktime/forecasting/pykan_forecaster.py
Labels: maintenance

#6850 [DOC] add proper author credits to 1:1 interface classes - aligners, distances, forecasters, parameter estimators
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/changelog.rst
  sktime/alignment/dtw_python.py
  sktime/dists_kernels/dtw/_dtw_python.py
  sktime/dists_kernels/dtw/_dtw_tslearn.py
  sktime/forecasting/arch/_statsforecast_arch.py
  sktime/forecasting/arch/_uarch.py
  sktime/forecasting/ardl.py
  sktime/forecasting/auto_reg.py
  sktime/forecasting/autots.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/base/adapters/_statsforecast.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/forecasting/compose/_skforecast_reduce.py
  sktime/forecasting/conditional_invertible_neural_network.py
  sktime/forecasting/dynamic_factor.py
  sktime/forecasting/exp_smoothing.py
  sktime/forecasting/ltsf.py
  sktime/forecasting/pykan_forecaster.py
  sktime/forecasting/statsforecast.py
  sktime/forecasting/structural.py
  sktime/forecasting/trend/_pwl_trend_forecaster.py
  sktime/forecasting/var.py
  sktime/forecasting/varmax.py
  sktime/forecasting/vecm.py
  sktime/networks/ltsf/_ltsf.py
  sktime/param_est/stationarity/_arch.py
Labels: documentation, module:forecasting, module:distances&kernels, module:alignment, module:parameter-estimators

#6791 [ENH] Pytorch Classifier & de-novo implementation of Transformer
  docs/source/api_reference/classification.rst
  sktime/classification/deep_learning/__init__.py
  sktime/classification/deep_learning/_pytorch.py
  sktime/classification/deep_learning/mvts_transformer.py
  sktime/networks/mvts_transformer.py
Labels: implementing algorithms, module:classification, enhancement

#6864 [DOC] fix docstring formatting of `evaluate`
  sktime/forecasting/model_evaluation/_functions.py
Labels: documentation, module:forecasting

#6843 [ENH] time series annotation (outliers, changepoints) - test class and full `check_estimator` integration
  sktime/alignment/tests/test_all_aligners.py
  sktime/annotation/tests/test_all_annotators.py
  sktime/tests/test_class_register.py
Labels: module:annotation, module:tests, enhancement

#6882 [MNT] make `pyproject.toml` parsing for differential testing more robust against non-package relevant changes
  sktime/utils/git_diff.py
Labels: maintenance, module:tests, enhancement

#6849 [ENH] formatter for jupyter notebook json in build tools
  build_tools/nb_json_formatter.py
Labels: maintenance, enhancement

#6840 [MNT] sync differential testing utilities with `skpro`
  sktime/tests/test_switch.py
Labels: maintenance, module:tests

#6845 [ENH] Improve TestAllGlobalForecasters
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, enhancement

#6846 [ENH] Add scoring direction to ForecastingOptunaSearchCV
  .all-contributorsrc
  sktime/forecasting/model_selection/_tune.py
Labels: module:forecasting, enhancement

#6202 [ENH] de-novo implementation of `LTSFTransformer` based on `cure-lab` research code base
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/base/adapters/_pytorch.py
  sktime/forecasting/ltsf.py
  sktime/networks/ltsf/data/__init__.py
  sktime/networks/ltsf/data/dataset.py
  sktime/networks/ltsf/layers.py
  sktime/networks/ltsf/layers/__init__.py
  sktime/networks/ltsf/layers/attention.py
  sktime/networks/ltsf/layers/auto_correlation.py
  sktime/networks/ltsf/layers/embed.py
  sktime/networks/ltsf/layers/enc_dec.py
  sktime/networks/ltsf/models/__init__.py
  sktime/networks/ltsf/models/linear.py
  sktime/networks/ltsf/models/transformers.py
  sktime/networks/ltsf/utils/__init__.py
  sktime/networks/ltsf/utils/extras.py
  sktime/networks/ltsf/utils/masking.py
  sktime/networks/ltsf/utils/timefeatures.py
  sktime/tests/_config.py
Labels: module:forecasting, enhancement

#6650 [ENH] Add windows_identical to DirectReductionForecaster
  .all-contributorsrc
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, enhancement

#6754 [BUG] In `plot_series`, trim unused levels when verifying dataframe formatting
  sktime/utils/tests/test_plotting.py
  sktime/utils/validation/forecasting.py
Labels: bugfix, module:plotting&utilities

#6732 [ENH] Adding categorical support: Raising error in yes/no case
  sktime/alignment/base.py
  sktime/base/_base_panel.py
  sktime/classification/base.py
  sktime/classification/early_classification/base.py
  sktime/clustering/base.py
  sktime/datatypes/_convert_utils/_coerce.py
  sktime/dists_kernels/base/_base.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/_skforecast_reduce.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_categorical.py
  sktime/param_est/base.py
  sktime/regression/base.py
  sktime/transformations/base.py
Labels: module:forecasting, enhancement

#6792 [DOC] Add documentation for benchmarking module
  docs/source/api_reference.rst
  docs/source/api_reference/benchmarking.rst
Labels: documentation, module:metrics&benchmarking

#6909 [BUG] fix `_check_soft_dependencies` for post and pre versions of patch versions
  sktime/utils/dependencies/_dependencies.py
Labels: bugfix, module:base-framework

#6876 [ENH] Link to docs in object's html repr
  .all-contributorsrc
  pyproject.toml
  sktime/base/_base.py
  sktime/utils/_estimator_html_repr.css
  sktime/utils/_estimator_html_repr.py
  sktime/utils/tests/test_estimator_html_repr.py
Labels: enhancement, module:base-framework

#6910 [DOC] add elections link on landing page
  docs/source/index.rst
Labels: documentation

#6777 [ENH] Vendor fracdiff library
  .all-contributorsrc
  CONTRIBUTORS.md
  examples/transformation/fracdiff/example_exercise.ipynb
  examples/transformation/fracdiff/example_howto.ipynb
  examples/transformation/fracdiff/example_prado.ipynb
  examples/transformation/fracdiff/fig/nky.png
  examples/transformation/fracdiff/fig/spx.png
  examples/transformation/fracdiff/fig/spx.py
  sktime/libs/README.md
  sktime/libs/fracdiff/README.md
  sktime/libs/fracdiff/__init__.py
  sktime/libs/fracdiff/fdiff.py
  sktime/libs/fracdiff/sklearn/__init__.py
  sktime/libs/fracdiff/sklearn/fracdiff.py
  sktime/libs/fracdiff/sklearn/tol.py
  sktime/libs/fracdiff/tests/__init__.py
  sktime/libs/fracdiff/tests/sklearn/__init__.py
  sktime/libs/fracdiff/tests/sklearn/test_fracdiff.py
  sktime/libs/fracdiff/tests/sklearn/test_sklearn.py
  sktime/libs/fracdiff/tests/sklearn/test_tol.py
  sktime/libs/fracdiff/tests/test_fdiff.py
Labels: module:transformations, enhancement

#6757 [BUG] Refactor ADICVTransformer and fix CV calculation
  sktime/transformations/series/adi_cv.py
  sktime/transformations/series/tests/test_adi_cv.py
Labels: module:transformations, bugfix

#5175 [DOC] Add example notebook for the graphical pipeline
  examples/05_graphical_pipelines.ipynb
  examples/img/classification_pipeline.png
  examples/img/forecasting_pipeline.png
  examples/img/graphical_pipeline.png
  examples/img/graphical_pipeline_example.png
  examples/img/graphical_pipeline_example_grid.png
  examples/img/graphical_pipeline_simplified.png
  examples/img/sequential_pipeline.png
  sktime/forecasting/model_evaluation/_functions.py
Labels: documentation

#6893 [ENH] updates type inference in `make_reduction` to use central scitype inference and allow proba tabular regressors
  CONTRIBUTORS.md
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
Labels: module:forecasting, enhancement

#6857 [ENH] alternative returns for `VmdTransformer` - mode spectra and central frequencies
  sktime/transformations/series/vmd.py
Labels: module:transformations, enhancement

#6918 [MNT] fix `.all-contributorsrc` syntax
  .all-contributorsrc
  CONTRIBUTORS.md
Labels: maintenance

#6104 [ENH] simplify dictionaries and alias handling in `Catch22`
  sktime/transformations/panel/catch22.py
Labels: module:transformations, enhancement

#6913 [DOC] git workflow guide - chained branches, fixing header fonts
  docs/source/developer_guide/git_workflow.rst
Labels: documentation

#6912 [ENH] improvements to vendored `fracdiff` library
  sktime/libs/fracdiff/fdiff.py
  sktime/libs/fracdiff/sklearn/__init__.py
  sktime/libs/fracdiff/sklearn/fracdiff.py
  sktime/libs/fracdiff/tests/sklearn/test_fracdiff.py
  sktime/libs/fracdiff/tests/test_fdiff.py
Labels: enhancement, lib:fracdiff

#6723 [ENH] Add binary segmentation annotator for change point detection
  sktime/annotation/bs.py
  sktime/annotation/tests/test_bs.py
Labels: module:annotation, enhancement

#6920 [BUG] changelog utility: fix termination condition to retrieve merged PR
  build_tools/changelog.py
Labels: maintenance, bugfix

#6921 [MNT] restore `holidays` lower bound to `0.29`
  pyproject.toml
Labels: maintenance

#6855 [MNT] Handle deprecations from `pandas`
  sktime/datasets/_single_problem_loaders.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/tests/test_ets.py
  sktime/forecasting/tests/test_neuralforecast.py
  sktime/forecasting/tests/test_var.py
  sktime/forecasting/tests/test_vecm.py
  sktime/forecasting/vecm.py
  sktime/split/base/_base_splitter.py
  sktime/transformations/series/tests/test_time_since.py
  sktime/utils/tests/test_datetime.py
Labels: maintenance

#6926 [MNT] Updating the GHA dependencies to install OSX dependencies and setting the compiler flags
  .github/actions/test-component/action.yml
  .github/scripts/install_osx_dependencies.sh
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_other.yml
  sktime/annotation/bs.py
Labels: maintenance

#6927 [ENH] small improvements to changelog generator utility
  build_tools/changelog.py
Labels: maintenance, enhancement

#6925 [MNT] revert an erroneous instance of `pandas` deprecation fix
  sktime/transformations/series/tests/test_time_since.py
Labels: maintenance, module:transformations

#6933 [MNT] Update the path to script to fix #6926
  .github/actions/test-component/action.yml
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_other.yml
Labels: maintenance

#6935 [MNT] revert OSX install script changes #6926
  .github/actions/test-component/action.yml
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_other.yml
Labels: maintenance

#6712 [ENH] Interface to TinyTimeMixer foundation model
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/ttm.py
  sktime/libs/README.md
  sktime/libs/granite_ttm/__init__.py
  sktime/libs/granite_ttm/configuration_tinytimemixer.py
  sktime/libs/granite_ttm/modeling_tinytimemixer.py
Labels: interfacing algorithms, module:forecasting, enhancement

#6934 [BUG] fix handling of `numpy` integers in refactored `Catch22` transformation
  sktime/transformations/panel/catch22.py
Labels: module:transformations, bugfix

#6923 [ENH] in estimator html repr, make version retrieval safer and more flexible
  sktime/utils/_estimator_html_repr.py
  sktime/utils/tests/test_estimator_html_repr.py
Labels: enhancement, module:base-framework

#6937 [MNT] Updating the GHA dependencies to install OSX dependencies and setting the compiler flags
  .github/actions/test-component/action.yml
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_other.yml
Labels: maintenance

#6929 [ENH] improve test_global_forecasting_tag
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, module:tests, enhancement

#6906 [ENH] remove now superfluous try-excepts in forecasting API test suite
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, enhancement

#6939 [BUG] Reduce model size of pytorch-forecasting models
  sktime/forecasting/pytorchforecasting.py
Labels: module:forecasting, enhancement

#6454 [ENH] `darts` Regression Models adapter
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/base/adapters/_darts.py
  sktime/forecasting/darts.py
  sktime/forecasting/tests/test_darts.py
Labels: interfacing algorithms, module:forecasting, enhancement

#6908 Release 0.31.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
  sktime/forecasting/compose/_reduce.py
Labels: maintenance, release

#6919 [MNT] insta-release action for 0.31.1
  .github/workflows/wheels.yml
Labels: maintenance, release

#6915 [MNT] remove `numpy 2` incompatibility flag from `numba` based estimators
  sktime/base/_base.py
Labels: maintenance, release

#6385 [MNT] isolate `joblib`
  sktime/base/_panel/forest/_composable.py
  sktime/base/_panel/forest/_tsf.py
  sktime/benchmarking/base.py
  sktime/benchmarking/results.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/ensemble/_ctsf.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/classification/kernel_based/_arsenal.py
  sktime/classification/sklearn/_rotation_forest.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/conformal.py
  sktime/forecasting/ets.py
  sktime/regression/compose/_ensemble.py
  sktime/regression/interval_based/_tsf.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/panel/dictionary_based/_sfa.py
  sktime/transformations/panel/shapelet_transform/_shapelet_transform.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/panel/supervised_intervals.py
  sktime/transformations/series/clear_sky.py
  sktime/transformations/series/summarize.py
Labels: maintenance

#6941 [MNT] handle more `pandas` deprecations
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/tests/test_varmax.py
Labels: maintenance

#6940 [MNT] deprecation of `proba` module in favour of `skpro` soft dependency
  sktime/forecasting/base/_base.py
  sktime/proba/__init__.py
  sktime/proba/_base.py
  sktime/proba/_empirical.py
  sktime/proba/_laplace.py
  sktime/proba/_mixture.py
  sktime/proba/_normal.py
  sktime/proba/_t.py
  sktime/proba/base.py
  sktime/proba/empirical.py
  sktime/proba/laplace.py
  sktime/proba/mixture.py
  sktime/proba/normal.py
  sktime/proba/t.py
  sktime/proba/tests/_test_all_distrs.py
  sktime/proba/tests/test_all_distrs.py
  sktime/registry/tests/test_lookup.py
  sktime/utils/_testing/scenarios_getter.py
Labels: maintenance, release, module:probability&simulation

#6944 [BUG] Fix Xt_msg type in tranformations.base
  sktime/transformations/base.py
Labels: module:transformations, bugfix

#6947 [MNT] update versions of `pre-commit` hooks
  .pre-commit-config.yaml
Labels: maintenance

#5114 [MNT] 0.32.0 release action - revert temporary skip `get_test_params` number check for 0.21.1 and 0.22.0 release
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
Labels: maintenance, module:tests, enhancement, release

#6946 [MNT] Bump `skforecast` to `0.13` version allowing support for python `3.12`
  pyproject.toml
Labels: maintenance

#6942 Release 0.32.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#6950 [MNT] update "only 1 test param set" exception list
  sktime/tests/_config.py
Labels: maintenance

#6951 Revert "[MNT] insta-release action for 0.31.1"
  .github/workflows/wheels.yml
Labels: maintenance

#6954 [BUG] fix `make_reduction` type inference for non-sklearn estimators
  .github/workflows/test.yml
  pyproject.toml
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
Labels: module:forecasting, bugfix

#6955 Release 0.32.1
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
  sktime/forecasting/model_selection/_tune.py
  sktime/utils/dependencies/_dependencies.py
Labels: maintenance, release

#6959 Revert "[MNT] insta-release action for 0.32.1"
  .github/workflows/wheels.yml
Labels: maintenance, release

#6485 [ENH] Series scitype support for Polars
  pyproject.toml
  sktime/datatypes/_adapter/polars.py
  sktime/datatypes/_adapter/tests/test_polars.py
  sktime/datatypes/_dtypekind.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/_series/_examples.py
  sktime/datatypes/_series/_registry.py
Labels: module:datatypes, enhancement

#6963 [MNT] sync changelog with hotfix branch `anirban-sktime-0.31.2`
  docs/source/changelog.rst
Labels: maintenance

#6974 [MNT] add `numpy 2` incompatibility flag to `pmdarima` dependency
  sktime/base/_base.py
  sktime/forecasting/compose/_pipeline.py
Labels: maintenance

#6725 [ENH] New estimator - RegularizedVAR
  .all-contributorsrc
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/tests/test_varreduce.py
  sktime/forecasting/var_reduce.py
Labels: implementing algorithms, module:forecasting, enhancement

#6961 [BUG] fix `test_softdep_error` dependency handling check if environment marker tag is not satisfied
  sktime/tests/test_softdeps.py
Labels: module:tests, bugfix

#6953 marrov [ENH] Hierarchical sales toydata generator from workshops
  docs/source/api_reference/datasets.rst
  sktime/datasets/__init__.py
  sktime/datasets/_hierarchical_demo.py
  sktime/datasets/tests/test_hierarchical_demo.py
  sktime/datasets/tests/test_loaders.py
Labels: enhancement, module:datasets&loaders

#6971 [BUG] ForecastingBenchmark giving an error when the dataloader returns the tuple (y, X)
  sktime/benchmarking/forecasting.py
Labels: bugfix, module:metrics&benchmarking

#6978 [DOC] minor improvements to docstring of `Bollinger` (bands)
  sktime/transformations/series/bollinger.py
Labels: documentation, module:transformations

#6871 [BUG] Addition of feature_kind metadata attribute to GluonTS Datatypes
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_series/_check.py
Labels: module:datatypes, enhancement

#6990 [ENH] Convert the “date” column to a period with daily frequency in `load_m5`
  sktime/datasets/_single_problem_loaders.py
Labels: module:datatypes, enhancement

#6924 [ENH] Extending categorical support in X to transformers and pipelines
  CONTRIBUTORS.md
  sktime/forecasting/compose/_pipeline.py
  sktime/registry/_tags.py
  sktime/transformations/base.py
  sktime/transformations/compose/_column.py
  sktime/transformations/compose/_pipeline.py
  sktime/transformations/panel/compose.py
  sktime/transformations/series/adapt.py
  sktime/transformations/series/subset.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/transformations/tests/test_categorical_in_composite.py
Labels: module:transformations, enhancement

#6966 [MNT] remove `tsbootstrap` dependency from public dependency sets
  pyproject.toml
Labels: maintenance

#6962 [DOC] Update `.all-contributorsrc` with council roles
  .all-contributorsrc
  CONTRIBUTORS.md
Labels: documentation

#6965 [BUG] TinyTimeMixerForecaster: fix truncating index and update test_params
  sktime/forecasting/ttm.py
Labels: module:forecasting, bugfix

#7000 [DOC] update soft dependency handling guide for estimators
  docs/source/api_reference/tags.rst
  docs/source/developer_guide/dependencies.rst
Labels: documentation

#6986 &toandaominh1997 [BUG] fix dependency checkers in case of multiple distributions available in environment, e.g., on databricks
  sktime/utils/dependencies/_dependencies.py
Labels: maintenance, module:tests, bugfix, module:base-framework

#6991 [DOC] improvements to docstrings for panel tasks - time series classification, regression, clustering
  sktime/classification/base.py
  sktime/clustering/base.py
  sktime/clustering/utils/plotting/_plot_partitions.py
  sktime/regression/base.py
Labels: documentation, module:clustering, module:classification, module:regression

#6967 [ENH] Add Subsequence Extraction Transformer to `sktime.transformations` module
  .all-contributorsrc
  docs/source/api_reference/transformations.rst
  sktime/transformations/series/subsequence_extraction.py
Labels: module:transformations, enhancement

#7029 [ENH] placeholder record decorator
  sktime/forecasting/prophetverse.py
  sktime/utils/dependencies/__init__.py
  sktime/utils/dependencies/_placeholder.py
Labels: enhancement, module:base-framework

#7011 [BUG] - Fix Prophet `_get_fitted_params `error when the timeseries is constant
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/tests/test_prophet.py
Labels: module:forecasting, bugfix

#7026 [BUG] Fix `nested_univ` converter inconsistent handling of index level names
  examples/AA_datatypes_and_datasets.ipynb
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_panel/_examples.py
Labels: module:datatypes, bugfix

#7002 [DOC] fixes to `TransformedTargetForecaster` docstring
  sktime/forecasting/compose/_pipeline.py
Labels: documentation, module:forecasting

#6992 [MNT] rename base class `TimeSeriesLloyds` to `BaseTimeSeriesLloyds`
  sktime/clustering/k_means/_k_means.py
  sktime/clustering/k_medoids.py
  sktime/clustering/partitioning/__init__.py
  sktime/clustering/partitioning/_lloyds.py
  sktime/clustering/tests/test_lloyds.py
  sktime/tests/_config.py
Labels: maintenance, module:clustering

#7018 [ENH] clusterer tags for capability to assign cluster centers
  docs/source/conf.py
  extension_templates/clustering.py
  sktime/clustering/base.py
  sktime/clustering/compose/_pipeline.py
  sktime/clustering/dbscan.py
  sktime/clustering/k_means/_k_means.py
  sktime/clustering/k_means/_k_means_tslearn.py
  sktime/clustering/k_medoids.py
  sktime/clustering/k_shapes.py
  sktime/clustering/kernel_k_means.py
  sktime/registry/_tags.py
Labels: module:clustering, enhancement

#6999 [MNT] remove module level `numba` import warnings
  sktime/utils/numba/general.py
  sktime/utils/numba/njit.py
  sktime/utils/numba/stats.py
Labels: maintenance

#7033 [DOC] Fix docstring for `ExpandingCutoffSplitter`
  CONTRIBUTORS.md
  sktime/split/expandingcutoff.py
Labels: documentation, module:splitters&resamplers

#7036 [MNT] `esig` based estimators: add `numpy<2` bound
  sktime/classification/feature_based/_signature_classifier.py
Labels: maintenance, module:classification, module:transformations

#7015 [DOC] fix incorrect import in `EnbPIForecaster` docstring
  sktime/forecasting/enbpi.py
Labels: documentation, module:forecasting

#6883 [MNT] Refactor `show_versions` to use `dependencies` module
  sktime/tests/test_softdeps.py
  sktime/utils/_maint/_show_versions.py
Labels: maintenance, enhancement, module:base-framework

#6552 [ENH] Polars panel scitype support
  sktime/datatypes/_adapter/polars.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_panel/_examples.py
  sktime/datatypes/_panel/_registry.py
Labels: module:datatypes, enhancement

#6930 [ENH] Fix html representations of pipelines and nested estimators
  sktime/forecasting/compose/_pipeline.py
  sktime/utils/_estimator_html_repr.py
  sktime/utils/tests/test_estimator_html_repr.py
Labels: enhancement, module:base-framework

#7037 Release 0.32.2
  README.md
  docs/source/changelog.rst
  docs/source/changelog_header_template.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7039 [MNT] insta-release action for 0.32.2
  .github/workflows/wheels.yml
Labels: maintenance, release

#7040 Revert "[MNT] insta-release action for 0.32.2"
  .github/workflows/wheels.yml
Labels: maintenance, release

#7044 [MNT] insta-release action for 0.32.3
  .github/workflows/wheels.yml
Labels: maintenance, release

#7043 [BUG] fix html display for `TransformedTargetForecaster` and `ForecastingPipeline`
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
Labels: module:forecasting, bugfix

#7046 Release 0.32.3
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7047 Revert "[MNT] insta-release action for 0.32.3"
  .github/workflows/wheels.yml
Labels: maintenance, release

#7024 [DOC] Add SVG version of the sktime logo with no text
  .all-contributorsrc
  docs/source/images/sktime-logo-no-text.svg
Labels: documentation

#7041 [BUG] Fix `ForecastX.update` when the `forecaster_X_exogeneous` is set to `"complement"`
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_forecastx.py
Labels: module:forecasting, bugfix

#6998 [ENH] decouple registry from base modules, scitype specific data records for documentation of estimator types
  examples/02_classification.ipynb
  sktime/registry/__init__.py
  sktime/registry/_base_classes.py
  sktime/registry/_lookup.py
  sktime/registry/_scitype.py
  sktime/registry/_tags.py
  sktime/registry/tests/test_lookup.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_getter.py
  sktime/utils/_testing/tests/test_testscenario_getter.py
Labels: enhancement, module:base-framework

#6969 [ENH] scitype coercion and checking utility
  CONTRIBUTORS.md
  sktime/registry/__init__.py
  sktime/registry/_scitype_coercion.py
  sktime/transformations/compose/_featureunion.py
  sktime/transformations/compose/_multiplex.py
  sktime/transformations/compose/_optional.py
  sktime/transformations/compose/_pipeline.py
  sktime/utils/sklearn/_scitype.py
Labels: enhancement, module:base-framework

#7009 [DOC] Improve documentation for TinyTimeMixer
  sktime/forecasting/ttm.py
Labels: documentation, module:forecasting

#7057 [BUG] fix `sktime` crash with older `polars` versions
  pyproject.toml
  sktime/datatypes/_series/_examples.py
Labels: module:datatypes, bugfix
