Repository sktime/sktime, pull requests merged in 2024-10, with the labels that each got.

#7175 [DOC] add docstring example to `Filter` transformer
  sktime/transformations/series/filter.py
Labels: documentation, module:transformations

#7199 [ENH] Added get_test_params in ThetaLinesTransformer
  sktime/transformations/series/theta.py
Labels: documentation, module:transformations

#7151 [ENH] add test that html repr of objects does not crash
  CONTRIBUTORS.md
  sktime/tests/test_all_estimators.py
Labels: module:tests, enhancement, module:base-framework

#7206 [DOC] clearer install instructions
  docs/source/developer_guide.rst
  docs/source/installation.rst
Labels: documentation

#7223 [DOC] Added MOIRAIforecaster to the API docs, create new section on pretrained FM
  .all-contributorsrc
  docs/source/api_reference/forecasting.rst
Labels: documentation

#7244 [ENH] python 3.13 compatibility - `SquaringResiduals`
  sktime/forecasting/squaring_residuals.py
Labels: module:forecasting, enhancement

#7251 [ENH] python 3.13 compatibility - `craft`
  sktime/registry/_craft.py
  sktime/registry/tests/test_craft.py
Labels: enhancement, module:base-framework

#7260 [BUG] fixed `dask.dataframe` import error in dask_to_pd.py script
  sktime/datatypes/_adapter/dask_to_pd.py
  sktime/datatypes/_adapter/tests/test_dask_pd.py
Labels: module:datatypes, bugfix

#7161 [ENH] refactor `datatypes` module to `scikit-base` classes and data records
  sktime/base/_base_panel.py
  sktime/datatypes/_adapter/dask_to_pd.py
  sktime/datatypes/_adapter/polars.py
  sktime/datatypes/_alignment/_check.py
  sktime/datatypes/_base/_base.py
  sktime/datatypes/_base/_common.py
  sktime/datatypes/_check.py
  sktime/datatypes/_hierarchical/__init__.py
  sktime/datatypes/_hierarchical/_base.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/__init__.py
  sktime/datatypes/_panel/_base.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_proba/_check.py
  sktime/datatypes/_series/__init__.py
  sktime/datatypes/_series/_base.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/_table/__init__.py
  sktime/datatypes/_table/_base.py
  sktime/datatypes/_table/_check.py
  sktime/datatypes/tests/test_check.py
  sktime/datatypes/tests/test_panel_converters.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/validation/panel.py
Labels: module:datatypes, enhancement

#7241 [DOC] improved docstrings for k-nearest neighbours classifier and regressor
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/regression/distance_based/_time_series_neighbors.py
Labels: documentation, module:classification, module:regression

#7230 [ENH] refactor probabilistic prediction default dispatching logic to mixin class
  sktime/base/_proba.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/theta.py
Labels: module:forecasting, enhancement, module:base-framework

#6952 [ENH] GRU-based time series classifiers
  docs/source/api_reference/classification.rst
  sktime/classification/deep_learning/__init__.py
  sktime/classification/deep_learning/_pytorch.py
  sktime/classification/deep_learning/gru.py
  sktime/networks/gru.py
Labels: implementing algorithms, module:classification, enhancement

#7193 [ENH] New splitter switching from expanding window to sliding window at cutoff point
  .all-contributorsrc
  docs/source/api_reference/split.rst
  sktime/split/__init__.py
  sktime/split/base/_base_windowsplitter.py
  sktime/split/expandingslidingwindow.py
Labels: implementing algorithms, enhancement, module:splitters&resamplers

#6628 [ENH] Quantile Forecast for pytorch-forecasting Models with Global Forecast API
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/adapters/_pytorchforecasting.py
  sktime/forecasting/pytorchforecasting.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_pytorchforecasting.py
  sktime/utils/_testing/forecasting.py
Labels: module:forecasting, enhancement

#7195 [DOC] `SlidingWindowSplitter` - proper mathematical description
  sktime/split/slidingwindow.py
Labels: documentation, module:splitters&resamplers

#7172 [BUG] fix ForecastingHorizon `to_absolute` wiht multiple frequencies
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, bugfix

#7212 [ENH] `TimesFMForecaster` dependencies now depends on `use_source_package`
  CONTRIBUTORS.md
  sktime/forecasting/timesfm_forecaster.py
Labels: module:forecasting, enhancement

#7284 &alex-jg3 [DOC] anomaly and changepoint detection notebook from ODSC 2024
  docs/source/examples.rst
  examples/03_transformers.ipynb
  examples/03b_forecasting_transformers_pipelines_tuning.ipynb
  examples/07_detection_anomaly_changepoints.ipynb
  examples/img/annotation_tree.png
  pyproject.toml
  sktime/datasets/data/mitdb/mitdb.csv
  sktime/datasets/data/seatbelts/seatbelts.csv
  sktime/datasets/data/yahoo/yahoo.csv
Labels: documentation, module:detectors

#7208 [BUG] in `ReconcilerForecaster`, fix `return_totals` parameter for all strategies
  sktime/forecasting/reconcile.py
  sktime/forecasting/tests/test_reconcile.py
Labels: module:forecasting, bugfix

#7012 [MNT] Removes coverage upload steps from CI
  .all-contributorsrc
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
  CONTRIBUTORS.md
Labels: maintenance

#7225 [MNT] get_test_params cases in composites conditional on soft dependencies should use _check_estimator_deps #6979
  sktime/classification/early_classification/_probability_threshold.py
  sktime/classification/early_classification/_teaser.py
  sktime/classification/ensemble/_weighted.py
  sktime/forecasting/adapters/_hcrystalball.py
  sktime/forecasting/base/adapters/_generalised_statsforecast.py
  sktime/regression/compose/_pipeline.py
Labels: module:tests, enhancement

#7278 [ENH] added coverage parameter to all metrics of pred_interval type
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
Labels: enhancement, module:metrics&benchmarking

#7267 [BUG] Prophet not tagged as "handles-missing-data"
  .all-contributorsrc
  sktime/forecasting/base/adapters/_fbprophet.py
Labels: module:forecasting, bugfix

#7293 [BUG] fix singular matrices in `test_reconcilerforecaster_return_totals`
  sktime/forecasting/reconcile.py
  sktime/forecasting/tests/test_reconcile.py
Labels: module:forecasting, bugfix

#3629 [ENH] version tag for objects and estimators
  sktime/base/_base.py
  sktime/registry/_tags.py
Labels: implementing framework, enhancement, module:base-framework

#7042 [DOC] docstring example for `PyodAnnotator`
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/annotation/adapters/_pyod.py
Labels: documentation, module:detectors

#7261 [ENH] temporal radial basis function feature transformer
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/transformations/series/adi_cv.py
  sktime/transformations/series/basisfunction.py
Labels: module:transformations, enhancement

#7296 [MNT] insta-release action for 0.33.2
  .github/workflows/wheels.yml
Labels: maintenance, release

#7298 [MNT] add `skchange` to extras
  pyproject.toml
Labels: maintenance, release

#7213 [ENH] deduplicate `sktime` and `skbase` `BaseEstimator`
  sktime/base/_base.py
  sktime/exceptions.py
Labels: enhancement, module:base-framework, release

#6740 [MNT] disable `numpy<2` bound for `prophet`
  sktime/base/_base.py
  sktime/forecasting/base/adapters/_fbprophet.py
  sktime/forecasting/trend/_pwl_trend_forecaster.py
Labels: maintenance, release

#7302 [MNT] 0.34.0 deprecations and change actions
  sktime/annotation/base/_base.py
  sktime/base/_base.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/__init__.py
  sktime/forecasting/model_selection/_tune.py
Labels: maintenance, release

#7198 [MNT] python 3.13 support in `pyproject.toml` and CI
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
  .github/workflows/wheels.yml
  pyproject.toml
Labels: maintenance, release

#7299 [DOC] replace documentation references to "annotation" with "detection"
  README.md
  docs/source/api_reference.rst
  docs/source/api_reference/detection.rst
  docs/source/installation.rst
  extension_templates/detection.py
Labels: documentation, module:detection

#7294 [MNT] prepare rename `annotation` module to `detection` - mapped imports
  sktime/detection/__init__.py
  sktime/detection/adapters/__init__.py
  sktime/detection/base/__init__.py
  sktime/detection/base/_base.py
  sktime/detection/bs.py
  sktime/detection/clasp.py
  sktime/detection/clust.py
  sktime/detection/compose/__init__.py
  sktime/detection/datagen.py
  sktime/detection/eagglo.py
  sktime/detection/ggs.py
  sktime/detection/hmm.py
  sktime/detection/hmm_learn/__init__.py
  sktime/detection/hmm_learn/base.py
  sktime/detection/hmm_learn/gaussian.py
  sktime/detection/hmm_learn/gmm.py
  sktime/detection/hmm_learn/poisson.py
  sktime/detection/igts.py
  sktime/detection/lof.py
  sktime/detection/plotting/__init__.py
  sktime/detection/plotting/utils.py
  sktime/detection/stray.py
Labels: module:detection, enhancement

#7312 [MNT] insta-release action for 0.34.0
  .github/workflows/wheels.yml
Labels: maintenance, release

#7311 Release 0.34.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7269 [ENH] fix input shape in `CNTCClassifier` and `CNTCRegressor`
  sktime/classification/deep_learning/cntc.py
  sktime/regression/deep_learning/cntc.py
  sktime/tests/_config.py
Labels: module:classification, bugfix

#7324 [DOC] fix typos in changelog, better explanation of scoring parameters
  docs/source/changelog.rst
Labels: documentation

#7327 [DOC] add docstring example for `DropNA`
  sktime/transformations/series/dropna.py
Labels: documentation, module:transformations
