Repository sktime/sktime, pull requests merged in 2024-02, with the labels that each got.

#5869 [ENH] in transformer dunders, uniformize coercion of `sklearn` transformers
  sktime/registry/_scitype.py
  sktime/transformations/base.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/compose/_featureunion.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations, enhancement

#5883 [MNT] address some `pandas` deprecations
  sktime/benchmarking/evaluation.py
  sktime/transformations/panel/catch22wrapper.py
  sktime/transformations/panel/summarize/_extract.py
  sktime/transformations/panel/tests/test_interpolate.py
Labels: maintenance

#5875 [DOC] recipes for simple parameter change and deprecation management
  docs/source/changelog.rst
  docs/source/developer_guide/deprecation.rst
Labels: documentation

#5888 [MNT] Skip `mlflow` tests when soft-dependencies are absent
  sktime/utils/tests/test_mlflow_sktime_model_export.py
Labels: maintenance, module:tests

#5884 [MNT] addressed future warning for RMSE by using newer `root_mean_absolute_error` function
  sktime/performance_metrics/forecasting/_functions.py
Labels: maintenance, module:metrics&benchmarking

#5882 [ENH] Improved specificity of some error messages in forecasters and transformations
  sktime/forecasting/base/_base.py
  sktime/transformations/base.py
Labels: module:forecasting, module:transformations, enhancement

#5899 [BUG] fixing broken link to `DropNA` in API reference
  docs/source/api_reference/transformations.rst
Labels: documentation

#5908 [ENH] statsforecast AutoTBATS direct interface estimator
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/bats.py
  sktime/forecasting/statsforecast.py
  sktime/forecasting/tbats.py
Labels: module:forecasting, enhancement

#5910 [ENH] second set of test parameters for `TSInterpolator`
  sktime/transformations/panel/interpolate.py
Labels: module:transformations, enhancement

#5857 [ENH] interface to `ARIMA` from `statsmodels` library
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/arima/__init__.py
  sktime/forecasting/arima/_pmdarima.py
  sktime/forecasting/arima/_statsmodels.py
Labels: interfacing algorithms, module:forecasting, enhancement

#5906 [DOC] use tags for estimator overview
  docs/source/conf.py
Labels: documentation

#5912 [DOC] fix `ARDL` API reference
  docs/source/api_reference/forecasting.rst
Labels: documentation

#5837 [BUG] Empty dummy step's buffer only if new data arrive
  sktime/pipeline/pipeline.py
  sktime/pipeline/step.py
  sktime/pipeline/tests/regression_tests/test_pipeline_regression.py
Labels: implementing framework, bugfix

#5911 [DOC] add "maintainers" column to estimator overview
  docs/source/conf.py
Labels: documentation

#5847 [ENH] `FallbackForecaster` predict_interval
  sktime/forecasting/compose/_fallback.py
  sktime/forecasting/compose/tests/test_fallback.py
Labels: module:forecasting, enhancement

#5889 [BUG] Avoid setting `_fh` and `_y` in _fit of `_pytorch.py`
  sktime/forecasting/base/adapters/_pytorch.py
Labels: module:forecasting, bugfix

#5845 [ENH] centralize logic for safe clone of delegator tags - forecasting
  sktime/forecasting/base/_delegate.py
  sktime/forecasting/compose/_grouped.py
  sktime/forecasting/compose/_ignore_x.py
  sktime/forecasting/compose/_multiplexer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/stream/_update.py
  sktime/param_est/plugin/_forecaster.py
Labels: implementing framework, module:forecasting, enhancement

#5727 [ENH] testing estimators whose package dependencies are changed in `pyproject.toml`
  sktime/tests/test_switch.py
  sktime/utils/git_diff.py
Labels: module:tests, enhancement

#5916 [DOC] add GitHub ID hyperlinks in estimator table
  docs/source/conf.py
Labels: documentation

#5925 [MNT] fix failing CRON "test all" workflow
  .github/workflows/test_all.yml
Labels: maintenance

#5890 [DOC] improved deprecation recipes
  docs/source/developer_guide/deprecation.rst
Labels: documentation

#5785 [MNT] improvements to modular CI framework - part 2, merge frameworks
  .github/actions/test-install/action.yml
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_install.yml
  .github/workflows/test_main.yml
Labels: maintenance

#5931 [ENH] second set of test parameters for `GMMHMM`
  .all-contributorsrc
  sktime/annotation/hmm_learn/gmm.py
Labels: module:annotation, enhancement

#5945 [MNT] CI on main fix: add checkout step to detect steps in CI
  .github/workflows/test.yml
  .github/workflows/test_base.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
Labels: maintenance, bugfix

#5851 [ENH] `pyts` adapter and interface to `pyts` `ROCKET`
  pyproject.toml
  sktime/base/adapters/__init__.py
  sktime/base/adapters/_pyts.py
  sktime/transformations/panel/rocket/__init__.py
  sktime/transformations/panel/rocket/_rocket_pyts.py
Labels: interfacing algorithms, module:transformations

#5926 [ENH] `ForecastX` option to use future-known variables as exogenous variables in forecasting future-unknown exogenous variables
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_forecastx.py
  sktime/forecasting/compose/tests/test_pipeline.py
Labels: module:forecasting, enhancement

#5924 [ENH] Add nan policy handler for FallbackForecaster #5897
  sktime/forecasting/compose/_fallback.py
  sktime/forecasting/compose/tests/test_fallback.py
Labels: module:forecasting, enhancement

#5930 [MNT] Add codecov token to coverage uploads
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
Labels: maintenance

#5920 [MNT] [ENH] Several updates in direct statsforecast interface estimators
  pyproject.toml
  sktime/forecasting/arch/_statsforecast_arch.py
  sktime/forecasting/base/adapters/_generalised_statsforecast.py
  sktime/forecasting/statsforecast.py
  sktime/forecasting/tests/test_statsforecast.py
  sktime/tests/_config.py
Labels: maintenance, module:forecasting, enhancement

#5937 [ENH] k-nearest neighbors classifier: support for non-brute algorithms and non-precomputed mode to improve memory efficiency
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/utils/profiling.py
Labels: module:classification, enhancement

#5939 [ENH] adapter to `pyts` `KNeighborsClassifier`
  docs/source/api_reference/classification.rst
  sktime/classification/distance_based/__init__.py
  sktime/classification/distance_based/_time_series_neighbors_pyts.py
Labels: module:classification, enhancement

#5757 [ENH] `polars` based `Table` mtype, feature name metadata
  sktime/datatypes/_adapter/polars.py
  sktime/datatypes/_table/_check.py
  sktime/datatypes/_table/_convert.py
  sktime/datatypes/_table/_examples.py
  sktime/datatypes/_table/_registry.py
  sktime/datatypes/tests/test_check.py
  sktime/utils/deep_equals/_deep_equals.py
Labels: module:datatypes, enhancement

#5834 [ENH] Expose seasonality parameters of ProphetPiecewiseLinearTrendForecaster
  CONTRIBUTORS.md
  sktime/forecasting/trend/_pwl_trend_forecaster.py
Labels: module:forecasting, enhancement

#5928 [BUG] fix `BaseClassifier.fit_predict` for multioutput `y` and non-none `cv`
  sktime/base/_base_panel.py
  sktime/classification/base.py
  sktime/classification/tests/test_base.py
Labels: module:classification, bugfix

#5852 [BUG] corrected default loss function to `CNNClassifier`
  sktime/classification/deep_learning/cnn.py
Labels: module:classification, enhancement

#5973 [ENH] move `ForecastingSkoptSearchCV` to abstract parallelization backend
  sktime/forecasting/model_selection/_tune.py
Labels: module:forecasting, enhancement

#5969 [ENH] Feature importance capability tag for classifiers
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/early_classification.py
  sktime/classification/base.py
  sktime/classification/ensemble/_ctsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/registry/_tags.py
Labels: module:classification, enhancement

#5900 [BUG] `BaseForecaster` - move `check_fh` to inner loop if vectorized
  sktime/datatypes/_utilities.py
  sktime/datatypes/tests/test_utils.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/tests/test_exp_smoothing.py
Labels: module:forecasting, bugfix

#5840 [MNT] `pandas 2.2.X` compatibility fixes
  sktime/forecasting/base/_base.py
Labels: maintenance

#5957 [DOC] fix odd formatting in deprecation timeline example
  docs/source/developer_guide/deprecation.rst
Labels: documentation

#5968 [DOC] improved glossary and forecasting docstrings
  docs/source/glossary.rst
  sktime/forecasting/base/_base.py
  sktime/registry/_lookup.py
Labels: documentation

#5921 [ENH] improved output type checking error messages in `BaseTransformer.transform`
  sktime/transformations/base.py
Labels: module:transformations, enhancement

#5952 [ENH] adapter to `tslearn` `KNeighborsTimeSeriesClassifier`
  docs/source/api_reference/classification.rst
  sktime/classification/distance_based/__init__.py
  sktime/classification/distance_based/_time_series_neighbors_tslearn.py
  sktime/tests/_config.py
Labels: module:classification, enhancement

#5971 [MNT] address some upcoming deprecations
  sktime/classification/dictionary_based/_boss.py
  sktime/performance_metrics/forecasting/tests/test_metrics.py
  sktime/transformations/bootstrap/_mbb.py
Labels: maintenance

#5970 [DOC] remove type annotations in extension templates
  extension_templates/alignment.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/early_classification.py
Labels: documentation

#5996 [BUG] Fixed transform method of MSTL transformer
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/transformations/series/detrend/mstl.py
Labels: module:transformations, bugfix

#5977 & albahhar [ENH] in `ForecastingPipeline`, allow `None` `X` to be passed to transformers
  extension_templates/transformer.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_pipeline.py
  sktime/registry/_tags.py
  sktime/transformations/base.py
  sktime/transformations/compose/_column.py
  sktime/transformations/compose/_ytox.py
Labels: module:forecasting, bugfix

#5962 [ENH] Add neuralforecast adapter and rnn forecaster
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/base/adapters/__init__.py
  sktime/forecasting/base/adapters/_neuralforecast.py
  sktime/forecasting/neuralforecast.py
  sktime/forecasting/tests/test_neuralforecast.py
Labels: interfacing algorithms, module:forecasting, enhancement

#6001 [ENH] Migrate DL regressors from `sktime-dl`: FCN, LSTMFCN, MLP
  docs/source/api_reference/regression.rst
  sktime/regression/deep_learning/__init__.py
  sktime/regression/deep_learning/fcn.py
  sktime/regression/deep_learning/lstmfcn.py
  sktime/regression/deep_learning/mlp.py
  sktime/tests/_config.py
Labels: module:regression, enhancement

#6000 [ENH] add encoding parameter in data loaders
  .all-contributorsrc
  sktime/datasets/_readers_writers/ts.py
Labels: enhancement, module:datasets&loaders

#5992 Release 0.26.1
  CONTRIBUTORS.md
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#6010 [ENH] add missing `PluginParamsTransformer` to API reference
  docs/source/api_reference/param_est.rst
Labels: documentation, module:parameter-estimators

#6011 [DOC] update contact links in code of conduct
  docs/source/get_involved/code_of_conduct.rst
Labels: documentation

#6013 [DOC] 2024 summer programme links on `sktime.net` landing page
  docs/source/index.rst
Labels: documentation

#6008 [DOC] improved formatting of `HierarchyEnsembleForecaster` docstring
  sktime/forecasting/compose/_hierarchy_ensemble.py
Labels: documentation, module:forecasting

#5974 [MNT] 0.27.0 deprecations and change actions
  examples/01_forecasting.ipynb
  examples/03b_forecasting_transformers_pipelines_tuning.ipynb
  sktime/classification/early_classification/_probability_threshold.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/__init__.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/model_selection/tests/test_tune.py
  sktime/registry/tests/test_craft.py
  sktime/tests/_config.py
  sktime/transformations/panel/dictionary_based/_paa.py
  sktime/transformations/panel/dictionary_based/_sax.py
  sktime/transformations/series/paa.py
  sktime/transformations/series/sax.py
  sktime/transformations/series/summarize.py
  sktime/transformations/tests/test_optionalpassthrough.py
  sktime/utils/_testing/deep_equals.py
  sktime/utils/deep_equals/__init__.py
Labels: maintenance, release

#6025 Release 0.27.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#5984 [DOC] Added blank lines to properly render `FourierFeatures` docstring, `sp_list` (#5932)
  sktime/transformations/series/fourier.py
Labels: documentation

#6007 [ENH] use `Index.unique` instead of `set` in conversion from `pd-multiindex` to `df-list` mtype
  sktime/datatypes/_panel/_convert.py
Labels: module:datatypes
