Repository sktime/sktime, pull requests merged in 2024-09, with the labels that each got.

#7068 [ENH] enable use of clusterers as transformations, enable `TransformSelectForecaster` use of clusterers for group selection
  sktime/clustering/compose/__init__.py
  sktime/clustering/compose/_as_transform.py
  sktime/forecasting/compose/_transform_select_forecaster.py
  sktime/registry/_scitype_coercion.py
  sktime/transformations/compose/_pipeline.py
Labels: implementing framework, module:clustering, module:forecasting, module:transformations, enhancement

#7034 [ENH] Add padded f1 score for evaluating change point detection algorithms
  sktime/performance_metrics/annotation/metrics.py
  sktime/performance_metrics/tests/test_annotation_metrics.py
Labels: module:annotation, enhancement

#7059 [DOC] fix broken links in continous integration docs
  docs/source/developer_guide/continuous_integration.rst
Labels: documentation

#7053 [BUG] fix `ExpandingCutoffSplitter` for case where `fh` is not continuous
  sktime/split/expandingcutoff.py
  sktime/split/tests/test_expandingcutoff.py
Labels: bugfix, module:metrics&benchmarking

#7071 [ENH] pipeline for anomaly, changepoint detectors and segmenters
  sktime/annotation/__init__.py
  sktime/annotation/base/_base.py
  sktime/annotation/compose/__init__.py
  sktime/annotation/compose/_pipeline.py
  sktime/utils/validation/annotation.py
Labels: implementing framework, implementing algorithms, module:annotation, enhancement

#7072 [ENH] coercion to use time series anomaly, changepoint detectors as transformers
  sktime/annotation/compose/__init__.py
  sktime/annotation/compose/_as_transform.py
  sktime/registry/_scitype_coercion.py
Labels: module:transformations, module:annotation, enhancement

#7075 [DOC] split list of transformation pipeline components into subcategories
  docs/source/api_reference/transformations.rst
Labels: documentation

#7082 [MNT] insta-release action for 0.32.4
  .github/workflows/wheels.yml
Labels: maintenance, release

#7081 Release 0.32.4
  README.md
  docs/source/changelog.rst
  docs/source/get_involved/governance.rst
  pyproject.toml
  sktime/__init__.py
Labels: documentation

#7083 Revert "[MNT] insta-release action for 0.32.4"
  .github/workflows/wheels.yml
Labels: maintenance, release

#7061 [MNT] Try to reduce load for the runners
  sktime/forecasting/pytorchforecasting.py
Labels: maintenance

#7084 URLs changed on CRAN; updated _fpp3_loaders.py accordingly
  sktime/datasets/_fpp3_loaders.py
  sktime/datasets/tests/test_datadownload.py
Labels: bugfix, module:datasets&loaders

#7067 [ENH] change `test_inheritance` to be more lenient to framework level extensions
  sktime/tests/test_all_estimators.py
Labels: module:tests, enhancement, module:base-framework

#7092 [MNT] remove <3.11 restriction for `pytorch-forecasting`, add upper bound
  pyproject.toml
Labels: maintenance

#7097 Release 0.33.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7098 [MNT] insta-release action for 0.33.0
  .github/workflows/wheels.yml
Labels: maintenance, release

#7099 Revert "[MNT] insta-release action for 0.33.0"
  .github/workflows/wheels.yml
Labels: maintenance, release

#7109 [MNT] Updating pre-commit hooks and corresponding changes
  .pre-commit-config.yaml
  examples/01_forecasting.ipynb
  examples/01a_forecasting_sklearn.ipynb
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/05_graphical_pipelines.ipynb
  examples/06_distances_kernels_alignment.ipynb
  examples/forecasting/window_splitters.ipynb
  examples/transformation/fracdiff/example_exercise.ipynb
  examples/transformation/fracdiff/example_howto.ipynb
  examples/transformation/fracdiff/example_prado.ipynb
  examples/transformation/interpolation.ipynb
  examples/transformation/minirocket.ipynb
  examples/transformation/rocket.ipynb
  examples/transformation/signature_method.ipynb
Labels: maintenance

#7114 [DOC] correct incorrect bounds mentioned in 0.33.0 changelog
  docs/source/changelog.rst
Labels: documentation

#7055 [ENH] `ThetaForecaster` - add one more parameter set
  sktime/forecasting/theta.py
Labels: module:forecasting, enhancement

#6746 &benheid [ENH] Add interface for MOIRAI foundation model
  pyproject.toml
  sktime/forecasting/moirai_forecaster.py
  sktime/libs/uni2ts/__init__.py
  sktime/libs/uni2ts/common/__init__.py
  sktime/libs/uni2ts/common/core.py
  sktime/libs/uni2ts/common/torch_util.py
  sktime/libs/uni2ts/distribution/__init__.py
  sktime/libs/uni2ts/distribution/_base.py
  sktime/libs/uni2ts/distribution/log_normal.py
  sktime/libs/uni2ts/distribution/mixture.py
  sktime/libs/uni2ts/distribution/negative_binomial.py
  sktime/libs/uni2ts/distribution/normal.py
  sktime/libs/uni2ts/distribution/student_t.py
  sktime/libs/uni2ts/forecast.py
  sktime/libs/uni2ts/loss/__init__.py
  sktime/libs/uni2ts/loss/packed/__init__.py
  sktime/libs/uni2ts/loss/packed/_base.py
  sktime/libs/uni2ts/loss/packed/distribution.py
  sktime/libs/uni2ts/module/__init__.py
  sktime/libs/uni2ts/module/attention.py
  sktime/libs/uni2ts/module/ffn.py
  sktime/libs/uni2ts/module/norm.py
  sktime/libs/uni2ts/module/packed_scaler.py
  sktime/libs/uni2ts/module/position/__init__.py
  sktime/libs/uni2ts/module/position/attn_bias.py
  sktime/libs/uni2ts/module/position/attn_projection.py
  sktime/libs/uni2ts/module/transformer.py
  sktime/libs/uni2ts/module/ts_embed.py
  sktime/libs/uni2ts/moirai_module.py
Labels: interfacing algorithms, module:forecasting, enhancement

#7089 [ENH] retrieval utilities for all functions or classes in a module
  sktime/utils/retrieval.py
  sktime/utils/tests/test_retrieval.py
Labels: enhancement, module:base-framework

#7124 [DOC] Added a docstring example to TimeSeriesKernelKMeans
  .all-contributorsrc
  sktime/clustering/kernel_k_means.py
Labels: documentation, module:clustering

#7140 [DOC] update core developers on team page, formatting
  docs/source/about/team.rst
  docs/source/get_involved/governance.rst
Labels: documentation

#7141 [DOC] minor documentation fixes
  docs/source/api_reference/clustering.rst
  docs/source/developer_guide/git_workflow.rst
Labels: documentation

#7147 [MNT] temporarily skip `temporian` related failure of `test_complex_function` until #7040 is resolved
  sktime/transformations/series/tests/test_temporian.py
Labels: maintenance, module:transformations

#7115 [BUG] fix `drop_na` and update mode of `Differencer` transformation
  sktime/transformations/series/difference.py
  sktime/transformations/series/tests/test_differencer.py
Labels: module:transformations, bugfix

#7150 [BUG] Fix pykan forecaster
  pyproject.toml
  sktime/forecasting/pykan_forecaster.py
Labels: module:forecasting, bugfix

#7153 [BUG] fix probabilistic forecasts if only `_predict_var` is implemented
  sktime/forecasting/base/_base.py
Labels: module:forecasting, bugfix

#7154 [ENH] add `_predict_var` in `test_pred_int_tag`
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, enhancement

#7133 [ENH] refactor `datatypes` example fixtures to `BaseObject` classes
  sktime/datatypes/_alignment/__init__.py
  sktime/datatypes/_alignment/_examples.py
  sktime/datatypes/_base/__init__.py
  sktime/datatypes/_base/_base.py
  sktime/datatypes/_examples.py
  sktime/datatypes/_hierarchical/__init__.py
  sktime/datatypes/_hierarchical/_examples.py
  sktime/datatypes/_panel/__init__.py
  sktime/datatypes/_panel/_examples.py
  sktime/datatypes/_proba/__init__.py
  sktime/datatypes/_proba/_examples.py
  sktime/datatypes/_series/__init__.py
  sktime/datatypes/_series/_examples.py
  sktime/datatypes/_table/__init__.py
  sktime/datatypes/_table/_examples.py
  sktime/utils/retrieval.py
Labels: module:datatypes, enhancement

#7143 [ENH] `is_scitype` utility for scitype checking, improve support of estimators with multiple object types
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/_reduce.py
  sktime/registry/__init__.py
  sktime/registry/_scitype.py
  sktime/registry/tests/test_scitype.py
  sktime/transformations/base.py
  sktime/transformations/compose/_transformif.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_clustering.py
  sktime/utils/_testing/scenarios_forecasting.py
Labels: enhancement, module:base-framework

#7127 [BUG] Adding a parameter to `reconciler forecaster` to return a dataframe without the dunder levels
  sktime/forecasting/reconcile.py
  sktime/forecasting/tests/test_reconcile.py
Labels: module:forecasting, enhancement

#7159 [DOC] add quicklinks at top of README box
  README.md
Labels: documentation

#7164 [MNT] fix FPP3 download link
  sktime/datasets/_fpp3_loaders.py
Labels: maintenance, module:datasets&loaders

#7163 [MNT] bound `SignatureTransformer` to `numpy<2`
  sktime/transformations/panel/signature_based/_signature_method.py
Labels: maintenance, module:transformations

#7158 [DOC] remove 2024 elections registration news item
  docs/source/index.rst
Labels: documentation

#7102 [MNT] remove python version bound from `pytorch-forecasting` based estimators
  sktime/forecasting/base/adapters/_pytorchforecasting.py
Labels: maintenance, module:forecasting

#7058 [DOC] remove references to `nested_univ` from extension templates
  extension_templates/classification.py
  extension_templates/clustering.py
Labels: documentation, module:clustering, module:classification

#7074 [ENH] logger transformer for logging pipeline inputs and outputs
  CONTRIBUTORS.md
  docs/source/api_reference/transformations.rst
  sktime/transformations/compose/__init__.py
  sktime/transformations/compose/_logger.py
Labels: module:transformations, enhancement

#7066 [ENH] `GroupbyCategoryForecaster` for applying panel forecasting by category or segment
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_grouped.py
  sktime/forecasting/compose/tests/test_groupbycategoryforecaster.py
Labels: implementing algorithms, module:forecasting, enhancement

#6782 [ENH] Add time series segmentation via clustering
  docs/source/api_reference/annotation.rst
  sktime/annotation/clust.py
Labels: implementing algorithms, module:detectors, enhancement

#7167 [MNT] insta-release action for 0.33.1
  .github/workflows/wheels.yml
Labels: maintenance, release

#7165 XinyuWuu [MNT] remove ptf install from example notebook
  .github/workflows/test.yml
  examples/01c_forecasting_hierarchical_global.ipynb
Labels: maintenance

#7166 Release 0.33.1
  CODEOWNERS
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7168 Revert "[MNT] insta-release action for 0.33.1"
  .github/workflows/wheels.yml
Labels: maintenance, release

#7181 [BUG] skip the test `load_fpp3` if rdata is not installed
  sktime/datasets/tests/test_datadownload.py
Labels: maintenance, bugfix, module:datasets&loaders

#7180 [DOC] Add example to `HOG1DTransformer`
  sktime/transformations/panel/hog1d.py
Labels: documentation, module:transformations

#7183 [ENH] HOG1D Transformer add new test parameter set to `get_test_params`
  sktime/transformations/panel/hog1d.py
Labels: module:transformations, enhancement

#7179 [DOC] add docstring example for `PaddingTransformer`
  .all-contributorsrc
  sktime/transformations/panel/padder.py
Labels: documentation, module:transformations

#7178 [ENH] Added second parameters example to get_test_params of Filter
  sktime/transformations/series/filter.py
Labels: module:transformations, enhancement

#7185 [DOC] Added docstring example for `HurstExponentTransformer`
  sktime/transformations/series/hurst.py
Labels: documentation, module:transformations

#6424 [ENH] Added method `predict_interval` to `PolynomialTrendForecaster`
  CONTRIBUTORS.md
  sktime/forecasting/trend/_polynomial_trend_forecaster.py
  sktime/forecasting/trend/tests/test_trend.py
Labels: module:forecasting, enhancement
