Repository sktime/sktime, pull requests merged in 2024-04, with the labels that each got.

#6246 [BUG] Add regression test for bug 3177
  sktime/forecasting/tests/test_naive.py
Labels: module:forecasting

#6236 [DOC] add import statements to the InvertAugmenter docstring
  .all-contributorsrc
  sktime/transformations/series/augmenter.py
Labels: documentation, module:transformations

#6209 [ENH] added test params to```CNNNetwork``` and ```ResnetNetwork``` on 3429
  sktime/networks/cnn.py
  sktime/networks/resnet.py
Labels: module:classification, module:regression, bugfix

#6066 [ENH] extend `Empirical` distribution to hierarchical data
  sktime/proba/empirical.py
Labels: enhancement, module:probability&simulation

#6055 [ENH] instance splitter to apply `sklearn` splitter to panel data
  CONTRIBUTORS.md
  docs/source/api_reference/split.rst
  sktime/registry/_tags.py
  sktime/split/__init__.py
  sktime/split/base/_base_splitter.py
  sktime/split/instance.py
  sktime/split/tests/test_all_splitters.py
Labels: implementing algorithms, enhancement, module:splitters&resamplers

#6262 [MNT] temporary skip for failure #6260
  sktime/forecasting/tests/test_varmax.py
Labels: maintenance, module:forecasting

#6193 [ENH] added test parameters for `MatrixProfileClassifier`
  .all-contributorsrc
  sktime/classification/feature_based/_matrix_profile_classifier.py
  sktime/tests/_config.py
Labels: module:classification, enhancement

#6237 [ENH] Update doc and behavior of `freq="auto"` in `neuralforecast`
  CONTRIBUTORS.md
  pyproject.toml
  sktime/forecasting/base/adapters/_neuralforecast.py
  sktime/forecasting/neuralforecast.py
  sktime/forecasting/tests/test_neuralforecast.py
Labels: module:forecasting, enhancement

#6264 [DOC] Adding Usage Example in docstring
  sktime/classification/deep_learning/inceptiontime.py
Labels: documentation

#6259 [ENH] make `get_examples` side effect safe via `deepcopy`
  sktime/datatypes/_examples.py
Labels: module:datatypes, enhancement

#6256 [DOC] improve docstring formatting in probabilistic metrics
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
Labels: documentation, module:metrics&benchmarking

#6199 [ENH] Option to use future-unknown exogenous variables in `ForecastX` if passed in `predict`
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/tests/test_forecastx.py
Labels: module:forecasting, enhancement

#6232 [BUG] in `CNNRegressor`, fix `self.model not found` error when `verbose=True`
  .all-contributorsrc
  sktime/regression/deep_learning/cnn.py
Labels: module:regression, bugfix

#6258 [BUG] Fix tsf data error log and make it more precise
  .all-contributorsrc
  sktime/datasets/_single_problem_loaders.py
  sktime/datasets/tests/test_datadownload.py
Labels: bugfix, module:datasets&loaders

#5953 [DOC] `authors` tag - extension template instructions to credit 3rd party interfaced authors
  extension_templates/alignment.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/forecasting_supersimple.py
  extension_templates/split.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  extension_templates/transformer_supersimple.py
Labels: documentation

#6253 [BUG] Imputer bugfix for issue #6224
  .all-contributorsrc
  sktime/transformations/series/impute.py
  sktime/transformations/series/tests/test_imputer.py
Labels: module:transformations, bugfix

#6282 [MNT] Update dask requirement from `<2024.2.2` to `<2024.4.2`, add new required `dataframe` extra to `pyproject.toml`.
  pyproject.toml
Labels: maintenance, bugfix

#6285 [MNT] fix isolation of `mlflow` soft dependencies
  sktime/utils/mlflow_sktime.py
Labels: maintenance

#6231 [BUG] `FallbackForecaster` fails with `ForecastByLevel` when `nan_predict_policy='raise'`
  CONTRIBUTORS.md
  sktime/forecasting/compose/_fallback.py
  sktime/forecasting/compose/tests/test_fallback.py
Labels: module:forecasting, bugfix

#6269 [DOC] author credits to `tslearn` authors
  sktime/classification/distance_based/_time_series_neighbors_tslearn.py
  sktime/clustering/k_means/_k_means_tslearn.py
  sktime/clustering/k_shapes.py
  sktime/clustering/kernel_k_means.py
  sktime/dists_kernels/ctw.py
  sktime/dists_kernels/dtw/_dtw_tslearn.py
  sktime/dists_kernels/gak.py
  sktime/dists_kernels/lcss.py
Labels: documentation, module:clustering, module:classification, module:distances&kernels

#6270 [DOC] author credits to `pyts` authors
  sktime/classification/distance_based/_time_series_neighbors_pyts.py
  sktime/transformations/panel/rocket/_rocket_pyts.py
  sktime/transformations/panel/shapelet_transform/_shapelet_transform_pyts.py
Labels: documentation, module:classification, module:transformations

#6278 [ENH] refactor test scenario creation to be lazy rather than on module load
  CONTRIBUTORS.md
  sktime/utils/_testing/scenarios_aligners.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_clustering.py
  sktime/utils/_testing/scenarios_forecasting.py
  sktime/utils/_testing/scenarios_param_est.py
  sktime/utils/_testing/scenarios_transformers.py
  sktime/utils/_testing/scenarios_transformers_pairwise.py
Labels: module:tests, enhancement

#6293 [ENH] Update README.md - time of Friday meetups
  README.md
Labels: documentation

#5923 [BUG] Fix `NaiveForecaster` with `sp>1`
  sktime/forecasting/naive.py
  sktime/forecasting/tests/test_naive.py
  sktime/utils/seasonality.py
Labels: module:forecasting, bugfix

#6235 [ENH] Add optimizer param for neuralforecast models
  sktime/forecasting/base/adapters/_neuralforecast.py
  sktime/forecasting/neuralforecast.py
Labels: module:forecasting, enhancement

#6281 [ENH] Added test parameters for the LSTM FCNN network
  .all-contributorsrc
  sktime/networks/lstmfcn.py
Labels: module:classification, module:regression, enhancement

#6289 [ENH] enhancements to tag system, systematic API docs for tags
  docs/source/api_reference.rst
  docs/source/api_reference/tags.rst
  sktime/registry/_lookup.py
  sktime/registry/_tags.py
Labels: documentation, enhancement, module:base-framework

#6292 [ENH] TBATS test parameters to cover doc example
  sktime/forecasting/tbats.py
Labels: module:forecasting, enhancement

#6308 [MNT] add `slavik57` as a maintenance contributor for fixing `conda-forge` `sktime-all-extras 0.28.0` release
  .all-contributorsrc
Labels: maintenance

#6273 [ENH] interfaces to further `tslearn` estimators
  CONTRIBUTORS.md
  docs/source/api_reference/classification.rst
  docs/source/api_reference/regression.rst
  sktime/classification/kernel_based/__init__.py
  sktime/classification/kernel_based/_svc_tslearn.py
  sktime/classification/shapelet_based/__init__.py
  sktime/classification/shapelet_based/_learning_tslearn.py
  sktime/regression/kernel_based/__init__.py
  sktime/regression/kernel_based/_svr_tslearn.py
  sktime/tests/_config.py
Labels: interfacing algorithms, module:classification, module:regression, enhancement

#6294 [BUG] Fix backfill of custom function in window_feature
  .all-contributorsrc
  sktime/transformations/series/summarize.py
  sktime/transformations/series/tests/test_window_summarizer.py
Labels: module:transformations, bugfix

#6321 [BUG] fixes failing test in neuralforecast auto freq, amid `pandas` `freq` deprecations
  CONTRIBUTORS.md
  sktime/forecasting/base/adapters/_neuralforecast.py
  sktime/forecasting/tests/test_neuralforecast.py
Labels: module:forecasting, bugfix

#6324 [BUG] fix `var` of `Laplace` distribution
  sktime/proba/laplace.py
Labels: module:probability&simulation

#6328 [MNT] set GHA macos runner consistently to `macos-13`
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
  .github/workflows/wheels.yml
Labels: maintenance

#6326 [BUG] fixed indexing of return in `TSBootstrapAdapter`
  sktime/transformations/bootstrap/_tsbootstrap.py
Labels: module:transformations, bugfix

#6322 [BUG] fix dependent tags of `TimeSeriesDBSCAN`
  sktime/clustering/dbscan.py
  sktime/dists_kernels/dtw/_dtw_sktime.py
  sktime/dists_kernels/edit_dist.py
Labels: module:clustering, bugfix

#5796 [ENH] Hugging Face interface for pre-trained forecasters
  .gitignore
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/hf_transformers_forecaster.py
  sktime/tests/_config.py
Labels: module:forecasting, enhancement, module:base-framework

#6300 [DOC] author credits to `pycatch22` authors, fix missing documentation page
  docs/source/api_reference/transformations.rst
  sktime/transformations/panel/catch22wrapper.py
Labels: documentation, module:transformations, enhancement

#5982 [ENH] make `TabularToSeriesAdaptor` compatible with `sklearn` transformers that accept only `y`, e.g., `LabelEncoder`
  sktime/transformations/series/adapt.py
Labels: module:transformations, enhancement

#6296 [ENH] interfaces to further `pyts` classifiers
  docs/source/api_reference/classification.rst
  sktime/base/adapters/_pyts.py
  sktime/classification/dictionary_based/__init__.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_boss_pyts.py
  sktime/classification/shapelet_based/__init__.py
  sktime/classification/shapelet_based/_learning_pyts.py
Labels: interfacing algorithms, module:classification, enhancement

#6187 [DOC] added usage examples to multiple estimator docstrings
  sktime/classification/deep_learning/inceptiontime.py
  sktime/classification/deep_learning/lstmfcn.py
  sktime/classification/distance_based/_shape_dtw.py
  sktime/classification/distance_based/_time_series_neighbors_pyts.py
  sktime/classification/distance_based/_time_series_neighbors_tslearn.py
  sktime/classification/ensemble/_ctsf.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_random_interval_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
Labels: documentation

#6341 [ENH] fix `Empirical` index to be `pd.MultiIndex` for hierarchical data index
  sktime/proba/empirical.py
Labels: bugfix, module:probability&simulation

#6338 [BUG] Fix `STLTransformer.inverse_transform` for univariate case
  sktime/transformations/bootstrap/tests/__init__.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/tests/test_deseasonalise.py
Labels: module:transformations, bugfix

#6144 [MNT] PEP 508 environment markers for estimators
  docs/source/api_reference/tags.rst
  sktime/base/_base.py
  sktime/base/tests/test_base.py
  sktime/registry/_tags.py
  sktime/utils/validation/_dependencies.py
Labels: maintenance, enhancement, module:base-framework

#6333 Release 0.28.1
  CONTRIBUTORS.md
  README.md
  docs/source/changelog.rst
  docs/source/index.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#6345 [MNT] skip `VARMAX` until sporadic failures are resolved
  sktime/tests/_config.py
Labels: maintenance, module:forecasting

#6346 [MNT] instant release action - temporary
  .github/workflows/wheels.yml
Labels: maintenance

#6347 Revert "[MNT] instant release action - temporary"
  .github/workflows/wheels.yml
Labels: maintenance

#6238 [MNT] change cycle (0.29.0) for renaming `cINNForecaster` to `CINNForecaster`
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/conditional_invertible_neural_network.py
  sktime/networks/cinn.py
Labels: maintenance, release

#6350 [MNT] 0.29.0 deprecations and change actions
  pyproject.toml
  sktime/classification/deep_learning/base.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/__init__.py
  sktime/forecasting/model_selection/_tune.py
  sktime/regression/deep_learning/base.py
  sktime/transformations/panel/catch22.py
  sktime/utils/_testing/deep_equals.py
  sktime/utils/deep_equals/__init__.py
Labels: maintenance, release

#6357 [MNT] speed up test collection - cache differential testing switch utilities
  sktime/tests/test_switch.py
  sktime/tests/tests/__init__.py
  sktime/tests/tests/test_test_utils.py
  sktime/utils/git_diff.py
Labels: maintenance, module:tests, enhancement

#6361 [MNT] temporary skip of estimators involved in timeouts #6344
  sktime/tests/_config.py
Labels: maintenance

#6358 Release 0.29.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release
