Repository sktime/sktime, pull requests merged in 2024-12, with the labels that each got.

#7434 [ENH] Interface new neuralforecast estimators
  sktime/forecasting/neuralforecast.py
  sktime/forecasting/tests/test_neuralforecast.py
Labels: interfacing algorithms, module:forecasting

#7458 & fkiraly [ENH] Add skchange change point detectors as placeholder records
  CONTRIBUTORS.md
  docs/source/api_reference/detection.rst
  sktime/detection/skchange_cp/__init__.py
  sktime/detection/skchange_cp/moving_window.py
  sktime/detection/skchange_cp/pelt.py
  sktime/detection/skchange_cp/seeded_binseg.py
Labels: module:detection, enhancement

#7400 [ENH] add SCINet forecaster
  .all-contributorsrc
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/scinet.py
  sktime/networks/scinet.py
Labels: implementing algorithms, module:forecasting, enhancement

#7470 [ENH] add placeholder records for `skchange` segment anomaly detectors
  docs/source/api_reference/detection.rst
  sktime/detection/skchange_aseg/__init__.py
  sktime/detection/skchange_aseg/capa.py
  sktime/detection/skchange_aseg/circular_binseg.py
  sktime/detection/skchange_aseg/mvcapa.py
  sktime/detection/skchange_aseg/statthreshold.py
Labels: module:detection, enhancement

#7473 [ENH] add detector tags to estimator overview, fix API reference
  docs/source/api_reference/detection.rst
  docs/source/conf.py
Labels: documentation, module:detection

#7417 [ENH] Reduce memory footprint of `statsmodels` adapter - save necessary `_y` info to remove need for `_y`
  sktime/forecasting/base/adapters/_statsmodels.py
Labels: module:forecasting, bugfix

#7394 &fkiraly [ENH] MSRE% forecasting metric
  sktime/performance_metrics/forecasting/_classes.py
Labels: implementing algorithms, enhancement, module:metrics&benchmarking

#7475 [ENH] update `DetectorPipeline` and `DetectorAsTransformer` inner calls and docstrings
  sktime/detection/compose/_as_transform.py
  sktime/detection/compose/_pipeline.py
Labels: documentation, module:detection

#7474 [DOC] improve formatting of forecasting metrics
  sktime/performance_metrics/forecasting/_classes.py
Labels: documentation, module:metrics&benchmarking

#7466 Release 0.34.1
  .all-contributorsrc
  CODEOWNERS
  CONTRIBUTORS.md
  README.md
  docs/source/about/team.rst
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7483 [DOC] fix failing cells in detection notebook after `skchange` update
  examples/07_detection_anomaly_changepoints.ipynb
Labels: documentation, module:detection

#7495 [MNT] bound `peft<0.14.0`
  pyproject.toml
Labels: maintenance, module:forecasting

#7491 [MNT] remove top level import of transformers
  sktime/forecasting/hf_transformers_forecaster.py
  sktime/forecasting/ttm.py
Labels: module:forecasting, bugfix

#7488 [MNT] add upper bound to skforecast autoreg adapter
  sktime/forecasting/compose/_skforecast_reduce.py
Labels: module:forecasting, enhancement

#7485 [MNT] 0.35.0 deprecations and change actions
  sktime/base/_base.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/forecasting/base/_base.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/adapters/_neuralforecast.py
  sktime/forecasting/base/tests/test_fh.py
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
  sktime/forecasting/model_selection/__init__.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/neuralforecast.py
  sktime/forecasting/timesfm_forecaster.py
  sktime/performance_metrics/forecasting/probabilistic/tests/test_distr_metrics.py
  sktime/proba/__init__.py
  sktime/proba/_base.py
  sktime/proba/_empirical.py
  sktime/proba/_error.py
  sktime/proba/_laplace.py
  sktime/proba/_mixture.py
  sktime/proba/_normal.py
  sktime/proba/_t.py
  sktime/proba/base.py
  sktime/proba/empirical.py
  sktime/proba/laplace.py
  sktime/proba/mixture.py
  sktime/proba/t.py
  sktime/proba/tests/__init__.py
  sktime/proba/tests/_test_all_distrs.py
  sktime/proba/tests/test_all_distrs.py
  sktime/proba/tests/test_base_default_methods.py
  sktime/proba/tests/test_proba_basic.py
  sktime/proba/tfp.py
  sktime/registry/_base_classes.py
  sktime/tests/test_class_register.py
Labels: maintenance, release

#7482 Release 0.35.0
  README.md
  docs/source/about/team.rst
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7498 [BUG] Fix codec error on traditional Chinese Windows systems
  sktime/utils/_estimator_html_repr.py
Labels: maintenance

#7500 [MNT] release 0.35.0 - various minor additions
  CODEOWNERS
  docs/source/changelog.rst
Labels: maintenance, release

#7501 Revert "[MNT] insta-release action for 0.34.1"
  .github/workflows/wheels.yml
Labels: maintenance

#7513 [DOC] Add contributor Gavin Katz to .all-contributorsrc file
  .all-contributorsrc
  CONTRIBUTORS.md
Labels: documentation

#7508 [DOC] Added Note in docstring of InceptionTimeClassifier for fixing #7453
  .all-contributorsrc
  sktime/classification/deep_learning/inceptiontime.py
Labels: documentation, module:classification

#7520 [DOC] Fixing some typos in `transformation.rst`
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/api_reference/transformations.rst
Labels: documentation, module:transformations

#7510 [ENH] detection module rework - populate author and maintainer tags
  sktime/detection/adapters/_pyod.py
  sktime/detection/bs.py
  sktime/detection/clasp.py
  sktime/detection/clust.py
  sktime/detection/compose/_pipeline.py
  sktime/detection/eagglo.py
  sktime/detection/ggs.py
  sktime/detection/hmm.py
  sktime/detection/hmm_learn/base.py
  sktime/detection/lof.py
  sktime/detection/stray.py
Labels: module:detection, enhancement

#7381 [DOC] docstring usage examples for `AlignerDTW` and `AlignerDTWfromDist`
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/alignment/dtw_python.py
Labels: documentation, module:alignment

#7233 [ENH] html display of estimators - tag and consistent handling of via `_steps_attr` in `HeterogenousMetaEstimator` descendants
  sktime/base/_meta.py
  sktime/classification/compose/_pipeline.py
  sktime/clustering/compose/_pipeline.py
  sktime/dists_kernels/compose.py
  sktime/forecasting/compose/_grouped.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/compose/_transform_select_forecaster.py
  sktime/param_est/compose/_pipeline.py
  sktime/registry/_tags.py
  sktime/regression/compose/_pipeline.py
  sktime/transformations/compose/_column.py
  sktime/transformations/compose/_featureunion.py
Labels: enhancement, module:base-framework

#7525 [ENH] Refactor test class registry to type records
  sktime/registry/_base_classes.py
  sktime/tests/test_class_register.py
Labels: enhancement, module:base-framework

#7480 &fkiraly [ENH] Fix `BaseDetector` for segmentation and HMM estimators
  .all-contributorsrc
  sktime/detection/base/_base.py
  sktime/detection/hmm.py
  sktime/detection/hmm_learn/base.py
  sktime/detection/hmm_learn/gaussian.py
  sktime/detection/hmm_learn/gmm.py
  sktime/detection/hmm_learn/poisson.py
  sktime/detection/tests/test_all_detectors.py
  sktime/detection/tests/test_base.py
  sktime/detection/tests/test_hmm.py
  sktime/detection/tests/test_hmm_learn.py
  sktime/detection/utils/__init__.py
  sktime/detection/utils/_arr_to_seg.py
  sktime/tests/_config.py
Labels: module:detection, enhancement

#7494 [DOC] API reference documentation for `SeriesXarray` mtype
  sktime/datatypes/_series/_check.py
Labels: documentation, module:datatypes

#7487 [ENH] Add SplineTrendForecaster
  .all-contributorsrc
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/trend/__init__.py
  sktime/forecasting/trend/_spline_trend_forecaster.py
Labels: module:forecasting, enhancement

#7515 [ENH] base design for detection metrics
  CONTRIBUTORS.md
  sktime/performance_metrics/detection/__init__.py
  sktime/performance_metrics/detection/_base.py
  sktime/performance_metrics/detection/_chamfer.py
  sktime/performance_metrics/detection/_count.py
  sktime/performance_metrics/detection/_hausdorff.py
  sktime/performance_metrics/detection/tests/__init__.py
  sktime/performance_metrics/detection/tests/test_all_metrics_detection.py
  sktime/performance_metrics/detection/tests/test_chamfer.py
  sktime/performance_metrics/detection/tests/test_hausdorff.py
  sktime/performance_metrics/detection/utils/__init__.py
  sktime/performance_metrics/detection/utils/_closest.py
  sktime/registry/_base_classes.py
  sktime/registry/_tags.py
Labels: module:detection, enhancement

#7522 [BUG] fix `get_fitted_params` access to wrapped estimators in `_HeterogenousEnsembleForecaster` descendants
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_hierarchy_ensemble.py
  sktime/forecasting/compose/tests/test_hierarchy_ensemble.py
Labels: module:forecasting, bugfix

#7518 [DOC] add proper credits to hfawaz and dl-4-tsc in various time series classifiers
  sktime/classification/deep_learning/cnn.py
  sktime/classification/deep_learning/cntc.py
  sktime/classification/deep_learning/fcn.py
  sktime/classification/deep_learning/lstmfcn.py
  sktime/classification/deep_learning/mcdcnn.py
  sktime/classification/deep_learning/mlp.py
  sktime/classification/deep_learning/resnet.py
  sktime/networks/cnn.py
  sktime/networks/fcn.py
  sktime/networks/inceptiontime.py
  sktime/networks/mcdcnn.py
  sktime/networks/mlp.py
  sktime/networks/resnet.py
  sktime/regression/deep_learning/cnn.py
  sktime/regression/deep_learning/cntc.py
  sktime/regression/deep_learning/fcn.py
  sktime/regression/deep_learning/inceptiontime.py
  sktime/regression/deep_learning/mcdcnn.py
  sktime/regression/deep_learning/mlp.py
  sktime/regression/deep_learning/resnet.py
Labels: documentation, module:classification

#7542 [ENH] refactor checks for detector outputs into separate module
  sktime/detection/_datatypes/__init__.py
  sktime/detection/_datatypes/_check.py
  sktime/detection/tests/test_all_detectors.py
Labels: module:detection, enhancement

#7540 [DOC] API specification docstrings for `TablePdDataFrame` and `TablePdSeries` mtypes
  .all-contributorsrc
  sktime/datatypes/_table/_check.py
Labels: documentation, module:datatypes

#7330 [ENH] refactor `InstanceSplitter` to a utility `apply_split` to apply an `sklearn` split to a time series collection
  sktime/split/instance.py
  sktime/utils/multiindex.py
  sktime/utils/tests/test_multiindex.py
Labels: enhancement, module:splitters&resamplers

#7546 [ENH] Detection metrics - coercion to detection type in boilerplate
  sktime/detection/_datatypes/_convert.py
  sktime/detection/_datatypes/_examples.py
  sktime/detection/_datatypes/test/__init__.py
  sktime/detection/_datatypes/test/test_convert.py
  sktime/performance_metrics/detection/_base.py
  sktime/performance_metrics/detection/tests/test_base.py
Labels: module:detection, enhancement, module:metrics&benchmarking

#7529 [ENH] sync dependency checkers with `scikit-base`
  sktime/tests/test_softdeps.py
  sktime/utils/_testing/tests/test_check_imports.py
  sktime/utils/dependencies/_dependencies.py
Labels: enhancement, module:base-framework

#7514 [ENH] reduce requested metadata in forecasting metric input check
  sktime/performance_metrics/forecasting/_classes.py
Labels: module:forecasting, enhancement, module:metrics&benchmarking

#7539 [DOC] Docstring for PanelGluontsList added
  .all-contributorsrc
  sktime/datatypes/_panel/_check.py
Labels: documentation, module:datatypes

#7524 [DOC] document new `visual_block_kind` tag
  docs/source/api_reference/tags.rst
  sktime/registry/_tags.py
Labels: documentation, module:base-framework

#7553 [DOC] API reference for `TableNp1D` mtype
  sktime/datatypes/_series/_base.py
  sktime/datatypes/_table/_check.py
Labels: module:datatypes, enhancement

#7527 [DOC] Add missing docstring for functions in `/transformations/panel/catch22.py`
  sktime/transformations/panel/catch22.py
Labels: documentation, module:transformations

#7554 [ENH] Interface to `skforecast.recursive.ForecasterRecursive`
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/compose/__init__.py
  sktime/forecasting/compose/_skforecast_reduce.py
  sktime/forecasting/compose/tests/test_skforecast_reduce.py
Labels: interfacing algorithms, module:forecasting, enhancement

#7573 [MNT] Bump statsforecast to latest version
  pyproject.toml
Labels: maintenance, module:forecasting

#7544 [BUG] Accepting prereleases as valid python version
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/tests/test_softdeps.py
  sktime/utils/dependencies/_dependencies.py
Labels: bugfix, module:base-framework

#7576 [ENH] naive thresholding detector
  docs/source/api_reference/detection.rst
  sktime/detection/_datatypes/_examples.py
  sktime/detection/dummy/_zero_seg.py
  sktime/detection/naive/__init__.py
  sktime/detection/naive/_threshold.py
  sktime/detection/utils/_arr_to_seg.py
  sktime/detection/utils/_seg_middle.py
Labels: implementing algorithms, module:detection, enhancement

#7577 [ENH] detection base class input checks and conversions
  sktime/detection/base/_base.py
  sktime/detection/clasp.py
  sktime/detection/hmm.py
Labels: module:detection, enhancement

#7563 [DOC] Added docstrings for TableNp2d and TableListOfDict classes
  sktime/datatypes/_table/_check.py
Labels: documentation, module:datatypes

#7555 [ENH] change `all_estimators` retrieval to be entirely tag based
  sktime/registry/_base_classes.py
  sktime/registry/_lookup.py
Labels: enhancement, module:base-framework

#7532 [ENH] migrate tests for point forecasting metrics to test class
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/performance_metrics/forecasting/tests/test_all_metrics_forecasting.py
  sktime/performance_metrics/tests/test_metrics_classes.py
  sktime/registry/_base_classes.py
Labels: enhancement, module:metrics&benchmarking

#7589 [ENH] clusterer test suite
  sktime/clustering/tests/test_all_clusterers.py
  sktime/registry/_base_classes.py
  sktime/utils/_testing/scenarios_clustering.py
Labels: module:clustering, module:tests, enhancement
