Repository sktime/sktime, pull requests merged in 2025-08, with the labels that each got.

#8335 [ENH] `relative_to=y_pred` support for percentage error forecasting metric classes
  sktime/performance_metrics/forecasting/_mape.py
  sktime/performance_metrics/forecasting/_medape.py
  sktime/performance_metrics/forecasting/_medspe.py
  sktime/performance_metrics/forecasting/_mspe.py
  sktime/performance_metrics/forecasting/tests/test_all_metrics_forecasting.py
Labels: enhancement, module:metrics&benchmarking

#8583 [DOC] fix some broken links on the "decision making" page
  docs/source/get_involved/governance.rst
Labels: documentation

#8557 [MNT] reorder CI steps to minimize expected runtime
  .github/workflows/test.yml
Labels: maintenance

#8606 [BUG] RRF sometimes creates the wrong PeriodIndex when the frequency is higher than 1
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
Labels: module:forecasting, bugfix

#8638 [DOC] document metric tags in the tags API
  docs/source/api_reference/tags.rst
  sktime/registry/_tags.py
Labels: documentation, module:metrics&benchmarking

#8651 Revert "[MNT] granular test runs in CI in single-estimator VM"
  .github/workflows/test.yml
  build_tools/check_estimator.py
  conftest.py
  sktime/forecasting/chronos.py
Labels: maintenance

#8660 [BUG] CNTCClassifier throws error when you provide callbacks.
  .all-contributorsrc
  sktime/classification/deep_learning/cntc.py
  sktime/tests/_config.py
Labels: module:classification, bugfix

#7095 &KaustubhUp025 [ENH] implement efficient `_evaluate_by_index` for `GeometricMeanAbsoluteError`
  sktime/performance_metrics/forecasting/_gmae.py
  sktime/performance_metrics/forecasting/tests/test_all_metrics_forecasting.py
Labels: enhancement, module:metrics&benchmarking

#8502 [MNT] Fix `shellcheck` line ending issues on Windows
  .gitattributes
  .pre-commit-config.yaml
  sktime/datasets/data/UnitTest/UnitTest_Tsf_Loader.tsf
Labels: maintenance

#8603 [ENH] Move FCNClassifier test skip rule to estimator tag
  sktime/classification/deep_learning/fcn.py
  sktime/tests/_config.py
Labels: module:classification, enhancement

#8628 [ENH] Allows 1 mismatch in `RotationForest` tests
  .all-contributorsrc
  sktime/classification/sklearn/tests/test_all_classifiers.py
Labels: module:classification, enhancement

#8622 [ENH] tests for `parallelize` backend abstraction utility
  sktime/utils/tests/test_parallelize.py
Labels: module:tests, enhancement, module:base-framework, module:plotting&utilities

#8657 [DOC] Level 2 page-toc
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/conf.py
Labels: documentation

#8582 [ENH] Residual Booster Forecaster
  sktime/forecasting/chronos.py
  sktime/forecasting/residual_booster.py
Labels: module:forecasting, enhancement

#8666 [ENH] Refactor Benchmarking Classes
  CONTRIBUTORS.md
  sktime/benchmarking/benchmarks.py
  sktime/benchmarking/classification.py
  sktime/benchmarking/forecasting.py
Labels: enhancement, module:metrics&benchmarking

#8675 [DOC] add `ResidualBoostingForecaster` to the API reference
  docs/source/api_reference/forecasting.rst
Labels: documentation, module:forecasting

#8680 [MNT] partial revert of #7715 for `test-cython-estimators` job.
  .github/workflows/test.yml
Labels: maintenance

#8679 [ENH] remove `esig` soft dependency and move `esig` based estimators to own test VM
  pyproject.toml
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/tests/_classification_test_reproduction.py
  sktime/tests/_config.py
  sktime/tests/test_softdeps.py
  sktime/transformations/panel/signature_based/_compute.py
  sktime/transformations/panel/signature_based/_signature_method.py
Labels: module:classification, module:transformations, enhancement

#8676 [DOC] Add `ClassificationBenchmark` to API Reference
  docs/source/api_reference/benchmarking.rst
  sktime/benchmarking/benchmarks.py
  sktime/benchmarking/classification.py
  sktime/benchmarking/forecasting.py
Labels: documentation, module:classification

#8418 [ENH] split forecasting tuners module into individual files
  sktime/forecasting/model_selection/__init__.py
  sktime/forecasting/model_selection/_base.py
  sktime/forecasting/model_selection/_gridsearch.py
  sktime/forecasting/model_selection/_optuna.py
  sktime/forecasting/model_selection/_randomsearch.py
  sktime/forecasting/model_selection/_skopt.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/model_selection/tests/test_tune.py
Labels: module:forecasting, enhancement

#8694 [MNT] pre-commit autoupdate
  .pre-commit-config.yaml
Labels: maintenance

#8692 [ENH] Minor statsforecast updates
  sktime/forecasting/statsforecast.py
Labels: module:forecasting

#8608 [ENH] accept str distances in `TimeSeriesDBSCAN`, allow distance parameters
  sktime/clustering/base.py
  sktime/clustering/dbscan.py
Labels: module:clustering, enhancement

#8132 [ENH] Improved changelog generator to sort by subsection
  .all-contributorsrc
  build_tools/changelog.py
Labels: maintenance, enhancement

#8579 [MNT] improved changelog generator: group PRs by module labels like Forecasting and Classification
  build_tools/changelog.py
Labels: maintenance, enhancement

#8718 [MNT] Check versions in wheels workflow
  .github/workflows/wheels.yml
Labels: maintenance

#8701 [ENH] `ForecastingHorizon` based splitter
  docs/source/api_reference/split.rst
  sktime/forecasting/model_evaluation/_functions.py
  sktime/split/__init__.py
  sktime/split/base/_common.py
  sktime/split/fh.py
  sktime/split/temporal_train_test_split.py
  sktime/split/tests/test_temporaltraintest.py
Labels: enhancement, module:splitters&resamplers

#8695 [DOC] minor fixes to documentation
  README.md
  docs/source/api_reference/tags.rst
  sktime/registry/_tags.py
Labels: documentation

#8626 [ENH] Add full exogenous variable support for statsmodels adapter _update() method when update_params=False
  sktime/forecasting/base/adapters/_statsmodels.py
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_sarimax.py
Labels: module:forecasting, bugfix

#8702 [BUG] fix `backend` and `backend_params` in TSC `evaluate` being ignored
  sktime/classification/model_evaluation/_functions.py
Labels: bug, module:classification, module:metrics&benchmarking

#7844 [BUG] Fix failing tests for pytorch forecasting models.
  .all-contributorsrc
  CONTRIBUTORS.md
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, bugfix

#8721 [BUG] remove customized attentionLSTM layer. Replace with keras attention
  sktime/networks/lstmfcn.py
  sktime/networks/lstmfcn_layers.py
Labels: module:classification, enhancement

#8329 [BUG] fix `np.ndarray` incompatibility in `BaseDetector.fit_transform`
  sktime/detection/base/_base.py
Labels: module:detection, bugfix

#8328 [BUG] Fix missing input conversion in `BaseDetector`
  .all-contributorsrc
  sktime/detection/base/_base.py
  sktime/detection/base/tests/__init__.py
  sktime/detection/base/tests/test_base.py
  sktime/detection/lof.py
Labels: module:detection, bugfix

#8738 [BUG] suppressing `dict` while running TTM doctest
  sktime/forecasting/ttm.py
Labels: module:forecasting, bugfix

#8739 [ENH] improve classifier `evaluate` defaults and documentation
  sktime/classification/model_evaluation/_functions.py
  sktime/classification/model_selection/_tune.py
Labels: module:classification, enhancement

#8723 [ENH] in-sample prediction capability for `ARCH` forecaster
  sktime/forecasting/arch/_uarch.py
  sktime/forecasting/tests/test_arch.py
Labels: module:forecasting, enhancement

#8724 Release 0.38.5
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#8744 insta-release for 0.38.5
  .github/workflows/wheels.yml
Labels: maintenance, release

#8654 [DOC] Tutorial notebook for forecasting with exogenous variables
  docs/source/tutorials/forecasting/01_forecasting_univariate_timeseries.ipynb
  docs/source/tutorials/forecasting/03_forecasting_with_exogenous.ipynb
  docs/source/tutorials/forecasting/forecasting_with_exogenous.ipynb
Labels: documentation
