Repository sktime/sktime, pull requests merged in 2025-01, with the labels that each got.

#7585 [ENH] `ClaSPSegmentation` fixes for new detection interface
  sktime/detection/clasp.py
  sktime/tests/_config.py
Labels: module:detection, enhancement

#7584 [ENH] `PyODDetector` fixes for new detector interface
  sktime/detection/adapters/_pyod.py
  sktime/tests/_config.py
Labels: module:detection, enhancement

#7574 [ENH] Expose `evaluate` params to `add_task` of forecasting benchmark
  sktime/benchmarking/forecasting.py
Labels: enhancement, module:metrics&benchmarking

#7558 [ENH] Remove `gluonts dependency` in `gluonts_ListDataset_panel` mtype
  sktime/datatypes/_adapter/gluonts.py
  sktime/datatypes/_adapter/tests/test_gluonts.py
  sktime/datatypes/_panel/_check.py
Labels: module:datatypes, enhancement

#7624 [MNT] `tsfresh` estimators - temporary bound on `scipy`
  sktime/transformations/panel/tsfresh.py
Labels: maintenance, module:transformations

#7535 [ENH] Forecaster imputer for RecursiveReductionForecaster
  .all-contributorsrc
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, enhancement

#7638 [ENH] add `sklearn` compliance to `RotationForest`
  sktime/classification/sklearn/_rotation_forest.py
  sktime/classification/sklearn/tests/test_rotation_forest.py
Labels: module:classification, enhancement

#7615 [ENH] Implement efficient `_evaluate_by_index` for MedianSquaredError
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/_functions.py
Labels: enhancement, module:metrics&benchmarking

#7659 [DOC] minor formatting improvement in `hf_transformers_forecaster`
  sktime/forecasting/hf_transformers_forecaster.py
Labels: documentation, module:forecasting

#7550 [DOC] Update the docstring of sameloc splitter with a proper mathematical description
  sktime/split/sameloc.py
Labels: documentation, module:metrics&benchmarking

#7654 [DOC] AutoREG docstring includes non-existent arguments #7653
  sktime/forecasting/auto_reg.py
Labels: documentation, module:forecasting

#7647 [ENH] Validation split fix issue 7644
  sktime/forecasting/ttm.py
Labels: module:forecasting, enhancement

#7533 [ENH] RAND Index metric for segmentations
  CONTRIBUTORS.md
  sktime/performance_metrics/detection/__init__.py
  sktime/performance_metrics/detection/_randindex.py
Labels: module:detection, enhancement, module:metrics&benchmarking

#7633 [DOC] minor improvements in data loader docs
  sktime/datasets/_single_problem_loaders.py
Labels: documentation, module:datasets&loaders

#7608 [ENH] Forecasting metrics dispatch of `__call__` to `evaluate` vs `evaluate_by_index`
  sktime/performance_metrics/forecasting/_classes.py
  sktime/performance_metrics/forecasting/tests/test_all_metrics_forecasting.py
Labels: API design, module:metrics&benchmarking

#7637 [ENH] forecasting `evaluate`: new `return_model` parameter to return fitted estimator states
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_evaluation/tests/test_evaluate.py
Labels: enhancement, module:metrics&benchmarking

#7673 Fixed [BUG] in #7652 Ensured that `_fit` etc have lower case `y`
  sktime/detection/lof.py
Labels: module:detection, enhancement

#7646 [ENH] allow arbitrary imputation transformers in 2nd generation reducers
  CONTRIBUTORS.md
  sktime/forecasting/compose/_reduce.py
  sktime/transformations/series/lag.py
Labels: module:forecasting, module:transformations, enhancement

#7620 [ENH] MAPA forecaster
  extension_templates/forecasting_simple.py
  sktime/forecasting/mapa.py
  sktime/forecasting/tests/test_mapa.py
Labels: implementing algorithms, module:forecasting, enhancement

#7699 [DOC] Fixed `TablePolarsEager ` rendering issues related to recent merged PR #7666
  sktime/base/_base.py
  sktime/datatypes/_table/_check.py
Labels: documentation, module:datatypes, module:base-framework

#7597 [ENH] Set `context_len` and `horizon_len` per default in `TimesFMForecaster`
  .all-contributorsrc
  sktime/forecasting/timesfm_forecaster.py
Labels: module:forecasting, enhancement

#7706 [BUG] fix use of Imputer in RecursiveReductionForecaster
  CONTRIBUTORS.md
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, bugfix

#7582 [BUG] `AttentionLSTM` - Remove activity regularizers
  sktime/networks/lstmfcn_layers.py
Labels: module:regression, bugfix

#7665 [ENH] improvements to clusterer base class and tests
  sktime/clustering/base.py
  sktime/clustering/tests/test_all_clusterers.py
Labels: module:clustering, enhancement

#7720 [BUG] fixing spurious retrieval of fallback `Normal` distribution
  sktime/registry/_lookup.py
Labels: bugfix, module:base-framework

#7593 [ENH] clusterers: improved checking for `X` in `fit` and `predict` in `capability:out_of_sample = False` case, minor improvements to `predict_proba` default
  sktime/clustering/base.py
  sktime/clustering/dbscan.py
Labels: implementing framework, module:clustering, enhancement

#7705 [DOC] improved formatting and clarity in release manager guide
  docs/source/developer_guide/release.rst
Labels: documentation

#7334 [ENH] create `rbf_forecaster.py` using `RBFTransformer` Neural networks
  CONTRIBUTORS.md
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/rbf_forecaster.py
Labels: module:transformations, enhancement

#7670 [DOC] improvements to git workflow guide, note about avoiding rebase
  docs/source/developer_guide/git_workflow.rst
Labels: documentation

#7722 [DOC] API reference for detection metrics
  docs/source/api_reference/performance_metrics.rst
Labels: documentation, module:detection

#7726 [MNT] temporary skip of `test_st_on_unit_test`
  sktime/transformations/panel/shapelet_transform/tests/test_shapelet_transform.py
Labels: maintenance

#7628 [ENH] windowed F1-score for detection
  sktime/performance_metrics/detection/__init__.py
  sktime/performance_metrics/detection/_f1score.py
Labels: implementing algorithms, module:detection, enhancement, module:metrics&benchmarking

#7709 [DOC] improved docstring for grouped/clustering forecaster compositors
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/compose/_grouped.py
  sktime/forecasting/compose/_transform_select_forecaster.py
Labels: documentation, module:forecasting

#7679 [BUG] fix `all_estimators` lookup in case a tag is used that is not scitype specific
  sktime/registry/_lookup.py
  sktime/registry/tests/test_lookup.py
Labels: bugfix, module:base-framework

#7612 [ENH] window based time series segmentation via clustering : wclust-restored
  .all-contributorsrc
  docs/source/api_reference/detection.rst
  sktime/detection/wclust.py
Labels: implementing algorithms, module:detection, enhancement
