Repository sktime/sktime, pull requests merged in 2025-09, with the labels that each got.

#8763 [BUG] fix bug in `_safe_import` when importing package and `pkg_name` is not `None`
  sktime/utils/dependencies/_safe_import.py
  sktime/utils/dependencies/tests/test_safe_import.py
Labels: bugfix, module:base-framework

#8778 [ENH] fpp3 dataset was updated on CRAN; updated loader to use the latest
  sktime/datasets/_fpp3_loaders.py
Labels: enhancement, module:datasets&loaders

#8782 [BUG] fix `DirectReductionForecaster` failure on newer `pandas`
  sktime/forecasting/compose/_reduce.py
  sktime/transformations/series/lag.py
Labels: module:forecasting, module:transformations, bugfix

#8683 [ENH] TiRex foundation model forecaster
  .all-contributorsrc
  pyproject.toml
  sktime/forecasting/tirex/__init__.py
  sktime/forecasting/tirex/_tirex.py
  sktime/libs/README.md
  sktime/libs/tirex/LICENSE
  sktime/libs/tirex/__init__.py
  sktime/libs/tirex/api_adapter/__init__.py
  sktime/libs/tirex/api_adapter/forecast.py
  sktime/libs/tirex/api_adapter/gluon.py
  sktime/libs/tirex/api_adapter/hf_data.py
  sktime/libs/tirex/api_adapter/standard_adapter.py
  sktime/libs/tirex/base.py
  sktime/libs/tirex/models/__init__.py
  sktime/libs/tirex/models/components.py
  sktime/libs/tirex/models/mixed_stack.py
  sktime/libs/tirex/models/predict_utils.py
  sktime/libs/tirex/models/tirex.py
Labels: module:forecasting, enhancement

#8800 [MNT] python 3.9 end-of-life
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
  .github/workflows/wheels.yml
  README.md
  docs/source/get_started.rst
  docs/source/installation.rst
  pyproject.toml
Labels: maintenance, release

#8795 [DOC] better documentation of time series scitypes, full mathematical documentation of `Hierarchical` and `Table` type
  sktime/datatypes/_hierarchical/_base.py
  sktime/datatypes/_panel/_base.py
  sktime/datatypes/_series/_base.py
  sktime/datatypes/_table/_base.py
Labels: documentation

#8805 [ENH] `sklearn` compatibility - fork `scikit-learn` `_weighted_percentage`
  sktime/performance_metrics/forecasting/_functions.py
  sktime/utils/stats.py
Labels: enhancement, module:metrics&benchmarking

#8733 [ENH] add testing for `PykanForecaster`
  sktime/forecasting/pykan_forecaster.py
Labels: maintenance

#8708 [ENH] Interface Toto foundation model
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/toto.py
Labels: module:forecasting, enhancement

#8786 [ENH] Dataset Loader Class for UCR UEA Datasets
  docs/source/api_reference/datasets.rst
  sktime/datasets/__init__.py
  sktime/datasets/classification/__init__.py
  sktime/datasets/classification/ucr_uea_archive/__init__.py
  sktime/datasets/classification/ucr_uea_archive/_tags.py
  sktime/datasets/classification/ucr_uea_archive/ucr_uea_datasets.py
  sktime/datasets/tsc_dataset_names.py
Labels: enhancement, module:datasets&loaders

#8806 [BUG] fix `predict_var` of `ResidualBoostingForecaster`
  sktime/forecasting/residual_booster.py
Labels: module:forecasting, bugfix

#8812 [MNT] remove more rare / abandoned packages from soft dependency set
  pyproject.toml
  sktime/forecasting/base/adapters/_tbats.py
  sktime/param_est/seasonality.py
Labels: maintenance

#8815 [BUG] fix incorrect paths for `UCRUEADataset`
  docs/source/api_reference/datasets.rst
  sktime/datasets/classification/ucr_uea_archive/__init__.py
  sktime/datasets/classification/ucr_uea_archive/_ucr_uea_datasets.py
Labels: bugfix, module:datasets&loaders

#8799 [ENH] improvements to `check_estimator`
  sktime/tests/test_all_estimators.py
  sktime/utils/estimator_checks.py
Labels: enhancement, module:base-framework

#8819 [BUG] fix `HierarchicalToyData` dataset `n_instances` tag value
  sktime/datasets/forecasting/hierarchical_sales_toydata.py
Labels: bugfix, module:datasets&loaders

#8824 [ENH] relax tests for `TEASER` estimator
  sktime/classification/early_classification/tests/test_teaser.py
Labels: module:classification, enhancement

#8823 [MNT] remove `python<3.13` bound in some dependency sets for `numba`
  pyproject.toml
Labels: maintenance

#8792 [ENH] Update Prophetverse version bounds
  sktime/forecasting/prophetverse.py
Labels: maintenance, module:forecasting, enhancement

#8825 [ENH] test for consistency of placeholder record signatures
  sktime/tests/test_all_estimators.py
Labels: module:tests, enhancement

#8765 [ENH] tags for stochasticity/determinism in estimators and conditional test logic
  docs/source/api_reference/tags.rst
  sktime/base/_base.py
  sktime/classification/deep_learning/base.py
  sktime/classification/dummy/_dummy.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/classification/kernel_based/_svc.py
  sktime/clustering/k_medoids.py
  sktime/clustering/kernel_k_means.py
  sktime/registry/_tags.py
  sktime/regression/deep_learning/base.py
  sktime/regression/kernel_based/_svr_tslearn.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/series/impute.py
Labels: enhancement, module:base-framework

#8829 [MNT] deprecation of `pykalman` fork in `sktime`
  sktime/libs/pykalman/__init__.py
  sktime/transformations/series/kalman_filter/_kalman_filter.py
Labels: maintenance

#8758 [ENH] set default for `capability:categorical_in_X` to `True` for transformation estimators
  CONTRIBUTORS.md
  sktime/classification/dummy/_dummy.py
  sktime/registry/_tags.py
  sktime/transformations/base.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/bootstrap/_tsbootstrap.py
  sktime/transformations/hierarchical/aggregate.py
  sktime/transformations/hierarchical/reconcile/_base.py
  sktime/transformations/panel/catch22.py
  sktime/transformations/panel/catch22wrapper.py
  sktime/transformations/panel/channel_selection.py
  sktime/transformations/panel/dictionary_based/_sfa_fast.py
  sktime/transformations/panel/dwt.py
  sktime/transformations/panel/hog1d.py
  sktime/transformations/panel/matrix_profile.py
  sktime/transformations/panel/padder.py
  sktime/transformations/panel/pca.py
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/tsfresh.py
  sktime/transformations/series/adapt.py
  sktime/transformations/series/adi_cv.py
  sktime/transformations/series/binning.py
  sktime/transformations/series/boxcox.py
  sktime/transformations/series/date.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/detrend/_detrend.py
  sktime/transformations/series/difference.py
  sktime/transformations/series/dummies.py
  sktime/transformations/series/exponent.py
  sktime/transformations/series/func_transform.py
  sktime/transformations/series/holiday/_holidayfeats.py
  sktime/transformations/series/holiday/country_holidays.py
  sktime/transformations/series/holiday/financial_holidays.py
  sktime/transformations/series/impute.py
  sktime/transformations/series/kalman_filter/_simdkalman.py
  sktime/transformations/series/peak.py
  sktime/transformations/series/scaledlogit.py
  sktime/transformations/series/summarize.py
  sktime/transformations/series/time_since.py
  sktime/transformations/series/vmd.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/transformations/tests/test_base.py
  sktime/transformations/tests/test_check_estimator.py
  sktime/utils/sklearn/_tag_adapter.py
Labels: module:transformations, enhancement

#8848 [ENH] update tags for `CombineTransformer`
  sktime/transformations/compose/_arithmetic.py
Labels: module:transformations, enhancement

#8845 [ENH] fixes to tag deprecation logic
  sktime/base/_base.py
  sktime/base/tests/test_tagaliaser.py
Labels: enhancement, module:base-framework

#8846 [ENH] tag deprecation test extension to warn third party developers of deprecated tags
  extension_templates/alignment.py
  extension_templates/classification.py
  extension_templates/detection.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/early_classification.py
  extension_templates/split.py
  sktime/base/_base.py
  sktime/forecasting/greykite.py
  sktime/forecasting/hf_momentfm_forecaster.py
  sktime/forecasting/patch_tst.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/hierarchical/squeeze_hierarchy.py
Labels: enhancement, module:base-framework

#8850 [ENH] remove dead code `TagManager` that was moved to `scikit-base` years ago
  sktime/base/_tagmanager.py
Labels: enhancement, module:base-framework

#8851 [ENH] more tag updates
  sktime/classification/kernel_based/_svc_tslearn.py
  sktime/clustering/k_means/_k_means_tslearn.py
  sktime/clustering/k_shapes.py
  sktime/detection/hmm_learn/base.py
  sktime/distances/tests/test_numba_distances.py
  sktime/forecasting/compose/_skforecast_reduce.py
  sktime/forecasting/statsforecast.py
  sktime/transformations/panel/dictionary_based/_paa.py
  sktime/transformations/panel/dictionary_based/_sax.py
  sktime/transformations/panel/rocket/_rocket.py
  sktime/transformations/panel/slope.py
  sktime/transformations/series/augmenter.py
  sktime/transformations/series/bollinger.py
  sktime/transformations/series/clear_sky.py
  sktime/transformations/series/detrend/mstl.py
  sktime/transformations/series/dobin.py
  sktime/transformations/series/hidalgo.py
  sktime/transformations/series/hurst.py
  sktime/transformations/series/kinematic.py
  sktime/transformations/series/outlier_detection.py
  sktime/transformations/series/theta.py
  sktime/transformations/tests/test_all_transformers.py
Labels: enhancement, module:base-framework

#8751 [ENH] Dataset Class for Monash Forecasting Datasets
  docs/source/api_reference/datasets.rst
  sktime/datasets/__init__.py
  sktime/datasets/forecasting/__init__.py
  sktime/datasets/forecasting/monash/__init__.py
  sktime/datasets/forecasting/monash/_forecasting_data.py
  sktime/datasets/forecasting/monash/_tags.py
  sktime/datasets/tests/test_all_forecasting_datasets.py
Labels: enhancement, module:datasets&loaders

#8854 [DOC] restructure dataset docs
  docs/source/api_reference/datasets.rst
Labels: documentation, module:datasets&loaders

#8802 [ENH] Extend `IxToX` with level selector shorthands and add unit tests
  .all-contributorsrc
  sktime/transformations/compose/_ixtox.py
  sktime/transformations/tests/test_compose.py
Labels: module:transformations, enhancement

#8857 Revert "insta-release for 0.39.0"
  .github/workflows/wheels.yml
Labels: maintenance, release

#8859 [ENH] Fix class name of UCR UEA datasets for docs build
  CONTRIBUTORS.md
  docs/source/api_reference/datasets.rst
Labels: documentation, module:classification

#8860 [BUG] fix `DatasetDownloader` doctest
  sktime/datasets/_dataset_downloader.py
Labels: bugfix, module:datasets&loaders
