Repository sktime/sktime, pull requests merged in 2025-02, with the labels that each got.

#7692 [BUG] fix: add aarch64 installation constraint for temporian
  .all-contributorsrc
  pyproject.toml
Labels: maintenance

#7362 [DOC] add newer patterns to handle multivariate data in tutorial
  .all-contributorsrc
  examples/02_classification.ipynb
Labels: documentation, module:classification

#7606 [ENH] Implement _evaluate_by_index for MdAPE
  .all-contributorsrc
  sktime/performance_metrics/forecasting/_classes.py
Labels: enhancement, module:metrics&benchmarking

#7693 [ENH] Implemented statmodels' `ar_select_order`
  docs/source/api_reference/param_est.rst
  sktime/param_est/lag.py
  sktime/param_est/tests/test_lag.py
Labels: enhancement, module:parameter-estimators

#7734 [BUG] fix expected outputs tests of `ShapeletTransformClassifier` post shapelet transform fix #7499
  sktime/classification/tests/_expected_outputs.py
Labels: module:classification, bugfix

#7733 [BUG] in transformers, do not pass `y` to inner in case of scitype mismatch
  sktime/transformations/base.py
  sktime/transformations/tests/test_base.py
Labels: module:transformations, bugfix

#7651 [BUG] fix bugs in `MACNNClassifier`, `MACNNRegressor`
  sktime/networks/macnn.py
  sktime/tests/_config.py
Labels: module:classification, module:regression, bugfix

#7682 [DOC] update GitHub name of NoaWegerhoff
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/source/changelog.rst
  sktime/transformations/series/kalman_filter.py
  sktime/transformations/series/tests/test_kalman_filter.py
Labels: documentation

#7641 [BUG] Fix typo in example code in documentation requiring double brackets to slice dataframe. DeepAR
  sktime/forecasting/pytorchforecasting.py
Labels: documentation, module:forecasting

#7736 [ENH] data types: early check for python type and host module to improve performance and dependency isolation
  sktime/datatypes/_base/_base.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_table/_check.py
  sktime/utils/dependencies/__init__.py
  sktime/utils/dependencies/_isinstance.py
Labels: module:datatypes, enhancement

#7739 [ENH] refactor `Alignment` and `Proba` datatypes to `scikit-base` records
  sktime/datatypes/_alignment/__init__.py
  sktime/datatypes/_alignment/_base.py
  sktime/datatypes/_alignment/_check.py
  sktime/datatypes/_alignment/_examples.py
  sktime/datatypes/_check.py
  sktime/datatypes/_proba/__init__.py
  sktime/datatypes/_proba/_base.py
  sktime/datatypes/_proba/_check.py
Labels: module:alignment, module:datatypes, enhancement, module:probability&simulation

#7711 Release 0.35.1
  README.md
  docs/source/about/team.rst
  docs/source/changelog.rst
  docs/source/changelog_header_template.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#7741 [MNT] insta-release for 0.35.1
  .github/workflows/wheels.yml
Labels: maintenance, release

#7742 [MNT] raise `scikit-learn` bound to `<1.7.0`
  pyproject.toml
Labels: maintenance, release

#7751 [ENH] `sklearn 1.6.X` compatibility patch
  sktime/transformations/tests/test_pipeline.py
Labels: enhancement

#7760 [MNT] fix some faulty instances of dependency handling
  sktime/forecasting/moirai_forecaster.py
  sktime/forecasting/rbf_forecaster.py
  sktime/libs/uni2ts/moirai_module.py
  sktime/transformations/series/subsequence_extraction.py
Labels: maintenance

#7755 [ENH] `sklearn 1.6.X` compatibility patch, part 2
  sktime/classification/ensemble/_ctsf.py
  sktime/classification/sklearn/_continuous_interval_tree.py
  sktime/classification/sklearn/_rotation_forest.py
  sktime/classification/tests/_expected_outputs.py
  sktime/libs/fracdiff/sklearn/__init__.py
  sktime/libs/fracdiff/sklearn/fracdiff.py
  sktime/performance_metrics/tests/test_performance_metrics_forecasting.py
  sktime/regression/compose/_ensemble.py
Labels: module:classification, module:regression, enhancement

#7750 [ENH] fix minor typos in error messages
  sktime/split/base/_base_splitter.py
  sktime/transformations/base.py
Labels: module:transformations, enhancement, module:splitters&resamplers

#7743 Release 0.36.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
  sktime/classification/early_classification/_probability_threshold.py
  sktime/forecasting/base/_fh.py
  sktime/forecasting/compose/_pipeline.py
  sktime/forecasting/model_selection/__init__.py
  sktime/forecasting/model_selection/_tune.py
  sktime/forecasting/timesfm_forecaster.py
  sktime/transformations/panel/tsfresh.py
Labels: maintenance, release

#7764 Revert "[MNT] insta-release for 0.35.1"
  .github/workflows/wheels.yml
Labels: maintenance

#7789 [MNT] fix failing `TestAllForecasters` test collection due to `pytest` inheritance bug
  sktime/forecasting/tests/test_all_forecasters.py
Labels: module:forecasting, module:tests, bugfix

#7791 [BUG] fix `BaggingForecaster.predict_proba`
  sktime/forecasting/compose/_bagging.py
Labels: module:forecasting, bugfix

#7785 [BUG] fix (str, forecaster, count) parametrization for `EnsembleForecaster`
  sktime/forecasting/compose/_ensemble.py
Labels: module:forecasting, bugfix

#7575 [BUG] Add missing frequencies to `load_forecastingdata`
  sktime/datasets/_readers_writers/tsf.py
  sktime/datasets/tests/test_datadownload.py
Labels: bugfix, module:datasets&loaders

#7640 [BUG] `BaseDetector` - Incorrect docstring and tests for `segments_to_change_points`
  .all-contributorsrc
  sktime/detection/base/_base.py
  sktime/detection/tests/test_base.py
Labels: module:detection, enhancement

#7766 [ENH] private utilities for safe argument passing to function with unknown signature
  sktime/detection/base/_base.py
  sktime/transformations/series/adapt.py
  sktime/utils/adapters/_safe_call.py
  sktime/utils/tests/test_retrieval.py
Labels: enhancement, module:base-framework

#7777 [DOC] minor fixes to data types documentation
  docs/source/api_reference/data_format.rst
  docs/source/glossary.rst
Labels: documentation

#7815 Revert "[ENH] refactor `datatypes` registry to `scikit-base` records"
  sktime/datatypes/__init__.py
  sktime/datatypes/_alignment/__init__.py
  sktime/datatypes/_alignment/_check.py
  sktime/datatypes/_alignment/_registry.py
  sktime/datatypes/_check.py
  sktime/datatypes/_hierarchical/__init__.py
  sktime/datatypes/_hierarchical/_check.py
  sktime/datatypes/_hierarchical/_convert.py
  sktime/datatypes/_hierarchical/_registry.py
  sktime/datatypes/_panel/__init__.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_panel/_registry.py
  sktime/datatypes/_proba/__init__.py
  sktime/datatypes/_proba/_check.py
  sktime/datatypes/_proba/_convert.py
  sktime/datatypes/_proba/_registry.py
  sktime/datatypes/_registry.py
  sktime/datatypes/_series/__init__.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/_series/_registry.py
  sktime/datatypes/_table/__init__.py
  sktime/datatypes/_table/_check.py
  sktime/datatypes/_table/_convert.py
  sktime/datatypes/_table/_registry.py
  sktime/datatypes/tests/test_lookup.py
Labels: module:datatypes, enhancement

#7832 [BUG] fix `statsmodels` adapter variable name for `pd.Series`
  sktime/forecasting/base/adapters/_statsmodels.py
Labels: module:forecasting, bugfix

#7814 [ENH] param sets for `MiniRocket`
  sktime/tests/_config.py
  sktime/transformations/panel/rocket/_minirocket.py
Labels: module:transformations, enhancement

#7842 &yarnabrina [DOC] fix link to developer guide in new contributor instructions
  docs/source/get_involved/contributing.rst
Labels: documentation

#7622 [MNT] Test case to ensure an AssertionError is thrown if EXCLUDED_TESTS_BY_TEST is not updated
  sktime/tests/_config.py
  sktime/tests/tests/test_test_utils.py
Labels: module:tests, enhancement

#7702 [ENH] utils for programmatic soft dependency isolation
  sktime/utils/dependencies/__init__.py
  sktime/utils/dependencies/_safe_import.py
Labels: enhancement, module:base-framework, module:plotting&utilities

#7762 [BUG] conversion `Series`-`pd.DataFrame` to `Series`-`pd.Series` now retains original column name as attr name in `pd.Series`
  CONTRIBUTORS.md
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/tests/test_convert_bugfixes.py
  sktime/forecasting/exp_smoothing.py
Labels: module:datatypes, bugfix

#7821 [BUG] fix unpack error from `check_align` in `datatypes.alignment`
  sktime/datatypes/_alignment/_check.py
Labels: bug, module:alignment, module:datatypes

#7878 [BUG] test_get_test_params_coverage throws an error when all tests are triggered
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/tests/_config.py
Labels: module:forecasting, enhancement

#7826 [MNT] Avoid skipping of unit tests of several forecasters
  pyproject.toml
  sktime/tests/_config.py
Labels: maintenance

#7835 [DOC] update enbpi docstrings
  sktime/forecasting/enbpi.py
Labels: documentation, module:forecasting

#7882 [ENH] fix `test_excluded_tests_by_test` for `HFTransformersForecaster`
  sktime/tests/_config.py
Labels: module:forecasting, module:tests, enhancement

#7836 [BUG] fix sporadic out-of-bounds error in `ProximityStump` and WDTW
  sktime/distances/_wdtw_numba.py
Labels: module:classification, module:distances&kernels, bugfix

#7813 [ENH] added test parameters to `Rocket` estimator
  sktime/tests/_config.py
  sktime/transformations/panel/rocket/_rocket.py
Labels: module:transformations, enhancement

#7740 [ENH] Creating template for performance metrics for detection
  extension_templates/metric_detection.py
Labels: documentation, module:detection
