Repository sktime/sktime, pull requests merged in 2025-03, with the labels that each got.

#7904 [ENH] improve condition and error message in `test_excluded_tests_by_test`
  sktime/tests/tests/test_test_utils.py
Labels: module:tests, enhancement

#5055 [ENH] Extend benchmarking to accept sktime-in-memory data formats
  sktime/benchmarking/forecasting.py
  sktime/benchmarking/tests/test_forecasting.py
Labels: enhancement, module:metrics&benchmarking

#7911 [DOC] fixing examples link
  examples/transformation/fracdiff/example_prado.ipynb
Labels: documentation

#7912 [ENH] minor linting fix in `tests._config`
  sktime/tests/_config.py
Labels: enhancement

#7850 [ENH] benchmarking: make write to `csv` file optional
  sktime/benchmarking/_lib_mini_kotsu/run.py
  sktime/benchmarking/benchmarks.py
Labels: enhancement, module:metrics&benchmarking

#7903 [BUG] Fix infinite recursion in `_SuppressWarningPattern` and `LossySetitemError` in `SummaryTransformer`
  sktime/transformations/series/summarize.py
  sktime/transformations/series/tests/test_summarize.py
  sktime/utils/tests/test_warnings.py
  sktime/utils/warnings.py
Labels: module:transformations, bugfix, module:base-framework

#7932 [BUG] fix parameter estimator missing univariate scenario and masked bugs
  sktime/param_est/base.py
  sktime/param_est/compose/_func_fitter.py
  sktime/param_est/lag.py
  sktime/param_est/seasonality.py
  sktime/param_est/stationarity/_arch.py
  sktime/param_est/stationarity/_statsmodels.py
  sktime/utils/_testing/scenarios_param_est.py
Labels: bugfix, module:parameter-estimators

#7737 [ENH] Extended parameter estimator base class with y in `fit`
  sktime/param_est/base.py
  sktime/param_est/lag.py
  sktime/registry/_tags.py
  sktime/utils/_testing/scenarios_param_est.py
Labels: enhancement, module:parameter-estimators

#7922 [BUG] skip `RocketClassifier` expected output test until resolved
  sktime/tests/_config.py
Labels: bug, module:classification

#7927 [BUG] Fix RecursiveReductionForecaster failing test_hierarchical_with_exogeneous
  sktime/forecasting/compose/_reduce.py
  sktime/utils/multiindex.py
Labels: bug, module:forecasting, bugfix

#7754 [ENH] `ADIDA` intermittency forecaster from `statsforecast`
  docs/source/api_reference/forecasting.rst
  sktime/forecasting/statsforecast.py
Labels: interfacing algorithms, module:forecasting, enhancement

#7910 [BUG] safer context manager for `pandas 2.2` warning suppression
  sktime/forecasting/base/_fh.py
  sktime/utils/datetime.py
  sktime/utils/warnings.py
Labels: bugfix, module:base-framework

#7884 [DOC] `FCNClassifier` - add Wang et al reference
  sktime/classification/deep_learning/fcn.py
  sktime/classification/deep_learning/mlp.py
  sktime/classification/deep_learning/resnet.py
  sktime/regression/deep_learning/mlp.py
  sktime/regression/deep_learning/resnet.py
Labels: documentation, module:classification

#7923 [ENH] trigger differential tests if core framework modules change
  sktime/tests/test_switch.py
  sktime/tests/tests/test_test_utils.py
Labels: module:tests, enhancement

#7952 [ENH] test parameter estimator `update` in suite tests
  sktime/param_est/base.py
  sktime/param_est/tests/test_all_param_est.py
Labels: enhancement, module:parameter-estimators

#7925 [BUG] hack-fix for round trip conversions of `pandas` time series
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/tests/test_convert_bugfixes.py
Labels: module:forecasting, bugfix

#7684 [DOC] added docstring to the `HierarchicalDask` class
  sktime/datatypes/_hierarchical/_check.py
Labels: documentation, module:datatypes

#7823 [DOC] clarify assumptions on function `fun` in `utils.parallel.parallelize`
  sktime/utils/parallel.py
Labels: documentation, module:plotting&utilities

#7956 [DOC] minor typo fix in `add_estimators.rst`
  docs/source/developer_guide/add_estimators.rst
Labels: documentation

#7955 [ENH] remove `numpy 2` dependency handler from `BaseObject`
  sktime/base/_base.py
  sktime/forecasting/base/adapters/_pmdarima.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/registry/tests/test_craft.py
Labels: enhancement, module:base-framework

#7960 [MNT] temporary skip of `MCDCNNClassifier` failing tests
  sktime/tests/_config.py
Labels: maintenance, module:classification

#7795 [DOC] Added example for 'AlignerNaive' and 'AlignerLuckyDtw'
  .all-contributorsrc
  sktime/alignment/lucky.py
  sktime/alignment/naive.py
Labels: documentation, module:alignment

#7989 [MNT] remove `tj-actions`
  .github/workflows/test.yml
Labels: maintenance

#7990 [MNT] move release to trusted publishers
  .github/workflows/test.yml
  .github/workflows/wheels.yml
Labels: maintenance

#7986 [MNT] temporary skip of `VARMAX` tests due to timeout
  sktime/tests/_config.py
Labels: maintenance, module:forecasting

#7987 [DOC] minor linting improvement
  sktime/forecasting/model_evaluation/_functions.py
Labels: documentation

#7782 [ENH] add clusterer use to `GroupByCategoryForecaster` and docstrings
  sktime/forecasting/compose/_grouped.py
  sktime/forecasting/compose/_transform_select_forecaster.py
Labels: module:forecasting, enhancement

#6885 [MNT] isolate `pykan` imports inside estimator
  sktime/forecasting/pykan_forecaster.py
Labels: maintenance

#7899 [ENH] speed up forecasting `evaluate` benchmark input checks
  sktime/forecasting/model_evaluation/_functions.py
Labels: module:forecasting, enhancement, module:metrics&benchmarking

#7898 [DOC] extension templates improvements
  extension_templates/alignment.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/detection.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/forecasting_supersimple.py
  extension_templates/metric_detection.py
  extension_templates/param_est.py
  extension_templates/split.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  extension_templates/transformer_supersimple.py
Labels: documentation

#7981 [ENH] in tests, handle soft dependency in `BaseForecaster.predict_proba` on `skpro`
  sktime/forecasting/base/_base.py
  sktime/tests/test_all_estimators.py
Labels: module:forecasting, module:tests, bugfix

#7972 [BUG] `TimeSeriesKVisibility` - fix missing `python_dependencies` tag
  sktime/clustering/kvisibility.py
Labels: module:clustering, bugfix

#7977 [BUG] fix broken clustering tests in `TestAllClusterers`
  sktime/clustering/tests/test_all_clusterers.py
Labels: module:clustering, bugfix

#7983 [BUG] ensure `statsforecast` adapter keeps track of trained forecaster
  sktime/forecasting/base/adapters/_generalised_statsforecast.py
  sktime/forecasting/tests/test_statsforecast.py
Labels: module:forecasting, bugfix

#7998 [MNT] temporary skip of `pytorch-forecasting` tests until resolution of #7997
  sktime/tests/_config.py
Labels: bug, maintenance

#5854 [ENH] repeater bootstrap
  docs/source/api_reference/transformations.rst
  sktime/transformations/bootstrap/__init__.py
  sktime/transformations/bootstrap/_repeat.py
Labels: implementing algorithms, module:transformations, enhancement

#7992 [BUG] Fix `HierarchyEnsembleForecaster` test failure
  sktime/forecasting/compose/_hierarchy_ensemble.py
Labels: module:forecasting, bugfix

#7984 [BUG] fix `_HeterogenousEnsembleForecaster` parameter inspection
  sktime/base/_meta.py
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_hierarchy_ensemble.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/online_learning/_online_ensemble.py
Labels: bugfix, module:base-framework

#7971 [BUG] Testing util retrieve_scenarios should select scenarios for forecasters, clusterers, and classifiers
  .all-contributorsrc
  sktime/forecasting/base/_base.py
  sktime/utils/_testing/scenarios_classification.py
  sktime/utils/_testing/scenarios_clustering.py
  sktime/utils/_testing/scenarios_forecasting.py
Labels: module:tests, bugfix

#7588 [BUG] Data loader functions for datasets to return `y` with numeric `dtype`
  .all-contributorsrc
  sktime/datasets/_data_io.py
  sktime/datasets/_readers_writers/ts.py
  sktime/datasets/_single_problem_loaders.py
Labels: enhancement, module:datasets&loaders

#7996 [MNT] Updating pre-commit hooks and running all hooks on all files
  .pre-commit-config.yaml
  build_tools/changelog.py
  docs/source/conf.py
  sktime/base/_meta.py
  sktime/benchmarking/data.py
  sktime/benchmarking/experiments.py
  sktime/benchmarking/orchestration.py
  sktime/benchmarking/tests/test_forecasting.py
  sktime/classification/deep_learning/_pytorch.py
  sktime/clustering/metrics/averaging/_averaging.py
  sktime/clustering/utils/toy_data_generation/_make_moving_blobs.py
  sktime/datasets/_readers_writers/ts.py
  sktime/datasets/_readers_writers/utils.py
  sktime/datasets/tests/test_data_io.py
  sktime/datasets/tests/test_datadownload.py
  sktime/datasets/tests/test_readers_writers.py
  sktime/datatypes/_check.py
  sktime/datatypes/_convert_utils/_coerce.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/tests/test_check.py
  sktime/datatypes/tests/test_lookup.py
  sktime/datatypes/tests/test_vectorize.py
  sktime/detection/ggs.py
  sktime/distances/_lower_bounding_numba.py
  sktime/distances/tests/test_lower_bounding.py
  sktime/dists_kernels/tests/test_all_dist_kernels.py
  sktime/forecasting/chronos.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/squaring_residuals.py
  sktime/forecasting/timesfm_forecaster.py
  sktime/forecasting/ttm.py
  sktime/libs/chronos/chronos.py
  sktime/libs/pykalman/sqrt/unscented.py
  sktime/libs/pykalman/unscented.py
  sktime/libs/timesfm/timesfm.py
  sktime/libs/uni2ts/forecast.py
  sktime/libs/uni2ts/module/position/attn_projection.py
  sktime/registry/_lookup.py
  sktime/registry/tests/test_lookup.py
  sktime/regression/compose/_ensemble.py
  sktime/split/base/tests/test_base.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/panel/reduce.py
  sktime/transformations/panel/segment.py
  sktime/transformations/panel/shapelet_transform/_shapelet_transform.py
  sktime/transformations/series/binning.py
  sktime/transformations/series/detrend/_deseasonalize.py
  sktime/transformations/series/difference.py
  sktime/transformations/series/filter.py
  sktime/transformations/series/peak.py
  sktime/transformations/series/tests/test_adi_cv.py
  sktime/utils/_testing/tests/test_testscenario_getter.py
  sktime/utils/mlflow_sktime.py
  sktime/utils/tests/test_plotting.py
  sktime/utils/validation/__init__.py
  sktime/utils/validation/forecasting.py
  sktime/utils/validation/panel.py
Labels: maintenance

#7718 [ENH] Implement support for `chronos-bolt` in `ChronosForecaster`
  sktime/forecasting/chronos.py
  sktime/libs/chronos/__init__.py
  sktime/libs/chronos/chronos_bolt.py
Labels: interfacing algorithms, module:forecasting, enhancement, hugging face

#8004 [ENH] add some missing differential test skips
  sktime/base/_panel/forest/tests/test_feature_importances_.py
  sktime/base/_panel/forest/tests/test_tsf.py
  sktime/classification/compose/tests/test_pipeline.py
  sktime/forecasting/compose/tests/test_multiplex.py
Labels: module:tests, enhancement

#8020 [BUG] fix `_HeterogenousMetaForecaster` handling of `forecasters_`
  sktime/forecasting/base/_meta.py
  sktime/forecasting/compose/_ensemble.py
  sktime/forecasting/compose/_stack.py
  sktime/forecasting/online_learning/_online_ensemble.py
Labels: module:forecasting, bugfix

#7954 [ENH] `HierarchyEnsembleForecaster` parallelization backends
  .all-contributorsrc
  sktime/forecasting/compose/_hierarchy_ensemble.py
  sktime/forecasting/compose/tests/test_hierarchy_ensemble.py
Labels: module:forecasting, enhancement

#7770 [ENH] improve methodology test coverage for `DirectReductionForecaster` and `RecursiveReductionForecaster`
  sktime/forecasting/compose/_reduce.py
  sktime/forecasting/compose/tests/test_reduce.py
Labels: module:forecasting, enhancement

#7943 [ENH] extend `_check_soft_dependencies` to allow dependency disjunctions
  CONTRIBUTORS.md
  sktime/forecasting/base/adapters/_darts.py
  sktime/utils/dependencies/_dependencies.py
  sktime/utils/dependencies/tests/__init__.py
  sktime/utils/dependencies/tests/test_dependencies.py
Labels: enhancement, module:base-framework

#8024 [MNT] temporary skip of `STDBSCAN` clusterer
  sktime/tests/_config.py
Labels: maintenance, module:clustering

#8022 [DOC] improved API reference for `python_dependencies` tag
  sktime/registry/_tags.py
Labels: documentation, module:base-framework

#8025 [BUG] fix `_check_estimator_deps` in disjunction case
  sktime/tests/test_switch.py
  sktime/utils/dependencies/_dependencies.py
Labels: bugfix, module:base-framework

#7978 [DOC] fix `RotationForest` docstring example
  sktime/classification/sklearn/_rotation_forest.py
Labels: module:classification, bugfix

#7919 [ENH] address `numpy` array assignment deprecation
  sktime/forecasting/compose/_reduce.py
Labels: enhancement

#7847 [MNT] For `TSFreshFeatureExtractor` remove upper bound of `scipy` set lower for `tsfresh`
  sktime/transformations/panel/tsfresh.py
Labels: maintenance, module:transformations

#7980 [BUG] Use delegatedforecaster in Hierarchical prophet, and add upper bound to Prophetverse version
  sktime/forecasting/prophetverse.py
Labels: module:forecasting, bugfix

#8037 [BUG] fix `Series`-to-`Primitives` transformer output index for hierarchical data
  sktime/transformations/base.py
  sktime/transformations/tests/test_base.py
Labels: module:transformations, bugfix

#8028 [BUG] Fix failing tests for SklearnClustererPipeline, TimeSeriesDBSCAN, ClustererPipeline
  sktime/clustering/base.py
  sktime/clustering/tests/test_all_clusterers.py
Labels: module:clustering, bugfix

#8013 [BUG] Handle hierarchical mtype in ClustererAsTransformer
  sktime/clustering/compose/_as_transform.py
Labels: module:transformations, bugfix

#8047 [ENH] `check_estimator` verbose output on passed and failed tests if `raise_exceptions=True`
  sktime/tests/test_all_estimators.py
  sktime/utils/estimator_checks.py
Labels: module:tests, enhancement

#8029 [ENH] Use valid covariance matrices in Kalman filter unit tests
  sktime/transformations/series/tests/test_kalman_filter.py
Labels: module:transformations, enhancement

#8054 [MNT] lint `test_kalman_filter`
  sktime/transformations/series/tests/test_kalman_filter.py
Labels: maintenance, module:transformations

#8044 [DOC] fix `FCNClassifier` docstring
  .all-contributorsrc
  sktime/classification/deep_learning/fcn.py
Labels: documentation, module:classification

#8053 [BUG] Hierarchical data passed to `ClustererAsTransformer` fails
  sktime/clustering/compose/_as_transform.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: module:clustering, module:transformations, bugfix

#7872 [BUG] MAPA forecaster - missing clone, using exogenous data
  sktime/forecasting/mapa.py
Labels: module:forecasting, bugfix

#8069 [BUG] fix expected output length tests for hierarchical transformations
  sktime/transformations/tests/test_base.py
Labels: module:transformations, bugfix

#8066 [ENH] move Kalman filter transformers into folder module
  sktime/transformations/series/kalman_filter/__init__.py
  sktime/transformations/series/kalman_filter/_kalman_filter.py
Labels: module:transformations, enhancement

#8050 [DOC] fix a few broken glossary refs
  sktime/registry/_tags.py
Labels: documentation

#8023 [ENH] handle `BaseForecaster.predict_proba` `skpro` dependency in `TestAllEstimators`
  sktime/tests/test_all_estimators.py
Labels: module:tests, enhancement

#7866 [ENH] address some `pandas` deprecation warnings
  docs/source/changelog.rst
  sktime/performance_metrics/detection/_randindex.py
  sktime/transformations/series/outlier_detection.py
Labels: enhancement

#7783 [MNT] increase `pytorch-forecasting` bound
  pyproject.toml
Labels: maintenance

#7556 [ENH] reducer - minor code clarity refactor
  sktime/forecasting/compose/_reduce.py
Labels: module:forecasting, enhancement

#7991 [ENH] Relax Panel-To-Panel transformations to allow changing the number of instances
  sktime/tests/_config.py
  sktime/transformations/tests/test_all_transformers.py
  sktime/transformations/tests/test_check_estimator.py
Labels: module:transformations, module:tests, enhancement

#8078 [MNT] temporary skip for `DistanceFeatures` until fix of known failures
  sktime/tests/_config.py
Labels: maintenance, module:distances&kernels

#8079 [MNT] temporary skip for `TimeSeriesKvisibility` until fix of known failures
  sktime/tests/_config.py
Labels: maintenance, module:clustering

#8076 [ENH] catch `test_fit_idempotent` `predict_proba` soft dependency error
  sktime/tests/test_all_estimators.py
Labels: module:forecasting, module:tests, enhancement

#8080 [BUG] catch `test_fit_idempotent` `predict_proba` soft dependency error - secondary fix
  sktime/tests/test_all_estimators.py
Labels: module:forecasting, module:tests, bugfix

#8057 [BUG] Fix serialization errors in tests of `MACNNClassifier`
  sktime/networks/macnn.py
Labels: bug, module:classification

#8074 [ENH] coerce scalar forecasting metric outputs to `float`
  sktime/performance_metrics/forecasting/_coerce.py
Labels: enhancement, module:metrics&benchmarking

#8081 [MNT] Temporarily remove RecursiveReductionForecaster from unit tests
  sktime/tests/_config.py
Labels: maintenance, module:forecasting

#7914 [BUG] fix timestamp format change in fh.to_absolute
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
Labels: module:forecasting, bugfix

#8085 [MNT] skip early classifier `TEASER` in `test_multiprocessing_idempotent`
  sktime/tests/_config.py
Labels: maintenance, module:classification

#8086 [MNT] skip `test_transformation_can_return_new_instances` until resolution of #8084
  sktime/transformations/tests/test_check_estimator.py
Labels: maintenance

#8088 Revert "[BUG] fix timestamp format change in fh.to_absolute"
  sktime/forecasting/base/_fh.py
  sktime/forecasting/base/tests/test_fh.py
Labels: maintenance, module:forecasting

#8067 [ENH] move naive forecasters to separate folder
  sktime/forecasting/naive/__init__.py
  sktime/forecasting/naive/_naive.py
Labels: module:forecasting, enhancement

#8092 [BUG] Make _TransformChangeNInstances capable of handling hierarchical test scenarios
  sktime/transformations/tests/test_check_estimator.py
Labels: module:transformations, bugfix

#8094 &LorchZachery [BUG] Fix VMD odd length data returns even length decomposition
  .all-contributorsrc
  sktime/libs/vmdpy/vmdpy.py
  sktime/transformations/series/tests/test_vmd.py
  sktime/transformations/series/vmd.py
Labels: enhancement, lib:vmdpy
