Repository sktime/sktime, pull requests merged in 2025-10, with the labels that each got.

#8873 [BUG] Fix `SubLOF` mutating input `DataFrame` in `_predict`
  CONTRIBUTORS.md
  sktime/detection/lof.py
  sktime/detection/tests/test_lof.py
Labels: module:detection, bugfix

#8891 [ENH] only run `test_load_fpp3_public` when `rdata` is installed
  sktime/datasets/tests/test_datadownload.py
Labels: enhancement, module:datasets&loaders

#8908 [MNT] in tests, set `matplotlib` silent backend and print python deps
  .github/actions/test-component/action.yml
  .github/workflows/test.yml
  .github/workflows/test_datasets.yml
Labels: maintenance

#8880 [BUG] in `CNNClassifier` and `CNNRegressor`, fix hidden layer activation function parameter passing
  .all-contributorsrc
  sktime/classification/deep_learning/cnn.py
  sktime/regression/deep_learning/cnn.py
  sktime/tests/_config.py
Labels: module:classification, module:regression, bugfix

#8911 [ENH] ReducerTransform second test parameter set
  sktime/tests/_config.py
  sktime/transformations/series/lag.py
Labels: module:transformations, enhancement

#8922 [ENH] `BOSSEnsemble` second set of test parameters
  sktime/classification/dictionary_based/_boss.py
  sktime/tests/_config.py
Labels: module:classification, enhancement

#8899 [DOC] Fix code / doc mismatches in regards to `activation` for `TapNetRegressor`, `CNTCNetwork`, and `MACNNRegressor`
  sktime/networks/cntc.py
  sktime/regression/deep_learning/macnn.py
  sktime/regression/deep_learning/tapnet.py
Labels: documentation, module:regression
