Repository sktime/sktime, pull requests merged in 2025-06, with the labels that each got.

#7562 [ENH] Enable `EnbPIForecaster` to work with `sktime` native bootstrap algorithms
  docs/source/api_reference/tags.rst
  sktime/forecasting/enbpi.py
  sktime/registry/_tags.py
  sktime/transformations/bootstrap/_mbb.py
  sktime/transformations/bootstrap/_tsbootstrap.py
Labels: module:forecasting, module:transformations

#8319 [ENH] move `run_doctest` to `scikit-base`
  sktime/tests/test_all_estimators.py
  sktime/tests/test_doctest.py
  sktime/utils/_testing/doctest.py
Labels: module:tests, enhancement

#8317 [DOC] add missing imports in `fracdiff` docstrings
  sktime/libs/fracdiff/__init__.py
  sktime/libs/fracdiff/sklearn/tol.py
Labels: documentation, lib:fracdiff

#8255 [ENH] SkforecastRecursive - support in-sample predict_quantiles
  sktime/forecasting/compose/_skforecast_reduce.py
  sktime/forecasting/compose/tests/test_skforecast_reduce.py
Labels: module:forecasting, enhancement

#8339 [DOC] mathematical formulae for MASE and MedASE
  sktime/performance_metrics/forecasting/_mase.py
  sktime/performance_metrics/forecasting/_medase.py
Labels: documentation, module:metrics&benchmarking

#6888 [ENH] TSC and TSR tuning - Evaluate
  sktime/classification/model_evaluation/__init__.py
  sktime/classification/model_evaluation/_functions.py
  sktime/classification/model_evaluation/tests/__init__.py
  sktime/classification/model_evaluation/tests/test_evaluate.py
  sktime/utils/multiindex.py
Labels: module:classification, module:regression, enhancement, module:metrics&benchmarking

#8267 [ENH] `evaluate` for TSC and TSR
  sktime/classification/model_evaluation/_functions.py
  sktime/classification/model_evaluation/tests/test_evaluate.py
Labels: enhancement, module:metrics&benchmarking

#8358 [BUG] Fix Aggregator inverse_transform being skipped
  sktime/transformations/hierarchical/aggregate.py
  sktime/transformations/hierarchical/tests/test_aggregate.py
Labels: module:transformations, bugfix

#8372 [BUG] Fix boundary equality in `EmpiricalCoverage`
  sktime/performance_metrics/forecasting/probabilistic/_classes.py
  sktime/performance_metrics/forecasting/probabilistic/tests/test_probabilistic_metrics.py
Labels: bug, bugfix, module:metrics&benchmarking

#8306 [BUG] Fix `"kkwargs"` typo in `ForecastingBenchmark`
  sktime/benchmarking/benchmarks.py
Labels: enhancement

#8263 [ENH] `momentfm` classifier
  docs/source/api_reference/classification.rst
  sktime/classification/foundation_models/__init__.py
  sktime/classification/foundation_models/momentfm.py
  sktime/tests/_config.py
Labels: module:classification, enhancement

#8410 [DOC] fix `KNeighborsTimeSeriesClassifierTslearn` docstring
  sktime/classification/distance_based/_time_series_neighbors_pyts.py
Labels: documentation, module:classification

#8000 [ENH] refactor test flag logic to `tests._config`
  conftest.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/tests/test_doctest.py
  sktime/tests/test_switch.py
  sktime/tests/tests/test_test_utils.py
Labels: module:tests, enhancement

#8389 [DOC] Fix citation formatting in lower_bounding.py to resolve doc warnings #1
  sktime/distances/lower_bounding.py
Labels: documentation, module:distances&kernels

#8416 [ENH] Use `sktime` Provided Dataset in `TSC` Dataset Loaders
  sktime/datasets/_single_problem_loaders.py
Labels: enhancement, module:datasets&loaders

#8401 [ENH] avoid all-tags retrieval, add package name to tag aliaser
  sktime/base/_base.py
  sktime/forecasting/base/tests/test_base.py
  sktime/forecasting/compose/_transform_select_forecaster.py
  sktime/forecasting/enbpi.py
  sktime/param_est/plugin/_forecaster.py
  sktime/param_est/plugin/_transformer.py
  sktime/registry/_lookup.py
  sktime/tests/test_softdeps.py
  sktime/transformations/base.py
  sktime/transformations/tests/test_compose.py
Labels: enhancement, module:base-framework

#8420 [ENH] faster `MovingBlockBootstrapTransformer` tests, improved docstring
  sktime/forecasting/compose/_bagging.py
  sktime/transformations/bootstrap/_mbb.py
Labels: module:transformations, enhancement

#8419 [DOC] fix `MomentFMClassifier` docstring example
  sktime/classification/foundation_models/momentfm.py
Labels: documentation, module:classification

#8421 [ENH] remove some unstable and long running estimators from the core testing set
  sktime/forecasting/compose/_bagging.py
  sktime/forecasting/naive/_naive.py
  sktime/transformations/panel/tsfresh.py
Labels: module:tests, enhancement

#8395 [ENH] Fix MLflow 3.0 compatibility while maintaining 2.x support
  .github/workflows/test.yml
  pyproject.toml
  sktime/utils/tests/test_mlflow_sktime_model_export.py
Labels: maintenance

#8270 [BUG] fix `RotationForest` for a custom `base_estimator`
  sktime/classification/sklearn/_rotation_forest.py
  sktime/classification/sklearn/tests/test_all_classifiers.py
Labels: module:classification, bugfix

#8423 [MNT] revert `joblib` bound to `joblib<1.6`
  pyproject.toml
Labels: maintenance

#8425 [MNT] insta-release for 0.37.1
  .github/workflows/wheels.yml
Labels: maintenance, release

#8231 [ENH] change forecaster default tag value of `capability:categorical_in_X` to `True` to enable composition case
  sktime/forecasting/base/_base.py
Labels: module:forecasting, enhancement

#8285 [BUG] reindex features in `TSFreshClassifier.predict_proba` to match training columns
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/classification/feature_based/tests/__init__.py
  sktime/classification/feature_based/tests/test_tsfresh_classifier.py
Labels: module:classification, bugfix

#8430 [BUG] fix `_check_soft_dependencies` error message if version is wrong
  sktime/utils/dependencies/_dependencies.py
Labels: bugfix, module:base-framework

#8432 [BUG] fix sphinx changelog link generation and panel overview
  docs/source/conf.py
Labels: documentation, bugfix

#8424 [MNT] increase `joblib` bound to `joblib<1.7`
  pyproject.toml
Labels: maintenance, release

#8442 [MNT] revert documentation PR 8385
  docs/source/conf.py
Labels: documentation, maintenance

#8447 [MNT] add `scipy<1.16` bounds to incompatible estimators
  sktime/datasets/forecasting/macroeconomic.py
  sktime/forecasting/base/adapters/_tbats.py
  sktime/param_est/seasonality.py
Labels: maintenance

#8449 Release 0.38.0
  README.md
  docs/source/changelog.rst
  pyproject.toml
  sktime/__init__.py
Labels: maintenance, release

#8451 [MNT] insta-release for 0.38.0
  .github/workflows/wheels.yml
Labels: maintenance, release

#8464 Revert "[MNT] insta-release for 0.38.1"
  .github/workflows/wheels.yml
Labels: maintenance, release

#7695 [MNT] CI: Add ubuntu-22.04-arm runners to enhance arm aarch64 architecture testing and maintenance
  .github/workflows/test.yml
  .github/workflows/test_all.yml
  .github/workflows/test_base.yml
  .github/workflows/test_datasets.yml
  .github/workflows/test_module.yml
  .github/workflows/test_other.yml
Labels: maintenance
