Repository sktime/sktime, pull requests merged in 2025-05, with the labels that each got.

#8178 [FIX] Doc link fix
  docs/source/Makefile
  docs/source/about/artwork.rst
  docs/source/api_reference/benchmarking.rst
  docs/source/api_reference/classification.rst
  docs/source/api_reference/clustering.rst
  docs/source/api_reference/data_format.rst
  docs/source/api_reference/datasets.rst
  docs/source/api_reference/detection.rst
  docs/source/api_reference/dists_kernels.rst
  docs/source/api_reference/forecasting.rst
  docs/source/api_reference/performance_metrics.rst
  docs/source/api_reference/pipeline.rst
  docs/source/api_reference/regression.rst
  docs/source/api_reference/split.rst
  docs/source/api_reference/tags.rst
  docs/source/api_reference/transformations.rst
  docs/source/conf.py
  docs/source/estimator_overview.md
  docs/source/examples.rst
  docs/source/get_involved/contributing.rst
  sktime/performance_metrics/detection/__init__.py
  sktime/utils/_estimator_html_repr.py
  sktime/utils/tests/test_estimator_html_repr.py
Labels: documentation, module:base-framework

#6570 [ENH] interfacing `momentfm` forecaster as a deep learning module
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/hf_momentfm_forecaster.py
  sktime/libs/README.md
  sktime/libs/momentfm/README.md
  sktime/libs/momentfm/__init__.py
  sktime/libs/momentfm/common.py
  sktime/libs/momentfm/data/__init__.py
  sktime/libs/momentfm/data/base.py
  sktime/libs/momentfm/models/__init__.py
  sktime/libs/momentfm/models/layers/__init__.py
  sktime/libs/momentfm/models/layers/embed.py
  sktime/libs/momentfm/models/layers/revin.py
  sktime/libs/momentfm/models/moment.py
  sktime/libs/momentfm/utils/__init__.py
  sktime/libs/momentfm/utils/anomaly_detection_metrics.py
  sktime/libs/momentfm/utils/data.py
  sktime/libs/momentfm/utils/forecasting_metrics.py
  sktime/libs/momentfm/utils/masking.py
  sktime/libs/momentfm/utils/utils.py
  sktime/tests/_config.py
Labels: interfacing algorithms, module:forecasting, enhancement

#8236 [BUG] make ForecastKnownValues multiindex-ready
  .all-contributorsrc
  sktime/forecasting/dummy.py
  sktime/forecasting/tests/test_known_values.py
Labels: module:forecasting, enhancement

#8124 [BUG] Fixed `AlignerDTW` when `window_size` needs to be passed given `window_type`
  .all-contributorsrc
  sktime/alignment/dtw_python.py
Labels: module:alignment, bugfix

#8232 [ENH] `_placeholder_record` to allow mirroring of multiple locations, update of `skchange` import locations
  sktime/detection/skchange_aseg/capa.py
  sktime/detection/skchange_aseg/circular_binseg.py
  sktime/detection/skchange_aseg/mvcapa.py
  sktime/detection/skchange_aseg/statthreshold.py
  sktime/detection/skchange_cp/moving_window.py
  sktime/detection/skchange_cp/pelt.py
  sktime/detection/skchange_cp/seeded_binseg.py
  sktime/utils/dependencies/_placeholder.py
Labels: module:detection, enhancement, module:base-framework

#8200 [BUG] Fix `fh` handling in greedy splitters
  sktime/split/expandinggreedy.py
  sktime/split/slidinggreedy.py
  sktime/split/tests/test_expandinggreedy.py
  sktime/split/tests/test_slidinggreedy.py
Labels: bugfix, module:splitters&resamplers

#8249 [ENH] Simplify HampelFilter code and add a unit test
  sktime/transformations/series/outlier_detection.py
  sktime/transformations/tests/test_hampelfilter.py
Labels: module:transformations, enhancement

#8266 [ENH] Add `relative_to` parameter to percentage error metrics to enable relative-by-prediction metrics - part 1, functions
  sktime/performance_metrics/forecasting/_functions.py
Labels: enhancement, module:metrics&benchmarking

#8275 [DOC] Add missing space to `Pipeline` constructor warning
  sktime/pipeline/pipeline.py
Labels: module:forecasting, module:transformations, enhancement

#7660 [ENH] Add regularization hyperparameter in ReconcilerForecaster
  sktime/forecasting/reconcile.py
  sktime/forecasting/tests/test_reconcile.py
Labels: module:forecasting, enhancement

#8274 [BUG] fix recursive reduction tests
  sktime/forecasting/compose/tests/test_reduce.py
Labels: module:forecasting, bugfix

#8257 [BUG] fix: use names keyword instead of name
  sktime/forecasting/dummy.py
Labels: bug, module:forecasting

#8318 [ENH] enforce `MeanSquaredErrorPercentage` to be positive
  sktime/performance_metrics/forecasting/_msep.py
Labels: enhancement, module:metrics&benchmarking

#7902 [ENH] `Greykite` forecaster integration
  sktime/forecasting/greykite.py
Labels: module:forecasting, enhancement
