Repository sktime/sktime, changes with the owners that CODEOWNERS names for each.
All owners: @mloning, @MatthewMiddlehurst, @TonyBagnall, @jasonlines, @ABostrom, @MJFlynn, @goaster, @patrickzib, @angus924, @aiwalter, @HYang1996, @koralturkk, @magittan, @MichalChromcak

Evaluate (example and fix) (#690)
  .appveyor.yml
  .binder/requirements.txt
  build_tools/hard_dependencies.txt
  build_tools/requirements.txt
  examples/01_forecasting.ipynb
  setup.py
  sktime/forecasting/model_evaluation/_functions.py
  sktime/forecasting/model_selection/_split.py
Owners: @mloning

Install dm-tree via conda. Linux version
  azure-pipelines.yml
Owners: @mloning

Increased pre-commit file size to accept examples notebook
  .pre-commit-config.yaml
  examples/01_forecasting.ipynb
Owners: @mloning

Removed dm-tree installation via conda
  azure-pipelines.yml
Owners: @mloning

Propose classification and regression for classes
  sktime/classification/interval_based/_tsf.py
  sktime/regression/interval_based/_tsf.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @mloning

changes to contributing.md to include directions to installation
  CONTRIBUTING.md
Owners: @mloning

adding to.all-contributorsrc
  .all-contributorsrc
Owners: @mloning

fixing whitespace
  CONTRIBUTING.md
Owners: @mloning

Changes to CONTRIBUTING.md to include directions to installation (#695)
  .all-contributorsrc
  CONTRIBUTING.md
Owners: @mloning

Start work on common functionality for refactor
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
Owners: @mloning

Fix CV for KNN classifiers
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_time_series_neighbors.py
Owners: @jasonlines, @goaster, @TonyBagnall

Added MSM default and updated DTW
  sktime/classification/distance_based/_time_series_neighbors.py
Owners: @jasonlines, @goaster, @TonyBagnall

Changed wdtw default value
  sktime/classification/distance_based/_time_series_neighbors.py
Owners: @jasonlines, @goaster, @TonyBagnall

refactor _transform as its own file
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
Owners: @mloning

Move helper functions to common file
  sktime/classification/interval_based/_tsf.py
  sktime/regression/interval_based/_tsf.py
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @mloning

add __init__.py file
  sktime/series_as_features/base/estimators/interval_based/__init__.py
Owners: @mloning

Refactor tsf into base class and methods
  sktime/classification/interval_based/_tsf.py
  sktime/regression/interval_based/_tsf.py
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @mloning

noqa was on the wrong line
  sktime/transformers/panel/signature_based/_compute.py
  sktime/transformers/panel/signature_based/_rescaling.py
Owners: @mloning

noqua spacing was wrong, now fixed.
  sktime/transformers/panel/signature_based/_compute.py
  sktime/transformers/panel/signature_based/_rescaling.py
Owners: @mloning

Added soft dependency checks for esig.
  sktime/transformers/panel/signature_based/_compute.py
  sktime/transformers/panel/signature_based/_rescaling.py
Owners: @mloning

Added init file.
  sktime/transformers/panel/signature_based/__init__.py
Owners: @mloning

Updated contributions.
  .all-contributorsrc
Owners: @mloning

Added noqa for soft dependency checks
  sktime/transformers/panel/signature_based/_compute.py
  sktime/transformers/panel/signature_based/_rescaling.py
Owners: @mloning

Added signature code and requirements. Is missing the signature example.
  build_tools/requirements.txt
  docs/requirements.txt
  sktime/classification/signature_based/__init__.py
  sktime/classification/signature_based/_signature_classifier.py
  sktime/transformers/panel/signature_based/_augmentations.py
  sktime/transformers/panel/signature_based/_checks.py
  sktime/transformers/panel/signature_based/_compute.py
  sktime/transformers/panel/signature_based/_rescaling.py
  sktime/transformers/panel/signature_based/_signature_method.py
  sktime/transformers/panel/signature_based/_window.py
Owners: @mloning

Added a prefer binary flag to esig.
  .binder/requirements.txt
  build_tools/requirements.txt
  docs/requirements.txt
  setup.py
Owners: @mloning

Added a denpendency check to _signature_method.py
  sktime/transformers/panel/signature_based/_signature_method.py
Owners: @mloning

Added esig to setup and binder.
  .binder/requirements.txt
  setup.py
Owners: @mloning

More fixes for flake8'ing
  sktime/classification/signature_based/_signature_classifier.py
  sktime/transformers/panel/signature_based/_signature_method.py
Owners: @mloning

Added esig to check_soft_dependencies.py file for signature_based folders.
  build_tools/azure/check_soft_dependencies.py
Owners: @mloning

Didnt work
  .binder/requirements.txt
  build_tools/requirements.txt
  docs/requirements.txt
Owners: @mloning

Another linting fix
  sktime/transformers/panel/signature_based/_signature_method.py
  sktime/transformers/panel/signature_based/_window.py
Owners: @mloning

Pre commit before edit of the check function.
  sktime/transformers/panel/signature_based/__init__.py
  sktime/transformers/panel/signature_based/_augmentations.py
  sktime/transformers/panel/signature_based/_checks.py
  sktime/transformers/panel/signature_based/_compute.py
  sktime/transformers/panel/signature_based/_rescaling.py
  sktime/transformers/panel/signature_based/_signature_method.py
  sktime/transformers/panel/signature_based/_window.py
Owners: @mloning

Try w/o binary.
  .binder/requirements.txt
  build_tools/requirements.txt
  docs/requirements.txt
Owners: @mloning

Needs all in soft dependency checks.
  build_tools/azure/check_soft_dependencies.py
Owners: @mloning

Gah!
  build_tools/azure/check_soft_dependencies.py
Owners: @mloning

Fixed signature checks.
  sktime/transformers/panel/signature_based/_checks.py
Owners: @mloning

Fix soft dependencies, minor changes
  build_tools/azure/check_soft_dependencies.py
  sktime/classification/signature_based/__init__.py
  sktime/classification/signature_based/_signature_classifier.py
  sktime/transformers/panel/signature_based/__init__.py
  sktime/transformers/panel/signature_based/_checks.py
  sktime/transformers/panel/signature_based/_signature_method.py
Owners: @mloning

Fixed linting
  sktime/transformers/panel/signature_based/_window.py
Owners: @mloning

Try w/o binary.
  .binder/requirements.txt
  build_tools/requirements.txt
  docs/requirements.txt
Owners: @mloning

More amendments to soft dependencies
  build_tools/azure/check_soft_dependencies.py
Owners: @mloning

CODEOWNERS:

# The file lists sktime's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

* @mloning

sktime/classification/hybrid/ @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/ @MatthewMiddlehurst @TonyBagnall
sktime/classification/shapelet_based/ @jasonlines @ABostrom @TonyBagnall
sktime/classification/frequency_based/ @MJFlynn @TonyBagnall
sktime/classification/distance_based/ @jasonlines @goaster @TonyBagnall
sktime/classification/dictionary_based/ @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/tests @patrickzib

sktime/transformers/panel/dictionary_based/ @patrickzib
sktime/transformers/panel/shapelets/ @jasonlines @ABostrom @TonyBagnall
sktime/transformations/panel/rocket @angus924
sktime/transformations/series/impute.py @aiwalter

sktime/forecasting/ets.py @HYang1996
sktime/forecasting/tests/test_ets.py @HYang1996
sktime/forecasting/fbprophet.py @aiwalter
sktime/forecasting/bats.py @aiwalter
sktime/forecasting/tbats.py @aiwalter
sktime/forecasting/arima.py @HYang1996
sktime/forecasting/model_selection/_split @koralturkk

sktime/forecasting/online_learning/ @magittan

sktime/performance_metrics/forecasting/_functions.py @aiwalter

sktime/forecasting/hcrystalball.py @MichalChromcak
sktime/forecasting/test/test_hcrystalball.py @MichalChromcak
