Repository sktime/sktime, changes with the owners that CODEOWNERS names for each.
All owners: @fkiraly, @aiwalter, @guzalbulatova, @badrmarani, @patrickzib, @MatthewMiddlehurst, @TonyBagnall, @goastler, @ZiyaoWei, @jambo6, @ABostrom, @angus924, @ChangWeiTan, @fstinner, @GuzalBulatova, @rnkuhns, @ltsaprounis, @NoaBenAmi, @MrPr3ntice, @iljamaurer, @miraep8, @haskarb, @a-pasos-ruiz, @KishManani, @mloning, @FedericoGarza, @Flix6x, @HYang1996, @MichalChromcak, @juanitorduz, @koralturkk, @magittan, @TNTran92, @ermshaua, @freddyaboulton, @benjaminbluhm

reverting accidental change of nlags
  sktime/param_est/seasonality.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

fix pipeline test case
  sktime/clustering/compose/_pipeline.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

init call
  sktime/regression/compose/_ensemble.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

reverting accidental changes
  sktime/param_est/seasonality.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

Added super._init_()
  sktime/classification/deep_learning/rnn.py
  sktime/regression/deep_learning/rnn.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

dependency deprec
  docs/source/changelog.rst
Owners: @fkiraly, @aiwalter, @guzalbulatova

clusterer pipeline doctest
  sktime/clustering/compose/_pipeline.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

[BUG] fix `TimeSeriesDBSCAN` and remove strict `BaseClusterer` abstracts (#4227)
  sktime/clustering/base.py
  sktime/clustering/dbscan.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

remove override of _get_fitted_params from BaseTimeSeriesForest
  sktime/series_as_features/base/estimators/_ensemble.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

changing params to min_period and max_period
  sktime/param_est/seasonality.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

forgot one doctest skip
  sktime/clustering/compose/_pipeline.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

[MNT] isolate remaining `numba` references (#4226)
  sktime/classification/dictionary_based/tests/test_boss.py
  sktime/clustering/compose/_pipeline.py
  sktime/clustering/compose/tests/test_pipeline.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

[MNT] python 3.11 compatibility, with `numba` as core dependency on 3.7-3.10 (#4000)
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  docs/source/installation.rst
  pyproject.toml
Owners: @freddyaboulton, @fkiraly, @aiwalter, @guzalbulatova

fit/_fit
  sktime/regression/compose/_ensemble.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

changing docstring, fixing other issues
  sktime/param_est/seasonality.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

minor docstring change
  sktime/param_est/seasonality.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

_has_capability more robust against non-available tags
  sktime/utils/_testing/estimator_checks.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

docstring of __iter__
  sktime/datatypes/_vectorize.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

added PRs
  docs/source/changelog.rst
Owners: @fkiraly, @aiwalter, @guzalbulatova

3.11 comments
  docs/source/changelog.rst
Owners: @fkiraly, @aiwalter, @guzalbulatova

Update changelog.rst
  docs/source/changelog.rst
Owners: @fkiraly, @aiwalter, @guzalbulatova

Release 0.16.1 (#4230)
  README.md
  docs/source/about/funding.rst
  docs/source/changelog.rst
  docs/source/developer_guide.rst
  docs/source/developer_guide/git_workflow.rst
  docs/source/get_involved/code_of_conduct.rst
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/governance.rst
  pyproject.toml
  sktime/__init__.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

using fit_transform instead of transform only
  sktime/transformations/series/simple_fourier.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

use vectorize_est to evaluate
  sktime/performance_metrics/forecasting/_classes.py
Owners: @rnkuhns

remove unused methods
  sktime/datatypes/_vectorize.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

update docstrings
  sktime/datatypes/_vectorize.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

implement __getitem__ using iter and add deprecation warning
  sktime/datatypes/_vectorize.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

deprecate get_iloc_indexer
  sktime/datatypes/_vectorize.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

fix docstrings
  sktime/datatypes/_vectorize.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

factor out column ensemble functionality
  sktime/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
Owners: @fkiraly, @aiwalter, @guzalbulatova, @GuzalBulatova

linting
  sktime/base/_meta.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

rename method to avoid loop
  sktime/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
Owners: @fkiraly, @aiwalter, @guzalbulatova, @GuzalBulatova

moved _check_names too
  sktime/base/_meta.py
  sktime/forecasting/compose/_column_ensemble.py
Owners: @fkiraly, @aiwalter, @guzalbulatova, @GuzalBulatova

Update compose.py
  sktime/transformations/panel/compose.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

naive translation
  sktime/forecasting/compose/_column_ensemble.py
Owners: @GuzalBulatova

doctest import
  sktime/forecasting/compose/_column_ensemble.py
Owners: @GuzalBulatova

fixing mtype issue
  sktime/transformations/series/simple_fourier.py
Owners: @fkiraly, @aiwalter, @guzalbulatova

README - update time of Fri community collab session on Discord
  README.md
Owners: @fkiraly, @aiwalter, @guzalbulatova

[AUTOMATED] update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @fkiraly, @aiwalter, @guzalbulatova

replace sktime.org by readthedocs
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ESTIMATOR_OVERVIEW.md
  GOVERNANCE.md
  README.md
  build_tools/make_release.py
  docs/source/api_reference/file_specifications/ts.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/contributing/reporting_bugs.rst
  docs/source/developer_guide.rst
  docs/source/developer_guide/add_estimators.rst
  docs/source/developer_guide/continuous_integration.rst
  docs/source/developer_guide/documentation.rst
  docs/source/events/gsoc_2022.md
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/governance.rst
  examples/01_forecasting.ipynb
  examples/01b_forecasting_proba.ipynb
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/03_transformers.ipynb
  extension_templates/annotation.py
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/dist_kern_panel.py
  extension_templates/dist_kern_tab.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
  pyproject.toml
Owners: @fkiraly, @aiwalter, @guzalbulatova

CODEOWNERS:

# The file lists sktime's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

* @fkiraly @aiwalter @guzalbulatova


sktime/regression/dummy/ @badrmarani

sktime/classification/dictionary_based/_boss.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_cboss.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_muse.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_tde.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_weasel.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/distance_based/ @goastler @TonyBagnall
sktime/classification/dummy/ @ZiyaoWei
sktime/classification/early_classification/_probability_threshold.py @MatthewMiddlehurst
sktime/classification/early_classification/_teaser.py @patrickzib @MatthewMiddlehurst
sktime/classification/feature_based/_catch22_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_fresh_prince.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_matrix_profile_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_random_interval_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_signature_classifier.py @jambo6
sktime/classification/feature_based/_summary_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_tsfresh_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/hybrid/_hivecote_v1.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/hybrid/_hivecote_v2.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_cif.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_drcif.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_rise.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_stsf.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_tsf.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/kernel_based/_arsenal.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/kernel_based/_rocket_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/shapelet_based/_stc.py @ABostrom @MatthewMiddlehurst @TonyBagnall
sktime/classification/sklearn/_continuous_interval_tree.py @MatthewMiddlehurst
sktime/classification/sklearn/_rotation_forest.py @MatthewMiddlehurst

sktime/transformations/panel/dictionary_based/_paa.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sfa.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sfa_fast.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/catch22.py @MatthewMiddlehurst
sktime/transformations/panel/catch22wrapper.py @MatthewMiddlehurst
sktime/transformations/panel/random_intervals.py @MatthewMiddlehurst
sktime/transformations/panel/shapelet_transform.py @ABostrom @MatthewMiddlehurst @TonyBagnall
sktime/transformations/panel/supervised_intervals.py @MatthewMiddlehurst
sktime/transformations/panel/rocket/ @angus924
sktime/transformations/panel/rocket/_multirocket.py @ChangWeiTan @fstinner @angus924
sktime/transformations/panel/rocket/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
sktime/transformations/series/impute.py @aiwalter
sktime/transformations/series/outlier_detection.py @aiwalter
sktime/transformations/series/compose.py @aiwalter
sktime/transformations/series/feature_selection.py @aiwalter
sktime/transformations/panel/signature_based/ @jambo6
sktime/transformations/series/theta.py @GuzalBulatova
sktime/transformations/series/difference.py @rnkuhns
sktime/transformations/series/exponent.py @rnkuhns
sktime/transformations/series/scaledlogit.py @ltsaprounis
sktime/transformations/series/kalman_filter.py @NoaBenAmi
sktime/transformations/panel/augmenter.py @MrPr3ntice @iljamaurer
sktime/transformations/multiplex.py @miraep8
sktime/transformations/tests/test_multiplexer.py @miraep8
sktime/transformations/panel/channel_selection.py @haskarb @a-pasos-ruiz @TonyBagnall
sktime/transformations/series/time_since.py @KishManani

sktime/forecasting/base/ @fkiraly @mloning @aiwalter
sktime/forecasting/base/adapters/_statsforecast.py @FedericoGarza
sktime/forecasting/naive.py @Flix6x
sktime/forecasting/ets.py @HYang1996
sktime/forecasting/tests/test_ets.py @HYang1996
sktime/forecasting/fbprophet.py @aiwalter
sktime/forecasting/bats.py @aiwalter
sktime/forecasting/tbats.py @aiwalter
sktime/forecasting/arima.py @HYang1996
sktime/forecasting/adapters/_hcrystalball.py @MichalChromcak
sktime/forecasting/statsforecast.py @FedericoGarza
sktime/forecasting/structural.py @juanitorduz
sktime/forecasting/model_selection/_split @koralturkk
sktime/forecasting/compose/_column_ensemble.py @GuzalBulatova
sktime/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
sktime/forecasting/compose/_pipeline.py @aiwalter
sktime/forecasting/compose/_ensemble.py @aiwalter
sktime/forecasting/online_learning/ @magittan
sktime/forecasting/sarimax.py @TNTran92

sktime/performance_metrics/forecasting/_functions.py @aiwalter @rnkuhns
sktime/performance_metrics/forecasting/_classes.py @rnkuhns
sktime/performance_metrics/annotation

sktime/annotation/clasp.py @patrickzib @ermshaua
sktime/annotation/igts.py
sktime/annotation/ggs.py
sktime/annotation/datagen.py
sktime/transformations/series/clasp.py @patrickzib @ermshaua

.github/workflows/* @freddyaboulton

sktime/utils/mlflow_sktime.py @benjaminbluhm
