Repository sktime/sktime, changes with the owners that CODEOWNERS names for each.
All owners: @mloning, @patrickzib, @MatthewMiddlehurst, @TonyBagnall, @jasonlines, @goaster, @jambo6, @ABostrom, @angus924, @aiwalter, @GuzalBulatova, @rnkuhns, @fkiraly, @Flix6x, @HYang1996, @juanitorduz, @koralturkk, @magittan, @MichalChromcak

CODEOWNERS:

# The file lists sktime's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

* @mloning

sktime/classification/dictionary_based/ @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/tests/ @patrickzib @MatthewMiddlehurst
sktime/classification/distance_based/ @jasonlines @goaster @TonyBagnall
sktime/classification/feature_based/ @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/tests/ @MatthewMiddlehurst
sktime/classification/feature_based/_signature_classifier.py @jambo6
sktime/classification/hybrid/ @MatthewMiddlehurst @TonyBagnall
sktime/classification/hybrid/tests/ @MatthewMiddlehurst
sktime/classification/interval_based/ @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/tests/ @MatthewMiddlehurst
sktime/classification/kernel_based/ @MatthewMiddlehurst @TonyBagnall
sktime/classification/kernel_based/tests/ @MatthewMiddlehurst
sktime/classification/shapelet_based/ @jasonlines @ABostrom @TonyBagnall

sktime/transformations/panel/dictionary_based/ @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/shapelets/ @jasonlines @ABostrom @TonyBagnall
sktime/transformations/panel/rocket/ @angus924
sktime/transformations/panel/catch22.py @MatthewMiddlehurst
sktime/transformations/series/impute.py @aiwalter
sktime/transformations/series/outlier_detection.py @aiwalter
sktime/transformations/series/compose.py @aiwalter
sktime/transformations/series/feature_selection.py @aiwalter
sktime/transformations/panel/signature_based/ @jambo6
sktime/transformations/series/theta.py @GuzalBulatova
sktime/transformations/series/difference.py @rnkuhns
sktime/transformations/series/exponent.py @rnkuhns

sktime/forecasting/base/ @fkiraly @mloning @aiwalter
sktime/forecasting/naive.py @Flix6x
sktime/forecasting/ets.py @HYang1996
sktime/forecasting/tests/test_ets.py @HYang1996
sktime/forecasting/fbprophet.py @aiwalter
sktime/forecasting/bats.py @aiwalter
sktime/forecasting/tbats.py @aiwalter
sktime/forecasting/arima.py @HYang1996
sktime/forecasting/structural.py @juanitorduz
sktime/forecasting/model_selection/_split @koralturkk
sktime/forecasting/compose/_column_ensemble.py @GuzalBulatova
sktime/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
sktime/forecasting/compose/_pipeline.py @aiwalter
sktime/forecasting/compose/_ensemble.py @aiwalter

sktime/forecasting/online_learning/ @magittan

sktime/performance_metrics/forecasting/_functions.py @aiwalter @rnkuhns
sktime/performance_metrics/forecasting/_classes.py @rnkuhns

sktime/forecasting/hcrystalball.py @MichalChromcak
sktime/forecasting/test/test_hcrystalball.py @MichalChromcak

indirect path implementation
  sktime/base/__init__.py
  sktime/base/_base.py
  sktime/base/_meta.py
  sktime/base/_registry_enum.py
  sktime/base/tests/test_base.py
  sktime/datatypes/__init__.py
  sktime/datatypes/_check.py
  sktime/datatypes/_convert.py
  sktime/datatypes/_examples.py
  sktime/datatypes/_mtype_enum.py
  sktime/datatypes/_panel/__init__.py
  sktime/datatypes/_panel/_check.py
  sktime/datatypes/_panel/_convert.py
  sktime/datatypes/_panel/_examples.py
  sktime/datatypes/_panel/_registry.py
  sktime/datatypes/_registry.py
  sktime/datatypes/_series/__init__.py
  sktime/datatypes/_series/_check.py
  sktime/datatypes/_series/_convert.py
  sktime/datatypes/_series/_examples.py
  sktime/datatypes/_series/_mtypes.py
  sktime/datatypes/_series/_registry.py
  sktime/datatypes/tests/test_check.py
  sktime/datatypes/tests/test_convert.py
  sktime/datatypes/tests/test_enum.py
  sktime/datatypes/types.py
Owners: @mloning

fixed or/and type
  sktime/forecasting/base/_base.py
Owners: @fkiraly, @mloning, @aiwalter

Tag rename
  sktime/forecasting/tests/test_all_forecasters.py
  sktime/forecasting/tests/test_sktime_forecasters.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/forecasting.py
Owners: @mloning

[BUG] multivariate `NaiveForecaster` was missing `update` (#1457)
  sktime/forecasting/naive.py
Owners: @Flix6x

Fix pydocstyle
  sktime/utils/_testing/forecasting.py
Owners: @mloning

Add else statement to _get_n_columns
  sktime/utils/_testing/forecasting.py
Owners: @mloning

fix model_selection/split (#1456)
  sktime/forecasting/model_selection/_split.py
Owners: @mloning

Grid/random search tag fix (#1455)
  sktime/forecasting/model_selection/_tune.py
Owners: @mloning

Added missing tag to Imputer
  sktime/transformations/series/impute.py
Owners: @aiwalter

Added multivariate drift method
  sktime/transformations/series/impute.py
Owners: @aiwalter

Added missing tag. Revert ColumnEnsembleForecaster
  sktime/transformations/series/impute.py
Owners: @aiwalter
