Repository sktime/sktime, changes with the owners that CODEOWNERS names for each.
All owners: @achieveordie, @benheid, @fkiraly, @yarnabrina, @miraep8, @patrickzib, @ermshaua, @KatieBuc, @MatthewMiddlehurst, @goastler, @ZiyaoWei, @jambo6, @ABostrom, @MichalChromcak, @Vasudeva-bit, @HYang1996, @FedericoGarza, @aiwalter, @VyomkeshVyas, @koralturkk, @magittan, @TNTran92, @juanitorduz, @badrmarani, @MrPr3ntice, @iljamaurer, @haskarb, @a-pasos-ruiz, @angus924, @ChangWeiTan, @fstinner, @ciaran-g, @danbartl, @KishManani, @rnkuhns, @NoaBenAmi, @ltsaprounis, @GuzalBulatova, @ali-parizad, @benjaminbluhm

CODEOWNERS:

# The file lists sktime's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

* @achieveordie @benheid @fkiraly @yarnabrina

sktime/annotation/hmm_learn/ @miraep8
sktime/annotation/clasp.py @patrickzib @ermshaua
sktime/annotation/eagglo.py @KatieBuc
sktime/annotation/stray.py @KatieBuc

sktime/classification/dictionary_based/_boss.py @patrickzib @MatthewMiddlehurst
sktime/classification/dictionary_based/_cboss.py @patrickzib @MatthewMiddlehurst
sktime/classification/dictionary_based/_muse.py @patrickzib @MatthewMiddlehurst
sktime/classification/dictionary_based/_tde.py @patrickzib @MatthewMiddlehurst
sktime/classification/dictionary_based/_weasel.py @patrickzib @MatthewMiddlehurst
sktime/classification/distance_based/ @goastler
sktime/classification/dummy/ @ZiyaoWei
sktime/classification/early_classification/_probability_threshold.py @MatthewMiddlehurst
sktime/classification/early_classification/_teaser.py @patrickzib @MatthewMiddlehurst
sktime/classification/feature_based/_catch22_classifier.py @MatthewMiddlehurst
sktime/classification/feature_based/_fresh_prince.py @MatthewMiddlehurst
sktime/classification/feature_based/_matrix_profile_classifier.py @MatthewMiddlehurst
sktime/classification/feature_based/_random_interval_classifier.py @MatthewMiddlehurst
sktime/classification/feature_based/_signature_classifier.py @jambo6
sktime/classification/feature_based/_summary_classifier.py @MatthewMiddlehurst
sktime/classification/feature_based/_tsfresh_classifier.py @MatthewMiddlehurst
sktime/classification/hybrid/_hivecote_v1.py @MatthewMiddlehurst
sktime/classification/hybrid/_hivecote_v2.py @MatthewMiddlehurst
sktime/classification/interval_based/_cif.py @MatthewMiddlehurst
sktime/classification/interval_based/_drcif.py @MatthewMiddlehurst
sktime/classification/interval_based/_rise.py @MatthewMiddlehurst
sktime/classification/interval_based/_stsf.py @MatthewMiddlehurst
sktime/classification/interval_based/_tsf.py @MatthewMiddlehurst
sktime/classification/kernel_based/_arsenal.py @MatthewMiddlehurst
sktime/classification/kernel_based/_rocket_classifier.py @MatthewMiddlehurst
sktime/classification/shapelet_based/_stc.py @ABostrom @MatthewMiddlehurst
sktime/classification/sklearn/_continuous_interval_tree.py @MatthewMiddlehurst
sktime/classification/sklearn/_rotation_forest.py @MatthewMiddlehurst

sktime/forecasting/adapters/_hcrystalball.py @MichalChromcak
sktime/forecasting/arch/_uarch.py @Vasudeva-bit
sktime/forecasting/arima.py @HYang1996
sktime/forecasting/base/adapters/_statsforecast.py @FedericoGarza
sktime/forecasting/bats.py @aiwalter
sktime/forecasting/compose/_ensemble.py @aiwalter
sktime/forecasting/compose/_hierarchy_ensemble.py @VyomkeshVyas
sktime/forecasting/ets.py @HYang1996
sktime/forecasting/fbprophet.py @aiwalter
sktime/forecasting/model_selection/_split @koralturkk
sktime/forecasting/online_learning/ @magittan
sktime/forecasting/sarimax.py @TNTran92
sktime/forecasting/statsforecast.py @FedericoGarza
sktime/forecasting/structural.py @juanitorduz
sktime/forecasting/tests/test_ets.py @HYang1996
sktime/forecasting/tbats.py @aiwalter

sktime/regression/dummy/ @badrmarani

sktime/transformations/panel/augmenter.py @MrPr3ntice @iljamaurer
sktime/transformations/panel/catch22.py @MatthewMiddlehurst
sktime/transformations/panel/catch22wrapper.py @MatthewMiddlehurst
sktime/transformations/panel/channel_selection.py @haskarb @a-pasos-ruiz
sktime/transformations/panel/dictionary_based/_paa.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sfa.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sfa_fast.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/random_intervals.py @MatthewMiddlehurst
sktime/transformations/panel/rocket/ @angus924
sktime/transformations/panel/rocket/_multirocket.py @ChangWeiTan @fstinner @angus924
sktime/transformations/panel/rocket/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
sktime/transformations/panel/signature_based/ @jambo6
sktime/transformations/panel/shapelet_transform.py @ABostrom @MatthewMiddlehurst
sktime/transformations/panel/supervised_intervals.py @MatthewMiddlehurst

sktime/transformations/series/clear_sky.py @ciaran-g
sktime/transformations/series/clasp.py @patrickzib @ermshaua
sktime/transformations/series/date.py @danbartl @KishManani
sktime/transformations/series/difference.py @rnkuhns
sktime/transformations/series/exponent.py @rnkuhns
sktime/transformations/series/feature_selection.py @aiwalter
sktime/transformations/series/impute.py @aiwalter
sktime/transformations/series/kalman_filter.py @NoaBenAmi
sktime/transformations/series/outlier_detection.py @aiwalter
sktime/transformations/series/scaledlogit.py @ltsaprounis
sktime/transformations/series/time_since.py @KishManani
sktime/transformations/series/theta.py @GuzalBulatova
sktime/transformations/series/scaledasinh.py @ali-parizad

sktime/utils/mlflow_sktime.py @benjaminbluhm

fix .all-contributorsrc
  .all-contributorsrc
  CONTRIBUTORS.md
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

[AUTOMATED] update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

refacto from review
  examples/interval_based_classification.ipynb
  sktime/classification/interval_based/_tsf.py
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina, @MatthewMiddlehurst

feat: SKTM-001 feature importance and optimized interval generation
  .all-contributorsrc
  examples/interval_based_classification.ipynb
  sktime/classification/interval_based/_tsf.py
  sktime/classification/interval_based/tests/test_tsf.py
  sktime/series_as_features/base/estimators/interval_based/_tsf.py
  sktime/series_as_features/base/estimators/interval_based/tests/__init__.py
  sktime/series_as_features/base/estimators/interval_based/tests/test_tsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina, @MatthewMiddlehurst

[AUTOMATED] update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

update docstring
  sktime/classification/interval_based/_tsf.py
Owners: @MatthewMiddlehurst

[AUTOMATED] update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

delete examples/tests
  examples/ltsf/ltsf_example.py
  examples/ltsf/test_ltsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

add check to fh, add params to base class
  sktime/forecasting/ltsf.py
  sktime/networks/base.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

refactoring changes
  sktime/forecasting/ltsf.py
  sktime/networks/base.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

move base class, update pyproject.toml, update test-full
  .github/workflows/test.yml
  pyproject.toml
  sktime/forecasting/base/adapters/_pytorch.py
  sktime/forecasting/ltsf.py
  sktime/networks/base.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

update test.yml
  .github/workflows/test.yml
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

skip test
  sktime/tests/_config.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

remove tensorflow
  pyproject.toml
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

add tensorflow back
  pyproject.toml
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

address review comments
  sktime/base/_base.py
  sktime/classification/kernel_based/tests/test_arsenal.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

revert mlflow related changes
  sktime/utils/mlflow_sktime.py
  sktime/utils/tests/test_mlflow_sktime_model_export.py
Owners: @benjaminbluhm, @achieveordie, @benheid, @fkiraly, @yarnabrina

boxcox to False in test pararms
  sktime/forecasting/exp_smoothing.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

tensorflow bound to 3.11
  pyproject.toml
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

Update pyproject.toml
  pyproject.toml
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

move api ref
  docs/source/api_reference/forecasting.rst
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

docstring
  sktime/forecasting/ltsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

adding skip for test
  sktime/annotation/tests/test_plotting.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

adding skip for matplotlib
  sktime/annotation/tests/test_plotting.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

need to import matplotlib inside the test
  sktime/annotation/tests/test_plotting.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

Draft Autoformer
  sktime/networks/ltsf/embed.py
  sktime/networks/ltsf/layers.py
  sktime/networks/ltsf/ltsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

update pyproject, api ref, and docstrings
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/ltsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

fix soft dependency
  sktime/networks/ltsf/embed.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

[ENH] LTSFLinearForecaster, LTSFLinearNetwork, BaseDeepNetworkPyTorch (#4891)
  .github/workflows/test.yml
  docs/source/api_reference/forecasting.rst
  pyproject.toml
  sktime/forecasting/base/adapters/_pytorch.py
  sktime/forecasting/ltsf.py
  sktime/networks/ltsf.py
  sktime/networks/tests/test_all_networks.py
  sktime/tests/_config.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

rename file
  sktime/forecasting/ltsf.py
  sktime/networks/ltsf/_ltsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

remove duplicate file
  sktime/networks/ltsf.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

fix import of layers
  sktime/networks/ltsf/_ltsf.py
  sktime/networks/ltsf/embed.py
  sktime/tests/_config.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina

pull compatability
  sktime/classification/base.py
  sktime/classification/dictionary_based/_muse.py
Owners: @achieveordie, @benheid, @fkiraly, @yarnabrina, @patrickzib, @MatthewMiddlehurst
